---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "28746096-a5b8-4372-b428-e28c3d86ae98",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98",
            "metadata" : {
              "etag" : "5bc80531d467ef6e4bc580eedc50798d",
              "createdDate" : "2021-08-09T11:52:44Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-09T12:07:37Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 15,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "application-load-balancer", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/servers"
              },
              "volumes" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/volumes"
              },
              "loadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/loadbalancers"
              },
              "lans" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/lans"
              },
              "applicationloadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/natgateways"
              }
            }
          }, {
            "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test1","listenerLan":2,"ips":["85.215.240.45"],"targetLan":1,"lbPrivateIps":["10.12.106.235/24","10.12.106.232/24"]},"entities":{"forwardingrules":{"items":[{"properties":{"name":"regula","protocol":"HTTP","listenerIp":"85.215.240.45","listenerPort":47,"healthCheck":{"clientTimeout":50000},"serverCertificates":[],"httpRules":[{"name":"nume1","type":"REDIRECT","dropQuery":true,"location":"www.ionos.com","statusCode":303,"conditions":[{"type":"header","condition":"STARTS_WITH","negate":true,"key":"forward-at","value":"Friday"}]},{"name":"nume2","type":"STATIC","statusCode":303,"responseMessage":"Application
        Down","contentType":"text/html","conditions":[{"type":"query","condition":"STARTS_WITH","negate":true,"key":"forward-at","value":"Friday"}]}]}},{"properties":{"name":"regula2","protocol":"HTTP","listenerIp":"85.215.240.45","listenerPort":28,"healthCheck":{"clientTimeout":35000},"serverCertificates":[],"httpRules":[]}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - ce4d19184b52e5d174eaddbcf85ac42b
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/175625dc-ec3b-40db-9ac6-44cc3d55a4dd/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "47b2cde7-2a72-48aa-afa9-9b467215ec7f",
          "type" : "applicationloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cd[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/175625dc-ec3b-40db-9ac6-44cc3d55a4dd/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "175625dc-ec3b-40db-9ac6-44cc3d55a4dd/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/175625dc-ec3b-40db-9ac6-44cc3d55a4dd/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "8ef0cb1e-338d-45f4-8344-45cd951bd437",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f/forwardingrules/8ef0cb1e-338d-45f4-8344-45cd951bd437"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "ebbd382b-b1e3-4c8b-b100-85521ab16725",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f/forwardingrules/ebbd382b-b1e3-4c8b-b100-85521ab16725"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "47b2cde7-2a72-48aa-afa9-9b467215ec7f",
                "type" : "applicationloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:28:24 GMT
recorded_with: VCR 6.0.0
