---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "28746096-a5b8-4372-b428-e28c3d86ae98",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98",
            "metadata" : {
              "etag" : "5bc80531d467ef6e4bc580eedc50798d",
              "createdDate" : "2021-08-09T11:52:44Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-09T12:07:37Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 15,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "application-load-balancer", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/servers"
              },
              "volumes" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/volumes"
              },
              "loadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/loadbalancers"
              },
              "lans" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/lans"
              },
              "applicationloadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/natgateways"
              }
            }
          }, {
            "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25",
            "me[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Mon, 09 Aug 2021 14:23:44 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks",
          "items" : [ {
            "id" : "a617ad45-5b88-4588-b6b4-a6de14dfc4f7",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/a617ad45-5b88-4588-b6b4-a6de14dfc4f7",
            "metadata" : {
              "etag" : "8df3da3c99691d038621838408194356",
              "createdDate" : "2021-08-09T08:30:25Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-09T08:30:25Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "85.215.240.47", "85.215.240.46" ],
              "location" : "de/txl",
              "size" : 2,
              "name" : "puppet_module_test6f2c9f7wfewfwfewfw396d0ebc5ed",
              "ipConsumers" : [ ]
            }
          }, {
            "id" : "68deabcd-9e7b-4ac6-bd89-adf5b61ba53a",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/68deabcd-9e7b-4ac6-bd89-adf5b61ba53a",
            "metadata" : {
              "etag" : "be8e107639ec34bbfc952c2e13e519ba",
              "createdDate" : "2021-08-09T08:30:24Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "la[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks/68deabcd-9e7b-4ac6-bd89-adf5b61ba53a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - be8e107639ec34bbfc952c2e13e519ba
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "68deabcd-9e7b-4ac6-bd89-adf5b61ba53a",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/68deabcd-9e7b-4ac6-bd89-adf5b61ba53a",
          "metadata" : {
            "etag" : "be8e107639ec34bbfc952c2e13e519ba",
            "createdDate" : "2021-08-09T08:30:24Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-09T08:30:24Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "ips" : [ "85.215.240.44", "85.215.240.45" ],
            "location" : "de/txl",
            "size" : 2,
            "name" : "puppet_module_test6f2c9f7a52352532552396d0ebc5ed",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:23:46 GMT
[...]
