---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4/forwardingrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"regula5","protocol":"HTTP","listenerIp":"85.215.167.221","listenerPort":36,"clientTimeout":50000,"serverCertificates":[],"httpRules":[{"name":"nume3","type":"STATIC","statusCode":303,"responseMessage":"Test
        message.","conditions":[{"type":"PATH","condition":"STARTS_WITH","negate":true,"value":"Sunday"}]},{"name":"nume2","type":"STATIC","statusCode":599,"responseMessage":"Application
        Still Down","contentType":"application/json","conditions":[{"type":"HEADER","condition":"STARTS_WITH","negate":true,"key":"forward-at","value":"Friday"}]}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 403edf9489dd01a2077bbdb60a95409f
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/939ece17-1631-4b4f-be74-43aa9f7cc689/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "065057af-0c62-4108-8c4d-5dbb051da4f5",
          "type" : "forwarding-rule",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4/forwardingrules/065057af-0c62-4108-8c4d-5dbb051da4f5",
          "metadata" : {
            "etag" : "403edf9489dd01a2077bbdb60a95409f",
            "createdDate" : "2022-06-23T09:20:04Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-23T09:20:04Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "regula5",
            "protocol" : "HTTP",
            "listenerIp" : "85.215.167.221",
            "listenerPort" : 36,
            "clientTimeout" : 50000,
            "serverCertificates" : [ ],
            "httpRules" : [ {
              "name" : "nume3",
              "type" : "STATIC",
              "statusCode" : 303,
              "responseMessage" : "Test message.",
              "conditions" : [ {
                "type" : "PATH",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : null,
                "value" : "Sunday"
              } ]
            }, {
              "name" : "nume2",
              "type" : "STATIC",
              "statusCode" : 599,
              "responseMessage" : "Application Still Down",
              "contentType" : "application/json",
              "conditions" : [ {
                "type" : "HEADER",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : "forward-at",
                "value" : "Friday"
              } ]
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 09:20:04 GMT
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4
    body:
      encoding: UTF-8
      string: '{"ips":["85.215.167.221","85.215.167.222"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 69366dc5d75a331ec261eaf0014fb187
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/cb0b7c45-aa27-406d-bfab-ff938563f253/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "8e775943-a489-4618-8002-3bfa022efbe4",
          "type" : "applicationloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4",
          "metadata" : {
            "etag" : "69366dc5d75a331ec261eaf0014fb187",
            "createdDate" : "2022-06-23T09:10:10Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-23T09:20:05Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test2",
            "listenerLan" : 2,
            "targetLan" : 3,
            "ips" : [ "85.215.167.221", "85.215.167.222" ],
            "lbPrivateIps" : [ "10.12.106.205/24", "10.12.106.222/24" ]
          },
          "entities" : {
            "forwardingrules" : {
              "id" : "8e775943-a489-4618-8002-3bfa022efbe4/forwardingrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4/forwardingrules"
            },
            "flowlogs" : {
              "id" : "8e775943-a489-4618-8002-3bfa022efbe4/flowlogs",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4/flowlogs"
            }
          }
        }
  recorded_at: Thu, 23 Jun 2022 09:20:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/939ece17-1631-4b4f-be74-43aa9f7cc689/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "939ece17-1631-4b4f-be74-43aa9f7cc689/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/939ece17-1631-4b4f-be74-43aa9f7cc689/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "065057af-0c62-4108-8c4d-5dbb051da4f5",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4/forwardingrules/065057af-0c62-4108-8c4d-5dbb051da4f5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 09:22:27 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5",
            "metadata" : {
              "etag" : "80f1a63343e73838e14622ad543256bd",
              "createdDate" : "2022-06-23T08:37:45Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-06-23T09:21:42Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 12,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "ssd", "vnf-nat", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "mem-hot-plug", "vnf-alb", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/servers"
              },
              "volumes" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/volumes"
              },
              "loadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/loadbalancers"
              },
              "lans" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/lans"
              },
              "applicationloadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/natgateways"
              }
            }
          }, {
            "id" : "0b5fe7e1-9d23-4385-a551-e608954feb87",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0b5fe7e1-9d23-4385-a551-e608954feb87",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "items" : [ ]
        }
  recorded_at: Thu, 23 Jun 2022 09:22:35 GMT
recorded_with: VCR 6.0.0
