---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/2f83c4c6-4ff9-4a49-b71c-878ef3256b34/forwardingrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"regula","protocol":"HTTP","listenerIp":"85.215.167.214","listenerPort":49,"clientTimeout":50000,"serverCertificates":[],"httpRules":[{"name":"nume3","type":"STATIC","statusCode":303,"responseMessage":"Test
        message.","conditions":[{"type":"PATH","condition":"STARTS_WITH","negate":true,"value":"Sunday"}]},{"name":"nume2","type":"STATIC","statusCode":599,"responseMessage":"Application
        Still Down","contentType":"application/json","conditions":[{"type":"HEADER","condition":"STARTS_WITH","negate":true,"value":"Friday"}]}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 01f8a61026d78c10e8b37f6b03c57d03
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/28d5537a-c01c-4c42-8217-d6e93ec96ec8/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "c1209d5c-1154-4c26-b7fd-d6fbf3790d0a",
          "type" : "forwarding-rule",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/2f83c4c6-4ff9-4a49-b71c-878ef3256b34/forwardingrules/c1209d5c-1154-4c26-b7fd-d6fbf3790d0a",
          "metadata" : {
            "etag" : "01f8a61026d78c10e8b37f6b03c57d03",
            "createdDate" : "2022-06-23T09:20:03Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-23T09:20:03Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "regula",
            "protocol" : "HTTP",
            "listenerIp" : "85.215.167.214",
            "listenerPort" : 49,
            "clientTimeout" : 50000,
            "serverCertificates" : [ ],
            "httpRules" : [ {
              "name" : "nume3",
              "type" : "STATIC",
              "statusCode" : 303,
              "responseMessage" : "Test message.",
              "conditions" : [ {
                "type" : "PATH",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : null,
                "value" : "Sunday"
              } ]
            }, {
              "name" : "nume2",
              "type" : "STATIC",
              "statusCode" : 599,
              "responseMessage" : "Application Still Down",
              "contentType" : "application/json",
              "conditions" : [ {
                "type" : "HEADER",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : null,
                "value" : "Friday"
              } ]
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 09:20:03 GMT
[...]
