---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/2f83c4c6-4ff9-4a49-b71c-878ef3256b34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Etag:
      - 808549d2fe212a6d9111ac3feff4da7b
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/cdb051c3-7230-4d35-84c2-8fab8007edcb/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Jun 2022 09:22:36 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/cdb051c3-7230-4d35-84c2-8fab8007edcb/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "cdb051c3-7230-4d35-84c2-8fab8007edcb/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/cdb051c3-7230-4d35-84c2-8fab8007edcb/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2f83c4c6-4ff9-4a49-b71c-878ef3256b34",
                "type" : "applicationloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/2f83c4c6-4ff9-4a49-b71c-878ef3256b34"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 09:24:58 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/82fcc176-86e4-4e7a-8aab-ec803bbfb210/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "82fcc176-86e4-4e7a-8aab-ec803bbfb210/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/82fcc176-86e4-4e7a-8aab-ec803bbfb210/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "8e775943-a489-4618-8002-3bfa022efbe4",
                "type" : "applicationloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers/8e775943-a489-4618-8002-3bfa022efbe4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 09:27:21 GMT
recorded_with: VCR 6.0.0
