---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0d612bed-6e14-4961-ad5f-cc38fa2196f1
    body:
      encoding: UTF-8
      string: '{"targetLan":3}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 97ba7fa1455fc91bf44ff00a153232f5
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/4da055ae-4abe-48e8-9fd1-ff0227c72800/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0d612bed-6e14-4961-ad5f-cc38fa2196f1",
          "type" : "applicationloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0d612bed-6e14-4961-ad5f-cc38fa2196f1",
          "metadata" : {
            "etag" : "97ba7fa1455fc91bf44ff00a153232f5",
            "createdDate" : "2022-06-15T14:22:15Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-15T14:29:40Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test2",
            "listenerLan" : 2,
            "targetLan" : 3,
            "ips" : [ "85.215.167.221", "85.215.167.222" ],
            "lbPrivateIps" : [ "10.12.106.205/24", "10.12.106.222/24" ]
          },
          "entities" : {
            "forwardingrules" : {
              "id" : "0d612bed-6e14-4961-ad5f-cc38fa2196f1/forwardingrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0d612bed-6e14-4961-ad5f-cc38fa2196f1/forwardingrules"
            },
            "flowlogs" : {
              "id" : "0d612bed-6e14-4961-ad5f-cc38fa2196f1/flowlogs",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0d612bed-6e14-4961-ad5f-cc38fa2196f1/flowlogs"
            }
          }
        }
  recorded_at: Wed, 15 Jun 2022 14:29:40 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/4da055ae-4abe-48e8-9fd1-ff0227c72800/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "4da055ae-4abe-48e8-9fd1-ff0227c72800/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/4da055ae-4abe-48e8-9fd1-ff0227c72800/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0d612bed-6e14-4961-ad5f-cc38fa2196f1",
                "type" : "applicationloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0d612bed-6e14-4961-ad5f-cc38fa2196f1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 14:33:13 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734",
            "metadata" : {
              "etag" : "191c778752ad3ae20881baa7fdd77cbf",
              "createdDate" : "2022-06-15T13:43:17Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-06-15T14:29:44Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 9,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "vnf-nat", "ssd", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "vnf-alb", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/servers"
              },
              "volumes" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/volumes"
              },
              "loadbalancers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/loadbalancers"
              },
              "lans" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/lans"
              },
              "applicationloadbalancers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/natgateways"
              }
            }
          }, {
            "id" : "5956bafa-ed0e-4269-948b-c69b72acf81b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/5956bafa-ed0e-4269-948b-c69b72acf81b",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "items" : [ ]
        }
  recorded_at: Wed, 15 Jun 2022 14:33:15 GMT
recorded_with: VCR 6.0.0
