---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Etag:
      - 808549d2fe212a6d9111ac3feff4da7b
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/3d68ea2a-06bb-4fc3-92be-38a59ecbf23c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 15 Jun 2022 14:36:07 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/3d68ea2a-06bb-4fc3-92be-38a59ecbf23c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3d68ea2a-06bb-4fc3-92be-38a59ecbf23c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/3d68ea2a-06bb-4fc3-92be-38a59ecbf23c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0ac300d4-b877-4bc0-8cff-e57407daf4c8",
                "type" : "applicationloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 14:38:39 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/843bb90d-73c8-43b0-8cf0-c265a85ed564/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "843bb90d-73c8-43b0-8cf0-c265a85ed564/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/843bb90d-73c8-43b0-8cf0-c265a85ed564/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0d612bed-6e14-4961-ad5f-cc38fa2196f1",
                "type" : "applicationloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0d612bed-6e14-4961-ad5f-cc38fa2196f1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 14:41:12 GMT
recorded_with: VCR 6.0.0
