---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8/forwardingrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"regula","protocol":"HTTP","listenerIp":"85.215.167.214","listenerPort":49,"clientTimeout":50000,"serverCertificates":[],"httpRules":[{"name":"nume3","type":"STATIC","statusCode":303,"responseMessage":"Test
        message.","conditions":[{"type":"PATH","condition":"STARTS_WITH","negate":true,"value":"Sunday"}]},{"name":"nume2","type":"STATIC","statusCode":599,"responseMessage":"Application
        Still Down","contentType":"application/json","conditions":[{"type":"HEADER","condition":"STARTS_WITH","negate":true,"value":"Friday"}]}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 243387a288210eb924c82233980386be
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/7d804572-bea9-477e-aab9-25697dc1b3c5/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1be4582c-3745-43a9-8354-7311b9920746",
          "type" : "forwarding-rule",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8/forwardingrules/1be4582c-3745-43a9-8354-7311b9920746",
          "metadata" : {
            "etag" : "243387a288210eb924c82233980386be",
            "createdDate" : "2022-06-15T14:33:16Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-15T14:33:16Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "regula",
            "protocol" : "HTTP",
            "listenerIp" : "85.215.167.214",
            "listenerPort" : 49,
            "clientTimeout" : 50000,
            "serverCertificates" : [ ],
            "httpRules" : [ {
              "name" : "nume3",
              "type" : "STATIC",
              "statusCode" : 303,
              "responseMessage" : "Test message.",
              "conditions" : [ {
                "type" : "PATH",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : null,
                "value" : "Sunday"
              } ]
            }, {
              "name" : "nume2",
              "type" : "STATIC",
              "statusCode" : 599,
              "responseMessage" : "Application Still Down",
              "contentType" : "application/json",
              "conditions" : [ {
                "type" : "HEADER",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : null,
                "value" : "Friday"
              } ]
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 14:33:16 GMT
[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8
    body:
      encoding: UTF-8
      string: '{"ips":["85.215.167.212","85.215.167.214"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8d9eb5d7d46c89df24a9d1769561a675
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/1d3a13a5-8bc8-477d-ab02-07bf67042729/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0ac300d4-b877-4bc0-8cff-e57407daf4c8",
          "type" : "applicationloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8",
          "metadata" : {
            "etag" : "8d9eb5d7d46c89df24a9d1769561a675",
            "createdDate" : "2022-06-15T14:06:17Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-15T14:33:17Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test1",
            "listenerLan" : 2,
            "targetLan" : 1,
            "ips" : [ "85.215.167.212", "85.215.167.214" ],
            "lbPrivateIps" : [ "10.12.106.235/24", "10.12.106.215/24", "10.12.106.232/24" ]
          },
          "entities" : {
            "forwardingrules" : {
              "id" : "0ac300d4-b877-4bc0-8cff-e57407daf4c8/forwardingrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8/forwardingrules"
            },
            "flowlogs" : {
              "id" : "0ac300d4-b877-4bc0-8cff-e57407daf4c8/flowlogs",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8/flowlogs"
            }
          }
        }
  recorded_at: Wed, 15 Jun 2022 14:33:17 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/7d804572-bea9-477e-aab9-25697dc1b3c5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7d804572-bea9-477e-aab9-25697dc1b3c5/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/7d804572-bea9-477e-aab9-25697dc1b3c5/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1be4582c-3745-43a9-8354-7311b9920746",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers/0ac300d4-b877-4bc0-8cff-e57407daf4c8/forwardingrules/1be4582c-3745-43a9-8354-7311b9920746"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 14:34:09 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734",
            "metadata" : {
              "etag" : "fe37e9801ddec934c2dffabb231f44df",
              "createdDate" : "2022-06-15T13:43:17Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-06-15T14:34:12Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 11,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "vnf-nat", "ssd", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "vnf-alb", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/servers"
              },
              "volumes" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/volumes"
              },
              "loadbalancers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/loadbalancers"
              },
              "lans" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/lans"
              },
              "applicationloadbalancers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "67fd0229-0e39-4265-bb77-1b96b50bc734/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/natgateways"
              }
            }
          }, {
            "id" : "5956bafa-ed0e-4269-948b-c69b72acf81b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/5956bafa-ed0e-4269-948b-c69b72acf81b",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/67fd0229-0e39-4265-bb77-1b96b50bc734/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "items" : [ ]
        }
  recorded_at: Wed, 15 Jun 2022 14:35:02 GMT
recorded_with: VCR 6.0.0
