---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f/forwardingrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"regula","protocol":"HTTP","listenerIp":"85.215.240.45","listenerPort":49,"healthCheck":{"clientTimeout":50000},"serverCertificates":[],"httpRules":[{"name":"nume3","type":"STATIC","statusCode":303,"responseMessage":"Test
        message.","conditions":[{"type":"path","condition":"STARTS_WITH","negate":true,"value":"Sunday"}]},{"name":"nume2","type":"STATIC","statusCode":599,"responseMessage":"Application
        Still Down","contentType":"application/json","conditions":[{"type":"header","condition":"STARTS_WITH","negate":true,"value":"Friday"}]}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - ad5ee55893c38602738bbbe67a85bf0e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/16c26d56-8033-42d4-b5f4-a2d165d2cdce/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "82b27184-f332-4cda-a9cf-2e38fd08a4b6",
          "type" : "forwarding-rule",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f/forwardingrules/82b27184-f332-4cda-a9cf-2e38fd08a4b6",
          "metadata" : {
            "etag" : "ad5ee55893c38602738bbbe67a85bf0e",
            "createdDate" : "2021-08-09T14:34:21Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-09T14:34:21Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "regula",
            "protocol" : "HTTP",
            "listenerIp" : "85.215.240.45",
            "listenerPort" : 49,
            "serverCertificates" : [ ],
            "httpRules" : [ {
              "name" : "nume3",
              "type" : "STATIC",
              "statusCode" : 303,
              "responseMessage" : "Test message.",
              "conditions" : [ {
                "type" : "path",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : null,
                "value" : "Sunday"
              } ]
            }, {
              "name" : "nume2",
              "type" : "STATIC",
              "statusCode" : 599,
              "responseMessage" : "Application Still Down",
              "contentType" : "application/json",
              "conditions" : [ {
                "type" : "header",
                "condition" : "STARTS_WITH",
                "negate" : true,
                "key" : null,
                "value" : "Friday"
              } ]
            } ],
            "healthCheck" : {
              "clientTimeout" : 50000
            }
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:34:21 GMT
[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f
    body:
      encoding: UTF-8
      string: '{"ips":["85.215.240.44","85.215.240.45"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - c8e296c64e5837994b11ca1210ac40a7
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/362eff3e-8d18-4f60-8828-4f965b8d770f/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "47b2cde7-2a72-48aa-afa9-9b467215ec7f",
          "type" : "applicationloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f",
          "metadata" : {
            "etag" : "c8e296c64e5837994b11ca1210ac40a7",
            "createdDate" : "2021-08-09T14:23:49Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-09T14:34:22Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test1",
            "listenerLan" : 2,
            "targetLan" : 1,
            "ips" : [ "85.215.240.44", "85.215.240.45" ],
            "lbPrivateIps" : [ "10.12.106.235/24", "10.12.106.215/24", "10.12.106.232/24" ]
          },
          "entities" : {
            "forwardingrules" : {
              "id" : "47b2cde7-2a72-48aa-afa9-9b467215ec7f/forwardingrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f/forwardingrules"
            },
            "flowlogs" : {
              "id" : "47b2cde7-2a72-48aa-afa9-9b467215ec7f/flowlogs",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f/flowlogs"
            }
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:34:22 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/16c26d56-8033-42d4-b5f4-a2d165d2cdce/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "16c26d56-8033-42d4-b5f4-a2d165d2cdce/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/16c26d56-8033-42d4-b5f4-a2d165d2cdce/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "82b27184-f332-4cda-a9cf-2e38fd08a4b6",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers/47b2cde7-2a72-48aa-afa9-9b467215ec7f/forwardingrules/82b27184-f332-4cda-a9cf-2e38fd08a4b6"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:34:53 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "28746096-a5b8-4372-b428-e28c3d86ae98",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98",
            "metadata" : {
              "etag" : "3ce7f57d4ac3ae440ed78fc7e4eec772",
              "createdDate" : "2021-08-09T11:52:44Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-09T14:35:29Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 22,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "application-load-balancer", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/servers"
              },
              "volumes" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/volumes"
              },
              "loadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/loadbalancers"
              },
              "lans" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/lans"
              },
              "applicationloadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "28746096-a5b8-4372-b428-e28c3d86ae98/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/natgateways"
              }
            }
          }, {
            "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/28746096-a5b8-4372-b428-e28c3d86ae98/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/applicationloadbalancers",
          "items" : [ ]
        }
  recorded_at: Mon, 09 Aug 2021 14:35:43 GMT
recorded_with: VCR 6.0.0
