---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/backupunits
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppetmoduletest6f2c9qfwqfqwfqwqw4d0ebc5ed","password":"securepassword123","email":"email@email.email"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9ac6a2296ee86fdeda48a37038b2b669
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/bdc42669-c981-4184-9391-c4b78d5de1de/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "58ce7ce3-c216-43b8-bcab-92636a197cec",
          "type" : "backupunit",
          "href" : "https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec",
          "metadata" : {
            "etag" : "9ac6a2296ee86fdeda48a37038b2b669",
            "createdDate" : "2021-06-02T08:36:58Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-02T08:36:58Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppetmoduletest6f2c9qfwqfqwfqwqw4d0ebc5ed",
            "email" : "email@email.email"
          }
        }
  recorded_at: Wed, 02 Jun 2021 08:36:58 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/bdc42669-c981-4184-9391-c4b78d5de1de/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bdc42669-c981-4184-9391-c4b78d5de1de/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/bdc42669-c981-4184-9391-c4b78d5de1de/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "158c11b7-a037-4205-8ba4-d6950512107c",
                "type" : "backupunit",
                "href" : "https://api.ionos.com/cloudapi/v6/backupunits/158c11b7-a037-4205-8ba4-d6950512107c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 02 Jun 2021 08:36:58 GMT
recorded_with: VCR 6.0.0
