---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/backupunits?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "backupunits",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/backupunits",
          "items" : [ {
            "id" : "58ce7ce3-c216-43b8-bcab-92636a197cec",
            "type" : "backupunit",
            "href" : "https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec",
            "metadata" : {
              "etag" : "4ad7051c34e133b8cd853b899ca3fd90",
              "createdDate" : "2021-06-02T08:36:58Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-02T08:36:58Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppetmoduletest6f2c9qfwqfqwfqwqw4d0ebc5ed",
              "email" : "email@email.email"
            }
          }, {
            "id" : "755726dc-ab31-41d1-a5c2-24e4fe995c03",
            "type" : "backupunit",
            "href" : "https://api.ionos.com/cloudapi/v6/backupunits/755726dc-ab31-41d1-a5c2-24e4fe995c03",
            "metadata" : {
              "etag" : "63a7ad603b442efd6b02f86e29864ffd",
              "createdDate" : "2021-05-12T10:28:46Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699[...]
