---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/backupunits/04989b7a-b59f-46ac-be26-401601c4caee
    body:
      encoding: UTF-8
      string: '{"email":"new_email@email.email"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 31ad983bb92fc98b7be8ae7560167eea
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/2a5c9c2f-c54b-4af6-b159-1beaf622d2b7/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "04989b7a-b59f-46ac-be26-401601c4caee",
          "type" : "backupunit",
          "href" : "https://api.ionos.com/cloudapi/v5/backupunits/04989b7a-b59f-46ac-be26-401601c4caee",
          "metadata" : {
            "etag" : "31ad983bb92fc98b7be8ae7560167eea",
            "createdDate" : "2021-05-21T15:05:09Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:05:13Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppetmoduletest6f2c9qfwqfqwfqwqw4d0ebc5ed",
            "email" : "new_email@email.email"
          }
        }
  recorded_at: Fri, 21 May 2021 15:05:13 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/2a5c9c2f-c54b-4af6-b159-1beaf622d2b7/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2a5c9c2f-c54b-4af6-b159-1beaf622d2b7/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/2a5c9c2f-c54b-4af6-b159-1beaf622d2b7/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "04989b7a-b59f-46ac-be26-401601c4caee",
                "type" : "backupunit",
                "href" : "https://api.ionos.com/cloudapi/v5/backupunits/04989b7a-b59f-46ac-be26-401601c4caee"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:05:13 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/backupunits?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "backupunits",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/backupunits",
          "items" : [ {
            "id" : "04989b7a-b59f-46ac-be26-401601c4caee",
            "type" : "backupunit",
            "href" : "https://api.ionos.com/cloudapi/v5/backupunits/04989b7a-b59f-46ac-be26-401601c4caee",
            "metadata" : {
              "etag" : "77c86b73276c3ff418869ea9dd0a78cc",
              "createdDate" : "2021-05-21T15:05:09Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021[...]
