---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/07b80b29-4f5a-4694-a357-3f356a9d9070/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 02 Jun 2021 08:37:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/07b80b29-4f5a-4694-a357-3f356a9d9070/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "07b80b29-4f5a-4694-a357-3f356a9d9070/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/07b80b29-4f5a-4694-a357-3f356a9d9070/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "58ce7ce3-c216-43b8-bcab-92636a197cec",
                "type" : "backupunit",
                "href" : "https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 02 Jun 2021 08:37:05 GMT
recorded_with: VCR 6.0.0
