---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/backupunits/762f5dee-588d-40ed-a65e-d0fac1ff901d
    body:
      encoding: UTF-8
      string: '{"email":"new_email@email.email"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9b80d503e023f2eba9fe9771b5f051d8
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/95beb049-d9d0-456a-bdc0-5316a9e224e6/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "762f5dee-588d-40ed-a65e-d0fac1ff901d",
          "type" : "backupunit",
          "href" : "https://api.ionos.com/cloudapi/v5/backupunits/762f5dee-588d-40ed-a65e-d0fac1ff901d",
          "metadata" : {
            "etag" : "9b80d503e023f2eba9fe9771b5f051d8",
            "createdDate" : "2021-04-23T11:58:41Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-23T12:00:42Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "email" : "new_email@email.email"
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:00:41 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/95beb049-d9d0-456a-bdc0-5316a9e224e6/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "95beb049-d9d0-456a-bdc0-5316a9e224e6/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/95beb049-d9d0-456a-bdc0-5316a9e224e6/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "762f5dee-588d-40ed-a65e-d0fac1ff901d",
                "type" : "backupunit",
                "href" : "https://api.ionos.com/cloudapi/v5/backupunits/762f5dee-588d-40ed-a65e-d0fac1ff901d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:00:41 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/backupunits?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "backupunits",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/backupunits",
          "items" : [ {
            "id" : "762f5dee-588d-40ed-a65e-d0fac1ff901d",
            "type" : "backupunit",
            "href" : "https://api.ionos.com/cloudapi/v5/backupunits/762f5dee-588d-40ed-a65e-d0fac1ff901d",
            "metadata" : {
              "etag" : "1a1567069e75f4fcba7a5b97b7bfa7be",
              "createdDate" : "2021-04-23T11:58:41Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastMo[...]
