---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec
    body:
      encoding: UTF-8
      string: '{"email":"new_email@email.email"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 58aa4a7164966d718410c0f4b7fbc49d
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/763e99bf-21d7-4bba-81d1-66f77fa06cc0/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "58ce7ce3-c216-43b8-bcab-92636a197cec",
          "type" : "backupunit",
          "href" : "https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec",
          "metadata" : {
            "etag" : "58aa4a7164966d718410c0f4b7fbc49d",
            "createdDate" : "2021-06-02T08:36:58Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-02T08:37:01Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppetmoduletest6f2c9qfwqfqwfqwqw4d0ebc5ed",
            "email" : "new_email@email.email"
          }
        }
  recorded_at: Wed, 02 Jun 2021 08:37:01 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/763e99bf-21d7-4bba-81d1-66f77fa06cc0/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "763e99bf-21d7-4bba-81d1-66f77fa06cc0/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/763e99bf-21d7-4bba-81d1-66f77fa06cc0/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "58ce7ce3-c216-43b8-bcab-92636a197cec",
                "type" : "backupunit",
                "href" : "https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 02 Jun 2021 08:37:01 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/backupunits?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "backupunits",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/backupunits",
          "items" : [ {
            "id" : "58ce7ce3-c216-43b8-bcab-92636a197cec",
            "type" : "backupunit",
            "href" : "https://api.ionos.com/cloudapi/v6/backupunits/58ce7ce3-c216-43b8-bcab-92636a197cec",
            "metadata" : {
              "etag" : "a129bc5719b2f226baceacce7b4704ba",
              "createdDate" : "2021-06-02T08:36:58Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021[...]
