---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/backupunits?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "backupunits",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/backupunits",
          "items" : [ {
            "id" : "762f5dee-588d-40ed-a65e-d0fac1ff901d",
            "type" : "backupunit",
            "href" : "https://api.ionos.com/cloudapi/v5/backupunits/762f5dee-588d-40ed-a65e-d0fac1ff901d",
            "metadata" : {
              "etag" : "44a631bb0e7ac4e5ccad5eee05278cf8",
              "createdDate" : "2021-04-23T11:58:41Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-23T11:58:41Z",
              "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "email" : "email@email.email"
            }
          }, {
            "id" : "d8e4662a-210f-4c1e-be21-7eb3fa258def",
            "type" : "backupunit",
            "href" : "https://api.ionos.com/cloudapi/v5/backupunits/d8e4662a-210f-4c1e-be21-7eb3fa258def",
            "metadata" : {
              "etag" : "2dd1a51814b00a8be0dc2f839837d356",
              "createdDate" : "2021-04-19T14:27:22Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4[...]
