---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/backupunits
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppetmoduletest6f2c9qfwqfqwfqwqw4d0ebc5ed","password":"securepassword123","email":"email@email.email"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4d01e84628b838a5a918b3e3933240bc
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/3656ddaa-7a7f-4aa2-b319-b81bd3fb06eb/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "04989b7a-b59f-46ac-be26-401601c4caee",
          "type" : "backupunit",
          "href" : "https://api.ionos.com/cloudapi/v5/backupunits/04989b7a-b59f-46ac-be26-401601c4caee",
          "metadata" : {
            "etag" : "4d01e84628b838a5a918b3e3933240bc",
            "createdDate" : "2021-05-21T15:05:09Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:05:09Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppetmoduletest6f2c9qfwqfqwfqwqw4d0ebc5ed",
            "email" : "email@email.email"
          }
        }
  recorded_at: Fri, 21 May 2021 15:05:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/3656ddaa-7a7f-4aa2-b319-b81bd3fb06eb/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3656ddaa-7a7f-4aa2-b319-b81bd3fb06eb/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/3656ddaa-7a7f-4aa2-b319-b81bd3fb06eb/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0288fdd4-72cd-4725-96bc-929a9eb36aa8",
                "type" : "backupunit",
                "href" : "https://api.ionos.com/cloudapi/v5/backupunits/0288fdd4-72cd-4725-96bc-929a9eb36aa8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:05:09 GMT
recorded_with: VCR 6.0.0
