---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 0cd9af19d4b212785f01027ad3dd63f9
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/17f3ef20-9632-49b0-b5c2-b3a1f76edd50/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
          "metadata" : {
            "etag" : "0cd9af19d4b212785f01027ad3dd63f9",
            "createdDate" : "2021-04-14T12:35:57Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T12:35:57Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:35:57 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/17f3ef20-9632-49b0-b5c2-b3a1f76edd50/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "17f3ef20-9632-49b0-b5c2-b3a1f76edd50/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/17f3ef20-9632-49b0-b5c2-b3a1f76edd50/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:35:57 GMT
recorded_with: VCR 6.0.0
