---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/a84cc7de-c775-4f08-88ea-a11e4d59cd47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/ccf4bbff-732c-4681-b04a-d9b33e2dc3c4/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 15:43:40 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/ccf4bbff-732c-4681-b04a-d9b33e2dc3c4/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ccf4bbff-732c-4681-b04a-d9b33e2dc3c4/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/ccf4bbff-732c-4681-b04a-d9b33e2dc3c4/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a84cc7de-c775-4f08-88ea-a11e4d59cd47",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a84cc7de-c775-4f08-88ea-a11e4d59cd47"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:46 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/b4ef3c75-87b9-463e-8317-599948c57233/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b4ef3c75-87b9-463e-8317-599948c57233/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/b4ef3c75-87b9-463e-8317-599948c57233/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:51 GMT
recorded_with: VCR 6.0.0
