---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "09693139-715f-443d-94a8-2219354b2668",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668",
            "metadata" : {
              "etag" : "8406be8463b83b9c0632983f2b719657",
              "createdDate" : "2021-04-14T12:35:57Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-14T12:35:57Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test 2",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "09693139-715f-443d-94a8-2219354b2668/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668/servers"
              },
              "volumes" : {
                "id" : "09693139-715f-443d-94a8-2219354b2668/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668/volumes"
              },
              "loadbalancers" : {
                "id" : "09693139-715f-443d-94a8-2219354b2668/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668/loadbalancers"
              },
              "lans" : {
                "id" : "09693139-715f-443d-94a8-2219354b2668/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668/lans"
              }
            }
          }, {
            "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "metadata" : {
  [...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module Test - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - cd9e1fabfd1d63d115b451a48ff25365
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/1d836906-89f2-470f-8c25-617a65fda490/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "09693139-715f-443d-94a8-2219354b2668",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668",
          "metadata" : {
            "etag" : "[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/1d836906-89f2-470f-8c25-617a65fda490/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1d836906-89f2-470f-8c25-617a65fda490/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/1d836906-89f2-470f-8c25-617a65fda490/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "09693139-715f-443d-94a8-2219354b2668",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:36:03 GMT
[...]
