---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 449d8c16ad932af696c9c206fad6c64e
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/9e6217b2-0f54-42d4-96e8-3eb3d171dbbd/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a84cc7de-c775-4f08-88ea-a11e4d59cd47",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a84cc7de-c775-4f08-88ea-a11e4d59cd47",
          "metadata" : {
            "etag" : "449d8c16ad932af696c9c206fad6c64e",
            "createdDate" : "2021-05-21T15:43:33Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:43:33Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:33 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/9e6217b2-0f54-42d4-96e8-3eb3d171dbbd/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9e6217b2-0f54-42d4-96e8-3eb3d171dbbd/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/9e6217b2-0f54-42d4-96e8-3eb3d171dbbd/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a84cc7de-c775-4f08-88ea-a11e4d59cd47",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a84cc7de-c775-4f08-88ea-a11e4d59cd47"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:33 GMT
recorded_with: VCR 6.0.0
