---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d8543fcf3314f12f0da1500baff90e26
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/983ecae5-fe3c-4fac-a335-70703354c7dc/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
          "metadata" : {
            "etag" : "d8543fcf3314f12f0da1500baff90e26",
            "createdDate" : "2021-03-16T14:29:05Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-16T14:29:05Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Tue, 16 Mar 2021 14:29:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/983ecae5-fe3c-4fac-a335-70703354c7dc/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "983ecae5-fe3c-4fac-a335-70703354c7dc/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/983ecae5-fe3c-4fac-a335-70703354c7dc/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Tue, 16 Mar 2021 14:29:05 GMT
recorded_with: VCR 6.0.0
