---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 81fba6251728148bebc8cc92af64ea88
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/107f52c7-6cb1-475f-adda-680e415a9462/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "fc32ec2b-ac9a-4ec6-9dc8-0d101275bb70",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/fc32ec2b-ac9a-4ec6-9dc8-0d101275bb70",
          "metadata" : {
            "etag" : "81fba6251728148bebc8cc92af64ea88",
            "createdDate" : "2021-07-08T11:26:33Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-08T11:26:33Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Thu, 08 Jul 2021 11:26:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/107f52c7-6cb1-475f-adda-680e415a9462/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "107f52c7-6cb1-475f-adda-680e415a9462/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/107f52c7-6cb1-475f-adda-680e415a9462/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "fc32ec2b-ac9a-4ec6-9dc8-0d101275bb70",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/fc32ec2b-ac9a-4ec6-9dc8-0d101275bb70"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Jul 2021 11:26:34 GMT
recorded_with: VCR 6.0.0
