---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/363813ad-a8ba-43f0-9e33-0902ca1ab75d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/8dc41ae5-bd0c-43a9-8ec4-0ada35f64b91/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 26 May 2021 15:06:04 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/8dc41ae5-bd0c-43a9-8ec4-0ada35f64b91/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "8dc41ae5-bd0c-43a9-8ec4-0ada35f64b91/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/8dc41ae5-bd0c-43a9-8ec4-0ada35f64b91/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "363813ad-a8ba-43f0-9e33-0902ca1ab75d",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/363813ad-a8ba-43f0-9e33-0902ca1ab75d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:09 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/5aceaa84-282a-4029-875c-81a05df7145d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "5aceaa84-282a-4029-875c-81a05df7145d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/5aceaa84-282a-4029-875c-81a05df7145d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "59cc82e6-0907-420f-8a16-18ab33b73e6d",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/59cc82e6-0907-420f-8a16-18ab33b73e6d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:15 GMT
recorded_with: VCR 6.0.0
