---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 3e98cafa8184a8de5487fb03d69a1466
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/11e6966b-3217-403b-aea0-07f924ee07a5/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "363813ad-a8ba-43f0-9e33-0902ca1ab75d",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/363813ad-a8ba-43f0-9e33-0902ca1ab75d",
          "metadata" : {
            "etag" : "3e98cafa8184a8de5487fb03d69a1466",
            "createdDate" : "2021-05-26T15:05:56Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-26T15:05:56Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:05:56 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/11e6966b-3217-403b-aea0-07f924ee07a5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "11e6966b-3217-403b-aea0-07f924ee07a5/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/11e6966b-3217-403b-aea0-07f924ee07a5/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "363813ad-a8ba-43f0-9e33-0902ca1ab75d",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/363813ad-a8ba-43f0-9e33-0902ca1ab75d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:05:57 GMT
recorded_with: VCR 6.0.0
