---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module Test - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4e4e5ea317814ec4f6a9d211950e22dc
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/3b3a748e-07ad-4837-b4d7-588d1c77c746/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
          "metadata" : {
            "etag" : "4e4e5ea317814ec4f6a9d211950e22dc",
            "createdDate" : "2021-05-17T14:17:27Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-17T14:17:27Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module Test - RENAME",
            "location" : "us/las",
            "version" : 1,
            "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
            "secAuthProtection" : false
          },
          "entities" : {
            "servers" : {
              "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569/servers"
            },
            "volumes" : {
              "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569/volumes"
            },
            "loadbalancers" : {
              "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569/loadbalancers"
            },
            "lans" : {
              "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569/lans"
            }
          }
        }
  recorded_at: Mon, 17 May 2021 14:17:27 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/3b3a748e-07ad-4837-b4d7-588d1c77c746/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3b3a748e-07ad-4837-b4d7-588d1c77c746/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/3b3a748e-07ad-4837-b4d7-588d1c77c746/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 17 May 2021 14:17:32 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
            "metadata" : {
              "etag" : "bcb23386c3ff7bfc70a2fa20ebf60ff8",
              "createdDate" : "2021-05-17T14:17:27Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastMo[...]
