---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - a4496d9266018c2625ab8c9c0c72ccf1
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/a66cecaa-5a0b-463c-b9f3-71595676b2db/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b28e2f9c-6efd-485d-9edf-03501be9f112",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/b28e2f9c-6efd-485d-9edf-03501be9f112",
          "metadata" : {
            "etag" : "a4496d9266018c2625ab8c9c0c72ccf1",
            "createdDate" : "2021-03-16T14:29:05Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-16T14:29:05Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Tue, 16 Mar 2021 14:29:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/a66cecaa-5a0b-463c-b9f3-71595676b2db/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a66cecaa-5a0b-463c-b9f3-71595676b2db/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/a66cecaa-5a0b-463c-b9f3-71595676b2db/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b28e2f9c-6efd-485d-9edf-03501be9f112",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/b28e2f9c-6efd-485d-9edf-03501be9f112"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Tue, 16 Mar 2021 14:29:05 GMT
recorded_with: VCR 6.0.0
