---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 905911614f2e5600c7002bd6b7c09a51
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/00bd59f6-9234-4395-adb5-1ae87497ba63/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "93cc5cf9-4f7e-45b3-8636-679f27c69a70",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/93cc5cf9-4f7e-45b3-8636-679f27c69a70",
          "metadata" : {
            "etag" : "905911614f2e5600c7002bd6b7c09a51",
            "createdDate" : "2022-05-16T12:48:25Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-05-16T12:48:25Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:25 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/00bd59f6-9234-4395-adb5-1ae87497ba63/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "00bd59f6-9234-4395-adb5-1ae87497ba63/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/00bd59f6-9234-4395-adb5-1ae87497ba63/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "93cc5cf9-4f7e-45b3-8636-679f27c69a70",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/93cc5cf9-4f7e-45b3-8636-679f27c69a70"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:30 GMT
recorded_with: VCR 6.0.0
