---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
            "metadata" : {
              "etag" : "5a1052d98b2fbc0b7093a94faca41b54",
              "createdDate" : "2021-03-16T14:29:05Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-16T14:29:05Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test 2",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/servers"
              },
              "volumes" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/volumes"
              },
              "loadbalancers" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/loadbalancers"
              },
              "lans" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/lans"
              }
            }
          }, {
            "id" : "b28e2f9c-6efd-485d-9edf-03501be9f112",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/b28e2f9c-6efd-485d-9edf-03501be9f112",
            "metadata" : {
  [...]
