---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - e6963e49c7ac54b9408908030c9980c7
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/c58e9fca-2534-425b-a1c2-0a85a04aff92/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277",
          "metadata" : {
            "etag" : "e6963e49c7ac54b9408908030c9980c7",
            "createdDate" : "2021-04-08T13:38:27Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-08T13:38:27Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:38:27 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/c58e9fca-2534-425b-a1c2-0a85a04aff92/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c58e9fca-2534-425b-a1c2-0a85a04aff92/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/c58e9fca-2534-425b-a1c2-0a85a04aff92/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:38:27 GMT
recorded_with: VCR 6.0.0
