---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/bcd82fc8-3c98-422f-b82c-09a011b0ba57/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 17 May 2021 14:17:33 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/bcd82fc8-3c98-422f-b82c-09a011b0ba57/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bcd82fc8-3c98-422f-b82c-09a011b0ba57/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/bcd82fc8-3c98-422f-b82c-09a011b0ba57/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 17 May 2021 14:17:38 GMT
recorded_with: VCR 6.0.0
