---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module Test - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 68a762cb2032bd29aa9d083fd7bd662e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/5bb5a937-a96c-4bcc-92ca-0e31cf015077/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "56170bc8-3495-4a71-a513-383293922db8",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8",
          "metadata" : {
            "etag" : "68a762cb2032bd29aa9d083fd7bd662e",
            "createdDate" : "2022-05-16T12:48:31Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-05-16T12:48:36Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module Test - RENAME",
            "location" : "us/las",
            "version" : 2,
            "features" : [ "cloud-init-private-image", "vm-autoscaling", "vnf-nat", "ssd", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "k8s-cidr-s3-support", "mem-hot-plug", "private-loadbalancer" ],
            "secAuthProtection" : false,
            "cpuArchitecture" : [ {
              "cpuFamily" : "AMD_OPTERON",
              "vendor" : "AuthenticAMD",
              "maxCores" : 4,
              "maxRam" : 20480
            }, {
              "cpuFamily" : "INTEL_XEON",
              "vendor" : "GenuineIntel",
              "maxCores" : 4,
              "maxRam" : 20480
            } ]
          },
          "entities" : {
            "servers" : {
              "id" : "56170bc8-3495-4a71-a513-383293922db8/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8/servers"
            },
            "volumes" : {
              "id" : "56170bc8-3495-4a71-a513-383293922db8/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8/volumes"
            },
            "loadbalancers" : {
              "id" : "56170bc8-3495-4a71-a513-383293922db8/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8/loadbalancers"
            },
            "lans" : {
              "id" : "56170bc8-3495-4a71-a513-383293922db8/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8/lans"
            },
            "applicationloadbalancers" : {
              "id" : "56170bc8-3495-4a71-a513-383293922db8/applicationloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8/applicationloadbalancers"
            },
            "natgateways" : {
              "id" : "56170bc8-3495-4a71-a513-383293922db8/natgateways",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8/natgateways"
            },
            "networkloadbalancers" : {
              "id" : "56170bc8-3495-4a71-a513-383293922db8/networkloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8/networkloadbalancers"
            }
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:36 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/5bb5a937-a96c-4bcc-92ca-0e31cf015077/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "5bb5a937-a96c-4bcc-92ca-0e31cf015077/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/5bb5a937-a96c-4bcc-92ca-0e31cf015077/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "56170bc8-3495-4a71-a513-383293922db8",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:41 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "56170bc8-3495-4a71-a513-383293922db8",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8",
            "metadata" : {
              "etag" : "917105cc4b289633ee6b364908560871",
              "createdDate" : "2022-05-16T12:48:31Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastMo[...]
