---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9ca7e617639f51e7ab4190873f723a16
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/6372090b-a332-4b56-b0c4-0267085c83a7/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "38486675-0110-478e-9079-e515242cd35b",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b",
          "metadata" : {
            "etag" : "9ca7e617639f51e7ab4190873f723a16",
            "createdDate" : "2021-04-08T13:38:27Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-08T13:38:27Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:38:27 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/6372090b-a332-4b56-b0c4-0267085c83a7/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6372090b-a332-4b56-b0c4-0267085c83a7/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/6372090b-a332-4b56-b0c4-0267085c83a7/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:38:27 GMT
recorded_with: VCR 6.0.0
