---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module Test - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f122116491f241410ebbab31e9848140
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6b837f9b-393c-4266-a690-e782cd75e038/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0",
          "metadata" : {
            "etag" : "f122116491f241410ebbab31e9848140",
            "createdDate" : "2021-08-02T08:34:22Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:34:23Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module Test - RENAME",
            "location" : "us/las",
            "version" : 1,
            "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "mem-hot-plug", "private-loadbalancer" ],
            "secAuthProtection" : false,
            "cpuArchitecture" : [ {
              "cpuFamily" : "AMD_OPTERON",
              "vendor" : "AuthenticAMD",
              "maxCores" : 4,
              "maxRam" : 20480
            }, {
              "cpuFamily" : "INTEL_XEON",
              "vendor" : "GenuineIntel",
              "maxCores" : 4,
              "maxRam" : 20480
            } ]
          },
          "entities" : {
            "servers" : {
              "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0/servers"
            },
            "volumes" : {
              "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0/volumes"
            },
            "loadbalancers" : {
              "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0/loadbalancers"
            },
            "lans" : {
              "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0/lans"
            },
            "applicationloadbalancers" : {
              "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0/applicationloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0/applicationloadbalancers"
            },
            "networkloadbalancers" : {
              "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0/networkloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0/networkloadbalancers"
            },
            "natgateways" : {
              "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0/natgateways",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0/natgateways"
            }
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:34:23 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6b837f9b-393c-4266-a690-e782cd75e038/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6b837f9b-393c-4266-a690-e782cd75e038/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6b837f9b-393c-4266-a690-e782cd75e038/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:34:28 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0",
            "metadata" : {
              "etag" : "1810c0b94bfbec4fb61a0b989ec3077a",
              "createdDate" : "2021-08-02T08:34:22Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021[...]
