---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 67400791ff5df89c700506222a8e0f14
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/e6819a68-ef07-4bab-ac69-4609790a024d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "56170bc8-3495-4a71-a513-383293922db8",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8",
          "metadata" : {
            "etag" : "67400791ff5df89c700506222a8e0f14",
            "createdDate" : "2022-05-16T12:48:30Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-05-16T12:48:30Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:30 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/e6819a68-ef07-4bab-ac69-4609790a024d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e6819a68-ef07-4bab-ac69-4609790a024d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/e6819a68-ef07-4bab-ac69-4609790a024d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "56170bc8-3495-4a71-a513-383293922db8",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:36 GMT
recorded_with: VCR 6.0.0
