---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 443f7f53d53aa5e3f41a44a23fbddfcc
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/dedb9c13-2185-490f-a3ef-840c53f7383f/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "59cc82e6-0907-420f-8a16-18ab33b73e6d",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/59cc82e6-0907-420f-8a16-18ab33b73e6d",
          "metadata" : {
            "etag" : "443f7f53d53aa5e3f41a44a23fbddfcc",
            "createdDate" : "2021-05-26T15:05:57Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-26T15:05:57Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:05:57 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/dedb9c13-2185-490f-a3ef-840c53f7383f/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "dedb9c13-2185-490f-a3ef-840c53f7383f/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/dedb9c13-2185-490f-a3ef-840c53f7383f/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "59cc82e6-0907-420f-8a16-18ab33b73e6d",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/59cc82e6-0907-420f-8a16-18ab33b73e6d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:05:57 GMT
recorded_with: VCR 6.0.0
