---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - c9ff00b6d1a013d0786bf9fbfeb847de
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/f8d16048-995f-4004-b9d8-fb5a2e1a5e2d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "09693139-715f-443d-94a8-2219354b2668",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668",
          "metadata" : {
            "etag" : "c9ff00b6d1a013d0786bf9fbfeb847de",
            "createdDate" : "2021-04-14T12:35:57Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T12:35:57Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:35:57 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/f8d16048-995f-4004-b9d8-fb5a2e1a5e2d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f8d16048-995f-4004-b9d8-fb5a2e1a5e2d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/f8d16048-995f-4004-b9d8-fb5a2e1a5e2d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "09693139-715f-443d-94a8-2219354b2668",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/09693139-715f-443d-94a8-2219354b2668"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:35:57 GMT
recorded_with: VCR 6.0.0
