---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277",
            "metadata" : {
              "etag" : "743b530f6c4af5094213925d0cd0b2ee",
              "createdDate" : "2021-04-08T13:38:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-08T13:38:29Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test 2",
              "description" : "Puppet Module Test - RENAME",
              "location" : "us/las",
              "version" : 2,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277/servers"
              },
              "volumes" : {
                "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277/volumes"
              },
              "loadbalancers" : {
                "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277/loadbalancers"
              },
              "lans" : {
                "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277/lans"
              }
            }
          }, {
            "id" : "38486675-0110-478e-9079-e515242cd35b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b",
            "metadata" : {
  [...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/9efc3bcb-8465-46d6-b216-10ad2c3062cd/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 13:38:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/9efc3bcb-8465-46d6-b216-10ad2c3062cd/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9efc3bcb-8465-46d6-b216-10ad2c3062cd/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/9efc3bcb-8465-46d6-b216-10ad2c3062cd/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:38:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/9efc3bcb-8465-46d6-b216-10ad2c3062cd/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9efc3bcb-8465-46d6-b216-10ad2c3062cd/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/9efc3bcb-8465-46d6-b216-10ad2c3062cd/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4d112fa4-a436-48e4-bb38-cc4cbdb42277",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4d112fa4-a436-48e4-bb38-cc4cbdb42277"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:38:39 GMT
recorded_with: VCR 6.0.0
