---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module Test - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2a2b92fc17fe6563c1d48ced23ab63b3
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/937994f2-8fd6-4504-bbc5-ca20cdb1fe38/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
          "metadata" : {
            "etag" : "2a2b92fc17fe6563c1d48ced23ab63b3",
            "createdDate" : "2021-05-21T15:43:33Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:43:34Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module Test - RENAME",
            "location" : "us/las",
            "version" : 1,
            "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
            "secAuthProtection" : false
          },
          "entities" : {
            "servers" : {
              "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/servers"
            },
            "volumes" : {
              "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/volumes"
            },
            "loadbalancers" : {
              "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/loadbalancers"
            },
            "lans" : {
              "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33/lans"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/937994f2-8fd6-4504-bbc5-ca20cdb1fe38/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "937994f2-8fd6-4504-bbc5-ca20cdb1fe38/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/937994f2-8fd6-4504-bbc5-ca20cdb1fe38/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:40 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
            "metadata" : {
              "etag" : "a46c1149c37d3b38af141cc89abadb91",
              "createdDate" : "2021-05-21T15:43:33Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021[...]
