---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/93cc5cf9-4f7e-45b3-8636-679f27c69a70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Etag:
      - 808549d2fe212a6d9111ac3feff4da7b
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/92a95d3c-d253-48b2-b617-29c45d72460b/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 16 May 2022 12:48:42 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/92a95d3c-d253-48b2-b617-29c45d72460b/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "92a95d3c-d253-48b2-b617-29c45d72460b/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/92a95d3c-d253-48b2-b617-29c45d72460b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "93cc5cf9-4f7e-45b3-8636-679f27c69a70",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/93cc5cf9-4f7e-45b3-8636-679f27c69a70"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:47 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/630559cc-2bab-4d9f-a7a1-7d4ad7978d9f/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "630559cc-2bab-4d9f-a7a1-7d4ad7978d9f/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/630559cc-2bab-4d9f-a7a1-7d4ad7978d9f/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "56170bc8-3495-4a71-a513-383293922db8",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/56170bc8-3495-4a71-a513-383293922db8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 16 May 2022 12:48:53 GMT
recorded_with: VCR 6.0.0
