---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 301fb1f917fea312ddc68d7b347387af
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/9cb29a2b-d5c4-41dc-896a-d82505e342e7/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c",
          "metadata" : {
            "etag" : "301fb1f917fea312ddc68d7b347387af",
            "createdDate" : "2021-07-08T11:26:34Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-08T11:26:34Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Thu, 08 Jul 2021 11:26:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/9cb29a2b-d5c4-41dc-896a-d82505e342e7/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9cb29a2b-d5c4-41dc-896a-d82505e342e7/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/9cb29a2b-d5c4-41dc-896a-d82505e342e7/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Jul 2021 11:26:34 GMT
recorded_with: VCR 6.0.0
