---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
            "metadata" : {
              "etag" : "5a1052d98b2fbc0b7093a94faca41b54",
              "createdDate" : "2021-03-16T14:29:05Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-16T14:29:05Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test 2",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/servers"
              },
              "volumes" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/volumes"
              },
              "loadbalancers" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/loadbalancers"
              },
              "lans" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f/lans"
              }
            }
          }, {
            "id" : "b28e2f9c-6efd-485d-9edf-03501be9f112",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/b28e2f9c-6efd-485d-9edf-03501be9f112",
            "metadata" : {
  [...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module Test - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - e3296803a80d43796a2fa51df853b870
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/795fd4b0-aab8-46b3-886e-19d1a9067441/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
          "metadata" : {
            "etag" : "[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/795fd4b0-aab8-46b3-886e-19d1a9067441/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "795fd4b0-aab8-46b3-886e-19d1a9067441/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/795fd4b0-aab8-46b3-886e-19d1a9067441/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "19c1410a-8c94-438c-a7e2-61a2a5a5d68f",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/19c1410a-8c94-438c-a7e2-61a2a5a5d68f"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Tue, 16 Mar 2021 14:29:07 GMT
[...]
