---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d854de84eeb30b75b65d804ca25622de
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6d32a0be-75ac-4bfa-ab15-375cecb715a3/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0",
          "metadata" : {
            "etag" : "d854de84eeb30b75b65d804ca25622de",
            "createdDate" : "2021-08-02T08:34:22Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:34:22Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:34:22 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6d32a0be-75ac-4bfa-ab15-375cecb715a3/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6d32a0be-75ac-4bfa-ab15-375cecb715a3/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6d32a0be-75ac-4bfa-ab15-375cecb715a3/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d8dabbb2-d17c-4c33-915d-bd5e856778d0",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d8dabbb2-d17c-4c33-915d-bd5e856778d0"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:34:22 GMT
recorded_with: VCR 6.0.0
