---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 6655773bf4e1b6b60b8b27a5bb0a9523
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/223f4783-6fea-4594-943e-0997169a965e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
          "metadata" : {
            "etag" : "6655773bf4e1b6b60b8b27a5bb0a9523",
            "createdDate" : "2021-05-17T14:17:27Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-17T14:17:27Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Mon, 17 May 2021 14:17:27 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/223f4783-6fea-4594-943e-0997169a965e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "223f4783-6fea-4594-943e-0997169a965e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/223f4783-6fea-4594-943e-0997169a965e/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c4ad73c2-7ef5-4caa-a79d-47a6ee504569",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c4ad73c2-7ef5-4caa-a79d-47a6ee504569"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 17 May 2021 14:17:27 GMT
recorded_with: VCR 6.0.0
