---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 20355ad497066dfb7049093555be4267
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/23fa825e-0386-4d6d-81b7-1251c1c5d07c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
          "metadata" : {
            "etag" : "20355ad497066dfb7049093555be4267",
            "createdDate" : "2021-05-21T15:43:33Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:43:33Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:33 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/23fa825e-0386-4d6d-81b7-1251c1c5d07c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "23fa825e-0386-4d6d-81b7-1251c1c5d07c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/23fa825e-0386-4d6d-81b7-1251c1c5d07c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c20a2bc5-e0e0-4043-92fa-70ca5a27ff33",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c20a2bc5-e0e0-4043-92fa-70ca5a27ff33"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:43:34 GMT
recorded_with: VCR 6.0.0
