---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module Test - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 54f78c03115670d5d556a6298f127842
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/bf7be478-d9e5-4eb8-a144-44c9852f8025/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c",
          "metadata" : {
            "etag" : "54f78c03115670d5d556a6298f127842",
            "createdDate" : "2021-07-08T11:26:34Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-08T11:26:35Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module Test - RENAME",
            "location" : "us/las",
            "version" : 1,
            "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
            "secAuthProtection" : false,
            "cpuArchitecture" : [ {
              "cpuFamily" : "AMD_OPTERON",
              "vendor" : "AuthenticAMD",
              "maxCores" : 4,
              "maxRam" : 20480
            }, {
              "cpuFamily" : "INTEL_XEON",
              "vendor" : "GenuineIntel",
              "maxCores" : 4,
              "maxRam" : 20480
            } ]
          },
          "entities" : {
            "servers" : {
              "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c/servers"
            },
            "volumes" : {
              "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c/volumes"
            },
            "loadbalancers" : {
              "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c/loadbalancers"
            },
            "lans" : {
              "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c/lans"
            },
            "networkloadbalancers" : {
              "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c/networkloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c/networkloadbalancers"
            },
            "applicationloadbalancers" : {
              "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c/applicationloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c/applicationloadbalancers"
            },
            "natgateways" : {
              "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c/natgateways",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c/natgateways"
            }
          }
        }
  recorded_at: Thu, 08 Jul 2021 11:26:35 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/bf7be478-d9e5-4eb8-a144-44c9852f8025/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bf7be478-d9e5-4eb8-a144-44c9852f8025/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/bf7be478-d9e5-4eb8-a144-44c9852f8025/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Jul 2021 11:26:40 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "e2fc7657-51d9-4450-b2b1-263931ddd22c",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/e2fc7657-51d9-4450-b2b1-263931ddd22c",
            "metadata" : {
              "etag" : "f7feb46377280b1aadb904bae739727c",
              "createdDate" : "2021-07-08T11:26:34Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021[...]
