---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics/9de0b5c8-a2c8-40b1-a12d-7402872bd722/firewallrules/9d935362-efc7-4e44-83e0-ea190899c914
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/050f7d53-f580-4a55-88c9-fec9ee9233e4/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 15:07:35 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/050f7d53-f580-4a55-88c9-fec9ee9233e4/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "050f7d53-f580-4a55-88c9-fec9ee9233e4/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/050f7d53-f580-4a55-88c9-fec9ee9233e4/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "9d935362-efc7-4e44-83e0-ea190899c914",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics/9de0b5c8-a2c8-40b1-a12d-7402872bd722/firewallrules/9d935362-efc7-4e44-83e0-ea190899c914"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:07:40 GMT
[...]
