---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25",
            "metadata" : {
              "etag" : "9852a7fb3ea98681e3c1e4a97010abc3",
              "createdDate" : "2021-07-30T13:33:56Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T15:09:11Z",
              "lastModifiedBy" : "[UNKNOWN]",
              "lastModifiedByUserId" : "[UNKNOWN]",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_tes24334qwfqfwqfwqfqwfqg4b390h30",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 15,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/servers"
              },
              "volumes" : {
                "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/volumes"
              },
              "loadbalancers" : {
                "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/loadbalancers"
              },
              "lans" : {
                "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/lans"
              },
              "applicationloadbalancers" : {
                "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/natgateways"
              }
            }
          }, {
            "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_testubnfctjrfqwfeh4d0ebc5ed","description":"Puppet
        Module test description","location":"de/txl"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 359a554a304d6938a532e5d1455d1cac
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/aa0903f5-579b-4d25-b3d5-30349034d223/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea",
          "metadata" : {
            "etag" : "359a554a304d6938a532e5d1455d1cac",
            "createdDate" : "2021-08-02T08:35:12Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:35:12Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_testubnfctjrfqwfeh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "de/txl",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:35:12 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/aa0903f5-579b-4d25-b3d5-30349034d223/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "aa0903f5-579b-4d25-b3d5-30349034d223/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/aa0903f5-579b-4d25-b3d5-30349034d223/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:35:13 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfqfwqfh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"INTEL_SKYLAKE","type":"ENTERPRISE"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 59976d55a4240e09220e517ec150276e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/116bc80b-7f28-4ff5-b176-377a57e2bc9d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2c59a65a-e05a-4ae7-9479-e50b1594bb10",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10",
          "metadata" : {
            "etag" : "59976d55a4240e09220e517ec150276e",
            "createdDate" : "2021-08-02T08:35:13Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:35:13Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqfwqfh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_SKYLAKE",
            "type" : "ENTERPRISE"
          },
          "entities" : {
            "cdroms" : {
              "id" : "2c59a65a-e05a-4ae7-9479-e50b1594bb10/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10/cdroms"
            },
            "volumes" : {
              "id" : "2c59a65a-e05a-4ae7-9479-e50b1594bb10/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10/volumes"
            },
            "nics" : {
              "id" : "2c59a65a-e05a-4ae7-9479-e50b1594bb10/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10/nics"
            }
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:35:13 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/lans",
          "items" : [ ]
        }
  recorded_at: Mon, 02 Aug 2021 08:35:24 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfqfqfqwfwqh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 5fa134d72491c176756519ba2bef836a
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/690f9739-c308-45b3-b411-aae0b145ca4f/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/lans/1",
          "metadata" : {
            "etag" : "5fa134d72491c176756519ba2bef836a",
            "createdDate" : "2021-08-02T08:35:25Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:35:25Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqfqfqwfwqh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:35:25 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10/nics
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqffqwfwqfqeh4d0ebc5ed","dhcp":"true","lan":"1","firewallActive":"true"},"entities":{"flowlogs":{"items":[]},"firewallrules":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 0463524e3fc9c3da5a177f5a03b07a1c
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/a57698fa-5f2d-436a-a485-7b79508bdb01/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "62746011-f099-44bd-ac28-361fc6fef211",
          "type" : "nic",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10/nics/62746011-f099-44bd-ac28-361fc6fef211",
          "metadata" : {
            "etag" : "0463524e3fc9c3da5a177f5a03b07a1c",
            "createdDate" : "2021-08-02T08:35:31Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:35:31Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqffqwfwqfqeh4d0ebc5ed",
            "mac" : null,
            "ips" : [ ],
            "dhcp" : true,
            "lan" : 1,
            "firewallActive" : true,
            "firewallType" : null,
            "deviceNumber" : null,
            "pciSlot" : null
          },
          "entities" : {
            "firewallrules" : {
              "id" : "62746011-f099-44bd-ac28-361fc6fef211/firewallrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10/nics/62746011-f099-44bd-ac28-361fc6fef211/firewallrules"
            },
            "flowlogs" : {
              "id" : "62746011-f099-44bd-ac28-361fc6fef211/flowlogs",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers/2c59a65a-e05a-4ae7-9479-e50b1594bb10/nics/62746011-f099-44bd-ac28-361fc6fef211/flowlogs"
            }
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:35:31 GMT
[...]
