---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "48d7f193-e088-45bb-907f-15d98776a1a9",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/48d7f193-e088-45bb-907f-15d98776a1a9",
            "metadata" : {
              "createdDate" : "2021-03-16T14:27:22Z",
              "createdBy" : "username",
              "etag" : "d67c26d14f9de946868b7acc44a950ba",
              "lastModifiedDate" : "2021-03-16T14:27:22Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "48d7f193-e088-45bb-907f-15d98776a1a9/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/48d7f193-e088-45bb-907f-15d98776a1a9/servers",
                "items" : [ ]
              },
              "volumes" : {
                "id" : "48d7f193-e088-45bb-907f-15d98776a1a9/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/48d7f193-e088-45bb-907f-15d98776a1a9/volumes",
                "items" : [ ]
              },
              "loadbalancers" : {
                "id" : "48d7f193-e088-45bb-907f-15d98776a1a9/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/48d7f193-e088-45bb-907f-15d98776a1a9/loadbalancers",
                "items" : [ ]
              },
              "lans" : {
                "id" : "48d7f193-e088-45bb-907f-15d98776a1a9/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/48d7f193-e088-45bb-907f-15d98776a1a9/lans",
                "items" : [ ]
              }
            }
          }, {
            "id" : "b28e2f9c-6efd-485d-9edf-03501be9f112",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b28e2f9c-6efd-485d-9edf[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/48d7f193-e088-45bb-907f-15d98776a1a9/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "48d7f193-e088-45bb-907f-15d98776a1a9/servers",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/48d7f193-e088-45bb-907f-15d98776a1a9/servers",
          "items" : [ ]
        }
  recorded_at: Tue, 16 Mar 2021 14:29:18 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b28e2f9c-6efd-485d-9edf-03501be9f112/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b28e2f9c-6efd-485d-9edf-03501be9f112/servers",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b28e2f9c-6efd-485d-9edf-03501be9f112/servers",
          "items" : [ ]
        }
  recorded_at: Tue, 16 Mar 2021 14:29:19 GMT
recorded_with: VCR 6.0.0
