---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/servers/d807b0a0-bbde-4c07-abd4-c818f3971b9c/nics/6a1c0497-caae-4f8e-ad37-3718a84d3570/firewallrules/016507f9-7b94-47e4-9287-e87f65129bf3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/7322492e-e7ff-49d2-b7e6-815657107a4c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 12:28:50 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/7322492e-e7ff-49d2-b7e6-815657107a4c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7322492e-e7ff-49d2-b7e6-815657107a4c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/7322492e-e7ff-49d2-b7e6-815657107a4c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "016507f9-7b94-47e4-9287-e87f65129bf3",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/servers/d807b0a0-bbde-4c07-abd4-c818f3971b9c/nics/6a1c0497-caae-4f8e-ad37-3718a84d3570/firewallrules/016507f9-7b94-47e4-9287-e87f65129bf3"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 12:29:11 GMT
[...]
