---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/dd98bc3e-1b03-4402-a6b1-6f1540fc8367/nics/5e466ab6-58a3-4713-80b1-a60c722cec54/firewallrules/324e6406-1fd7-477a-87b0-b93065ddb512
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/0966b576-0dcf-4b83-869d-76049c46e54e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Apr 2021 14:17:03 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/0966b576-0dcf-4b83-869d-76049c46e54e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "0966b576-0dcf-4b83-869d-76049c46e54e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/0966b576-0dcf-4b83-869d-76049c46e54e/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "324e6406-1fd7-477a-87b0-b93065ddb512",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/dd98bc3e-1b03-4402-a6b1-6f1540fc8367/nics/5e466ab6-58a3-4713-80b1-a60c722cec54/firewallrules/324e6406-1fd7-477a-87b0-b93065ddb512"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 15 Apr 2021 14:17:09 GMT
[...]
