---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfqqfwfqwfeh4d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - e92e25ab9d02222cbf8abe5d0ff4c2db
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/e8e63c62-09ae-40de-bc82-c4724611fc1d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0",
          "metadata" : {
            "etag" : "e92e25ab9d02222cbf8abe5d0ff4c2db",
            "createdDate" : "2021-05-21T15:06:07Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:06:07Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqqfwfqwfeh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:07 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/e8e63c62-09ae-40de-bc82-c4724611fc1d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e8e63c62-09ae-40de-bc82-c4724611fc1d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/e8e63c62-09ae-40de-bc82-c4724611fc1d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:07 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0",
            "metadata" : {
              "etag" : "43348306b1cf77d1876bfbaf1e8d19a9",
              "createdDate" : "2021-05-21T15:06:07Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T15:06:07Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6fqfwqfqqfwfqwfeh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers"
              },
              "volumes" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/volumes"
              },
              "loadbalancers" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/loadbalancers"
              },
              "lans" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/lans"
              }
            }
          }, {
            "id" : "8117f378-598a-4916-8282-3a6e544d47e4",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8117f378-598a-4916-8282-3a6e544d47e4",
            "metadata" : {
  [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfqfwqfh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"AMD_OPTERON"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4f30bd923940c2ecc9e6e687a33392d0
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/bc95ce00-8fb9-4f9e-9c3f-354630333d56/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "57c75b53-ace9-45fb-861e-725ed70fb431",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431",
          "metadata" : {
            "etag" : "4f30bd923940c2ecc9e6e687a33392d0",
            "createdDate" : "2021-05-21T15:06:08Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:06:08Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqfwqfh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "57c75b53-ace9-45fb-861e-725ed70fb431/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/cdroms"
            },
            "volumes" : {
              "id" : "57c75b53-ace9-45fb-861e-725ed70fb431/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/volumes"
            },
            "nics" : {
              "id" : "57c75b53-ace9-45fb-861e-725ed70fb431/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:08 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfqfqfqwfwqh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ecbac158f1ac09d2cecce8b310357b2
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/58213785-5a41-449f-8d48-1f53b6cf9ccb/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/lans/1",
          "metadata" : {
            "etag" : "2ecbac158f1ac09d2cecce8b310357b2",
            "createdDate" : "2021-05-21T15:06:19Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:06:19Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqfqfqwfwqh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:19 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqffqwfwqfqeh4d0ebc5ed","dhcp":"true","lan":"1","firewallActive":"true","nat":"false"},"entities":{"firewallrules":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d8c8491f211d1502165cee065c41fbe3
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/10102db7-9573-4797-9c51-4db281036bb7/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "9de0b5c8-a2c8-40b1-a12d-7402872bd722",
          "type" : "nic",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics/9de0b5c8-a2c8-40b1-a12d-7402872bd722",
          "metadata" : {
            "etag" : "d8c8491f211d1502165cee065c41fbe3",
            "createdDate" : "2021-05-21T15:06:26Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:06:26Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqffqwfwqfqeh4d0ebc5ed",
            "mac" : null,
            "ips" : [ ],
            "dhcp" : true,
            "lan" : 1,
            "firewallActive" : true,
            "nat" : false
          },
          "entities" : {
            "firewallrules" : {
              "id" : "9de0b5c8-a2c8-40b1-a12d-7402872bd722/firewallrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics/9de0b5c8-a2c8-40b1-a12d-7402872bd722/firewallrules"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:26 GMT
[...]
