---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/dd98bc3e-1b03-4402-a6b1-6f1540fc8367/nics/5e466ab6-58a3-4713-80b1-a60c722cec54/firewallrules/6ea866cd-b007-436f-bbda-85a681842779
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/f6a5d768-462c-4563-89f4-f30bff55c549/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Apr 2021 13:08:15 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/f6a5d768-462c-4563-89f4-f30bff55c549/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f6a5d768-462c-4563-89f4-f30bff55c549/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/f6a5d768-462c-4563-89f4-f30bff55c549/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6ea866cd-b007-436f-bbda-85a681842779",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/dd98bc3e-1b03-4402-a6b1-6f1540fc8367/nics/5e466ab6-58a3-4713-80b1-a60c722cec54/firewallrules/6ea866cd-b007-436f-bbda-85a681842779"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 13:08:20 GMT
recorded_with: VCR 6.0.0
