---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0",
            "metadata" : {
              "etag" : "65ce591682e45ffcd1571edc7c78a001",
              "createdDate" : "2021-05-21T15:06:07Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T15:06:27Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6fqfwqfqqfwfqwfeh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 4,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers"
              },
              "volumes" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/volumes"
              },
              "loadbalancers" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/loadbalancers"
              },
              "lans" : {
                "id" : "5e4173de-62d5-43a0-8e75-4218ef73f9a0/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/lans"
              }
            }
          }, {
            "id" : "8117f378-598a-4916-8282-3a6e544d47e4",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8117f378-598a-4916-8282-3a6e544d47e4",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics/9de0b5c8-a2c8-40b1-a12d-7402872bd722/firewallrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","portRangeStart":22,"portRangeEnd":22}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - ca4c6df8fcc6e06f6a0fd98017c0ba6a
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/beaf7605-2d9f-4b8e-8da3-0798e8d4a6ab/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "9d935362-efc7-4e44-83e0-ea190899c914",
          "type" : "firewall-rule",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics/9de0b5c8-a2c8-40b1-a12d-7402872bd722/firewallrules/9d935362-efc7-4e44-83e0-ea190899c914",
          "metadata" : {
            "etag" : "ca4c6df8fcc6e06f6a0fd98017c0ba6a",
            "createdDate" : "2021-05-21T15:06:53Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:06:53Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "SSH",
            "protocol" : "TCP",
            "sourceMac" : "01:23:45:67:89:00",
            "sourceIp" : null,
            "targetIp" : null,
            "icmpCode" : null,
            "icmpType" : null,
            "portRangeStart" : 22,
            "portRangeEnd" : 22
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:53 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/beaf7605-2d9f-4b8e-8da3-0798e8d4a6ab/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "beaf7605-2d9f-4b8e-8da3-0798e8d4a6ab/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/beaf7605-2d9f-4b8e-8da3-0798e8d4a6ab/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "9d935362-efc7-4e44-83e0-ea190899c914",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/5e4173de-62d5-43a0-8e75-4218ef73f9a0/servers/57c75b53-ace9-45fb-861e-725ed70fb431/nics/9de0b5c8-a2c8-40b1-a12d-7402872bd722/firewallrules/9d935362-efc7-4e44-83e0-ea190899c914"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:07:03 GMT
[...]
