---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/images?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "images",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/images",
          "items" : [ {
            "id" : "a4418461-cd77-11e9-b88c-525400f64d8d",
            "type" : "image",
            "href" : "https://api.ionos.com/cloudapi/v5/images/a4418461-cd77-11e9-b88c-525400f64d8d",
            "metadata" : {
              "etag" : "bc19e06c9ae75b7e61d47d91f04f643b",
              "createdDate" : "2019-09-02T11:48:55Z",
              "createdBy" : "System",
              "createdByUserId" : "System",
              "lastModifiedDate" : "2019-09-02T11:48:55Z",
              "lastModifiedBy" : "System",
              "lastModifiedByUserId" : "System",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "debian-10.0.0-amd64-netinst.iso",
              "description" : null,
              "location" : "de/fkb",
              "size" : 0.33,
              "cpuHotPlug" : true,
              "cpuHotUnplug" : false,
              "ramHotPlug" : true,
              "ramHotUnplug" : false,
              "nicHotPlug" : true,
              "nicHotUnplug" : true,
              "discVirtioHotPlug" : true,
              "discVirtioHotUnplug" : true,
              "discScsiHotPlug" : false,
              "discScsiHotUnplug" : false,
              "licenceType" : "LINUX",
              "imageType" : "CDROM",
              "imageAliases" : [ "debian:latest_iso", "debian:10_iso" ],
              "cloudInit" : "NONE",
              "public" : true
            }
          }, {
            "id" : "218d7487-3379-11eb-a681-1e659523cb7b",
            "type" : "image",
            "href" : "https://api.ionos.com/cloudapi/v5/images/218d7487-3379-11eb-a681-1e659523cb7b",
            "metadata" : {
              "etag" : "333d434bc8470088ed77e10b15543a67",
              "createdDate" : "2020-12-01T02:01:31Z",
              "createdBy" : "System",
              "createdByUserId" : "System",
              "lastModifiedDate" : "2020-12-01T02:01[...]
