---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/images/?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "images",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/images",
          "items" : [ {
            "id" : "b76a6c06-7a41-11eb-9ba9-3ae5f2d5b516",
            "type" : "image",
            "href" : "https://api.profitbricks.com/cloudapi/v4/images/b76a6c06-7a41-11eb-9ba9-3ae5f2d5b516",
            "metadata" : {
              "createdDate" : "2021-03-01T03:53:43Z",
              "createdBy" : "System",
              "etag" : "fc00f9ec7a8a458226743035341bbcfd",
              "lastModifiedDate" : "2021-03-01T03:53:43Z",
              "lastModifiedBy" : "System",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Ubuntu-20.04-LTS-server-2021-03-01",
              "description" : null,
              "location" : "gb/lhr",
              "size" : 3,
              "cpuHotPlug" : true,
              "cpuHotUnplug" : false,
              "ramHotPlug" : true,
              "ramHotUnplug" : false,
              "nicHotPlug" : true,
              "nicHotUnplug" : true,
              "discVirtioHotPlug" : true,
              "discVirtioHotUnplug" : true,
              "discScsiHotPlug" : false,
              "discScsiHotUnplug" : false,
              "licenceType" : "LINUX",
              "imageType" : "HDD",
              "imageAliases" : [ "ubuntu:20.04" ],
              "public" : true
            }
          }, {
            "id" : "a4418461-cd77-11e9-b88c-525400f64d8d",
            "type" : "image",
            "href" : "https://api.profitbricks.com/cloudapi/v4/images/a4418461-cd77-11e9-b88c-525400f64d8d",
            "metadata" : {
              "createdDate" : "2019-09-02T11:48:55Z",
              "createdBy" : "System",
              "etag" : "bc19e06c9ae75b7e61d47d91f04f643b",
              "lastModifiedDate" : "2019-09-02T11:48:55Z",
              "lastModifiedBy"[...]
