---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/users
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"John","lastname":"Doe","email":"johnf2c9f7a96c14ef08d20f796d0ebc5ed@doe.com","administrator":"true","forceSecAuth":"false","password":"Secrete.Password.001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 37a6259cc0c1dae299a7866489dff0bd
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/65150fb2-3aae-408a-84d4-99932a3b1fc6/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0490e915-443f-478b-aa93-2fc395a1cd17",
          "type" : "user",
          "href" : "https://api.ionos.com/cloudapi/v5/um/users/0490e915-443f-478b-aa93-2fc395a1cd17",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "lastLogin" : null,
            "createdDate" : "2021-05-21T14:41:53Z"
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "johnf2c9f7a96c14ef08d20f796d0ebc5ed@doe.com",
            "administrator" : true,
            "forceSecAuth" : false,
            "secAuthActive" : false,
            "active" : true,
            "s3CanonicalUserId" : null
          }
        }
  recorded_at: Fri, 21 May 2021 14:41:53 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/65150fb2-3aae-408a-84d4-99932a3b1fc6/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "65150fb2-3aae-408a-84d4-99932a3b1fc6/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/65150fb2-3aae-408a-84d4-99932a3b1fc6/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0490e915-443f-478b-aa93-2fc395a1cd17",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/0490e915-443f-478b-aa93-2fc395a1cd17"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:41:53 GMT
recorded_with: VCR 6.0.0
