---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/um/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Etag:
      - d41d8cd98f00b204e9800998ecf8427e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/e823a9cc-aca3-4c16-b861-a33a8eeef10c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 09 Feb 2023 16:33:41 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/e823a9cc-aca3-4c16-b861-a33a8eeef10c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e823a9cc-aca3-4c16-b861-a33a8eeef10c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/e823a9cc-aca3-4c16-b861-a33a8eeef10c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 09 Feb 2023 16:33:41 GMT
recorded_with: VCR 6.1.0
