---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/um/users
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"John","lastname":"Doe","email":"johnf2c9f7a96c324sdwgwgwuuavzzzfxbc5ed@doe.com","administrator":"true","password":"Secrete.Password.001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 37a6259cc0c1dae299a7866489dff0bd
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/608dd4a0-bc53-4aba-811d-16307fa3f7cd/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
          "type" : "user",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "lastLogin" : null,
            "createdDate" : "2023-02-09T16:33:37Z"
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "johnf2c9f7a96c324sdwgwgwuuavzzzfxbc5ed@doe.com",
            "administrator" : true,
            "forceSecAuth" : false,
            "secAuthActive" : false,
            "active" : true,
            "s3CanonicalUserId" : null
          }
        }
  recorded_at: Thu, 09 Feb 2023 16:33:37 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/608dd4a0-bc53-4aba-811d-16307fa3f7cd/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "608dd4a0-bc53-4aba-811d-16307fa3f7cd/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/608dd4a0-bc53-4aba-811d-16307fa3f7cd/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 09 Feb 2023 16:33:37 GMT
recorded_with: VCR 6.1.0
