---
http_interactions:
- request:
    method: put
    uri: https://api.ionos.com/cloudapi/v6/um/groups/d749dfa5-e60d-4788-b0ae-02677a78cf44
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed","createDataCenter":false,"createSnapshot":true,"reserveIp":true,"accessActivityLog":true,"createPcc":true,"s3Privilege":true,"createBackupUnit":true,"createInternetAccess":true,"createK8sCluster":true,"createFlowLog":true,"accessAndManageMonitoring":true,"accessAndManageCertificates":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 1fbee6ff0a9cfe00978cece6283584a4
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/d1259cc0-53e0-46f1-8157-87b6450c1419/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d749dfa5-e60d-4788-b0ae-02677a78cf44",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/d749dfa5-e60d-4788-b0ae-02677a78cf44",
          "properties" : {
            "name" : "puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed",
            "createDataCenter" : false,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true,
            "createFlowLog" : true,
            "accessAndManageMonitoring" : true,
            "accessAndManageCertificates" : true
          },
          "entities" : {
            "users" : {
              "id" : "d749dfa5-e60d-4788-b0ae-02677a78cf44/users",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/um/groups/d749dfa5-e60d-4788-b0ae-02677a78cf44/users"
            },
            "resources" : {
              "id" : "d749dfa5-e60d-4788-b0ae-02677a78cf44/resources",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/um/groups/d749dfa5-e60d-4788-b0ae-02677a78cf44/resources"
            }
          }
        }
  recorded_at: Tue, 13 Jul 2021 08:16:02 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/d1259cc0-53e0-46f1-8157-87b6450c1419/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "d1259cc0-53e0-46f1-8157-87b6450c1419/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/d1259cc0-53e0-46f1-8157-87b6450c1419/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d749dfa5-e60d-4788-b0ae-02677a78cf44",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/d749dfa5-e60d-4788-b0ae-02677a78cf44"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Tue, 13 Jul 2021 08:16:02 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/groups?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups",
          "items" : [ {
            "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v6/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false[...]
