---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/groups/edfde1c0-f71f-412a-afa7-2fb7ad235b03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/4c2638e6-edde-450b-ba70-8b4ef2dec9e5/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 14:43:50 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/4c2638e6-edde-450b-ba70-8b4ef2dec9e5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "4c2638e6-edde-450b-ba70-8b4ef2dec9e5/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/4c2638e6-edde-450b-ba70-8b4ef2dec9e5/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "edfde1c0-f71f-412a-afa7-2fb7ad235b03",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/edfde1c0-f71f-412a-afa7-2fb7ad235b03"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:43:50 GMT
recorded_with: VCR 6.0.0
