---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4411e049a57cab1eae25ffca961b0f89
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/a8d832c0-8d84-4016-a687-b72653a90d15/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f3718042-08f6-4354-ab44-12686ce26571",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups/f3718042-08f6-4354-ab44-12686ce26571",
          "properties" : {
            "name" : "Puppet Module Test",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true
          }
        }
  recorded_at: Thu, 15 Apr 2021 13:36:45 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/a8d832c0-8d84-4016-a687-b72653a90d15/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a8d832c0-8d84-4016-a687-b72653a90d15/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/a8d832c0-8d84-4016-a687-b72653a90d15/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "f3718042-08f6-4354-ab44-12686ce26571",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/f3718042-08f6-4354-ab44-12686ce26571"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 15 Apr 2021 13:36:45 GMT
recorded_with: VCR 6.0.0
