---
http_interactions:
- request:
    method: put
    uri: https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"John","lastname":"Doe","email":"johnf2c9f7a96c324234242342426d0ebc5ed@doe.com","administrator":false,"forceSecAuth":false}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 37a6259cc0c1dae299a7866489dff0bd
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/c83ec9d5-5a4a-401f-b310-cb27848f1ed1/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4c075655-cd4c-42bc-9b20-f95fae2bb9db",
          "type" : "user",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "lastLogin" : null,
            "createdDate" : "2021-05-26T15:23:28Z"
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "johnf2c9f7a96c324234242342426d0ebc5ed@doe.com",
            "administrator" : false,
            "forceSecAuth" : false,
            "secAuthActive" : false,
            "active" : true,
            "s3CanonicalUserId" : "1e395ede6cf858103378ab9494e2d0f0"
          },
          "entities" : {
            "owns" : {
              "id" : "4c075655-cd4c-42bc-9b20-f95fae2bb9db/owns",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db/owns"
            },
            "groups" : {
              "id" : "4c075655-cd4c-42bc-9b20-f95fae2bb9db/groups",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db/groups"
            },
            "s3Keys" : {
              "id" : "4c075655-cd4c-42bc-9b20-f95fae2bb9db/s3keys",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db/s3keys"
            }
          }
        }
  recorded_at: Wed, 26 May 2021 15:23:31 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/c83ec9d5-5a4a-401f-b310-cb27848f1ed1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c83ec9d5-5a4a-401f-b310-cb27848f1ed1/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/c83ec9d5-5a4a-401f-b310-cb27848f1ed1/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4c075655-cd4c-42bc-9b20-f95fae2bb9db",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:23:31 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/users?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "users",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users",
          "items" : [ {
            "id" : "48a58b64-1680-4eba-af23-fc8859d89196",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/48a58b64-1680-4eba-af23-fc8859d89196",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "createdDate" : "2021-04-06T08:16:04Z"
            },
            "properties" : {
              "firstname" : "John2",
              "lastname" : "Doe2",
              [...]
