---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true","createFlowLog":"true","accessAndManageMonitoring":"true","accessAndManageCertificates":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 408c08bf7fb15c9c164cb144c10eb945
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/a6847974-381a-4b91-ac43-de3930fd7eca/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d749dfa5-e60d-4788-b0ae-02677a78cf44",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/d749dfa5-e60d-4788-b0ae-02677a78cf44",
          "properties" : {
            "name" : "puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true,
            "createFlowLog" : true,
            "accessAndManageMonitoring" : true,
            "accessAndManageCertificates" : true
          }
        }
  recorded_at: Tue, 13 Jul 2021 08:16:01 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/a6847974-381a-4b91-ac43-de3930fd7eca/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a6847974-381a-4b91-ac43-de3930fd7eca/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/a6847974-381a-4b91-ac43-de3930fd7eca/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d749dfa5-e60d-4788-b0ae-02677a78cf44",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/d749dfa5-e60d-4788-b0ae-02677a78cf44"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Tue, 13 Jul 2021 08:16:01 GMT
recorded_with: VCR 6.0.0
