---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/users?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "users",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/users",
          "items" : [ {
            "id" : "48a58b64-1680-4eba-af23-fc8859d89196",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "createdDate" : "2021-04-06T08:16:04Z"
            },
            "properties" : {
              "firstname" : "John2",
              "lastname" : "Doe2",
              "email" : "john.doe.00712@example.com",
              "administrator" : false,
              "forceSecAuth" : false,
              "secAuthActive" : false,
              "active" : true,
              "s3CanonicalUserId" : "76170d7cf4bcc326ac5d950a439bb2f5"
            },
            "entities" : {
              "owns" : {
                "id" : "48a58b64-1680-4eba-af23-fc8859d89196/owns",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196/owns",
                "items" : [ ]
              },
              "groups" : {
                "id" : "48a58b64-1680-4eba-af23-fc8859d89196/groups",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196/groups",
                "items" : [ {
                  "id" : "c28dcf2a-2487-4018-9657-338decc981f3",
                  "type" : "group",
                  "href" : "https://api.ionos.com/cloudapi/v5/um/groups/c28dcf2a-2487-4018-9657-338decc981f3",
                  "properties" : {
                    "name" : "Puppet Module Test 2",
                    "createDataCenter" : false,
                    "createSnapshot" : true,
                    "reserveIp" : true,
                    "accessActivityLog" : true,
                    "createPcc" : false,
                    "s3Privilege" : false,
                    "createBackupUnit" : false,
                    "createInternetAccess" : true,
                    "createK8sCluster" : false
                  }
                }, {
                  "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a",
                  "type" : "group",
                  "href" : "https://api.ionos.com/cloudapi/v5/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a",
                  "properties" : {
                    "name" : "Puppet Module Test",
                    "createDataCenter" : false,
                    "createSnapshot" : true,
                    "reserveIp" : true,
                    "accessActivityLog" : true,
                    "createPcc" : false,
                    "s3Privilege" : false,
                    "createBackupUnit" : false,
                    "createInternetAccess" : true,
                    "createK8sCluster" : false
                  }
                } ]
              },
              "s3Keys" : {
                "id" : "48a58b64-1680-4eba-af23-fc8859d89196/s3keys",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196/s3keys",
                "items" : [ {
                  "id" : "0e2f30b41253cb81a10b",
                  "type" : "s3key",
                  "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196/s3keys/0e2f30b41253cb81a10b",
                  "metadata" : {
                    "etag" : "02a6b6c51b14d486f9534e49bc703db2",
                    "createdDate" : "2021-04-06T08:16:04"
                  },
                  "properties" : {
                    "secretKey" : "+SUrzLrKQafOA/FjBhMazWAzuhO/A0YqMptdFmDU",
                    "active" : false
                  }
                } ]
              }
            }
          }, {
            "id" : "ae778d33-a389-4fc6-a42c-a3768fe68197",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v5/um/users/ae778d33-a389-4fc6-a42c-a3768fe68197",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "create[...]
