---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/groups/5794f42a-02e1-4dc2-8d15-9d2eaf0b687f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/a4aaa865-d68d-4f36-959a-232fa0ac4344/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 24 May 2021 08:13:08 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/a4aaa865-d68d-4f36-959a-232fa0ac4344/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a4aaa865-d68d-4f36-959a-232fa0ac4344/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/a4aaa865-d68d-4f36-959a-232fa0ac4344/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "5794f42a-02e1-4dc2-8d15-9d2eaf0b687f",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/5794f42a-02e1-4dc2-8d15-9d2eaf0b687f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:13:08 GMT
recorded_with: VCR 6.0.0
