---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f423wgzxxevbvbqfqeee08d20f796d0ebc5ed","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - b8e74fb919189a9e583311b6c3468e5c
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/479d98f4-b942-4890-9c56-5c09c281863e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "55e9d19f-45f5-4315-bbed-fd4f94f511f5",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/55e9d19f-45f5-4315-bbed-fd4f94f511f5",
          "properties" : {
            "name" : "puppet_module_test6f423wgzxxevbvbqfqeee08d20f796d0ebc5ed",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true,
            "createFlowLog" : false,
            "accessAndManageMonitoring" : false,
            "manageDBaaS" : false,
            "manageRegistry" : false,
            "manageDataplatform" : false,
            "accessAndManageCertificates" : false,
            "accessAndManageDns" : false
          }
        }
  recorded_at: Thu, 09 Feb 2023 16:33:37 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/479d98f4-b942-4890-9c56-5c09c281863e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "479d98f4-b942-4890-9c56-5c09c281863e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/479d98f4-b942-4890-9c56-5c09c281863e/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "55e9d19f-45f5-4315-bbed-fd4f94f511f5",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/55e9d19f-45f5-4315-bbed-fd4f94f511f5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 09 Feb 2023 16:33:37 GMT
recorded_with: VCR 6.1.0
