---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/um/users
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"John","lastname":"Doe","email":"johnf2c9f7a96c324234242342426d0ebc5ed@doe.com","administrator":"true","forceSecAuth":"false","password":"Secrete.Password.001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 37a6259cc0c1dae299a7866489dff0bd
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/d84bba66-29f1-4c4e-b1f3-60321863f6fd/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4c075655-cd4c-42bc-9b20-f95fae2bb9db",
          "type" : "user",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "lastLogin" : null,
            "createdDate" : "2021-05-26T15:23:28Z"
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "johnf2c9f7a96c324234242342426d0ebc5ed@doe.com",
            "administrator" : true,
            "forceSecAuth" : false,
            "secAuthActive" : false,
            "active" : true,
            "s3CanonicalUserId" : null
          }
        }
  recorded_at: Wed, 26 May 2021 15:23:28 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/d84bba66-29f1-4c4e-b1f3-60321863f6fd/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "d84bba66-29f1-4c4e-b1f3-60321863f6fd/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/d84bba66-29f1-4c4e-b1f3-60321863f6fd/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4c075655-cd4c-42bc-9b20-f95fae2bb9db",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/4c075655-cd4c-42bc-9b20-f95fae2bb9db"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:23:29 GMT
recorded_with: VCR 6.0.0
