---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/groups?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups",
          "items" : [ {
            "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : true,
              "createK8sCluster" : false,
              "createFlowLog" : false,
              "accessAndManageMonitoring" : false,
              "accessAndManageCertificates" : false
            },
            "entities" : {
              "users" : {
                "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a/users",
                "items" : [ {
                  "id" : "fe907f33-0bb8-49c5-b33d-4060b7c19bbd",
                  "type" : "user",
                  "href" : "https://api.ionos.com/cloudapi/v6/um/users/fe907f33-0bb8-49c5-b33d-4060b7c19bbd",
                  "metadata" : {
                    "etag" : "37a6259cc0c1dae299a7866489dff0bd",
                    "lastLogin" : null,
                    "createdDate" : "2021-02-22T13:29:00Z"
                  },
                  "properties" : {
                    "firstname" : "test",
                    "lastname" : "test",
                    "email" : "test3@test.com",
                    "administrator" : false,
                    "forceSecAuth" : false,
                    "secAuthActive" : false,
                    "active" : true,
                    "s3CanonicalUserId" : "1d6ff3f9db18245a524fdfc5c8eb0aa7"
                  },
                  "entities" : {
                    "owns" : {
                      "id" : "fe907f33-0bb8-49c5-b33d-4060b7c19bbd/owns",
                      "type" : "collection",
                      "href" : "https://api.ionos.com/cloudapi/v6/um/users/fe907f33-0bb8-49c5-b33d-4060b7c19bbd/owns"
                    },
                    "groups" : {
                      "id" : "fe907f33-0bb8-49c5-b33d-4060b7c19bbd/groups",
                      "type" : "collection",
                      "href" : "https://api.ionos.com/cloudapi/v6/um/users/fe907f33-0bb8-49c5-b33d-4060b7c19bbd/groups"
                    },
                    "s3Keys" : {
                      "id" : "fe907f33-0bb8-49c5-b33d-4060b7c19bbd/s3keys",
                      "type" : "collection",
                      "href" : "https://api.ionos.com/cloudapi/v6/um/users/fe907f33-0bb8-49c5-b33d-4060b7c19bbd/s3keys"
                    }
                  }
                }, {
                  "id" : "48a58b64-1680-4eba-af23-fc8859d89196",
                  "type" : "user",
                  "href" : "https://api.ionos.com/cloudapi/v6/um/users/48a58b64-1680-4eba-af2[...]
