---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - eae74e154bbb4cc809fc3faabffbf312
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/2930656a-6b18-41f0-ba47-5910e2adf50e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2a382cd2-51e7-4be9-b029-7bdccc69d43b",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/2a382cd2-51e7-4be9-b029-7bdccc69d43b",
          "properties" : {
            "name" : "puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true,
            "createFlowLog" : false,
            "accessAndManageMonitoring" : false,
            "accessAndManageCertificates" : false
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:16 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/2930656a-6b18-41f0-ba47-5910e2adf50e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2930656a-6b18-41f0-ba47-5910e2adf50e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/2930656a-6b18-41f0-ba47-5910e2adf50e/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2a382cd2-51e7-4be9-b029-7bdccc69d43b",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/2a382cd2-51e7-4be9-b029-7bdccc69d43b"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:16 GMT
recorded_with: VCR 6.0.0
