---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/b4f8c81d-3ad6-4480-a45d-74ac229f0f8f/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Apr 2021 09:35:53 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/b4f8c81d-3ad6-4480-a45d-74ac229f0f8f/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b4f8c81d-3ad6-4480-a45d-74ac229f0f8f/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/b4f8c81d-3ad6-4480-a45d-74ac229f0f8f/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:35:53 GMT
recorded_with: VCR 6.0.0
