---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/users?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "users",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users",
          "items" : [ {
            "id" : "12a42284-05f5-4bda-b434-b662534dfab7",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "createdDate" : "2023-02-09T16:26:34Z"
            },
            "properties" : {
              "firstname" : "John",
              "lastname" : "Doe",
              "email" : "johnf2c9f7a96c324sdgwewqfwqfwfteafbc5ed@doe.com",
              "administrator" : false,
              "forceSecAuth" : false,
              "secAuthActive" : false,
              "active" : true,
              "s3CanonicalUserId" : "<s3-canonical-user-id>"
            },
            "entities" : {
              "owns" : {
                "id" : "12a42284-05f5-4bda-b434-b662534dfab7/owns",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/owns",
                "items" : [ ]
              },
              "groups" : {
                "id" : "12a42284-05f5-4bda-b434-b662534dfab7/groups",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/groups",
                "items" : [ ]
              },
              "s3Keys" : {
                "id" : "12a42284-05f5-4bda-b434-b662534dfab7/s3keys",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/s3keys",
                "items" : [ {
                  "id" : "31f0d981429622ac6cc2",
                  "type" : "s3key",
                  "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/s3keys/31f0d981429622ac6cc2",
                  "metadata" : {
                    "etag" : "2cc6ba16d2719c11e1674b057ec81c0b",
                    "createdDate" : "2023-02-09T16:26:34"
                  },
                  "properties" : {
                    "secretKey" : "<Secret-Key>",
                    "active" : false
                  }
                } ]
              }
            }
          }, {
            "id" : "26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "createdDate" : "2023-02-09T16:33:37Z"
          [...]
