---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/users/0490e915-443f-478b-aa93-2fc395a1cd17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/be5c440c-ba8c-432c-bea8-8c758a060327/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 14:42:04 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/be5c440c-ba8c-432c-bea8-8c758a060327/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "be5c440c-ba8c-432c-bea8-8c758a060327/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/be5c440c-ba8c-432c-bea8-8c758a060327/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0490e915-443f-478b-aa93-2fc395a1cd17",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/0490e915-443f-478b-aa93-2fc395a1cd17"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:42:04 GMT
recorded_with: VCR 6.0.0
