---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/groups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups",
          "items" : [ {
            "id" : "cc72a0b7-bb6e-433c-8bc8-e06a4aa9adce",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cc72a0b7-bb6e-433c-8bc8-e06a4aa9adce",
            "properties" : {
              "name" : "puppet_module_test6f42342342432ef08d20f796d0ebc5ed",
              "createDataCenter" : true,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : true,
              "s3Privilege" : true,
              "createBackupUnit" : true,
              "createInternetAccess" : true,
              "createK8sCluster" : true,
              "createFlowLog" : false,
              "accessAndManageMonitoring" : false,
              "manageDBaaS" : false,
              "manageRegistry" : false,
              "manageDataplatform" : false,
              "accessAndManageCertificates" : false,
              "accessAndManageDns" : false
            },
            "entities" : {
              "users" : {
                "id" : "cc72a0b7-bb6e-433c-8bc8-e06a4aa9adce/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cc72a0b7-bb6e-433c-8bc8-e06a4aa9adce/users"
              },
              "resources" : {
                "id" : "cc72a0b7-bb6e-433c-8bc8-e06a4aa9adce/resources",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cc72a0b7-bb6e-433c-8bc8-e06a4aa9adce/resources"
              }
            }
          }, {
            "id" : "63392a6e-0167-4823-abc3-b57c19803dbe",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v6/um/groups/63392a6e-0167-4823-abc3-b57c19803dbe",
            "properties" : {[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/um/groups/55e9d19f-45f5-4315-bbed-fd4f94f511f5/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Etag:
      - d41d8cd98f00b204e9800998ecf8427e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/be6e2e0e-52d3-4372-9c64-a87b72023523/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 09 Feb 2023 16:33:40 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/be6e2e0e-52d3-4372-9c64-a87b72023523/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "be6e2e0e-52d3-4372-9c64-a87b72023523/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/be6e2e0e-52d3-4372-9c64-a87b72023523/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 09 Feb 2023 16:33:40 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/users?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "users",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users",
          "items" : [ {
            "id" : "12a42284-05f5-4bda-b434-b662534dfab7",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "createdDate" : "2023-02-09T16:26:34Z"
            },
            "properties" : {
              "firstname" : "John",
              "lastname" : "Doe",
              "email" : "johnf2c9f7a96c324sdgwewqfwqfwfteafbc5ed@doe.com",
              "administrator" : false,
              "forceSecAuth" : false,
              "secAuthActive" : false,
              "active" : true,
              "s3CanonicalUserId" : "<s3-canonical-user-id>"
            },
            "entities" : {
              "owns" : {
                "id" : "12a42284-05f5-4bda-b434-b662534dfab7/owns",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/owns",
                "items" : [ ]
              },
              "groups" : {
                "id" : "12a42284-05f5-4bda-b434-b662534dfab7/groups",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/groups",
                "items" : [ ]
              },
              "s3Keys" : {
                "id" : "12a42284-05f5-4bda-b434-b662534dfab7/s3keys",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/s3keys",
                "items" : [ {
                  "id" : "31f0d981429622ac6cc2",
                  "type" : "s3key",
                  "href" : "https://api.ionos.com/cloudapi/v6/um/users/12a42284-05f5-4bda-b434-b662534dfab7/s3keys/31f0d981429622ac6cc2",
                  "metadata" : {
                    "etag" : "2cc6ba16d2719c11e1674b057ec81c0b",
                    "createdDate" : "2023-02-09T16:26:34"
                  },
                  "properties" : {
                    "secretKey" : "<Secret-Key>",
                    "active" : false
                  }
                } ]
              }
            }
          }, {
            "id" : "26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/26818d5f-98b7-4eff-97d7-4f2c506b6ed5",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "createdDate" : "2023-02-09T16:33:37Z"
          [...]
