---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - da0f6534a1ee941886144c81d9e631bd
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/9ba45911-0b37-415e-9cab-d91649e57817/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "5794f42a-02e1-4dc2-8d15-9d2eaf0b687f",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups/5794f42a-02e1-4dc2-8d15-9d2eaf0b687f",
          "properties" : {
            "name" : "puppet_module_test6f2c9fqawfqfqfwqff796d0ebc5ed",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true
          }
        }
  recorded_at: Mon, 24 May 2021 08:13:07 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/9ba45911-0b37-415e-9cab-d91649e57817/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9ba45911-0b37-415e-9cab-d91649e57817/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/9ba45911-0b37-415e-9cab-d91649e57817/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "5794f42a-02e1-4dc2-8d15-9d2eaf0b687f",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/5794f42a-02e1-4dc2-8d15-9d2eaf0b687f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:13:07 GMT
recorded_with: VCR 6.0.0
