---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/ipblocks
    body:
      encoding: UTF-8
      string: '{"properties":{"location":"us/las","size":2,"name":"Puppet Module Test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 6b84dd69cd93d031e25a32e8650e4033
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/7e02e8cf-36ac-4dfe-a01a-fad6a37cb3dd/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9901d3e4-abbb-4a7a-915e-e5f24ce1962c",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/9901d3e4-abbb-4a7a-915e-e5f24ce1962c",
          "metadata" : {
            "etag" : "6b84dd69cd93d031e25a32e8650e4033",
            "createdDate" : "2021-04-08T14:03:08Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-08T14:03:08Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "ips" : [ "158.222.102.114", "158.222.102.202" ],
            "location" : "us/las",
            "size" : 2,
            "name" : "Puppet Module Test",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 14:03:08 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/7e02e8cf-36ac-4dfe-a01a-fad6a37cb3dd/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7e02e8cf-36ac-4dfe-a01a-fad6a37cb3dd/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/7e02e8cf-36ac-4dfe-a01a-fad6a37cb3dd/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "89f167cc-0614-459e-8d21-66f97bb99aae",
                "type" : "ipblock",
                "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/89f167cc-0614-459e-8d21-66f97bb99aae"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 14:03:08 GMT
recorded_with: VCR 6.0.0
