---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks",
          "items" : [ {
            "id" : "d4480215-cae5-4e7e-a0e2-745ab3dc533d",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/d4480215-cae5-4e7e-a0e2-745ab3dc533d",
            "metadata" : {
              "etag" : "6fc4085ae5e2ccf9a7bb6959d91b90dc",
              "createdDate" : "2021-05-26T15:06:22Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-26T15:06:22Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "158.222.102.243", "158.222.102.242" ],
              "location" : "us/las",
              "size" : 2,
              "name" : "puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed",
              "ipConsumers" : [ ]
            }
          }, {
            "id" : "c325ae94-94af-4046-b6e8-638c8c1a716c",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/c325ae94-94af-4046-b6e8-638c8c1a716c",
            "metadata" : {
              "etag" : "39e39db85cda780b0bba828c66f2b3e1",
              "createdDate" : "2021-05-26T14:45:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "la[...]
