---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/ipblocks
    body:
      encoding: UTF-8
      string: '{"properties":{"location":"us/las","size":2,"name":"puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f48bb75cb15be18f75852631b3d37cfb
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/24b0fdf9-8c9e-4d82-adfc-a727ed21f7ce/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e64e770a-78fc-4c7a-8443-3f3c77ae3b5e",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/e64e770a-78fc-4c7a-8443-3f3c77ae3b5e",
          "metadata" : {
            "etag" : "f48bb75cb15be18f75852631b3d37cfb",
            "createdDate" : "2021-05-21T14:57:20Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:57:20Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "ips" : [ "158.222.102.164", "158.222.102.161" ],
            "location" : "us/las",
            "size" : 2,
            "name" : "puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:57:20 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/24b0fdf9-8c9e-4d82-adfc-a727ed21f7ce/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "24b0fdf9-8c9e-4d82-adfc-a727ed21f7ce/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/24b0fdf9-8c9e-4d82-adfc-a727ed21f7ce/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4a07da12-37f0-435e-b594-e5ff14517058",
                "type" : "ipblock",
                "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/4a07da12-37f0-435e-b594-e5ff14517058"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:57:20 GMT
recorded_with: VCR 6.0.0
