---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/ipblocks/9901d3e4-abbb-4a7a-915e-e5f24ce1962c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/99cad45e-d778-4710-8844-ebc95b4d3f1b/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Apr 2021 14:03:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/99cad45e-d778-4710-8844-ebc95b4d3f1b/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "99cad45e-d778-4710-8844-ebc95b4d3f1b/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/99cad45e-d778-4710-8844-ebc95b4d3f1b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "9901d3e4-abbb-4a7a-915e-e5f24ce1962c",
                "type" : "ipblock",
                "href" : "TO_BE_INJECTED"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 14:03:09 GMT
recorded_with: VCR 6.0.0
