---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/ipblocks
    body:
      encoding: UTF-8
      string: '{"properties":{"location":"us/las","size":2,"name":"Puppet Module Test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - feed427207130d0d856f649eb9fb59b4
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/b378c3c2-9cbf-4d86-ab17-e807a231a0f9/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7aa7f85c-ed95-4061-9b05-55b0dcbc8dad",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/7aa7f85c-ed95-4061-9b05-55b0dcbc8dad",
          "metadata" : {
            "etag" : "feed427207130d0d856f649eb9fb59b4",
            "createdDate" : "2021-04-14T09:29:28Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T09:29:28Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "ips" : [ "158.222.102.101", "158.222.102.152" ],
            "location" : "us/las",
            "size" : 2,
            "name" : "Puppet Module Test",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:29:28 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/b378c3c2-9cbf-4d86-ab17-e807a231a0f9/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b378c3c2-9cbf-4d86-ab17-e807a231a0f9/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/b378c3c2-9cbf-4d86-ab17-e807a231a0f9/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "f13601aa-ec11-4550-b553-ec4b2bec86b9",
                "type" : "ipblock",
                "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/f13601aa-ec11-4550-b553-ec4b2bec86b9"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:29:28 GMT
recorded_with: VCR 6.0.0
