---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks",
          "items" : [ {
            "id" : "e64e770a-78fc-4c7a-8443-3f3c77ae3b5e",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/e64e770a-78fc-4c7a-8443-3f3c77ae3b5e",
            "metadata" : {
              "etag" : "dcad7f8a73a8af2b08c2017895e554da",
              "createdDate" : "2021-05-21T14:57:20Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:57:20Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "158.222.102.164", "158.222.102.161" ],
              "location" : "us/las",
              "size" : 2,
              "name" : "puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed",
              "ipConsumers" : [ ]
            }
          }, {
            "id" : "e8b42322-0c55-4967-b130-1a31cba1eda6",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/e8b42322-0c55-4967-b130-1a31cba1eda6",
            "metadata" : {
              "etag" : "62095b00a69d34548ebeaff9fbc5261b",
              "createdDate" : "2021-05-20T07:30:50Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-20T07:30:50Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "87.106.115.173", "87.106.115.174", "87.106.115.172" ],
              "location" : "de/fra",
              "size" : 3,
              "name" : "SDKAUTOTEST - create",
              "ipConsumers" : [ {
                "ip" : "87.106.115.172",
                "mac" : null,
                "nicId" : null,
                "serverId" : null,
                "serverName" : null,
                "datacenterId" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
                "datacenterName" : "SDK AUTO-TEST",
                "k8sNodePoolUuid" : "113b5e69-996e-4c76-8fce-00bdd6dccef6",
                "k8sClusterUuid" : null
              }, {
                "ip" : "87.106.115.174",
                "mac" : null,
                "nicId" : null,
                "serverId" : null,
                "serverName" : null,
                "datacenterId" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
                "datacenterName" : "SDK AUTO-TEST",
                "k8sNodePoolUuid" : "113b5e69-996e-4c76-8fce-00bdd6dccef6",
                "k8sClusterUuid" : null
              }, {
                "ip" : "87.106.115.173",
                "mac" : null,
                "nicId" : null,
                "serverId" : null,
                "serverName" : null,
                "datacenterId" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
                "datacenterName" : "SDK AUTO-TEST",
                "k8sNodePoolUuid" : "113b5e69-996e-4c76-8fce-00bdd6dccef6",
                "k8sClusterUuid" : null
              } ]
            }
          } ]
        }
  recorded_at: Fri, 21 May 2021 14:57:20 GMT
recorded_with: VCR 6.0.0
