---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/ipblocks
    body:
      encoding: UTF-8
      string: '{"properties":{"location":"us/las","size":2,"name":"puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2b92ba7d1205b9a6655378c7fee97cf3
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/f5b9ab54-ec38-4e2c-a642-90b2773c2b09/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d4480215-cae5-4e7e-a0e2-745ab3dc533d",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/d4480215-cae5-4e7e-a0e2-745ab3dc533d",
          "metadata" : {
            "etag" : "2b92ba7d1205b9a6655378c7fee97cf3",
            "createdDate" : "2021-05-26T15:06:22Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-26T15:06:22Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "ips" : [ "158.222.102.243", "158.222.102.242" ],
            "location" : "us/las",
            "size" : 2,
            "name" : "puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:22 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/f5b9ab54-ec38-4e2c-a642-90b2773c2b09/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f5b9ab54-ec38-4e2c-a642-90b2773c2b09/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/f5b9ab54-ec38-4e2c-a642-90b2773c2b09/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "340d0cfa-03e8-41f5-9535-22e4a9a80ba4",
                "type" : "ipblock",
                "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/340d0cfa-03e8-41f5-9535-22e4a9a80ba4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:22 GMT
recorded_with: VCR 6.0.0
