---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks",
          "items" : [ {
            "id" : "9901d3e4-abbb-4a7a-915e-e5f24ce1962c",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/9901d3e4-abbb-4a7a-915e-e5f24ce1962c",
            "metadata" : {
              "etag" : "8130f6b4bb27caf9c7ccdbb06bb21a8e",
              "createdDate" : "2021-04-08T14:03:08Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-08T14:03:08Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "158.222.102.114", "158.222.102.202" ],
              "location" : "us/las",
              "size" : 2,
              "name" : "Puppet Module Test",
              "ipConsumers" : [ ]
            }
          }, {
            "id" : "03f4a5d1-2f58-4d61-a8cb-8faadf5e8add",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/03f4a5d1-2f58-4d61-a8cb-8faadf5e8add",
            "metadata" : {
              "etag" : "17435fd4337f932ae10887fc54615e64",
              "createdDate" : "2021-04-05T12:58:29Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "la[...]
