---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/ipblocks/d4480215-cae5-4e7e-a0e2-745ab3dc533d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/130b31e1-424f-429d-b7e9-5b14572879ee/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 26 May 2021 15:06:23 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/130b31e1-424f-429d-b7e9-5b14572879ee/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "130b31e1-424f-429d-b7e9-5b14572879ee/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/130b31e1-424f-429d-b7e9-5b14572879ee/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d4480215-cae5-4e7e-a0e2-745ab3dc533d",
                "type" : "ipblock",
                "href" : "TO_BE_INJECTED"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:23 GMT
recorded_with: VCR 6.0.0
