---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s",
          "items" : [ {
            "id" : "ba266732-4619-452b-bbe5-601c13db7e10",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10",
            "metadata" : {
              "etag" : "16d7cffa36ede02e2e657fb2a0710e8d",
              "createdDate" : "2021-05-26T15:06:24Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-26T15:11:50Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "DESTROYING"
            },
            "properties" : {
              "name" : "puppet_module_test6fqfwqfqfqwfddsgh5eh4d0ebc5ed",
              "k8sVersion" : "1.18.9",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:53:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.12", "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "ba266732-4619-452b-bbe5-601c13db7e10/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10/nodepools"
              }
            }
          }, {
            "id" : "47d4cbde-e8cc-4876-9d0f-dbbf9870c30f",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f",
            "metadata" : {
              "[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ba266732-4619-452b-bbe5-601c13db7e10/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10/nodepools",
          "items" : [ ]
        }
  recorded_at: Wed, 26 May 2021 15:18:18 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/99bd9244-6d46-4cf8-8239-e103820deb73/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"99bd9244-6d46-4cf8-8239-e103820deb73/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/99bd9244-6d46-4cf8-8239-e103820deb73/nodes","items":[{"id":"266f3c8f-3dad-4ce5-8d28-0627f27b1706","type":"node","href":"https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/99bd9244-6d46-4cf8-8239-e103820deb73/nodes/266f3c8f-3dad-4ce5-8d28-0627f27b1706","metadata":{"etag":"b1d346890bf5f045ed6bab120cd34418","lastModifiedDate":"2021-05-24T13:42:01Z","state":"READY","createdDate":"2021-05-24T13:42:01Z","lastSoftwareUpdatedDate":"2021-05-24T13:27:40Z"},"properties":{"name":"puppet-module-test6fqfwdqwdqwdqwdwq5eh4d0ebc5ed-lvyqjp7ajj","k8sVersion":"1.18.9","publicIP":"158.222.102.251"}}]}'
  recorded_at: Wed, 26 May 2021 15:18:20 GMT
recorded_with: VCR 6.0.0
