---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s",
          "items" : [ {
            "id" : "54d08628-fdda-46aa-8719-f989fdf2501b",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/54d08628-fdda-46aa-8719-f989fdf2501b",
            "metadata" : {
              "etag" : "56922b72633e52165c83025eeaa0c8f7",
              "createdDate" : "2021-07-08T11:29:49Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-08T11:29:49Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "puppet_module_testb",
              "k8sVersion" : "1.18.5",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:55:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "apiSubnetAllowList" : null,
              "s3Buckets" : null,
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "54d08628-fdda-46aa-8719-f989fdf2501b/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/k8s/54d08628-fdda-46aa-8719-f989fdf2501b/nodepools",
                "items" : [ ]
              }
            }
          }, {
            "id" : "0120ae7e-2402-4a82-bc7d-9feb7ee5e254",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/0120ae7e-2402-4a82-bc7d-9feb7ee5e254",
           [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/54d08628-fdda-46aa-8719-f989fdf2501b/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "54d08628-fdda-46aa-8719-f989fdf2501b/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s/54d08628-fdda-46aa-8719-f989fdf2501b/nodepools",
          "items" : [ ]
        }
  recorded_at: Fri, 09 Jul 2021 09:50:24 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"f12d8bc7-7142-46d8-ab0c-77123944ff57/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57/nodes","items":[{"id":"26b7733c-5cac-492c-9c1d-12b2b220df1e","type":"node","href":"https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57/nodes/26b7733c-5cac-492c-9c1d-12b2b220df1e","metadata":{"etag":"d39a28dd0d096a1b0b016d299812349a","lastModifiedDate":"2021-07-09T09:38:57Z","state":"READY","createdDate":"2021-07-09T09:38:57Z","lastSoftwareUpdatedDate":"2021-07-09T09:38:54Z"},"properties":{"name":"puppet-module-test6f23424f343434345wfbc5ed-b6wbmtvk34","k8sVersion":"1.18.5","publicIP":"208.94.38.70"}}]}'
  recorded_at: Fri, 09 Jul 2021 09:50:26 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - fcb8ea35d78528a7c130d22367e24f23
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "7436b288-a16a-4a14-9b3f-607388e2590b",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b",
          "metadata" : {
            "etag" : "fcb8ea35d78528a7c130d22367e24f23",
            "createdDate" : "2021-07-09T09:38:05Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-09T09:38:57Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_tes24334gvg3v43vg4b390h30",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : 4,
            "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "mem-hot-plug", "private-loadbalancer" ],
            "secAuthProtection" : false,
            "cpuArchitecture" : [ {
              "cpuFamily" : "AMD_OPTERON",
              "vendor" : "AuthenticAMD",
              "maxCores" : 4,
              "maxRam" : 20480
            }, {
              "cpuFamily" : "INTEL_XEON",
              "vendor" : "GenuineIntel",
              "maxCores" : 4,
              "maxRam" : 20480
            } ]
          },
          "entities" : {
            "servers" : {
              "id" : "7436b288-a16a-4a14-9b3f-607388e2590b/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b/servers"
            },
            "volumes" : {
              "id" : "7436b288-a16a-4a14-9b3f-607388e2590b/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b/volumes"
            },
            "loadbalancers" : {
              "id" : "7436b288-a16a-4a14-9b3f-607388e2590b/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b/loadbalancers"
            },
            "lans" : {
              "id" : "7436b288-a16a-4a14-9b3f-607388e2590b/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b/lans"
            },
            "networkloadbalancers" : {
              "id" : "7436b288-a16a-4a14-9b3f-607388e2590b/networkloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b/networkloadbalancers"
            },
            "applicationloadbalancers" : {
              "id" : "7436b288-a16a-4a14-9b3f-607388e2590b/applicationloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b/applicationloadbalancers"
            },
            "natgateways" : {
              "id" : "7436b288-a16a-4a14-9b3f-607388e2590b/natgateways",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/7436b288-a16a-4a14-9b3f-607388e2590b/natgateways"
            }
          }
        }
  recorded_at: Fri, 09 Jul 2021 09:50:26 GMT
- request:
    method: put
    uri: https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57
    body:
      encoding: UTF-8
      string: '{"properties":{"nodeCount":1,"k8sVersion":"1.18.9","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"14:52:00Z"},"autoScaling":{"minNodeCount":1,"maxNodeCount":2},"lans":[{"id":1}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 7136a14dfc8d7af0aacc89f14baa59b7
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f12d8bc7-7142-46d8-ab0c-77123944ff57",
          "type" : "nodepool",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57",
          "metadata" : {
            "etag" : "7136a14dfc8d7af0aacc89f14baa59b7",
            "createdDate" : "2021-07-09T09:38:15Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-09T09:50:29Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "UPDATING"
          },
          "properties" : {
            "name" : "puppet_module_test6f23424f343434345wfbc5ed",
            "datacenterId" : "7436b288-a16a-4a14-9b3f-607388e2590b",
            "nodeCount" : 1,
            "cpuFamily" : "INTEL_XEON",
            "coresCount" : 1,
            "ramSize" : 2048,
            "availabilityZone" : "AUTO",
            "storageType" : "SSD",
            "storageSize" : 10,
            "k8sVersion" : "1.18.9",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Sunday",
              "time" : "14:52:00Z"
            },
            "autoScaling" : {
              "minNodeCount" : 1,
              "maxNodeCount" : 2
            },
            "lans" : [ {
              "id" : 1,
              "dhcp" : null,
              "routes" : null
            } ],
            "labels" : { },
            "annotations" : { },
            "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18" ],
            "publicIps" : null
          }
        }
  recorded_at: Fri, 09 Jul 2021 09:50:29 GMT
[...]
