---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s",
          "items" : [ {
            "id" : "a7dde25c-4304-4356-8259-2f2f246fdaa2",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/a7dde25c-4304-4356-8259-2f2f246fdaa2",
            "metadata" : {
              "etag" : "a9ad42d75a0087f39eff2d4c4c714099",
              "createdDate" : "2021-04-29T09:03:33Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-29T09:03:33Z",
              "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "puppet_module_test",
              "k8sVersion" : "1.18.15",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:53:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.16", "1.19.8" ],
              "viableNodePoolVersions" : [ "1.18.16", "1.18.15", "1.18.12", "1.18.5", "1.18.9" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "a7dde25c-4304-4356-8259-2f2f246fdaa2/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/a7dde25c-4304-4356-8259-2f2f246fdaa2/nodepools",
                "items" : [ ]
              }
            }
          }, {
            "id" : "11542490-57e3-4995-9335-c84368b12b63",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/11542490-57e3-4995-9335-c84368b12b63",
           [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - c7dc26812200cb2bbf0352a363a5df7e
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
          "metadata" : {
            "etag" : "c7dc26812200cb2bbf0352a363a5df7e",
            "createdDate" : "2021-04-12T07:47:28Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-29T09:02:36Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "myDataCenter2",
            "description" : null,
            "location" : "us/las",
            "version" : 79,
            "features" : [ "SSD" ],
            "secAuthProtection" : false
          },
          "entities" : {
            "servers" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/servers"
            },
            "volumes" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/volumes"
            },
            "loadbalancers" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/loadbalancers"
            },
            "lans" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/lans"
            }
          }
        }
  recorded_at: Thu, 29 Apr 2021 09:13:49 GMT
- request:
    method: put
    uri: https://api.ionos.com/cloudapi/v5/k8s/11542490-57e3-4995-9335-c84368b12b63
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test","k8sVersion":"1.18.16","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"14:54:00Z"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      -[...]
[...]
