---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4e5fae1552ebbfdac98b3732364593a8
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "8de02f04-7e07-4150-a81b-136be2be7b24",
          "type" : "k8s",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24",
          "metadata" : {
            "etag" : "4e5fae1552ebbfdac98b3732364593a8",
            "createdDate" : "2021-05-24T11:32:22Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T11:32:22Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "ACTIVE"
          },
          "properties" : {
            "name" : "puppet_module_testa",
            "k8sVersion" : "1.18.5",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Saturday",
              "time" : "17:25:22Z"
            },
            "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
            "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
            "public" : true
          },
          "entities" : {
            "nodepools" : {
              "id" : "8de02f04-7e07-4150-a81b-136be2be7b24/nodepools",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools"
            }
          }
        }
  recorded_at: Fri, 28 May 2021 09:27:14 GMT
recorded_with: VCR 6.0.0
