---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools/879dc8d2-e1a7-4c6f-8933-f07cad587337
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"879dc8d2-e1a7-4c6f-8933-f07cad587337","type":"nodepool","href":"https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools/879dc8d2-e1a7-4c6f-8933-f07cad587337","metadata":{"etag":"e71aa6f6a81717f7fc0b393e9057f3eb","createdDate":"2021-07-30T14:39:53Z","createdBy":"username","createdByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0","lastModifiedDate":"2021-07-30T14:54:01Z","lastModifiedBy":"username","lastModifiedByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0","state":"ACTIVE"},"properties":{"name":"puppet_module_test6f234qfwqfqfqfqwfqfwfbc5ed","datacenterId":"19a7b582-967c-4b9e-8918-505fba8e1f25","nodeCount":1,"cpuFamily":"INTEL_SKYLAKE","coresCount":1,"ramSize":2048,"availabilityZone":"AUTO","storageType":"SSD","storageSize":10,"k8sVersion":"1.18.9","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"14:53:00Z"},"autoScaling":{"minNodeCount":1,"maxNodeCount":2},"lans":[{"id":1,"dhcp":true,"routes":null}],"labels":{},"annotations":{},"availableUpgradeVersions":["1.18.12","1.18.20"],"publicIps":[]}}'
  recorded_at: Fri, 30 Jul 2021 15:08:25 GMT
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools/879dc8d2-e1a7-4c6f-8933-f07cad587337
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 30 Jul 2021 15:08:26 GMT
recorded_with: VCR 6.0.0
