---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - b06a1af2b4bc791ff13995fc11e03cc4
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7f15fe31-f8b9-4ebf-a092-91abc67cda4d",
          "type" : "k8s",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d",
          "metadata" : {
            "etag" : "b06a1af2b4bc791ff13995fc11e03cc4",
            "createdDate" : "2021-05-24T13:13:07Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T13:13:07Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "ACTIVE"
          },
          "properties" : {
            "name" : "puppet_module_testc",
            "k8sVersion" : "1.18.5",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Sunday",
              "time" : "04:52:07Z"
            },
            "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
            "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
            "public" : true
          },
          "entities" : {
            "nodepools" : {
              "id" : "7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 13:59:47 GMT
recorded_with: VCR 6.0.0
