---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/k8s
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfqfqwfddsgh5eh4d0ebc5ed","k8sVersion":"1.18.5","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"14:53:00Z"},"public":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 319e70eb6f592caaca3c962bdcb213ef
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/a22609a4-3c30-41b0-8e71-e396a64f78b1/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d8bedf22-9d54-4960-873c-3d9f8eb072a5",
          "type" : "k8s",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5",
          "metadata" : {
            "etag" : "319e70eb6f592caaca3c962bdcb213ef",
            "createdDate" : "2021-05-21T15:03:15Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:03:15Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "DEPLOYING"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqfqwfddsgh5eh4d0ebc5ed",
            "k8sVersion" : "1.18.5",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Sunday",
              "time" : "14:53:00Z"
            },
            "availableUpgradeVersions" : null,
            "viableNodePoolVersions" : null,
            "public" : true
          }
        }
  recorded_at: Fri, 21 May 2021 15:03:16 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/a22609a4-3c30-41b0-8e71-e396a64f78b1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a22609a4-3c30-41b0-8e71-e396a64f78b1/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/a22609a4-3c30-41b0-8e71-e396a64f78b1/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "9c0399a7-5e19-471d-89a0-befc15d0324c",
                "type" : "k8s",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/9c0399a7-5e19-471d-89a0-befc15d0324c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:03:16 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - c32a574aa4b4e0987e46c710d7a212e1
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-L[...]
