---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s",
          "items" : [ {
            "id" : "d60c72f5-d505-4922-bcf3-2e97d29850c6",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/d60c72f5-d505-4922-bcf3-2e97d29850c6",
            "metadata" : {
              "etag" : "fe93e5ad060c3d2c8ab7d2af78a2818d",
              "createdDate" : "2021-05-21T15:08:35Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T15:08:35Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "DEPLOYING"
            },
            "properties" : {
              "name" : "puppet_module_test6fqdqwdqwdqwd5eh4d0ebc5ed",
              "k8sVersion" : "1.18.5",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:54:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "d60c72f5-d505-4922-bcf3-2e97d29850c6/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/d60c72f5-d505-4922-bcf3-2e97d29850c6/nodepools",
                "items" : [ ]
              }
            }
          }, {
            "id" : "d8bedf22-9d54-4960-873c-3d9f8eb072a5",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5",
           [...]
