---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"f12d8bc7-7142-46d8-ab0c-77123944ff57","type":"nodepool","href":"https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57","metadata":{"etag":"dc061feb22c2268616099500450eb607","createdDate":"2021-07-09T09:38:15Z","createdBy":"username","createdByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0","lastModifiedDate":"2021-07-09T09:50:29Z","lastModifiedBy":"username","lastModifiedByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0","state":"ACTIVE"},"properties":{"name":"puppet_module_test6f23424f343434345wfbc5ed","datacenterId":"7436b288-a16a-4a14-9b3f-607388e2590b","nodeCount":1,"cpuFamily":"INTEL_XEON","coresCount":1,"ramSize":2048,"availabilityZone":"AUTO","storageType":"SSD","storageSize":10,"k8sVersion":"1.18.9","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"14:52:00Z"},"autoScaling":{"minNodeCount":1,"maxNodeCount":2},"lans":[{"id":1,"dhcp":true,"routes":null}],"labels":{},"annotations":{},"availableUpgradeVersions":["1.18.12","1.18.18"],"publicIps":[]}}'
  recorded_at: Fri, 09 Jul 2021 10:04:21 GMT
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/f12d8bc7-7142-46d8-ab0c-77123944ff57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 09 Jul 2021 10:04:22 GMT
recorded_with: VCR 6.0.0
