---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s",
          "items" : [ {
            "id" : "bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9",
            "metadata" : {
              "etag" : "ded7f77b958e09bc232ed0c7774eb42d",
              "createdDate" : "2021-07-12T10:40:13Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T10:40:13Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "puppet_module_testa",
              "k8sVersion" : "1.18.9",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Saturday",
                "time" : "23:53:13Z"
              },
              "availableUpgradeVersions" : [ "1.18.12", "1.18.20", "1.19.10", "1.19.12" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.20" ],
              "apiSubnetAllowList" : null,
              "s3Buckets" : null,
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools",
                "items" : [ {
                  "id" : "879dc8d2-e1a7-4c6f-8933-f07cad587337",
                  "type" : "nodepool",
                  "href" : "https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools/879dc8d2-e1a7-4c6f-8933-f07cad587337",
                  "metadata" : {
                    "etag" : "15ddc8f368d5c010186d4afc50153400",
                    "createdDate" : "2021-07-30T14:39:53Z",
                    "createdBy" : "username",
                    "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
                    "lastModifiedDate" : "2021-07-30T14:39:53Z",
                    "lastModifiedBy" : "username",
                    "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
                    "state" : "ACTIVE"
                  },
                  "properties" : {
                    "name" : "puppet_module_test6f234qfwqfqfqfqwfqfwfbc5ed",
                    "datacenterId" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
                    "nodeCount" : 1,
                    "cpuFamily" : "INTEL_SKYLAKE",
                    "coresCount" : 1,
                    "ramSize" : 2048,
                    "availabilityZone" : "AUTO",
                    "storageType" : "SSD",
                    "storageSize" : 10,
                    "k8sVersion" : "1.18.5",
                    "maintenanceWindow" : {
                      "dayOfTheWeek" : "Sunday",
                      "time" : "14:53:00Z"
                    },
                    "autoScaling" : {
                      "minNodeCount" : 1,
                      "maxNodeCount" : 2
                    },
                    "lans" : [ ],
                    "labels" : { },
                    "annotations" : { },
                    "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.20" ],
                    "publicIps" : null
                  }
                } ]
              }
            }
          } ]
        }
  recorded_at: Fri, 30 Jul 2021 14:53:56 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rateli[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools/879dc8d2-e1a7-4c6f-8933-f07cad587337/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"879dc8d2-e1a7-4c6f-8933-f07cad587337/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools/879dc8d2-e1a7-4c6f-8933-f07cad587337/nodes","items":[{"id":"d93f0cfe-9ae6-4462-8dc8-894842d7e96b","type":"node","href":"https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools/879dc8d2-e1a7-4c6f-8933-f07cad587337/nodes/d93f0cfe-9ae6-4462-8dc8-894842d7e96b","metadata":{"etag":"c523780a8462e7b590209790a58d3663","lastModifiedDate":"2021-07-30T14:40:38Z","state":"READY","createdDate":"2021-07-30T14:40:38Z","lastSoftwareUpdatedDate":"2021-07-30T14:40:34Z"},"properties":{"name":"puppet-module-test6f234qfwqfqfqfqwfqfwfbc5ed-wdkjeny4sh","k8sVersion":"1.18.5","publicIP":"85.215.233.17"}}]}'
  recorded_at: Fri, 30 Jul 2021 14:53:57 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 7214dcc6e4b7d79371d1986921371b66
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25",
          "metadata" : {
            "etag" : "7214dcc6e4b7d79371d1986921371b66",
            "createdDate" : "2021-07-30T13:33:56Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T14:40:38Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_tes24334qwfqfwqfwqfqwfqg4b390h30",
            "description" : "Puppet Module test description",
            "location" : "de/txl",
            "version" : 10,
            "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
            "secAuthProtection" : false,
            "cpuArchitecture" : [ {
              "cpuFamily" : "INTEL_SKYLAKE",
              "vendor" : "GenuineIntel",
              "maxCores" : 4,
              "maxRam" : 20480
            } ]
          },
          "entities" : {
            "servers" : {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/servers"
            },
            "volumes" : {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/volumes"
            },
            "loadbalancers" : {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/loadbalancers"
            },
            "lans" : {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/lans"
            },
            "applicationloadbalancers" : {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/applicationloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/applicationloadbalancers"
            },
            "networkloadbalancers" : {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/networkloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/networkloadbalancers"
            },
            "natgateways" : {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25/natgateways",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25/natgateways"
            }
          }
        }
  recorded_at: Fri, 30 Jul 2021 14:53:57 GMT
recorded_with: VCR 6.0.0
