---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s",
          "items" : [ {
            "id" : "7f15fe31-f8b9-4ebf-a092-91abc67cda4d",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d",
            "metadata" : {
              "etag" : "b06a1af2b4bc791ff13995fc11e03cc4",
              "createdDate" : "2021-05-24T13:13:07Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-24T13:13:07Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "puppet_module_testc",
              "k8sVersion" : "1.18.5",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "04:52:07Z"
              },
              "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools",
                "items" : [ {
                  "id" : "244c2ffe-aa77-4bdd-98d8-db0cea41ee91",
                  "type" : "nodepool",
                  "href" : "https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools/244c2ffe-aa77-4bdd-98d8-db0cea41ee91",
                  "metadata" : {
                    "etag" : "612003131b8b4e89df138cec47330c64",
                    "createdDate" : "2021-05-24T13:47:07Z",
                    "createdBy" : "username",
                    "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
                    "lastModifiedDate" : "2021-05-24T13:47:07Z",
                    "lastModifiedBy" : "username",
                    "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
                    "state" : "ACTIVE"
                  },
                  "properties" : {
                    "name" : "puppet_module_test6fqfwdqwdqwdqwdwq5eh4d0ebc5ed",
                    "datacenterId" : "ba825e75-3bea-4cf5-af27-e537219a4226",
                    "nodeCount" : 1,
                    "cpuFamily" : "INTEL_XEON",
                    "coresCount" : 1,
                    "ramSize" : 2048,
                    "availabilityZone" : "AUTO",
                    "storageType" : "SSD",
                    "storageSize" : 10,
                    "k8sVersion" : "1.18.5",
                    "maintenanceWindow" : {
                      "dayOfTheWeek" : "Sunday",
                      "time" : "14:52:00Z"
                    },
                    "autoScaling" : {
                      "minNodeCount" : 1,
                      "maxNodeCount" : 2
                    },
                    "lans" : [ ],
                    "labels" : { },
                    "annotations" : { },
                    "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18" ],
                    "publicIps" : null
                  }
                } ]
              }
            }
          }, {
            "id" : "b69a49c7-ba45-4ebb-833d-26ca7b3864ea",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/b69a49c7-ba45-4ebb-833d-26ca7b3864ea",
            "metadata" : {
              "etag" : "fb61f81240506dea4f32ec7b9aa5a1e1",
              "createdDate" : "2021-05-24T11:43:50Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rateli[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools/244c2ffe-aa77-4bdd-98d8-db0cea41ee91/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"244c2ffe-aa77-4bdd-98d8-db0cea41ee91/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools/244c2ffe-aa77-4bdd-98d8-db0cea41ee91/nodes","items":[{"id":"3cbe06e2-7b7a-474b-8eb6-871f6867d44a","type":"node","href":"https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools/244c2ffe-aa77-4bdd-98d8-db0cea41ee91/nodes/3cbe06e2-7b7a-474b-8eb6-871f6867d44a","metadata":{"etag":"d2e0f3a62076894fe621e9bef00c94ea","lastModifiedDate":"2021-05-24T13:47:55Z","state":"READY","createdDate":"2021-05-24T13:47:55Z","lastSoftwareUpdatedDate":"2021-05-24T13:47:52Z"},"properties":{"name":"puppet-module-test6fqfwdqwdqwdqwdwq5eh4d0ebc5ed-2tfgdaiwfc","k8sVersion":"1.18.5","publicIP":"162.254.26.135"}}]}'
  recorded_at: Mon, 24 May 2021 13:59:37 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8dd8efd839841ff8dcd0b5f9f9704bc4
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ba825e75-3bea-4cf5-af27-e537219a4226",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226",
          "metadata" : {
            "etag" : "8dd8efd839841ff8dcd0b5f9f9704bc4",
            "createdDate" : "2021-05-24T13:46:58Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T13:47:55Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test23523f23f2g2g23g323f3h4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : 4,
            "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
            "secAuthProtection" : false
          },
          "entities" : {
            "servers" : {
              "id" : "ba825e75-3bea-4cf5-af27-e537219a4226/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226/servers"
            },
            "volumes" : {
              "id" : "ba825e75-3bea-4cf5-af27-e537219a4226/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226/volumes"
            },
            "loadbalancers" : {
              "id" : "ba825e75-3bea-4cf5-af27-e537219a4226/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226/loadbalancers"
            },
            "lans" : {
              "id" : "ba825e75-3bea-4cf5-af27-e537219a4226/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226/lans"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 13:59:37 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools/244c2ffe-aa77-4bdd-98d8-db0cea41ee91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"244c2ffe-a[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/383a718a-a737-452b-a82d-397f8e46030b/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "383a718a-a737-452b-a82d-397f8e46030b/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/383a718a-a737-452b-a82d-397f8e46030b/nodepools",
          "items" : [ ]
        }
  recorded_at: Mon, 24 May 2021 13:59:46 GMT
recorded_with: VCR 6.0.0
