---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s",
          "items" : [ {
            "id" : "7f15fe31-f8b9-4ebf-a092-91abc67cda4d",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d",
            "metadata" : {
              "etag" : "b06a1af2b4bc791ff13995fc11e03cc4",
              "createdDate" : "2021-05-24T13:13:07Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-24T13:13:07Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "puppet_module_testc",
              "k8sVersion" : "1.18.5",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "04:52:07Z"
              },
              "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d/nodepools",
                "items" : [ ]
              }
            }
          }, {
            "id" : "b69a49c7-ba45-4ebb-833d-26ca7b3864ea",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/b69a49c7-ba45-4ebb-833d-26ca7b3864ea",
           [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 239332c4d5efa125899bb0b4c7ffc3c8
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8",
          "metadata" : {
            "etag" : "239332c4d5efa125899bb0b4c7ffc3c8",
            "createdDate" : "2021-05-24T12:48:49Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T13:42:01Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test64s56bedyeye5u5ygh5eh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : 12,
            "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
            "secAuthProtection" : false
          },
          "entities" : {
            "servers" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/servers"
            },
            "volumes" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/volumes"
            },
            "loadbalancers" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/loadbalancers"
            },
            "lans" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/lans"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 13:46:57 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/7f15fe31-f8b9-4ebf-a092-91abc67cda4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - b06a1af2b4bc791ff13995fc11e03cc4
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-L[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test23523f23f2g2g23g323f3h4d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4070a711f4477ebe9ab6fff59e309763
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/aac5874b-5284-4661-8f0b-49e1348c92ba/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ba825e75-3bea-4cf5-af27-e537219a4226",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226",
          "metadata" : {
            "etag" : "4070a711f4477ebe9ab6fff59e309763",
            "createdDate" : "2021-05-24T13:46:58Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T13:46:58Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test23523f23f2g2g23g323f3h4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Mon, 24 May 2021 13:46:58 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/aac5874b-5284-4661-8f0b-49e1348c92ba/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "aac5874b-5284-4661-8f0b-49e1348c92ba/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/aac5874b-5284-4661-8f0b-49e1348c92ba/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "ba825e75-3bea-4cf5-af27-e537219a4226",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 13:46:58 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfdqdqwdqwdqh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/95e28bc8-84f8-40a4-828d-5d1109e79e14/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "95e28bc8-84f8-40a4-828d-5d1109e79e14/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/95e28bc8-84f8-40a4-828d-5d1109e79e14/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba825e75-3bea-4cf5-af27-e537219a4226/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 13:47:04 GMT
recorded_with: VCR 6.0.0
