---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s",
          "items" : [ {
            "id" : "41e2e40e-3aae-4b55-bea3-b0735b7dcd3e",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e",
            "metadata" : {
              "etag" : "4cca5124488b240b256b38f5e08b552c",
              "createdDate" : "2021-05-05T08:14:36Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-05T09:35:58Z",
              "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "myCluster",
              "k8sVersion" : "1.18.15",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:53:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools",
                "items" : [ ]
              }
            }
          }, {
            "id" : "70bc27ac-ce33-41cb-bf7c-234d49a0b5bb",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb",
           [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools",
          "items" : [ ]
        }
  recorded_at: Thu, 06 May 2021 08:33:52 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb/nodepools/8fd64795-ff7d-48ed-b4ae-e59486c7b3af/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"8fd64795-ff7d-48ed-b4ae-e59486c7b3af/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb/nodepools/8fd64795-ff7d-48ed-b4ae-e59486c7b3af/nodes","items":[{"id":"90a5c7f3-c37b-4a0a-87d2-89dacabbb0ce","type":"node","href":"https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb/nodepools/8fd64795-ff7d-48ed-b4ae-e59486c7b3af/nodes/90a5c7f3-c37b-4a0a-87d2-89dacabbb0ce","metadata":{"etag":"859313ec9336e6190ce50069238020af","lastModifiedDate":"2021-05-06T07:21:34.657Z","state":"READY","createdDate":"2021-05-06T07:21:34.657Z","lastSoftwareUpdatedDate":"2021-05-06T07:21:28Z"},"properties":{"name":"nodepool-test3-ox2qwximyb","k8sVersion":"1.18.5","publicIP":"162.254.24.101"}}]}'
  recorded_at: Thu, 06 May 2021 08:33:52 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - f257ec1390859e2201f072ecab4b0bbf
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
          "metadata" : {
            "etag" : "f257ec1390859e2201f072ecab4b0bbf",
            "createdDate" : "2021-04-12T07:47:28Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-06T08:31:45Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "myDataCenter2",
            "description" : null,
            "location" : "us/las",
            "version" : 104,
            "features" : [ "SSD" ],
            "secAuthProtection" : false
          },
          "entities" : {
            "servers" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/servers"
            },
            "volumes" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/volumes"
            },
            "loadbalancers" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/loadbalancers"
            },
            "lans" : {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7/lans"
            }
          }
        }
  recorded_at: Thu, 06 May 2021 08:33:53 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/34bc969d-565b-4e1e-9cde-3c9c9eaee7b0/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "34bc969d-565b-4e1e-9cde-3c9c9eaee7b0/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/34bc969d-565b-4e1e-9cde-3c9c9eaee7b0/nodepools",
          "items" : [ ]
        }
  recorded_at: Thu, 06 May 2021 08:33:54 GMT
recorded_with: VCR 6.0.0
