---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/k8s/11542490-57e3-4995-9335-c84368b12b63/nodepools/0c9573b6-2789-4810-ac9c-9e10cb35cdd3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 May 2021 09:31:53 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/11542490-57e3-4995-9335-c84368b12b63/nodepools/0c9573b6-2789-4810-ac9c-9e10cb35cdd3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4c0c76162f358007fcb7a0b9ef1bc705
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "0c9573b6-2789-4810-ac9c-9e10cb35cdd3",
          "type" : "nodepool",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/11542490-57e3-4995-9335-c84368b12b63/nodepools/0c9573b6-2789-4810-ac9c-9e10cb35cdd3",
          "metadata" : {
            "etag" : "4c0c76162f358007fcb7a0b9ef1bc705",
            "createdDate" : "2021-05-06T08:22:53Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-06T08:45:49Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "DESTROYING"
          },
          "properties" : {
            "name" : "puppet_module_test",
            "datacenterId" : "f5c500ca-9a5e-419a-8f19-a3e1c5f44981",
            "nodeCount" : 0,
            "cpuFamily" : "INTEL_SKYLAKE",
            "coresCount" : 1,
            "ramSize" : 2048,
            "availabilityZone" : "AUTO",
            "storageType" : "SSD",
            "storageSize" : 10,
            "k8sVersion" : "1.18.9",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Sunday",
              "time" : "14:52:00Z"
            },
            "autoScaling" : {
              "minNodeCount" : 1,
              "maxNodeCount" : 2
            },
            "lans" : [ {
              "id" : 3
            } ],
            "labels" : { },
            "annotations" : { },
            "availableUpgradeVersions" : [ "1.18.12", "1.18.18" ],
            "publicIps" : null
          }
        }
  recorded_at: Thu, 06 May 2021 09:31:54 GMT
recorded_with: VCR 6.0.0
