---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s",
          "items" : [ {
            "id" : "47d4cbde-e8cc-4876-9d0f-dbbf9870c30f",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f",
            "metadata" : {
              "etag" : "91c442c7ca6008f37be24c820ff9745e",
              "createdDate" : "2021-05-26T14:40:21Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-26T14:40:21Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "puppet_module_testc",
              "k8sVersion" : "1.18.5",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:54:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "47d4cbde-e8cc-4876-9d0f-dbbf9870c30f/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f/nodepools",
                "items" : [ {
                  "id" : "6bfa96fb-27db-4b97-b67d-1e2f072bc4c8",
                  "type" : "nodepool",
                  "href" : "https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f/nodepools/6bfa96fb-27db-4b97-b67d-1e2f072bc4c8",
                  "metadata" : {
                    "etag" : "e89b098e72aa0dff792f9c57e818b90d",
                    "createdDate" : "2021-05-28T08:43:43Z",
                    "createdBy" : "username",
                    "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
                    "lastModifiedDate" : "2021-05-28T08:56:46Z",
                    "lastModifiedBy" : "username",
                    "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
                    "state" : "ACTIVE"
                  },
                  "properties" : {
                    "name" : "puppet_module_test6fqfwdqwdqwdqwdwq5eh4d0ebc5ed",
                    "datacenterId" : "082c4ae3-324d-4bbb-9404-5bc025815ba6",
                    "nodeCount" : 1,
                    "cpuFamily" : "INTEL_XEON",
                    "coresCount" : 1,
                    "ramSize" : 2048,
                    "availabilityZone" : "AUTO",
                    "storageType" : "SSD",
                    "storageSize" : 10,
                    "k8sVersion" : "1.18.5",
                    "maintenanceWindow" : {
                      "dayOfTheWeek" : "Sunday",
                      "time" : "14:53:00Z"
                    },
                    "autoScaling" : {
                      "minNodeCount" : 1,
                      "maxNodeCount" : 2
                    },
                    "lans" : [ {
                      "id" : 1,
                      "dhcp" : true,
                      "routes" : null
                    } ],
                    "labels" : { },
                    "annotations" : { },
                    "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18" ],
                    "publicIps" : null
                  }
                } ]
              }
            }
          }, {
            "id" : "8de02f04-7e07-4150-a81b-136be2be7b24",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24",
            "metadata" : {
              "etag" : "4e5fae1552ebbfdac98b3732364593a8",
              "createdDate" : "2021-05-24T11:32:22Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rateli[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f/nodepools/6bfa96fb-27db-4b97-b67d-1e2f072bc4c8/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"6bfa96fb-27db-4b97-b67d-1e2f072bc4c8/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f/nodepools/6bfa96fb-27db-4b97-b67d-1e2f072bc4c8/nodes","items":[{"id":"12290864-50ff-44cb-aa1e-60d6874a86fe","type":"node","href":"https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f/nodepools/6bfa96fb-27db-4b97-b67d-1e2f072bc4c8/nodes/12290864-50ff-44cb-aa1e-60d6874a86fe","metadata":{"etag":"357d48e0d0909192af6a543ce5754c04","lastModifiedDate":"2021-05-28T08:57:01Z","state":"READY","createdDate":"2021-05-28T08:57:01Z","lastSoftwareUpdatedDate":"2021-05-28T08:56:57Z"},"properties":{"name":"puppet-module-test6fqfwdqwdqwdqwdwq5eh4d0ebc5ed-3oqxek5ajp","k8sVersion":"1.18.5","publicIP":"158.222.102.186"}}]}'
  recorded_at: Fri, 28 May 2021 09:26:43 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - b658880cd217370ddb6b0dbc4d32d052
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6",
          "metadata" : {
            "etag" : "b658880cd217370ddb6b0dbc4d32d052",
            "createdDate" : "2021-05-28T08:43:34Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-28T09:08:59Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test23eh4j56qfwqfqfqwfqw32f3h4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : 7,
            "features" : [ "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "nic-hot-plug", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cpu-hot-plug", "mem-hot-plug", "private-loadbalancer" ],
            "secAuthProtection" : false,
            "cpuArchitecture" : [ {
              "cpuFamily" : "AMD_OPTERON",
              "vendor" : "AuthenticAMD",
              "maxCores" : 4,
              "maxRam" : 20480
            }, {
              "cpuFamily" : "INTEL_XEON",
              "vendor" : "GenuineIntel",
              "maxCores" : 4,
              "maxRam" : 20480
            } ]
          },
          "entities" : {
            "servers" : {
              "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6/servers"
            },
            "volumes" : {
              "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6/volumes"
            },
            "loadbalancers" : {
              "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6/loadbalancers"
            },
            "lans" : {
              "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6/lans"
            },
            "networkloadbalancers" : {
              "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6/networkloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6/networkloadbalancers"
            },
            "applicationloadbalancers" : {
              "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6/applicationloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6/applicationloadbalancers"
            },
            "natgateways" : {
              "id" : "082c4ae3-324d-4bbb-9404-5bc025815ba6/natgateways",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/082c4ae3-324d-4bbb-9404-5bc025815ba6/natgateways"
            }
          }
        }
  recorded_at: Fri, 28 May 2021 09:26:43 GMT
[...]
