---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/k8s
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6fqfwqfqfqwfddsgh5eh4d0ebc5ed","k8sVersion":"1.18.5","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"14:53:00Z"},"public":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d112a11ad46ef9bfecaff8afbdf80725
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/1d403a4f-d852-468f-b65c-06450217dbc4/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ba266732-4619-452b-bbe5-601c13db7e10",
          "type" : "k8s",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10",
          "metadata" : {
            "etag" : "d112a11ad46ef9bfecaff8afbdf80725",
            "createdDate" : "2021-05-26T15:06:24Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-26T15:06:24Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "DEPLOYING"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqfqwfddsgh5eh4d0ebc5ed",
            "k8sVersion" : "1.18.5",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Sunday",
              "time" : "14:53:00Z"
            },
            "availableUpgradeVersions" : null,
            "viableNodePoolVersions" : null,
            "public" : true
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:25 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/1d403a4f-d852-468f-b65c-06450217dbc4/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1d403a4f-d852-468f-b65c-06450217dbc4/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/1d403a4f-d852-468f-b65c-06450217dbc4/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4ca31ea0-75e6-417e-841a-de8676b3e0a3",
                "type" : "k8s",
                "href" : "https://api.ionos.com/cloudapi/v6/k8s/4ca31ea0-75e6-417e-841a-de8676b3e0a3"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:06:25 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - e666b89cb902cb5e7e0f455cc659ac0b
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-L[...]
