---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s",
          "items" : [ {
            "id" : "41e2e40e-3aae-4b55-bea3-b0735b7dcd3e",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e",
            "metadata" : {
              "etag" : "4cca5124488b240b256b38f5e08b552c",
              "createdDate" : "2021-05-05T08:14:36Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-05T09:35:58Z",
              "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "myCluster",
              "k8sVersion" : "1.18.15",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:53:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools"
              }
            }
          }, {
            "id" : "70bc27ac-ce33-41cb-bf7c-234d49a0b5bb",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb",
            "metadata" : {
              "[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/41e2e40e-3aae-4b55-bea3-b0735b7dcd3e/nodepools",
          "items" : [ ]
        }
  recorded_at: Thu, 06 May 2021 07:33:05 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb/nodepools/7cfcb497-0143-48a6-93a3-3423330c434d/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"7cfcb497-0143-48a6-93a3-3423330c434d/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb/nodepools/7cfcb497-0143-48a6-93a3-3423330c434d/nodes","items":[{"id":"7f63a11d-70dd-494b-bc18-6e70cdfb4a6c","type":"node","href":"https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb/nodepools/7cfcb497-0143-48a6-93a3-3423330c434d/nodes/7f63a11d-70dd-494b-bc18-6e70cdfb4a6c","metadata":{"etag":"4387f9bc6396b0621f8401ae795bbbd0","lastModifiedDate":"2021-05-06T06:56:02.557Z","state":"REBUILDING","createdDate":"2021-05-06T06:56:02.557Z","lastSoftwareUpdatedDate":"2021-05-06T06:55:57Z"},"properties":{"name":"nodepool-test2-n3a3hsw54z","k8sVersion":"1.18.9","publicIP":"208.94.38.49"}},{"id":"9e1f9e64-f6d3-4967-9ea2-1a1be7a01b17","type":"node","href":"https://api.ionos.com/cloudapi/v5/k8s/70bc27ac-ce33-41cb-bf7c-234d49a0b5bb/nodepools/7cfcb497-0143-48a6-93a3-3423330c434d/nodes/9e1f9e64-f6d3-4967-9ea2-1a1be7a01b17","metadata":{"etag":"859313ec9336e6190ce50069238020af","lastModifiedDate":"2021-05-06T07:21:34.657Z","state":"PROVISIONED","createdDate":"2021-05-06T07:21:34.657Z","lastSoftwareUpdatedDate":"2000-01-01T00:00:00Z"},"properties":{"name":"nodepool-test2-uukapkxcbp","k8sVersion":"1.18.9","publicIP":"208.94.38.60"}}]}'
  recorded_at: Thu, 06 May 2021 07:33:08 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/34bc969d-565b-4e1e-9cde-3c9c9eaee7b0/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "34bc969d-565b-4e1e-9cde-3c9c9eaee7b0/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/34bc969d-565b-4e1e-9cde-3c9c9eaee7b0/nodepools",
          "items" : [ ]
        }
  recorded_at: Thu, 06 May 2021 07:33:10 GMT
recorded_with: VCR 6.0.0
