---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s",
          "items" : [ {
            "id" : "ba266732-4619-452b-bbe5-601c13db7e10",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10",
            "metadata" : {
              "etag" : "e666b89cb902cb5e7e0f455cc659ac0b",
              "createdDate" : "2021-05-26T15:06:24Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-26T15:06:24Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "puppet_module_test6fqfwqfqfqwfddsgh5eh4d0ebc5ed",
              "k8sVersion" : "1.18.5",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Sunday",
                "time" : "14:53:00Z"
              },
              "availableUpgradeVersions" : [ "1.18.9", "1.18.12", "1.18.18", "1.19.10" ],
              "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "ba266732-4619-452b-bbe5-601c13db7e10/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/k8s/ba266732-4619-452b-bbe5-601c13db7e10/nodepools",
                "items" : [ ]
              }
            }
          }, {
            "id" : "47d4cbde-e8cc-4876-9d0f-dbbf9870c30f",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v6/k8s/47d4cbde-e8cc-4876-9d0f-dbbf9870c30f",
           [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 88052f1c53278f144c522e0c58889a83
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8",
          "metadata" : {
            "etag" : "88052f1c53278f144c522e0c58889a83",
            "createdDate" : "2021-05-24T12:48:49Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T14:09:21Z",
            "lastModifiedBy" : "[UNKNOWN]",
            "lastModifiedByUserId" : "[UNKNOWN]",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test64s56bedyeye5u5ygh5eh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : 16,
            "features" : [ "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "nic-hot-plug", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cpu-hot-plug", "mem-hot-plug", "private-loadbalancer" ],
            "secAuthProtection" : false,
            "cpuArchitecture" : [ {
              "cpuFamily" : "AMD_OPTERON",
              "vendor" : "AuthenticAMD",
              "maxCores" : 4,
              "maxRam" : 20480
            }, {
              "cpuFamily" : "INTEL_XEON",
              "vendor" : "GenuineIntel",
              "maxCores" : 4,
              "maxRam" : 20480
            } ]
          },
          "entities" : {
            "servers" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/servers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/servers"
            },
            "volumes" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/volumes"
            },
            "loadbalancers" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/loadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/loadbalancers"
            },
            "lans" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/lans",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/lans"
            },
            "networkloadbalancers" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/networkloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/networkloadbalancers"
            },
            "applicationloadbalancers" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/applicationloadbalancers",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/applicationloadbalancers"
            },
            "natgateways" : {
              "id" : "be9e5eec-c005-4c9a-baca-d6e9987fc8b8/natgateways",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/be9e5eec-c005-4c9a-baca-d6e9987fc8b8/natgateways"
            }
          }
        }
  recorded_at: Wed, 26 May 2021 15:11:48 GMT
recorded_with: VCR 6.0.0
