---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - ded7f77b958e09bc232ed0c7774eb42d
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9",
          "type" : "k8s",
          "href" : "https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9",
          "metadata" : {
            "etag" : "ded7f77b958e09bc232ed0c7774eb42d",
            "createdDate" : "2021-07-12T10:40:13Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T10:40:13Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "ACTIVE"
          },
          "properties" : {
            "name" : "puppet_module_testa",
            "k8sVersion" : "1.18.9",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Saturday",
              "time" : "23:53:13Z"
            },
            "availableUpgradeVersions" : [ "1.18.12", "1.18.20", "1.19.10", "1.19.12" ],
            "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.20" ],
            "apiSubnetAllowList" : null,
            "s3Buckets" : null,
            "public" : true
          },
          "entities" : {
            "nodepools" : {
              "id" : "bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/k8s/bc5c99bf-a317-4c18-ac33-4f49ed0f8bf9/nodepools"
            }
          }
        }
  recorded_at: Fri, 30 Jul 2021 15:08:27 GMT
recorded_with: VCR 6.0.0
