---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/k8s/8de02f04-7e07-4150-a81b-136be2be7b24/nodepools/6f19dd1a-1f05-4ac2-a40f-bb665dbdb807
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "httpStatus" : 422,
          "messages" : [ {
            "errorCode" : "200",
            "message" : "[VDC-14-1832] Operation cannot be executed until Nodepool state is ACTIVE."
          } ]
        }
  recorded_at: Fri, 28 May 2021 09:27:13 GMT
recorded_with: VCR 6.0.0
