---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "k8s",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s",
          "items" : [ {
            "id" : "055d9f31-b40e-4800-b761-4c1d9ea38c53",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/055d9f31-b40e-4800-b761-4c1d9ea38c53",
            "metadata" : {
              "etag" : "b70cbeb4f08a7ebdda84cbae9c66aaa3",
              "createdDate" : "2021-05-21T15:15:17Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T15:15:17Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "ACTIVE"
            },
            "properties" : {
              "name" : "test",
              "k8sVersion" : "1.20.6",
              "maintenanceWindow" : {
                "dayOfTheWeek" : "Wednesday",
                "time" : "21:08:17Z"
              },
              "availableUpgradeVersions" : [ ],
              "viableNodePoolVersions" : [ "1.19.10", "1.20.6" ],
              "public" : true
            },
            "entities" : {
              "nodepools" : {
                "id" : "055d9f31-b40e-4800-b761-4c1d9ea38c53/nodepools",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/055d9f31-b40e-4800-b761-4c1d9ea38c53/nodepools"
              }
            }
          }, {
            "id" : "d60c72f5-d505-4922-bcf3-2e97d29850c6",
            "type" : "k8s",
            "href" : "https://api.ionos.com/cloudapi/v5/k8s/d60c72f5-d505-4922-bcf3-2e97d29850c6",
            "metadata" : {
              "[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/055d9f31-b40e-4800-b761-4c1d9ea38c53/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rateli[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/055d9f31-b40e-4800-b761-4c1d9ea38c53/nodepools/a815fb62-4b9a-42c9-931b-17fb475ea232/nodes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"a815fb62-4b9a-42c9-931b-17fb475ea232/nodes","type":"collection","href":"https://api.ionos.com/cloudapi/v5/k8s/055d9f31-b40e-4800-b761-4c1d9ea38c53/nodepools/a815fb62-4b9a-42c9-931b-17fb475ea232/nodes","items":[{"id":"93f2ac47-a659-49c2-8229-7121314d87ba","type":"node","href":"https://api.ionos.com/cloudapi/v5/k8s/055d9f31-b40e-4800-b761-4c1d9ea38c53/nodepools/a815fb62-4b9a-42c9-931b-17fb475ea232/nodes/93f2ac47-a659-49c2-8229-7121314d87ba","metadata":{"etag":"7cd47a39f5481dbcbd6d8b22fb966c5e","lastModifiedDate":"2021-05-23T13:29:22Z","state":"READY","createdDate":"2021-05-23T13:29:22Z","lastSoftwareUpdatedDate":"2021-05-23T13:29:19Z"},"properties":{"name":"test-oqbxwisrqh","k8sVersion":"1.20.6","publicIP":"217.160.202.25"}}]}'
  recorded_at: Mon, 24 May 2021 08:03:11 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/6f180597-b6c6-448c-897c-b04d628f8601/nodepools?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6f180597-b6c6-448c-897c-b04d628f8601/nodepools",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/6f180597-b6c6-448c-897c-b04d628f8601/nodepools",
          "items" : [ ]
        }
  recorded_at: Mon, 24 May 2021 08:03:11 GMT
recorded_with: VCR 6.0.0
