---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/f8929e4d-2184-420a-8225-bce1cfc97242/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 15:13:23 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/f8929e4d-2184-420a-8225-bce1cfc97242/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f8929e4d-2184-420a-8225-bce1cfc97242/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/f8929e4d-2184-420a-8225-bce1cfc97242/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d8bedf22-9d54-4960-873c-3d9f8eb072a5",
                "type" : "k8s",
                "href" : "https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:13:24 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - df207b115ac06c54d2ab608e5431f9a6
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "d8bedf22-9d54-4960-873c-3d9f8eb072a5",
          "type" : "k8s",
          "href" : "https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5",
          "metadata" : {
            "etag" : "df207b115ac06c54d2ab608e5431f9a6",
            "createdDate" : "2021-05-21T15:03:15Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:10:45Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "DESTROYING"
          },
          "properties" : {
            "name" : "puppet_module_test6fqfwqfqfqwfddsgh5eh4d0ebc5ed",
            "k8sVersion" : "1.18.9",
            "maintenanceWindow" : {
              "dayOfTheWeek" : "Sunday",
              "time" : "14:53:00Z"
            },
            "availableUpgradeVersions" : [ "1.18.12", "1.18.18", "1.19.10" ],
            "viableNodePoolVersions" : [ "1.18.5", "1.18.9", "1.18.12", "1.18.18" ],
            "public" : true
          },
          "entities" : {
            "nodepools" : {
              "id" : "d8bedf22-9d54-4960-873c-3d9f8eb072a5/nodepools",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/k8s/d8bedf22-9d54-4960-873c-3d9f8eb072a5/nodepools"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 15:13:24 GMT
recorded_with: VCR 6.0.0
