---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans/2
    body:
      encoding: UTF-8
      string: '{"public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 73873e1bee8b467911df4d75ee5fc64f
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/a62e9cb4-41e6-414e-b19f-c75af58e0313/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans/2",
          "metadata" : {
            "etag" : "73873e1bee8b467911df4d75ee5fc64f",
            "createdDate" : "2021-07-30T13:11:24Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:11:29Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a9fqwfqfwqfqwh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "2/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans/2/nics"
            }
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:11:29 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/a62e9cb4-41e6-414e-b19f-c75af58e0313/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a62e9cb4-41e6-414e-b19f-c75af58e0313/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/a62e9cb4-41e6-414e-b19f-c75af58e0313/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans/2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:11:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '898'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198",
            "metadata" : {
              "etag" : "c49f945ac3671670be110cb20a39cefe",
              "createdDate" : "2021-07-30T13:10:55Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T13:11:27Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9f7a9r21t22g23g0f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 5,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/servers"
              },
              "volumes" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/volumes"
              },
              "loadbalancers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/loadbalancers"
              },
              "lans" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/lans"
              },
              "applicationloadbalancers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/natgateways"
              }
            }
          }, {
            "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '898'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/lans",
          "items" : [ ]
        }
  recorded_at: Fri, 30 Jul 2021 13:11:35 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Fri, 30 Jul 2021 13:11:35 GMT
recorded_with: VCR 6.0.0
