---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '898'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477",
            "metadata" : {
              "etag" : "dd0b307f7d2b8a8ecc244a2a15577c71",
              "createdDate" : "2021-07-30T13:11:16Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T13:11:16Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9fasdfwfgwegwedsgh5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 1,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/servers"
              },
              "volumes" : {
                "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/volumes"
              },
              "loadbalancers" : {
                "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/loadbalancers"
              },
              "lans" : {
                "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans"
              },
              "applicationloadbalancers" : {
                "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "ada3e1f2-dc24-4832-ac99-ae9bfc979477/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/natgateways"
              }
            }
          }, {
            "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6qfwqfqwfqwfqfwddsgh5eh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - a4085ae74ed87f585d9f9da26647e60c
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/7e5e5962-2398-43d2-a6a1-8be79a1a5af7/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans/1",
          "metadata" : {
            "etag" : "a4085ae74ed87f585d9f9da26647e60c",
            "createdDate" : "2021-07-30T13:11:16Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:11:16Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6qfwqfqwfqwfqfwddsgh5eh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:11:16 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/7e5e5962-2398-43d2-a6a1-8be79a1a5af7/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '898'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7e5e5962-2398-43d2-a6a1-8be79a1a5af7/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/7e5e5962-2398-43d2-a6a1-8be79a1a5af7/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/ada3e1f2-dc24-4832-ac99-ae9bfc979477/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:11:22 GMT
recorded_with: VCR 6.0.0
