---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/6f21a0af-af6c-4d21-9875-a302b136ecd6/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 14:55:01 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/6f21a0af-af6c-4d21-9875-a302b136ecd6/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6f21a0af-af6c-4d21-9875-a302b136ecd6/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/6f21a0af-af6c-4d21-9875-a302b136ecd6/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:55:06 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/9129c95b-e20a-4420-9f1b-4a8d0663275f/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '898'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9129c95b-e20a-4420-9f1b-4a8d0663275f/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/9129c95b-e20a-4420-9f1b-4a8d0663275f/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/lans/2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:55:12 GMT
recorded_with: VCR 6.0.0
