---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans/2
    body:
      encoding: UTF-8
      string: '{"public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ebcbb631bd884bb5f4ac807bb567028
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/59d456da-be20-4db8-8c88-48350c634285/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans/2",
          "metadata" : {
            "etag" : "2ebcbb631bd884bb5f4ac807bb567028",
            "createdDate" : "2021-04-12T14:38:38Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-12T14:38:43Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "2/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans/2/nics"
            }
          }
        }
  recorded_at: Mon, 12 Apr 2021 14:38:43 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/59d456da-be20-4db8-8c88-48350c634285/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "59d456da-be20-4db8-8c88-48350c634285/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/59d456da-be20-4db8-8c88-48350c634285/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans/2"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Mon, 12 Apr 2021 14:38:43 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "38486675-0110-478e-9079-e515242cd35b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b",
            "metadata" : {
              "etag" : "cbcab21a7aa8fbc61a3f010a818a4931",
              "createdDate" : "2021-04-08T13:38:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-12T14:37:16Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 192,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers"
              },
              "volumes" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes"
              },
              "loadbalancers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/loadbalancers"
              },
              "lans" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
[...]
