---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d",
            "metadata" : {
              "etag" : "3e2d39f7b8be627c910e0357d50ddbb8",
              "createdDate" : "2021-05-26T15:24:47Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-26T15:24:47Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9fasdfwfgwegwedsgh5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 3,
              "features" : [ "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "nic-hot-plug", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cpu-hot-plug", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/servers"
              },
              "volumes" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/volumes"
              },
              "loadbalancers" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/loadbalancers"
              },
              "lans" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/lans"
              },
              "networkloadbalancers" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/natgateways"
              }
            }
          }, {
            "id" : "c3162310-6963-44d0-822a-53b532f3f4d5",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c3162310-6963-44d0-822a-53b532f3f4d5",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/c3162310-6963-44d0-822a-53b532f3f4d5/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "c3162310-6963-44d0-822a-53b532f3f4d5/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c3162310-6963-44d0-822a-53b532f3f4d5/lans",
          "items" : [ ]
        }
  recorded_at: Wed, 26 May 2021 15:25:00 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Wed, 26 May 2021 15:25:00 GMT
recorded_with: VCR 6.0.0
