---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fasdfwfgwegwedsgh5eh4d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - '09b0480688b3b679dbd13385c6bb0267'
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/394140f4-61eb-4bcb-9b5e-9bc75b1171f5/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d",
          "metadata" : {
            "etag" : "09b0480688b3b679dbd13385c6bb0267",
            "createdDate" : "2021-05-26T15:24:47Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-26T15:24:47Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9fasdfwfgwegwedsgh5eh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:24:48 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/394140f4-61eb-4bcb-9b5e-9bc75b1171f5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "394140f4-61eb-4bcb-9b5e-9bc75b1171f5/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/394140f4-61eb-4bcb-9b5e-9bc75b1171f5/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4beeece8-49c1-4cf9-8e2e-f69d6160880d",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4beeece8-49c1-4cf9-8e2e-f69d6160880d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:24:48 GMT
recorded_with: VCR 6.0.0
