---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "0dc65928-624e-4018-8392-931a4db42f17",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17",
            "metadata" : {
              "etag" : "0affac9bc4c7e688e569f6a07ae414e3",
              "createdDate" : "2021-05-21T14:54:38Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:54:38Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9fasdfwfgwegwedsgh5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 3,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "0dc65928-624e-4018-8392-931a4db42f17/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/servers"
              },
              "volumes" : {
                "id" : "0dc65928-624e-4018-8392-931a4db42f17/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/volumes"
              },
              "loadbalancers" : {
                "id" : "0dc65928-624e-4018-8392-931a4db42f17/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/loadbalancers"
              },
              "lans" : {
                "id" : "0dc65928-624e-4018-8392-931a4db42f17/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/lans"
              }
            }
          }, {
            "id" : "3551b516-70e4-4c1c-994c-cce872ce4ddc",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/3551b516-70e4-4c1c-994c-cce872ce4ddc",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0dc65928-624e-4018-8392-931a4db42f17/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/lans",
          "items" : [ ]
        }
  recorded_at: Fri, 21 May 2021 14:54:51 GMT
[...]
