---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/53c0e5bc-d336-4ccc-9efc-e7758455d28c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 12 Apr 2021 14:38:49 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/53c0e5bc-d336-4ccc-9efc-e7758455d28c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "53c0e5bc-d336-4ccc-9efc-e7758455d28c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/53c0e5bc-d336-4ccc-9efc-e7758455d28c/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans/2"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Mon, 12 Apr 2021 14:38:49 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/53c0e5bc-d336-4ccc-9efc-e7758455d28c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "53c0e5bc-d336-4ccc-9efc-e7758455d28c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/53c0e5bc-d336-4ccc-9efc-e7758455d28c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans/2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Apr 2021 14:38:54 GMT
recorded_with: VCR 6.0.0
