---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/locations?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "locations",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/locations",
          "items" : [ {
            "id" : "de/fra",
            "type" : "location",
            "href" : "https://api.ionos.com/cloudapi/v6/locations/de/fra",
            "properties" : {
              "name" : "frankfurt",
              "features" : [ "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "nic-hot-plug", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cpu-hot-plug", "mem-hot-plug", "private-loadbalancer" ],
              "imageAliases" : [ "ubuntu:20.04", "windows:2012r2", "ubuntu:20.10_iso", "centos:8", "debian:latest", "gparted:latest_iso", "mssql:2016_trial_iso", "ubuntu:latest_iso", "centos:7_iso", "windows:2012r2_iso", "debian:8", "ubuntu:20.04_iso", "mssql:2017_trial_iso", "mssql:2012_trial_iso", "debian:10_iso", "debian:9", "ubuntu:18.04_iso", "windows:2019_iso", "centos:7", "centos:latest", "debian:latest_iso", "ubuntu:18.04", "ubuntu:latest", "windows:2016_iso", "windows:recovery_iso", "ubuntu:16.04_iso", "windows:latest", "debian:testing", "ubuntu:16.04", "centos:6_iso", "centos:latest_iso", "ubuntu:19.10", "mssql:2019_trial_iso", "centos:8_iso", "windows:2016", "windows:2019", "centos:6", "windows:virtiodriver_iso", "debian:10" ],
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            }
          }, {
            "id" : "us/las",
            "type" : "location",
            "href" : "https://api.ionos.com/cloudapi/v6/locations/us/las",
            "properties" : {
              "name" : "lasvegas",
              "features" : [ "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "nic-hot-plug", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cpu-hot-plug", "mem-hot-plug", "private-lo[...]
