---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/locations?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "locations",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/locations",
          "items" : [ {
            "id" : "de/fra",
            "type" : "location",
            "href" : "https://api.ionos.com/cloudapi/v5/locations/de/fra",
            "properties" : {
              "name" : "frankfurt",
              "features" : [ "SSD" ],
              "imageAliases" : [ "windows:2019", "centos:8", "ubuntu:20.10_iso", "gparted:latest_iso", "mssql:2016_trial_iso", "ubuntu:latest_iso", "windows:virtiodriver_iso", "centos:7_iso", "debian:8", "ubuntu:20.04_iso", "mssql:2017_trial_iso", "mssql:2012_trial_iso", "debian:10_iso", "windows:2012r2_iso", "windows:2016_iso", "ubuntu:18.04_iso", "windows:2016", "ubuntu:20.04", "windows:latest", "centos:7", "debian:latest_iso", "debian:testing", "ubuntu:18.04", "windows:recovery_iso", "ubuntu:16.04_iso", "centos:6_iso", "c[...]
