---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40",
            "metadata" : {
              "etag" : "aa1359390eb1167853959b44eed16c6e",
              "createdDate" : "2021-12-22T13:55:50Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-12-22T14:00:13Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 5,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "pcc", "nic-hot-unplug", "contract-identities", "cloud-init", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "cloud-init-private-image", "vm-autoscaling", "k8s", "vnf-lb", "monitoring", "vnf-nlb-pcc-connection", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "k8s-cidr-s3-support", "private-loadbalancer", "vnf-alb" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/servers"
              },
              "volumes" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/volumes"
              },
              "loadbalancers" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/loadbalancers"
              },
              "lans" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/lans"
              },
              "applicationloadbalancers" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/networkloadbalancers"
              }
            }
          }, {
            "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
    [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/natgateways?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/natgateways",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/natgateways",
          "items" : [ ]
        }
  recorded_at: Wed, 22 Dec 2021 14:06:52 GMT
[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways/b40698d7-73be-4b82-a81d-061524a459f7/flowlogs/fc1236c2-2ab2-4df0-bbf8-c4ad87d85482
    body:
      encoding: UTF-8
      string: '{"direction":"INGRESS"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - fe5e94770d58c05adf44809de140b3d4
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/8661b326-34ea-4d76-aa53-c79787aa874d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "fc1236c2-2ab2-4df0-bbf8-c4ad87d85482",
          "type" : "flow-log",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways/b40698d7-73be-4b82-a81d-061524a459f7/flowlogs/fc1236c2-2ab2-4df0-bbf8-c4ad87d85482",
          "metadata" : {
            "etag" : "fe5e94770d58c05adf44809de140b3d4",
            "createdDate" : "2021-12-22T13:55:56Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-12-22T14:06:55Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "test123123133",
            "action" : "ALL",
            "direction" : "INGRESS",
            "bucket" : "testtest234134124214"
          }
        }
  recorded_at: Wed, 22 Dec 2021 14:06:55 GMT
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways/b40698d7-73be-4b82-a81d-061524a459f7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 88a74cc35f4b788c1b9ba58e559[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/8661b326-34ea-4d76-aa53-c79787aa874d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "8661b326-34ea-4d76-aa53-c79787aa874d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/8661b326-34ea-4d76-aa53-c79787aa874d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "fc1236c2-2ab2-4df0-bbf8-c4ad87d85482",
                "type" : "flow-log",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways/b40698d7-73be-4b82-a81d-061524a459f7/flowlogs/fc1236c2-2ab2-4df0-bbf8-c4ad87d85482"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 22 Dec 2021 14:07:58 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/natgateways?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/natgateways",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/natgateways",
          "items" : [ ]
        }
  recorded_at: Wed, 22 Dec 2021 14:08:02 GMT
recorded_with: VCR 6.0.0
