---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4",
            "metadata" : {
              "etag" : "3ba52596d5dc27045f61762ed176a86d",
              "createdDate" : "2021-11-25T14:26:11Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-11-25T14:29:10Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "DBaaS-Test-Datacenter",
              "description" : "",
              "location" : "de/fra",
              "version" : 7,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "pcc", "nic-hot-unplug", "contract-identities", "cloud-init", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "cloud-init-private-image", "vm-autoscaling", "k8s", "vnf-lb", "monitoring", "vnf-nlb-pcc-connection", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "k8s-cidr-s3-support", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/servers"
              },
              "volumes" : {
                "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/volumes"
              },
              "loadbalancers" : {
                "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/loadbalancers"
              },
              "lans" : {
                "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/lans"
              },
              "applicationloadbalancers" : {
                "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "6a92c9da-353f-459e-ae0e-e5a932fb88d4/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/6a92c9da-353f-459e-ae0e-e5a932fb88d4/networkloadbalancers"
              }
            }
          }, {
            "id" : "963bba9e-0cbf-4fa7-915f-fd2883431763",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/963bba9e-0cbf-4fa7-915f-fd2883431763[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test2523525325f796d0ebc5ed","description":"Puppet
        Module test description","location":"de/txl"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - '0119c869e46a37ab7aeebcfc159b64c5'
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/e413ed6a-a4ba-4d48-84d3-607749bb0ee1/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40",
          "metadata" : {
            "etag" : "0119c869e46a37ab7aeebcfc159b64c5",
            "createdDate" : "2021-12-22T13:55:50Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-12-22T13:55:50Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test2523525325f796d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "de/txl",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Wed, 22 Dec 2021 13:55:50 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/e413ed6a-a4ba-4d48-84d3-607749bb0ee1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e413ed6a-a4ba-4d48-84d3-607749bb0ee1/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/e413ed6a-a4ba-4d48-84d3-607749bb0ee1/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d7272720-9698-46c6-a62c-ee56a39e3d40",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 22 Dec 2021 13:55:50 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks",
          "items" : [ {
            "id" : "3cd34fe6-2fc7-4ad1-b914-15556a6ea709",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/3cd34fe6-2fc7-4ad1-b914-15556a6ea709",
            "metadata" : {
              "etag" : "2cff0d967dc350f97b1861704070759b",
              "createdDate" : "2021-10-21T13:07:06Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-10-21T13:07:06Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "85.215.223.8", "85.215.223.13" ],
              "location" : "de/txl",
              "size" : 2,
              "name" : "test_alb2",
              "ipConsumers" : [ ]
            }
          }, {
            "id" : "d48a27d5-6f9d-4066-9783-6b4067d68345",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/d48a27d5-6f9d-4066-9783-6b4067d68345",
            "metadata" : {
              "etag" : "e81f2202a4471c19bb7110b3fa533da5",
              "createdDate" : "2021-10-21T12:42:15Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "la[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/ipblocks
    body:
      encoding: UTF-8
      string: '{"properties":{"location":"de/txl","size":2,"name":"puppet_module_test6f2c9f7a52352532552396d0ebc5ed"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 6f39be59d540ee1e[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks/7a5ac1ae-c190-4a01-939a-1b3103c293a6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8e44d5114d7714430a53e3dfc835ae31
      X-Ratelimit-Burst:
      - '900'
      X-Rateli[...]
[...]
