---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0",
            "metadata" : {
              "etag" : "d6fc5be3a930a31034a3d0c49e979eee",
              "createdDate" : "2021-07-29T10:13:40Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-29T12:11:13Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 30,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/servers"
              },
              "volumes" : {
                "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/volumes"
              },
              "loadbalancers" : {
                "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/loadbalancers"
              },
              "lans" : {
                "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/lans"
              },
              "natgateways" : {
                "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "83b8fd28-52a2-47f5-a10f-139ddc9773a0/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/applicationloadbalancers"
              }
            }
          }, {
            "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks",
          "items" : [ {
            "id" : "336e7926-5f8e-4923-b5d6-aa1a058177db",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/336e7926-5f8e-4923-b5d6-aa1a058177db",
            "metadata" : {
              "etag" : "25d3949b42d30f20e72e0bd52d39cb48",
              "createdDate" : "2021-07-29T10:26:32Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-29T10:26:32Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "85.215.239.15", "85.215.239.161" ],
              "location" : "de/txl",
              "size" : 2,
              "name" : "puppet_module_test6f2c9f7wfewfwfewfw396d0ebc5ed",
              "ipConsumers" : [ ]
            }
          }, {
            "id" : "0b9ce037-11c7-4801-ad51-e542ef228e0f",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/0b9ce037-11c7-4801-ad51-e542ef228e0f",
            "metadata" : {
              "etag" : "717ab7f518d794c3931cbe90401ce326",
              "createdDate" : "2021-07-29T10:26:32Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "la[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks/0b9ce037-11c7-4801-ad51-e542ef228e0f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 717ab7f518d794c3931cbe90401ce326
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0b9ce037-11c7-4801-ad51-e542ef228e0f",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/0b9ce037-11c7-4801-ad51-e542ef228e0f",
          "metadata" : {
            "etag" : "717ab7f518d794c3931cbe90401ce326",
            "createdDate" : "2021-07-29T10:26:32Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-29T10:26:32Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "ips" : [ "85.215.234.53", "85.215.238.156" ],
            "location" : "de/txl",
            "size" : 2,
            "name" : "puppet_module_test6f2c9f7a52352532552396d0ebc5ed",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Thu, 29 Jul 2021 12:31:42 GMT
[...]
