---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways/b40698d7-73be-4b82-a81d-061524a459f7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - 808549d2fe212a6d9111ac3feff4da7b
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/c0579c67-c529-4a59-bed8-fddbd01db564/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 22 Dec 2021 14:09:23 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/c0579c67-c529-4a59-bed8-fddbd01db564/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c0579c67-c529-4a59-bed8-fddbd01db564/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/c0579c67-c529-4a59-bed8-fddbd01db564/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b40698d7-73be-4b82-a81d-061524a459f7",
                "type" : "natgateway",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways/b40698d7-73be-4b82-a81d-061524a459f7"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 22 Dec 2021 14:11:27 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/a1bf2e01-f7a0-41df-91f2-0d973221dddb/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a1bf2e01-f7a0-41df-91f2-0d973221dddb/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/a1bf2e01-f7a0-41df-91f2-0d973221dddb/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "128dea3d-ffc7-4a09-802a-43e48ef93241",
                "type" : "natgateway",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d7272720-9698-46c6-a62c-ee56a39e3d40/natgateways/128dea3d-ffc7-4a09-802a-43e48ef93241"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 22 Dec 2021 14:13:31 GMT
recorded_with: VCR 6.0.0
