---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/natgateways/b1039822-d3f3-4182-9a10-9df88339fdf1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/370c4876-7347-4457-9a64-5cbe49324581/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 29 Jul 2021 12:41:33 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/370c4876-7347-4457-9a64-5cbe49324581/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "370c4876-7347-4457-9a64-5cbe49324581/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/370c4876-7347-4457-9a64-5cbe49324581/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b1039822-d3f3-4182-9a10-9df88339fdf1",
                "type" : "natgateway",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/natgateways/b1039822-d3f3-4182-9a10-9df88339fdf1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 29 Jul 2021 12:43:16 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/b7b42a49-927a-41bb-aa5f-9d0f24bfa78c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b7b42a49-927a-41bb-aa5f-9d0f24bfa78c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/b7b42a49-927a-41bb-aa5f-9d0f24bfa78c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d64c16e9-7159-4ead-a27c-ada0cc3e2dc1",
                "type" : "natgateway",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/83b8fd28-52a2-47f5-a10f-139ddc9773a0/natgateways/d64c16e9-7159-4ead-a27c-ada0cc3e2dc1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 29 Jul 2021 12:44:39 GMT
recorded_with: VCR 6.0.0
