---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5",
            "metadata" : {
              "etag" : "d2118bf3b882a7dc12d8b89e90784f02",
              "createdDate" : "2022-06-23T08:37:45Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-06-23T09:25:01Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 14,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "ssd", "vnf-nat", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "mem-hot-plug", "vnf-alb", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/servers"
              },
              "volumes" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/volumes"
              },
              "loadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/loadbalancers"
              },
              "lans" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/lans"
              },
              "applicationloadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/natgateways"
              }
            }
          }, {
            "id" : "0b5fe7e1-9d23-4385-a551-e608954feb87",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0b5fe7e1-9d23-4385-a551-e608954feb87",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test1","listenerLan":2,"ips":["85.215.167.212","85.215.167.214"],"targetLan":1,"lbPrivateIps":["10.12.106.235/24","10.12.106.232/24"]},"entities":{"flowlogs":{"items":[{"properties":{"name":"test123123133","action":"ALL","direction":"INGRESS","bucket":"testtest234134124214"}}]},"forwardingrules":{"items":[{"properties":{"name":"regula","algorithm":"ROUND_ROBIN","protocol":"TCP","listenerIp":"85.215.167.212","listenerPort":22,"healthCheck":{"clientTimeout":40000,"connectTimeout":3001,"targetTimeout":20000,"retries":4},"targets":[{"ip":"1.1.1.1","port":22,"weight":1,"healthCheck":{"check":true,"checkInterval":2000,"maintenance":false}}]}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 0fd67049901e85dafec890bcd19ed55e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/a01e574c-fcc3-4792-affc-2b163727c599/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "18c8db24-aa32-47d6-9304-2dac1df74f70",
          "type" : "networkloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/18c8db24-aa32-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/a01e574c-fcc3-4792-affc-2b163727c599/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a01e574c-fcc3-4792-affc-2b163727c599/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/a01e574c-fcc3-4792-affc-2b163727c599/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "18c8db24-aa32-47d6-9304-2dac1df74f70",
                "type" : "networkloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/18c8db24-aa32-47d6-9304-2dac1df74f70"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "97260241-540e-415a-97b4-cb24eb161bb8",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/18c8db24-aa32-47d6-9304-2dac1df74f70/forwardingrules/97260241-540e-415a-97b4-cb24eb161bb8"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "35b4012e-427a-4d31-a981-f08ee2c1cca4",
                "type" : "flow-log",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/18c8db24-aa32-47d6-9304-2dac1df74f70/flowlogs/35b4012e-427a-4d31-a981-f08ee2c1cca4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 10:43:51 GMT
recorded_with: VCR 6.0.0
