---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/10cd63e1-1b59-4d90-8420-009e4e0b8941
    body:
      encoding: UTF-8
      string: '{"targetLan":3}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - a3f7341301bfbb29f762e93e6fa1cb9f
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/adf7a88d-f604-4dbd-b761-42637c32bd1d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "10cd63e1-1b59-4d90-8420-009e4e0b8941",
          "type" : "networkloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/10cd63e1-1b59-4d90-8420-009e4e0b8941",
          "metadata" : {
            "etag" : "a3f7341301bfbb29f762e93e6fa1cb9f",
            "createdDate" : "2022-06-23T10:43:56Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-23T10:50:51Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test2",
            "listenerLan" : 2,
            "targetLan" : 3,
            "ips" : [ "85.215.167.221", "85.215.167.222" ],
            "lbPrivateIps" : [ "10.12.106.225/24", "10.12.106.222/24" ]
          },
          "entities" : {
            "forwardingrules" : {
              "id" : "10cd63e1-1b59-4d90-8420-009e4e0b8941/forwardingrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/10cd63e1-1b59-4d90-8420-009e4e0b8941/forwardingrules"
            },
            "flowlogs" : {
              "id" : "10cd63e1-1b59-4d90-8420-009e4e0b8941/flowlogs",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/10cd63e1-1b59-4d90-8420-009e4e0b8941/flowlogs"
            }
          }
        }
  recorded_at: Thu, 23 Jun 2022 10:50:52 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/adf7a88d-f604-4dbd-b761-42637c32bd1d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "adf7a88d-f604-4dbd-b761-42637c32bd1d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/adf7a88d-f604-4dbd-b761-42637c32bd1d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "10cd63e1-1b59-4d90-8420-009e4e0b8941",
                "type" : "networkloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/10cd63e1-1b59-4d90-8420-009e4e0b8941"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 10:54:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5",
            "metadata" : {
              "etag" : "5e83abe1e81cbda6e423a60648fb5f5d",
              "createdDate" : "2022-06-23T08:37:45Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-06-23T10:50:56Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 18,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "ssd", "vnf-nat", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "mem-hot-plug", "vnf-alb", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/servers"
              },
              "volumes" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/volumes"
              },
              "loadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/loadbalancers"
              },
              "lans" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/lans"
              },
              "applicationloadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "21bf8b94-6f88-4c9b-b4ec-c79269482dc5/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/natgateways"
              }
            }
          }, {
            "id" : "0b5fe7e1-9d23-4385-a551-e608954feb87",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0b5fe7e1-9d23-4385-a551-e608954feb87",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/networkloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/networkloadbalancers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/networkloadbalancers",
          "items" : [ ]
        }
  recorded_at: Thu, 23 Jun 2022 10:54:07 GMT
recorded_with: VCR 6.0.0
