---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae",
            "metadata" : {
              "etag" : "e3d7f73b100ed47f2121ede2a8a4d36d",
              "createdDate" : "2021-07-30T11:27:19Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T11:27:43Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 5,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/servers"
              },
              "volumes" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/volumes"
              },
              "loadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/loadbalancers"
              },
              "lans" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/lans"
              },
              "applicationloadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/natgateways"
              }
            }
          }, {
            "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test2","listenerLan":2,"ips":["85.215.229.139","85.215.229.114"],"targetLan":1,"lbPrivateIps":["10.12.106.225/24","10.12.106.222/24"]},"entities":{"flowlogs":{"items":[]},"forwardingrules":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 017ee33811700bf97fded6ff6216a7e2
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/41e76e73-864f-454f-a982-6121e2cc563d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2244f343-cf92-4b9a-a02e-951977bdbb9d",
          "type" : "networkloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/2244f343-cf92-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/41e76e73-864f-454f-a982-6121e2cc563d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "41e76e73-864f-454f-a982-6121e2cc563d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/41e76e73-864f-454f-a982-6121e2cc563d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2244f343-cf92-4b9a-a02e-951977bdbb9d",
                "type" : "networkloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/2244f343-cf92-4b9a-a02e-951977bdbb9d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 11:35:16 GMT
recorded_with: VCR 6.0.0
