---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353/forwardingrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"regula","algorithm":"ROUND_ROBIN","protocol":"TCP","listenerIp":"85.215.229.86","listenerPort":25,"healthCheck":{"clientTimeout":40000,"connectTimeout":5001,"targetTimeout":50000,"retries":3},"targets":[{"ip":"1.1.1.2","port":22,"weight":1,"healthCheck":{"check":false,"checkInterval":4000,"maintenance":true}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 1c1bebd9972333b3b8f77b553d829985
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/d9cf62f5-d72c-4804-af78-8d445ac990ef/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ea6b14f0-34ba-4f2b-b913-764cbe3413a5",
          "type" : "forwarding-rule",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353/forwardingrules/ea6b14f0-34ba-4f2b-b913-764cbe3413a5",
          "metadata" : {
            "etag" : "1c1bebd9972333b3b8f77b553d829985",
            "createdDate" : "2021-07-30T11:38:03Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T11:38:03Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "regula",
            "protocol" : "TCP",
            "listenerIp" : "85.215.229.86",
            "listenerPort" : 25,
            "algorithm" : "ROUND_ROBIN",
            "targets" : [ {
              "ip" : "1.1.1.2",
              "port" : 22,
              "weight" : 1,
              "healthCheck" : {
                "check" : false,
                "checkInterval" : 4000,
                "maintenance" : true
              }
            } ],
            "healthCheck" : {
              "clientTimeout" : 40000,
              "connectTimeout" : 5001,
              "targetTimeout" : 50000,
              "retries" : 3
            }
          }
        }
  recorded_at: Fri, 30 Jul 2021 11:38:02 GMT
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353
    body:
      encoding: UTF-8
      string: '{"ips":["85.215.229.86"]}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8d12a80e46234674ff6265c99179cd8a
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/ab99471f-ee7e-4aab-91b8-52c4e5d84d0e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "eb042240-87d0-4f1f-b2fd-9e951f442353",
          "type" : "networkloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353",
          "metadata" : {
            "etag" : "8d12a80e46234674ff6265c99179cd8a",
            "createdDate" : "2021-07-30T11:27:43Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T11:38:03Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test1",
            "listenerLan" : 2,
            "targetLan" : 1,
            "ips" : [ "85.215.229.86" ],
            "lbPrivateIps" : [ "10.12.106.235/24", "10.12.106.215/24", "10.12.106.232/24" ]
          },
          "entities" : {
            "forwardingrules" : {
              "id" : "eb042240-87d0-4f1f-b2fd-9e951f442353/forwardingrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353/forwardingrules"
            },
            "flowlogs" : {
              "id" : "eb042240-87d0-4f1f-b2fd-9e951f442353/flowlogs",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353/flowlogs"
            }
          }
        }
  recorded_at: Fri, 30 Jul 2021 11:38:02 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/d9cf62f5-d72c-4804-af78-8d445ac990ef/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "d9cf62f5-d72c-4804-af78-8d445ac990ef/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/d9cf62f5-d72c-4804-af78-8d445ac990ef/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "ea6b14f0-34ba-4f2b-b913-764cbe3413a5",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353/forwardingrules/ea6b14f0-34ba-4f2b-b913-764cbe3413a5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 11:38:34 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae",
            "metadata" : {
              "etag" : "76fb34bc9a38c99546b4c9d1a1d0f768",
              "createdDate" : "2021-07-30T11:27:19Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T11:38:06Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 12,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/servers"
              },
              "volumes" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/volumes"
              },
              "loadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/loadbalancers"
              },
              "lans" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/lans"
              },
              "applicationloadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/natgateways"
              }
            }
          }, {
            "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/networkloadbalancers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/networkloadbalancers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/networkloadbalancers",
          "items" : [ ]
        }
  recorded_at: Fri, 30 Jul 2021 11:38:42 GMT
recorded_with: VCR 6.0.0
