---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/18c8db24-aa32-47d6-9304-2dac1df74f70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Etag:
      - 808549d2fe212a6d9111ac3feff4da7b
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/97d918c8-2410-49e8-9f71-db3b4cbaf086/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Jun 2022 10:57:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/97d918c8-2410-49e8-9f71-db3b4cbaf086/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "97d918c8-2410-49e8-9f71-db3b4cbaf086/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/97d918c8-2410-49e8-9f71-db3b4cbaf086/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "18c8db24-aa32-47d6-9304-2dac1df74f70",
                "type" : "networkloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/18c8db24-aa32-47d6-9304-2dac1df74f70"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 11:00:58 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/e7a56122-1653-4bb0-9050-2146382b4cb2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e7a56122-1653-4bb0-9050-2146382b4cb2/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/e7a56122-1653-4bb0-9050-2146382b4cb2/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "10cd63e1-1b59-4d90-8420-009e4e0b8941",
                "type" : "networkloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/21bf8b94-6f88-4c9b-b4ec-c79269482dc5/networkloadbalancers/10cd63e1-1b59-4d90-8420-009e4e0b8941"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 23 Jun 2022 11:03:31 GMT
recorded_with: VCR 6.0.0
