---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae",
            "metadata" : {
              "etag" : "fb47fdc81e53377886cce04431109996",
              "createdDate" : "2021-07-30T11:27:19Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T11:27:19Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test2523525325f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 4,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/servers"
              },
              "volumes" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/volumes"
              },
              "loadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/loadbalancers"
              },
              "lans" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/lans"
              },
              "applicationloadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "9334afe6-9075-4f0a-a364-30e0ff4696ae/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/natgateways"
              }
            }
          }, {
            "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test1","listenerLan":2,"ips":["85.215.229.86","85.215.229.97"],"targetLan":1,"lbPrivateIps":["10.12.106.235/24","10.12.106.232/24"]},"entities":{"flowlogs":{"items":[{"properties":{"name":"test123123133","action":"ALL","direction":"INGRESS","bucket":"testtest234134124214"}}]},"forwardingrules":{"items":[{"properties":{"name":"regula","algorithm":"ROUND_ROBIN","protocol":"TCP","listenerIp":"85.215.229.86","listenerPort":22,"healthCheck":{"clientTimeout":40000,"connectTimeout":3001,"targetTimeout":20000,"retries":4},"targets":[{"ip":"1.1.1.1","port":22,"weight":1,"healthCheck":{"check":true,"checkInterval":2000,"maintenance":false}}]}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 79209b1a38958ae00fae2692b0418cad
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/be8f2724-073e-4732-b409-a621898bfb90/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "eb042240-87d0-4f1f-b2fd-9e951f442353",
          "type" : "networkloadbalancer",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/be8f2724-073e-4732-b409-a621898bfb90/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "be8f2724-073e-4732-b409-a621898bfb90/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/be8f2724-073e-4732-b409-a621898bfb90/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "eb042240-87d0-4f1f-b2fd-9e951f442353",
                "type" : "networkloadbalancer",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "af0e222c-89b1-4cec-b722-f0a6c03e448c",
                "type" : "forwarding-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353/forwardingrules/af0e222c-89b1-4cec-b722-f0a6c03e448c"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "9ee6a8ef-1c4a-41bf-b454-6a730bcdb324",
                "type" : "flow-log",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/9334afe6-9075-4f0a-a364-30e0ff4696ae/networkloadbalancers/eb042240-87d0-4f1f-b2fd-9e951f442353/flowlogs/9ee6a8ef-1c4a-41bf-b454-6a730bcdb324"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 11:31:37 GMT
recorded_with: VCR 6.0.0
