---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/ipblocks
    body:
      encoding: UTF-8
      string: '{"properties":{"location":"us/las","size":2,"name":"puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - '001431080104b63c43f0186bc1558f9f'
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/97d10d5d-3687-4019-8028-3e597a52da68/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0fc170fd-76bb-46fe-b0f5-61f57b1983a9",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/0fc170fd-76bb-46fe-b0f5-61f57b1983a9",
          "metadata" : {
            "etag" : "001431080104b63c43f0186bc1558f9f",
            "createdDate" : "2021-05-24T08:02:10Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:02:10Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "ips" : [ "158.222.102.238", "158.222.102.234" ],
            "location" : "us/las",
            "size" : 2,
            "name" : "puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:02:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/97d10d5d-3687-4019-8028-3e597a52da68/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "97d10d5d-3687-4019-8028-3e597a52da68/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/97d10d5d-3687-4019-8028-3e597a52da68/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1877153a-20c6-4fad-adef-4d89fc1b1b44",
                "type" : "ipblock",
                "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/1877153a-20c6-4fad-adef-4d89fc1b1b44"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:02:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks",
          "items" : [ {
            "id" : "0fc170fd-76bb-46fe-b0f5-61f57b1983a9",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/0fc170fd-76bb-46fe-b0f5-61f57b1983a9",
            "metadata" : {
              "etag" : "abb7023fcdaa9220ff40afba5c280bf9",
              "createdDate" : "2021-05-24T08:02:09Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-24[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwedqdqdqwdqw5eh4d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - c0b9694908b91b4b6d0524fc9bf81d28
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/d0058db4-1f43-4447-9238-121b5edc91c9/status
      X-Ratelimit-Burst:
      - '50'
  [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fwfewfewddsgh5eh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"AMD_OPTERON"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 72bd8ad013abf1d04f12a9f13b1a3349
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/f41aa96f-3a45-42b4-9778-ea2cff0b978e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "eaa4da84-c17b-40bd-b9bc-3d13b43d9698",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers/eaa4da84-c17b-40bd-b9bc-3d13b43d9698",
          "metadata" : {
            "etag" : "72bd8ad013abf1d04f12a9f13b1a3349",
            "createdDate" : "2021-05-24T08:02:11Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:02:11Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9fwfewfewddsgh5eh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "eaa4da84-c17b-40bd-b9bc-3d13b43d9698/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers/eaa4da84-c17b-40bd-b9bc-3d13b43d9698/cdroms"
            },
            "volumes" : {
              "id" : "eaa4da84-c17b-40bd-b9bc-3d13b43d9698/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers/eaa4da84-c17b-40bd-b9bc-3d13b43d9698/volumes"
            },
            "nics" : {
              "id" : "eaa4da84-c17b-40bd-b9bc-3d13b43d9698/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers/eaa4da84-c17b-40bd-b9bc-3d13b43d9698/nics"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 08:02:11 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2cfwefwefwefwf5eh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 595bd3ada6f9286bc09fd650772b01fa
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/1600a30d-6b0e-4446-9d5e-dca40a31c534/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/lans/1",
          "metadata" : {
            "etag" : "595bd3ada6f9286bc09fd650772b01fa",
            "createdDate" : "2021-05-24T08:02:22Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:02:22Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2cfwefwefwefwf5eh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Mon, 24 May 2021 08:02:22 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/1600a30d-6b0e-4446-9d5e-dca40a31c534/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1600a30d-6b0e-4446-9d5e-dca40a31c534/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/1600a30d-6b0e-4446-9d5e-dca40a31c534/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:02:27 GMT
recorded_with: VCR 6.0.0
