---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/ipblocks",
          "items" : [ {
            "id" : "e8b42322-0c55-4967-b130-1a31cba1eda6",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v5/ipblocks/e8b42322-0c55-4967-b130-1a31cba1eda6",
            "metadata" : {
              "etag" : "62095b00a69d34548ebeaff9fbc5261b",
              "createdDate" : "2021-05-20T07:30:50Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-20T07:30:50Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "87.106.115.173", "87.106.115.174", "87.106.115.172" ],
              "location" : "de/fra",
              "size" : 3,
              "name" : "SDKAUTOTEST - create",
              "ipConsumers" : [ {
                "ip" : "87.106.115.174",
                "mac" : null,
                "nicId" : null,
                "serverId" : null,
                "serverName" : null,
                "datacenterId" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
                "datacenterName" : "SDK AUTO-TEST",
                "k8sNodePoolUuid" : "113b5e69-996e-4c76-8fce-00bdd6dccef6",
                "k8sClusterUuid" : null
              }, {
                "ip" : "87.106.115.172",
                "mac" : null,
                "nicId" : null,
                "serverId" : null,
                "serverName" : null,
                "datacenterId" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
                "datacenterName" : "SDK AUTO-TEST",
                "k8sNodePoolUuid" : "113b5e69-996e-4c76-8fce-00bdd6dccef6",
                "k8sClusterUuid" : null
              }, {
                "ip" : "87.106.115.173",
                "mac" : null,
                "nicId" : null,
                "serverId" : null,
                "serverName" : null,
                "datacenterId" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
                "datacenterName" : "SDK AUTO-TEST",
                "k8sNodePoolUuid" : "113b5e69-996e-4c76-8fce-00bdd6dccef6",
                "k8sClusterUuid" : null
              } ]
            }
          } ]
        }
  recorded_at: Fri, 21 May 2021 15:12:21 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwedqdqdqwdqw5eh4d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 6b4f120f268fab13b1d32ea864749d9b
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/0345f7cd-417e-4163-aad3-bfd79e11ef23/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4ad9da28-079f-4a08-9a4c-df37ac00e3cb",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb",
          "metadata" : {
            "etag" : "6b4f120f268fab13b1d32ea864749d9b",
            "createdDate" : "2021-05-21T15:12:21Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:12:21Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdqdqwdqw5eh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Fri, 21 May 2021 15:12:21 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/0345f7cd-417e-4163-aad3-bfd79e11ef23/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "0345f7cd-417e-4163-aad3-bfd79e11ef23/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/0345f7cd-417e-4163-aad3-bfd79e11ef23/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4ad9da28-079f-4a08-9a4c-df37ac00e3cb",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:12:21 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fwfewfewddsgh5eh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"AMD_OPTERON"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 7058ba117d0a903a503a27c28cda868e
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/dcc3a038-3a7e-4e3d-904b-24dd462b8362/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2aca1398-8780-458a-bf87-173e28cd64f6",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6",
          "metadata" : {
            "etag" : "7058ba117d0a903a503a27c28cda868e",
            "createdDate" : "2021-05-21T15:12:22Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:12:22Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9fwfewfewddsgh5eh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "2aca1398-8780-458a-bf87-173e28cd64f6/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/cdroms"
            },
            "volumes" : {
              "id" : "2aca1398-8780-458a-bf87-173e28cd64f6/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/volumes"
            },
            "nics" : {
              "id" : "2aca1398-8780-458a-bf87-173e28cd64f6/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/nics"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 15:12:22 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2cfwefwefwefwf5eh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 145fcf17c5fd14b1435161333754eb43
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/55144a97-df7d-4b0d-9c1a-53c1b485b9f4/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/lans/1",
          "metadata" : {
            "etag" : "145fcf17c5fd14b1435161333754eb43",
            "createdDate" : "2021-05-21T15:12:33Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:12:33Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2cfwefwefwefwf5eh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Fri, 21 May 2021 15:12:33 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/55144a97-df7d-4b0d-9c1a-53c1b485b9f4/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "55144a97-df7d-4b0d-9c1a-53c1b485b9f4/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/55144a97-df7d-4b0d-9c1a-53c1b485b9f4/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:12:38 GMT
recorded_with: VCR 6.0.0
