---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/servers/4d07c465-9ad7-4c4b-807c-3d3a72503110/nics/bbfacf45-b978-4f2c-a647-ad534742fcdb/firewallrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"SSH","protocol":"TCP","portRangeStart":22,"portRangeEnd":22}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - b15f92a4eaac4acea3f6462e4e70d1fc
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/b605c36e-85a3-49af-8e06-45a2a248351c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e1d5b51b-b1d3-4fc9-83a6-bb52e2391147",
          "type" : "firewall-rule",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/servers/4d07c465-9ad7-4c4b-807c-3d3a72503110/nics/bbfacf45-b978-4f2c-a647-ad534742fcdb/firewallrules/e1d5b51b-b1d3-4fc9-83a6-bb52e2391147",
          "metadata" : {
            "etag" : "b15f92a4eaac4acea3f6462e4e70d1fc",
            "createdDate" : "2021-06-25T12:34:31Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T12:34:31Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "SSH",
            "protocol" : "TCP",
            "sourceMac" : null,
            "sourceIp" : null,
            "targetIp" : null,
            "icmpCode" : null,
            "icmpType" : null,
            "portRangeStart" : 22,
            "portRangeEnd" : 22,
            "type" : null
          }
        }
  recorded_at: Fri, 25 Jun 2021 12:34:30 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/b605c36e-85a3-49af-8e06-45a2a248351c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b605c36e-85a3-49af-8e06-45a2a248351c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/b605c36e-85a3-49af-8e06-45a2a248351c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "e1d5b51b-b1d3-4fc9-83a6-bb52e2391147",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/servers/4d07c465-9ad7-4c4b-807c-3d3a72503110/nics/bbfacf45-b978-4f2c-a647-ad534742fcdb/firewallrules/e1d5b51b-b1d3-4fc9-83a6-bb52e2391147"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 12:34:46 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "02068daa-8023-4188-97f8-5b8cee517211",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211",
            "metadata" : {
              "etag" : "9d48d1e5a1479f57e12850fc9aa9cde0",
              "createdDate" : "2021-06-25T12:32:29Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-25T12:34:45Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6ffnfqwfqwfqfqwfd0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 7,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "02068daa-8023-4188-97f8-5b8cee517211/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/servers"
              },
              "volumes" : {
                "id" : "02068daa-8023-4188-97f8-5b8cee517211/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/volumes"
              },
              "loadbalancers" : {
                "id" : "02068daa-8023-4188-97f8-5b8cee517211/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/loadbalancers"
              },
              "lans" : {
                "id" : "02068daa-8023-4188-97f8-5b8cee517211/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/lans"
              },
              "natgateways" : {
                "id" : "02068daa-8023-4188-97f8-5b8cee517211/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "02068daa-8023-4188-97f8-5b8cee517211/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "02068daa-8023-4188-97f8-5b8cee517211/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/applicationloadbalancers"
              }
            }
          }, {
            "id" : "fc5f2c25-fc42-48c9-8ac3-f0224af10800",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/fc5f2c25-fc42-48c9-8ac3-f022[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Fri, 25 Jun 2021 12:35:10 GMT
recorded_with: VCR 6.0.0
