---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/cf03c457-8245-4f3a-b658-453378db683a/nics/6c2a2727-32a9-4606-ac88-363f05fbd756
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/56281ac9-ed6f-4bd4-bf34-c637bde8901e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Apr 2021 13:19:50 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/56281ac9-ed6f-4bd4-bf34-c637bde8901e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "56281ac9-ed6f-4bd4-bf34-c637bde8901e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/56281ac9-ed6f-4bd4-bf34-c637bde8901e/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "6c2a2727-32a9-4606-ac88-363f05fbd756",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/cf03c457-8245-4f3a-b658-453378db683a/nics/6c2a2727-32a9-4606-ac88-363f05fbd756"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Fri, 09 Apr 2021 13:19:50 GMT
[...]
