---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "4ad9da28-079f-4a08-9a4c-df37ac00e3cb",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb",
            "metadata" : {
              "etag" : "a72f016f1041ae2f6363ffd12b623e26",
              "createdDate" : "2021-05-21T15:12:21Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T15:12:23Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6ffwedqdqdqwdqw5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 3,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers"
              },
              "volumes" : {
                "id" : "4ad9da28-079f-4a08-9a4c-df37ac00e3cb/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/volumes"
              },
              "loadbalancers" : {
                "id" : "4ad9da28-079f-4a08-9a4c-df37ac00e3cb/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/loadbalancers"
              },
              "lans" : {
                "id" : "4ad9da28-079f-4a08-9a4c-df37ac00e3cb/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/lans"
              }
            }
          }, {
            "id" : "fe85c6a2-feb7-47e4-8aad-0ffb3bd5949d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/fe85c6a2-feb7-47e4-8aad-0ffb3bd5949d",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/nics
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a9afewfwefwh4d0ebc5ed","dhcp":"true","lan":"1","firewallActive":"true","nat":"false"},"entities":{"firewallrules":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9ff6e10e18a8517fb6d899966288658f
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/89f0171b-e058-4fed-a84c-c3965a03f0b0/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "00f9e9c5-f71e-4b6e-a23b-889455f24531",
          "type" : "nic",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/nics/00f9e9c5-f71e-4b6e-a23b-889455f24531",
          "metadata" : {
            "etag" : "9ff6e10e18a8517fb6d899966288658f",
            "createdDate" : "2021-05-21T15:12:39Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:12:39Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a9afewfwefwh4d0ebc5ed",
            "mac" : null,
            "ips" : [ ],
            "dhcp" : true,
            "lan" : 1,
            "firewallActive" : true,
            "nat" : false
          },
          "entities" : {
            "firewallrules" : {
              "id" : "00f9e9c5-f71e-4b6e-a23b-889455f24531/firewallrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/nics/00f9e9c5-f71e-4b6e-a23b-889455f24531/firewallrules"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 15:12:39 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/89f0171b-e058-4fed-a84c-c3965a03f0b0/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "89f0171b-e058-4fed-a84c-c3965a03f0b0/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/89f0171b-e058-4fed-a84c-c3965a03f0b0/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "00f9e9c5-f71e-4b6e-a23b-889455f24531",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/nics/00f9e9c5-f71e-4b6e-a23b-889455f24531"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:13:06 GMT
recorded_with: VCR 6.0.0
