---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/nics/ca56a5ff-1272-47bb-93a5-95627543a00b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/ceae82a6-5361-4bb2-9a14-e2a8582fa510/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 30 Jul 2021 13:30:40 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/ceae82a6-5361-4bb2-9a14-e2a8582fa510/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ceae82a6-5361-4bb2-9a14-e2a8582fa510/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/ceae82a6-5361-4bb2-9a14-e2a8582fa510/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "ca56a5ff-1272-47bb-93a5-95627543a00b",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/nics/ca56a5ff-1272-47bb-93a5-95627543a00b"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:31:06 GMT
recorded_with: VCR 6.0.0
