---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/ipblocks
    body:
      encoding: UTF-8
      string: '{"properties":{"location":"de/txl","size":2,"name":"puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 62a0b60bf8f0237377c68bdb01c4e515
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/3fbc419f-0e1e-47eb-b2c9-f9954d372e9d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "47b7c6df-2562-452c-adfd-e2ee898e7dda",
          "type" : "ipblock",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/47b7c6df-2562-452c-adfd-e2ee898e7dda",
          "metadata" : {
            "etag" : "62a0b60bf8f0237377c68bdb01c4e515",
            "createdDate" : "2021-07-30T13:29:46Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:29:46Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "ips" : [ "85.215.229.97", "85.215.229.86" ],
            "location" : "de/txl",
            "size" : 2,
            "name" : "puppet_module_test6f2c9fewfewfgddqdqwdqw4d0ebc5ed",
            "ipConsumers" : [ ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:29:46 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/3fbc419f-0e1e-47eb-b2c9-f9954d372e9d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3fbc419f-0e1e-47eb-b2c9-f9954d372e9d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/3fbc419f-0e1e-47eb-b2c9-f9954d372e9d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a99fe3b3-1293-430a-9387-12d56c41f69f",
                "type" : "ipblock",
                "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/a99fe3b3-1293-430a-9387-12d56c41f69f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:29:46 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/ipblocks",
          "items" : [ {
            "id" : "47b7c6df-2562-452c-adfd-e2ee898e7dda",
            "type" : "ipblock",
            "href" : "https://api.ionos.com/cloudapi/v6/ipblocks/47b7c6df-2562-452c-adfd-e2ee898e7dda",
            "metadata" : {
              "etag" : "ef113349eed12cdc7ddd7946b0729231",
              "createdDate" : "2021-07-30T13:29:46Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
[...]
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9fwfewfewddsgh5eh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"INTEL_SKYLAKE","type":"ENTERPRISE"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 7a96bce299444780c1d87be85dd10fce
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/a39c54aa-3db4-4db9-880b-8796aa46d46e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a27a3268-b3f9-46df-bb9d-e8b0ffeab06a",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a",
          "metadata" : {
            "etag" : "7a96bce299444780c1d87be85dd10fce",
            "createdDate" : "2021-07-30T13:29:47Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:29:47Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9fwfewfewddsgh5eh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_SKYLAKE",
            "type" : "ENTERPRISE"
          },
          "entities" : {
            "cdroms" : {
              "id" : "a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/cdroms"
            },
            "volumes" : {
              "id" : "a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/volumes"
            },
            "nics" : {
              "id" : "a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/nics"
            }
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:29:47 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Fri, 30 Jul 2021 13:29:59 GMT
recorded_with: VCR 6.0.0
