---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/servers/4d07c465-9ad7-4c4b-807c-3d3a72503110/nics/bbfacf45-b978-4f2c-a647-ad534742fcdb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/9e470179-e2c2-4cfe-931d-dd0a29e0d421/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 12:35:11 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/9e470179-e2c2-4cfe-931d-dd0a29e0d421/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9e470179-e2c2-4cfe-931d-dd0a29e0d421/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/9e470179-e2c2-4cfe-931d-dd0a29e0d421/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "bbfacf45-b978-4f2c-a647-ad534742fcdb",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/02068daa-8023-4188-97f8-5b8cee517211/servers/4d07c465-9ad7-4c4b-807c-3d3a72503110/nics/bbfacf45-b978-4f2c-a647-ad534742fcdb"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 12:36:23 GMT
recorded_with: VCR 6.0.0
