---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers/eaa4da84-c17b-40bd-b9bc-3d13b43d9698/nics/4c934ec5-184a-47e4-9f2d-c5c4e111a97b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/a37d36f4-c8c5-41ff-a5dd-70cadfb507b5/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 24 May 2021 08:03:19 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/a37d36f4-c8c5-41ff-a5dd-70cadfb507b5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a37d36f4-c8c5-41ff-a5dd-70cadfb507b5/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/a37d36f4-c8c5-41ff-a5dd-70cadfb507b5/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "4c934ec5-184a-47e4-9f2d-c5c4e111a97b",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers/eaa4da84-c17b-40bd-b9bc-3d13b43d9698/nics/4c934ec5-184a-47e4-9f2d-c5c4e111a97b"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:03:50 GMT
recorded_with: VCR 6.0.0
