---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "metadata" : {
              "etag" : "8cccafe2d989a4c04c14acdb78891e91",
              "createdDate" : "2021-05-24T08:02:10Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-24T08:02:29Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6ffwedqdqdqwdqw5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 4,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers"
              },
              "volumes" : {
                "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/volumes"
              },
              "loadbalancers" : {
                "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/loadbalancers"
              },
              "lans" : {
                "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/lans"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Mon, 24 May 2021 08:02:44 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 24 May 2021 08:02:46 GMT
recorded_with: VCR 6.0.0
