---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/nics/00f9e9c5-f71e-4b6e-a23b-889455f24531
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/7f92cb6a-1dae-4183-b07d-293c481c56b3/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 15:15:52 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/7f92cb6a-1dae-4183-b07d-293c481c56b3/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7f92cb6a-1dae-4183-b07d-293c481c56b3/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/7f92cb6a-1dae-4183-b07d-293c481c56b3/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "00f9e9c5-f71e-4b6e-a23b-889455f24531",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/4ad9da28-079f-4a08-9a4c-df37ac00e3cb/servers/2aca1398-8780-458a-bf87-173e28cd64f6/nics/00f9e9c5-f71e-4b6e-a23b-889455f24531"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:16:24 GMT
recorded_with: VCR 6.0.0
