---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/cf03c457-8245-4f3a-b658-453378db683a/nics/53fcf4dc-3e60-448a-a1da-2d007b675879
    body:
      encoding: UTF-8
      string: '{"ips":["208.94.36.99","208.94.36.101"],"dhcp":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "httpStatus" : 422,
          "messages" : [ {
            "errorCode" : "100",
            "message" : "[(root).properties.ips.0] Access Denied as you do not have the permission for this operation."
          }, {
            "errorCode" : "100",
            "message" : "[(root).properties.ips.1] Access Denied as you do not have the permission for this operation."
          } ]
        }
  recorded_at: Thu, 08 Apr 2021 15:05:33 GMT
recorded_with: VCR 6.0.0
