---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/nics/ca56a5ff-1272-47bb-93a5-95627543a00b/firewallrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"SSH","protocol":"TCP","portRangeStart":22,"portRangeEnd":22}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 043d0faa0f2e60f0ef9a7363d2edb191
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/e6a104fa-db91-4c48-b44b-b5bb8dad114c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "8780a5ed-229e-4ab8-b733-1f606efd59c6",
          "type" : "firewall-rule",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/nics/ca56a5ff-1272-47bb-93a5-95627543a00b/firewallrules/8780a5ed-229e-4ab8-b733-1f606efd59c6",
          "metadata" : {
            "etag" : "043d0faa0f2e60f0ef9a7363d2edb191",
            "createdDate" : "2021-07-30T13:30:26Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:30:26Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "SSH",
            "protocol" : "TCP",
            "sourceMac" : null,
            "sourceIp" : null,
            "targetIp" : null,
            "icmpCode" : null,
            "icmpType" : null,
            "portRangeStart" : 22,
            "portRangeEnd" : 22,
            "type" : null
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:30:26 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/e6a104fa-db91-4c48-b44b-b5bb8dad114c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e6a104fa-db91-4c48-b44b-b5bb8dad114c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/e6a104fa-db91-4c48-b44b-b5bb8dad114c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "8780a5ed-229e-4ab8-b733-1f606efd59c6",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers/a27a3268-b3f9-46df-bb9d-e8b0ffeab06a/nics/ca56a5ff-1272-47bb-93a5-95627543a00b/firewallrules/8780a5ed-229e-4ab8-b733-1f606efd59c6"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:30:32 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919",
            "metadata" : {
              "etag" : "0de8361afc7a9dcf7eb23cd8352cc198",
              "createdDate" : "2021-07-30T13:11:40Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T13:30:33Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6ffnfqwfqwfqfqwfd0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 17,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers"
              },
              "volumes" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/volumes"
              },
              "loadbalancers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/loadbalancers"
              },
              "lans" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/lans"
              },
              "applicationloadbalancers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/natgateways"
              }
            }
          }, {
            "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Fri, 30 Jul 2021 13:30:40 GMT
recorded_with: VCR 6.0.0
