---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/servers/291b7920-2525-4ca3-912d-ccf4abcdd608/nics/5f4f8c28-689b-4cdc-84b9-31819d5a0e32/firewallrules
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"SSH","protocol":"TCP","portRangeStart":22,"portRangeEnd":22}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 43298db8a6ab0276755b80443317df12
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/7e4f2535-064c-43c9-b4a8-5a49049f8a79/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6c3e23ce-8624-40f2-a8e2-0f0f668e05fb",
          "type" : "firewall-rule",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/servers/291b7920-2525-4ca3-912d-ccf4abcdd608/nics/5f4f8c28-689b-4cdc-84b9-31819d5a0e32/firewallrules/6c3e23ce-8624-40f2-a8e2-0f0f668e05fb",
          "metadata" : {
            "etag" : "43298db8a6ab0276755b80443317df12",
            "createdDate" : "2021-04-14T09:31:51Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T09:31:51Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "SSH",
            "protocol" : "TCP",
            "sourceMac" : null,
            "sourceIp" : null,
            "targetIp" : null,
            "icmpCode" : null,
            "icmpType" : null,
            "portRangeStart" : 22,
            "portRangeEnd" : 22
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:31:52 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/7e4f2535-064c-43c9-b4a8-5a49049f8a79/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7e4f2535-064c-43c9-b4a8-5a49049f8a79/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/7e4f2535-064c-43c9-b4a8-5a49049f8a79/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6c3e23ce-8624-40f2-a8e2-0f0f668e05fb",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/servers/291b7920-2525-4ca3-912d-ccf4abcdd608/nics/5f4f8c28-689b-4cdc-84b9-31819d5a0e32/firewallrules/6c3e23ce-8624-40f2-a8e2-0f0f668e05fb"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:32:02 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "55adf886-688f-46a2-a229-3c4a5bd96210",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210",
            "metadata" : {
              "etag" : "625c5eb0c1194eb1e41ca773dfadb01b",
              "createdDate" : "2021-04-14T09:16:12Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-14T09:32:04Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 20,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/servers"
              },
              "volumes" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes"
              },
              "loadbalancers" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/loadbalancers"
              },
              "lans" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
[...]
