---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/pccs/43f38f87-acd8-40b4-9588-76e171b320e9
    body:
      encoding: UTF-8
      string: '{"description":"new_description"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 112c5dbcdf6c9dada4932eb5345066a2
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/5aa68608-61db-4102-a29e-6cc3ba46ff05/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "43f38f87-acd8-40b4-9588-76e171b320e9",
          "type" : "pcc",
          "href" : "https://api.ionos.com/cloudapi/v5/pccs/43f38f87-acd8-40b4-9588-76e171b320e9",
          "metadata" : {
            "createdDate" : "2021-05-21T14:52:30Z",
            "createdBy" : "username",
            "etag" : "112c5dbcdf6c9dada4932eb5345066a2",
            "lastModifiedDate" : "2021-05-21T14:52:37Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_teasdasdsada7a96c14sfgddsgh5eh4d0ebc5ed",
            "description" : "new_description",
            "peers" : [ {
              "id" : "1",
              "name" : "puppet_module_test6f2c9f7asdadfadddsgh5eh4d0ebc5ed",
              "datacenterId" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9",
              "datacenterName" : "puppet_module_test6f2s23r2r32rh5eh4d0ebc5ed",
              "location" : "us/las"
            } ],
            "connectableDatacenters" : [ {
              "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9",
              "name" : "puppet_module_test6f2s23r2r32rh5eh4d0ebc5ed",
              "location" : "us/las"
            }, {
              "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926",
              "name" : "puppet_module_test6f2c9f7a96c14ef08d20f796d0ebc5ed",
              "location" : "us/las"
            }, {
              "id" : "011ff270-341f-49d6-99a7-5c8d18047c7f",
              "name" : "puppet_module_test6f2c9f7a96c14sfgddsgh5eh4d0ebc5ed",
              "location" : "us/las"
            }, {
              "id" : "c7f1f73b-af3f-4144-9b44-afda10a26d40",
              "name" : "puppet_module_test04cacda602e04de3b7c41bd099c46550",
              "location" : "us/las"
            }, {
              "id" : "91d68ba4-523e-4dc2-8d5b-2234c0298593",
              "name" : "TestDataCenter",
              "location" : "us/las"
            }, {
              "id" : "2faccf51-fe7d-457b-8e80-1adf1496decc",
              "name" : "Puppet Module Test",
              "location" : "us/las"
            }, {
              "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
              "name" : "myDataCenter2",
              "location" : "us/las"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:52:37 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/5aa68608-61db-4102-a29e-6cc3ba46ff05/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "5aa68608-61db-4102-a29e-6cc3ba46ff05/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/5aa68608-61db-4102-a29e-6cc3ba46ff05/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "43f38f87-acd8-40b4-9588-76e171b320e9",
                "type" : "pcc",
                "href" : "https://api.ionos.com/cloudapi/v5/pccs/43f38f87-acd8-40b4-9588-76e171b320e9"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:52:37 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9",
            "metadata" : {
              "etag" : "2cba443edc18180380ac955319aba6e1",
              "createdDate" : "2021-05-21T14:52:24Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:52:24Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2s23r2r32rh5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 3,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/servers"
              },
              "volumes" : {
                "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/volumes"
              },
              "loadbalancers" : {
                "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/loadbalancers"
              },
              "lans" : {
                "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/lans"
              }
            }
          }, {
            "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/pccs?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      e[...]
