---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/pccs
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","description":"Puppet Module
        Test description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f79aa3ad53900064eb9e8979a0942a2e
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/8d726e45-f427-4fcb-9495-b1c50e5c0267/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "45a0e8e8-5069-46e5-858a-56fb92fa1b0d",
          "type" : "pcc",
          "href" : "https://api.ionos.com/cloudapi/v5/pccs/45a0e8e8-5069-46e5-858a-56fb92fa1b0d",
          "metadata" : {
            "createdDate" : "2021-04-23T12:24:35Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "etag" : "f79aa3ad53900064eb9e8979a0942a2e",
            "lastModifiedDate" : "2021-04-23T12:24:35Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : "Puppet Module Test description",
            "peers" : [ ],
            "connectableDatacenters" : [ ]
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:24:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/8d726e45-f427-4fcb-9495-b1c50e5c0267/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "8d726e45-f427-4fcb-9495-b1c50e5c0267/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/8d726e45-f427-4fcb-9495-b1c50e5c0267/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "45a0e8e8-5069-46e5-858a-56fb92fa1b0d",
                "type" : "pcc",
                "href" : "https://api.ionos.com/cloudapi/v5/pccs/45a0e8e8-5069-46e5-858a-56fb92fa1b0d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:24:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "metadata" : {
              "etag" : "623aad832d3fc777c478436388ccec5a",
              "createdDate" : "2021-04-14T12:35:57Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-23T12:23:54Z",
              "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 72,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers"
              },
              "volumes" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes"
              },
              "loadbalancers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers"
              },
              "lans" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1
    body:
      encoding: UTF-8
      string: '{"pcc":"45a0e8e8-5069-46e5-858a-56fb92fa1b0d"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f6186ead09ffa9de8b72e8975a675395
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/29dc2b95-f310-450c-ab62-b8fc67d1eeff/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1",
          "metadata" : {
            "etag" : "f6186ead09ffa9de8b72e8975a675395",
            "createdDate" : "2021-04-14T12:36:16Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-23T12:24:36Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "ipFailover" : [ ],
            "pcc" : "45a0e8e8-5069-46e5-858a-56fb92fa1b0d",
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1/nics"
            }
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:24:35 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/29dc2b95-f310-450c-ab62-b8fc67d1eeff/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "29dc2b95-f310-450c-ab62-b8fc67d1eeff/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/29dc2b95-f310-450c-ab62-b8fc67d1eeff/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:25:12 GMT
recorded_with: VCR 6.0.0
