---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/pccs/c8761613-a23f-4b40-ae92-7134d11d4c3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6dd3307c-a781-4649-9f81-4c7c23fde015/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 02 Aug 2021 08:38:56 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6dd3307c-a781-4649-9f81-4c7c23fde015/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6dd3307c-a781-4649-9f81-4c7c23fde015/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6dd3307c-a781-4649-9f81-4c7c23fde015/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c8761613-a23f-4b40-ae92-7134d11d4c3c",
                "type" : "pcc",
                "href" : "https://api.ionos.com/cloudapi/v6/pccs/c8761613-a23f-4b40-ae92-7134d11d4c3c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:38:56 GMT
recorded_with: VCR 6.0.0
