---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "metadata" : {
              "etag" : "d391d77c4533288d73ac258f02695658",
              "createdDate" : "2021-04-14T12:35:57Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-23T12:24:37Z",
              "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 73,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers"
              },
              "volumes" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes"
              },
              "loadbalancers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers"
              },
              "lans" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/pccs?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "pccs",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/pccs",
          "items" : [ {
            "id" : "45a0e8e8-5069-46e5-858a-56fb92fa1b0d",
            "type" : "pcc",
            "href" : "https://api.ionos.com/cloudapi/v5/pccs/45a0e8e8-5069-46e5-858a-56fb92fa1b0d",
            "metadata" : {
              "createdDate" : "2021-04-23T12:24:35Z",
              "createdBy" : "radu-ionut.mocanu@ionos.com",
              "etag" : "2a0a80fefaa0ea53d0a1215a58671a81",
              "lastModifiedDate" : "2021-04-23T12:25:13Z",
              "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : "new_description",
              "peers" : [ {
                "id" : "1",
                "name" : "Puppet Module Test",
                "datacenterId" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
                "datacenterName" : "Puppet Module Test",
                "location" : "us/las"
              } ],
              "connectableDatacenters" : [ {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
                "name" : "Puppet Module Test",
                "location" : "us/las"
              }, {
                "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
                "name" : "myDataCenter2",
                "location" : "us/las"
              } ]
            }
          }, {
            "id" : "08c062e5-b40c-44a9-942d-dfde5c69140e",
            "type" : "pcc",
            "href" : "https://api.ionos.com/cloudap[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1
    body:
      encoding: UTF-8
      string: '{"pcc":null}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d0a387437ac5897a64c97414fc544419
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/630e5977-78ba-401b-a455-e92e43d03595/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1",
          "metadata" : {
            "etag" : "d0a387437ac5897a64c97414fc544419",
            "createdDate" : "2021-04-14T12:36:16Z",
            "createdBy" : "radu-ionut.mocanu@ionos.com",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-23T12:25:15Z",
            "lastModifiedBy" : "radu-ionut.mocanu@ionos.com",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1/nics"
            }
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:25:14 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/630e5977-78ba-401b-a455-e92e43d03595/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "630e5977-78ba-401b-a455-e92e43d03595/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/630e5977-78ba-401b-a455-e92e43d03595/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:25:56 GMT
[...]
