---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/pccs/c8761613-a23f-4b40-ae92-7134d11d4c3c
    body:
      encoding: UTF-8
      string: '{"description":"new_description"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - a481df87cfb823c12638152c549ec9ba
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/444d1213-5d24-40ff-9237-1e1987478a61/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "c8761613-a23f-4b40-ae92-7134d11d4c3c",
          "type" : "pcc",
          "href" : "https://api.ionos.com/cloudapi/v6/pccs/c8761613-a23f-4b40-ae92-7134d11d4c3c",
          "metadata" : {
            "createdDate" : "2021-08-02T08:38:41Z",
            "createdBy" : "username",
            "etag" : "a481df87cfb823c12638152c549ec9ba",
            "lastModifiedDate" : "2021-08-02T08:38:48Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_teasdasdsada7a96c14sfgddsgh5eh4d0ebc5ed",
            "description" : "new_description",
            "peers" : [ {
              "id" : "1",
              "name" : "puppet_module_test6f2c9f7asdadfadddsgh5eh4d0ebc5ed",
              "datacenterId" : "26eec52b-e664-43cd-b820-d43d057a2859",
              "datacenterName" : "puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed",
              "location" : "de/txl"
            } ],
            "connectableDatacenters" : [ {
              "id" : "26eec52b-e664-43cd-b820-d43d057a2859",
              "name" : "puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed",
              "location" : "de/txl"
            }, {
              "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea",
              "name" : "puppet_module_testubnfctjrfqwfeh4d0ebc5ed",
              "location" : "de/txl"
            }, {
              "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
              "name" : "puppet_module_tes24334qwfqfwqfwqfqwfqg4b390h30",
              "location" : "de/txl"
            }, {
              "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549",
              "name" : "puppet_module_tes24334gvg3v43vg4b390h30",
              "location" : "de/txl"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:38:48 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/444d1213-5d24-40ff-9237-1e1987478a61/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "444d1213-5d24-40ff-9237-1e1987478a61/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/444d1213-5d24-40ff-9237-1e1987478a61/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c8761613-a23f-4b40-ae92-7134d11d4c3c",
                "type" : "pcc",
                "href" : "https://api.ionos.com/cloudapi/v6/pccs/c8761613-a23f-4b40-ae92-7134d11d4c3c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:38:48 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "26eec52b-e664-43cd-b820-d43d057a2859",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859",
            "metadata" : {
              "etag" : "c86d72aab84ddcd3d2b0c85ea4250f24",
              "createdDate" : "2021-08-02T08:38:34Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-02T08:38:34Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 3,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/servers"
              },
              "volumes" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/volumes"
              },
              "loadbalancers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/loadbalancers"
              },
              "lans" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/lans"
              },
              "applicationloadbalancers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/natgateways"
              }
            }
          }, {
            "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/pccs?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      e[...]
