---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea",
            "metadata" : {
              "etag" : "dde8602be76352c823dd374729da4f6b",
              "createdDate" : "2021-08-02T08:35:12Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-02T08:36:08Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_testubnfctjrfqwfeh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 9,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/servers"
              },
              "volumes" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/volumes"
              },
              "loadbalancers" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/loadbalancers"
              },
              "lans" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/lans"
              },
              "applicationloadbalancers" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea/natgateways"
              }
            }
          }, {
            "id" : "19a7b582-967c-4b9e-8918-505fba8e1f25",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/19a7b582-967c-4b9e-8918-505fba8e1f25",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed","description":"Puppet
        Module test description","location":"de/txl"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d020025fc00f82dd30d803acf737e3af
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/b9db5d6e-3530-4bc1-a76e-5bd119529371/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "26eec52b-e664-43cd-b820-d43d057a2859",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859",
          "metadata" : {
            "etag" : "d020025fc00f82dd30d803acf737e3af",
            "createdDate" : "2021-08-02T08:38:34Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:38:34Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "de/txl",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:38:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/b9db5d6e-3530-4bc1-a76e-5bd119529371/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b9db5d6e-3530-4bc1-a76e-5bd119529371/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/b9db5d6e-3530-4bc1-a76e-5bd119529371/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:38:34 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "26eec52b-e664-43cd-b820-d43d057a2859/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/lans",
          "items" : [ ]
        }
  recorded_at: Mon, 02 Aug 2021 08:38:34 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7asdadfadddsgh5eh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 828addab5c2728e299bec2769784d48f
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/932bff58-82b2-4cf6-821b-5bec85767b32/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/lans/1",
          "metadata" : {
            "etag" : "828addab5c2728e299bec2769784d48f",
            "createdDate" : "2021-08-02T08:38:36Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:38:36Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7asdadfadddsgh5eh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:38:36 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/932bff58-82b2-4cf6-821b-5bec85767b32/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "932bff58-82b2-4cf6-821b-5bec85767b32/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/932bff58-82b2-4cf6-821b-5bec85767b32/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:38:41 GMT
recorded_with: VCR 6.0.0
