---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '893'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d",
            "metadata" : {
              "etag" : "774e025e73cbd1b9eb8dffbfe0fe3e95",
              "createdDate" : "2021-06-25T12:26:06Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-25T12:27:51Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_testubnfctjrfqwfeh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 6,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/servers"
              },
              "volumes" : {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/volumes"
              },
              "loadbalancers" : {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/loadbalancers"
              },
              "lans" : {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/lans"
              },
              "natgateways" : {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d/applicationloadbalancers"
              }
            }
          }, {
            "id" : "2b782c36-dfe2-43e2-ba1b-86dfea84723b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/2b782c36-dfe2-43e2-ba1b-86df[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/pccs?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '896'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "pccs",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/pccs",
          "items" : [ {
            "id" : "50b474e7-4955-4d5a-90f6-5abbee637e18",
            "type" : "pcc",
            "href" : "https://api.ionos.com/cloudapi/v6/pccs/50b474e7-4955-4d5a-90f6-5abbee637e18",
            "metadata" : {
              "createdDate" : "2021-06-25T12:28:04Z",
              "createdBy" : "username",
              "etag" : "597a23c08abe2860a2abba5bf82d5cf3",
              "lastModifiedDate" : "2021-06-25T12:28:11Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_teasdasdsada7a96c14sfgddsgh5eh4d0ebc5ed",
              "description" : "new_description",
              "peers" : [ {
                "id" : "1",
                "name" : "puppet_module_test6f2c9f7asdadfadddsgh5eh4d0ebc5ed",
                "datacenterId" : "2b782c36-dfe2-43e2-ba1b-86dfea84723b",
                "datacenterName" : "puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed",
                "location" : "us/las"
              } ],
              "connectableDatacenters" : [ {
                "id" : "8c5c8427-8cb0-48ae-9b45-0ba1865a2e8d",
                "name" : "puppet_module_testubnfctjrfqwfeh4d0ebc5ed",
                "location" : "us/las"
              }, {
                "id" : "2b782c36-dfe2-43e2-ba1b-86dfea84723b",
                "name" : "puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed",
                "location" : "us/las"
              }, {
                "id" : "ecda5ce3-aad4-40a2-abc6-08b7a61bdd99",
                "name" : "puppet_module_test6fqf3g[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/2b782c36-dfe2-43e2-ba1b-86dfea84723b/lans/1
    body:
      encoding: UTF-8
      string: '{"pcc":null}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - c0d24cc33b197da3fa02bcaacb012fb5
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/c43edd2e-737e-469a-8ce3-092e195d50b7/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/2b782c36-dfe2-43e2-ba1b-86dfea84723b/lans/1",
          "metadata" : {
            "etag" : "c0d24cc33b197da3fa02bcaacb012fb5",
            "createdDate" : "2021-06-25T12:28:00Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T12:28:13Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7asdadfadddsgh5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/2b782c36-dfe2-43e2-ba1b-86dfea84723b/lans/1/nics"
            }
          }
        }
  recorded_at: Fri, 25 Jun 2021 12:28:12 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/c43edd2e-737e-469a-8ce3-092e195d50b7/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c43edd2e-737e-469a-8ce3-092e195d50b7/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/c43edd2e-737e-469a-8ce3-092e195d50b7/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/2b782c36-dfe2-43e2-ba1b-86dfea84723b/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 12:28:17 GMT
[...]
