---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/pccs/50b474e7-4955-4d5a-90f6-5abbee637e18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/d65b9125-1224-4e64-8813-71541f1ad80d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 12:28:19 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/d65b9125-1224-4e64-8813-71541f1ad80d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "d65b9125-1224-4e64-8813-71541f1ad80d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/d65b9125-1224-4e64-8813-71541f1ad80d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "50b474e7-4955-4d5a-90f6-5abbee637e18",
                "type" : "pcc",
                "href" : "https://api.ionos.com/cloudapi/v6/pccs/50b474e7-4955-4d5a-90f6-5abbee637e18"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 12:28:19 GMT
recorded_with: VCR 6.0.0
