---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/pccs/45a0e8e8-5069-46e5-858a-56fb92fa1b0d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/f9759bb2-90fe-47ac-86f0-25a986e9624b/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Apr 2021 12:25:57 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/f9759bb2-90fe-47ac-86f0-25a986e9624b/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f9759bb2-90fe-47ac-86f0-25a986e9624b/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/f9759bb2-90fe-47ac-86f0-25a986e9624b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "45a0e8e8-5069-46e5-858a-56fb92fa1b0d",
                "type" : "pcc",
                "href" : "https://api.ionos.com/cloudapi/v5/pccs/45a0e8e8-5069-46e5-858a-56fb92fa1b0d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 23 Apr 2021 12:25:57 GMT
recorded_with: VCR 6.0.0
