---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/databases/postgresql/clusters/660586d0-a397-11ec-ac51-82a34c99d4c7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"cluster","id":"660586d0-a397-11ec-ac51-82a34c99d4c7","metadata":{"state":"DESTROYING","createdDate":"2022-03-14T13:05:18Z","createdBy":"username","createdByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0","lastModifiedDate":"2022-03-14T13:13:16Z","lastModifiedBy":"username","lastModifiedByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0"},"properties":{"displayName":"puppet_module_test0423r2r23r2gwsgwsgewgwegwegh246558","location":"de/txl","connections":[{"datacenterId":"86279c5d-d59d-4d82-ad46-65ac357ceeed","lanId":"1","cidr":"192.168.1.105/24"}],"cores":1,"postgresVersion":"12","ram":2048,"instances":1,"storageSize":8096,"storageType":"HDD","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"16:30:59"},"synchronizationMode":"ASYNCHRONOUS"}}

        '
  recorded_at: Mon, 14 Mar 2022 13:25:09 GMT
recorded_with: VCR 6.0.0
