---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df",
            "metadata" : {
              "etag" : "a80ce9ad02e23cf7414c4946ea5f0557",
              "createdDate" : "2022-03-14T13:04:32Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-03-14T13:05:14Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "BUSY"
            },
            "properties" : {
              "name" : "SDK AUTO-TEST",
              "description" : "Datacenter created by an automated test.",
              "location" : "de/fra",
              "version" : 5,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "vnf-nat", "ssd", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "monitoring", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "k8s-cidr-s3-support", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df/servers"
              },
              "volumes" : {
                "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df/volumes"
              },
              "loadbalancers" : {
                "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df/loadbalancers"
              },
              "lans" : {
                "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df/lans"
              },
              "applicationloadbalancers" : {
                "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "82ea1bce-cd2a-4e8c-b05e-43a3c04612df/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/82ea1bce-cd2a-4e8c-b05e-43a3c04612df/networkloadbalancers"
              }
            }
          }, {
            "id" : "86279c5d-d59d-4d82-ad46-65ac357ceeed",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/86279c5d-d59d-4d82-ad46-65ac357ceeed[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/86279c5d-d59d-4d82-ad46-65ac357ceeed/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/databases/postgresql/clusters
    body:
      encoding: UTF-8
      string: '{"properties":{"postgresVersion":"12","instances":1,"cores":1,"ram":2048,"storageSize":4096,"storageType":"HDD","connections":[{"datacenterId":"86279c5d-d59d-4d82-ad46-65ac357ceeed","lanId":"1","cidr":"192.168.1.105/24"}],"location":"de/txl","displayName":"puppet_module_test0423r2r23r2gwsgwsgewgwegwegh246558","maintenanceWindow":{"time":"16:30:59","dayOfTheWeek":"Sunday"},"credentials":{"username":"test","password":"7357cluster"},"synchronizationMode":"ASYNCHRONOUS","fromBackup":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"cluster","id":"660586d0-a397-11ec-ac51-82a34c99d4c7","metadata":{"state":"BUSY","createdDate":"2022-03-14T13:05:18Z","createdBy":"username","createdByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0"},"properties":{"displayName":"puppet_module_test0423r2r23r2gwsgwsgewgwegwegh246558","location":"de/txl","connections":[{"datacenterId":"86279c5d-d59d-4d82-ad46-65ac357ceeed","lanId":"1","cidr":"192.168.1.105/24"}],"cores":1,"postgresVersion":"12","ram":2048,"instances":1,"storageSize":4096,"storageType":"HDD","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"16:30:59"},"synchronizationMode":"ASYNCHRONOUS"}}

        '
  recorded_at: Mon, 14 Mar 2022 13:05:18 GMT
- request:
    method: get
    uri: https://api.ionos.com/databases/postgresql/clusters/660586d0-a397-11ec-ac51-82a34c99d4c7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"cluster","id":"660586d0-a397-11ec-ac51-82a34c99d4c7","metadata":{"state":"UNKNOWN","createdDate":"2022-03-14T13:05:18Z","createdBy":"username","createdByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0"},"properties":{"displayName":"puppet_module_test0423r2r23r2gwsgwsgewgwegwegh246558","location":"de/txl","connections":[{"datacenterId":"86279c5d-d59d-4d82-ad46-65ac357ceeed","lanId":"1","cidr":"192.168.1.105/24"}],"cores":1,"postgresVersion":"12","ram":2048,"instances":1,"storageSize":4096,"storageType":"HDD","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"16:30:59"},"synchronizationMode":"ASYNCHRONOUS"}}

        '
  recorded_at: Mon, 14 Mar 2022 13:05:24 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/databases/postgresql/clusters/660586d0-a397-11ec-ac51-82a34c99d4c7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"cluster","id":"660586d0-a397-11ec-ac51-82a34c99d4c7","metadata":{"state":"AVAILABLE","createdDate":"2022-03-14T13:05:18Z","createdBy":"username","createdByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0"},"properties":{"displayName":"puppet_module_test0423r2r23r2gwsgwsgewgwegwegh246558","location":"de/txl","connections":[{"datacenterId":"86279c5d-d59d-4d82-ad46-65ac357ceeed","lanId":"1","cidr":"192.168.1.105/24"}],"cores":1,"postgresVersion":"12","ram":2048,"instances":1,"storageSize":4096,"storageType":"HDD","maintenanceWindow":{"dayOfTheWeek":"Sunday","time":"16:30:59"},"synchronizationMode":"ASYNCHRONOUS"}}

        '
  recorded_at: Mon, 14 Mar 2022 13:13:16 GMT
recorded_with: VCR 6.0.0
