---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/groups/0b766ddd-0f3a-48fe-b735-45bbf9cc1fd6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/7381c639-6f67-428a-a01d-d6932acf6088/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Apr 2021 08:20:39 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/7381c639-6f67-428a-a01d-d6932acf6088/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7381c639-6f67-428a-a01d-d6932acf6088/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/7381c639-6f67-428a-a01d-d6932acf6088/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0b766ddd-0f3a-48fe-b735-45bbf9cc1fd6",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/0b766ddd-0f3a-48fe-b735-45bbf9cc1fd6"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 09 Apr 2021 08:20:39 GMT
recorded_with: VCR 6.0.0
