---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/users/b45813a1-a402-4a82-a58e-c073a9a2f0fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/1cc921ec-f58e-4308-ad64-cd0968af79ad/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Apr 2021 08:49:08 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/1cc921ec-f58e-4308-ad64-cd0968af79ad/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1cc921ec-f58e-4308-ad64-cd0968af79ad/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/1cc921ec-f58e-4308-ad64-cd0968af79ad/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b45813a1-a402-4a82-a58e-c073a9a2f0fd",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/b45813a1-a402-4a82-a58e-c073a9a2f0fd"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 09 Apr 2021 08:49:08 GMT
recorded_with: VCR 6.0.0
