---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/groups?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups",
          "items" : [ {
            "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : true,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : false,
              "createK8sCluster" : false
            },
            "entities" : {
              "users" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "items" : [ ]
              },
              "resources" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "items" : [ ]
              }
            }
          }, {
            "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : true,
              "createK8sCluster" : false
            },
            "entities" : {
              "users" : {
                "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a/users",
                "items" : [ {
                  "id" : "48a58b64-1680-4eba-af23-fc8859d89196",
                  "type" : "user",
                  "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196",
                  "metadata" : {
                    "etag" : "37a6259cc0c1dae299a7866489dff0bd",
                    "lastLogin" : null,
                    "createdDate" : "2021-04-06T08:16:04Z"
                  },
                  "properties" : {
                    "firstname" : "John2",
                    "lastname" : "Doe2",
                    "email" : "john.doe.00712@example.com",
                    "administrator" : false,
                    "forceSecAuth" : false,
                    "secAuthActive" : false,
                    "active" : true,
                    "s3CanonicalUserId" : "76170d7cf4bcc326ac5d950a439bb2f5"
                  },
                  "entities" : {
                    "owns" : {
                      "id" : "48a58b64-1680-4eba-af23-fc8859d89196/owns",
                      "type" : "collection",
                      "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196/owns"
                    },
                    "groups" : {
                      "id" : "48a58b64-1680-4eba-af23-fc8859d89196/groups",
                      "type" : "collection",
                      "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196/groups"
                    },
                    "s3Keys" : {
                      "id" : "48a58b64-1680-4eba-af23-fc8859d89196/s3keys",
                      "type" : "collection",
                      "href" : "https://api.ionos.com/cloudapi/v5/um/users/48a58b64-1680-4eba-af23-fc8859d89196/s3keys"
                    }
                  }
                }, {
                  "id" : "fe907f33-0bb8-49c5-b33d-4060b7c19bbd",
                  "type" : "user",
                  "href" : "https://api.ionos.com/cloudapi/v5/um/users/fe907f33-0bb8-49c5-b33[...]
