---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/users
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"John","lastname":"Doe","email":"john.doe_008@example.com","administrator":"true","forceSecAuth":"false","password":"Secrete.Password.001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 37a6259cc0c1dae299a7866489dff0bd
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/7fd7ae84-7575-4da6-b451-a1b16ffe4f9a/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3",
          "type" : "user",
          "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "lastLogin" : null,
            "createdDate" : "2021-04-14T09:35:43Z"
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "john.doe_008@example.com",
            "administrator" : true,
            "forceSecAuth" : false,
            "secAuthActive" : false,
            "active" : true,
            "s3CanonicalUserId" : null
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:35:43 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/7fd7ae84-7575-4da6-b451-a1b16ffe4f9a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7fd7ae84-7575-4da6-b451-a1b16ffe4f9a/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/7fd7ae84-7575-4da6-b451-a1b16ffe4f9a/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:35:43 GMT
recorded_with: VCR 6.0.0
