---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/groups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups",
          "items" : [ {
            "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : false,
              "createK8sCluster" : false
            },
            "entities" : {
              "users" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/users"
              },
              "resources" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources"
              }
            }
          }, {
            "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "properties" : {[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/users
    body:
      encoding: UTF-8
      string: '{"id":"a48a2757-a18c-4e7f-b7da-cf81534964f3"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 37a6259cc0c1dae299a7866489dff0bd
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/e361ee1a-069a-4cf1-9395-23da97159e26/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3",
          "type" : "user",
          "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "lastLogin" : null,
            "createdDate" : "2021-04-14T09:35:42Z"
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "john.doe_008@example.com",
            "administrator" : false,
            "forceSecAuth" : false,
            "secAuthActive" : false,
            "active" : true,
            "s3CanonicalUserId" : "ba58329c561c412ebb00c1aab01ecf01"
          },
          "entities" : {
            "owns" : {
              "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3/owns",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3/owns"
            },
            "groups" : {
              "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3/groups",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3/groups"
            },
            "s3Keys" : {
              "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3/s3keys",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3/s3keys"
            }
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:35:48 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/e361ee1a-069a-4cf1-9395-23da97159e26/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e361ee1a-069a-4cf1-9395-23da97159e26/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/e361ee1a-069a-4cf1-9395-23da97159e26/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a48a2757-a18c-4e7f-b7da-cf81534964f3",
                "type" : "user",
                "href" : "https://api.ionos.com/cloudapi/v5/um/users/a48a2757-a18c-4e7f-b7da-cf81534964f3"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:35:48 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/users?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
   [...]
