---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/groups/6b929b2d-1282-4247-9f0f-cb26d33ca0b6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/a6d334f5-2d5f-4385-9bf3-6197b4685a8a/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Apr 2021 12:55:34 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/a6d334f5-2d5f-4385-9bf3-6197b4685a8a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a6d334f5-2d5f-4385-9bf3-6197b4685a8a/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/a6d334f5-2d5f-4385-9bf3-6197b4685a8a/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6b929b2d-1282-4247-9f0f-cb26d33ca0b6",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/6b929b2d-1282-4247-9f0f-cb26d33ca0b6"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:55:34 GMT
recorded_with: VCR 6.0.0
