---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/users
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"John","lastname":"Doe","email":"john.doe_002@example.com","administrator":"true","forceSecAuth":"false","password":"Secrete.Password.001"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "httpStatus" : 422,
          "messages" : [ {
            "errorCode" : "200",
            "message" : "[VDC-0-7] Username john.doe_002@example.com already exists"
          } ]
        }
  recorded_at: Thu, 08 Apr 2021 15:10:13 GMT
recorded_with: VCR 6.0.0
