---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"false","s3Privilege":"false","createBackupUnit":"false","createInternetAccess":"false","createK8sCluster":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 521d925abed31d83c90982e8e37af41e
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/098b4670-e251-48f2-8768-9ca33473c75a/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "0b766ddd-0f3a-48fe-b735-45bbf9cc1fd6",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups/0b766ddd-0f3a-48fe-b735-45bbf9cc1fd6",
          "properties" : {
            "name" : "Puppet Module Test",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : false,
            "s3Privilege" : false,
            "createBackupUnit" : false,
            "createInternetAccess" : false,
            "createK8sCluster" : false
          }
        }
  recorded_at: Fri, 09 Apr 2021 08:20:37 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/098b4670-e251-48f2-8768-9ca33473c75a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "098b4670-e251-48f2-8768-9ca33473c75a/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/098b4670-e251-48f2-8768-9ca33473c75a/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0b766ddd-0f3a-48fe-b735-45bbf9cc1fd6",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/0b766ddd-0f3a-48fe-b735-45bbf9cc1fd6"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 09 Apr 2021 08:20:37 GMT
recorded_with: VCR 6.0.0
