---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/resources?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "resources",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/resources",
          "items" : [ {
            "id" : "91d68ba4-523e-4dc2-8d5b-2234c0298593",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/um/resources/datacenter/91d68ba4-523e-4dc2-8d5b-2234c0298593",
            "metadata" : {
              "etag" : "6cff0dcc3f1ea9837f3362dfc05cec69",
              "createdDate" : "2021-05-17T07:45:07Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-18T12:24:05Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "TestDataCenter",
              "secAuthProtection" : false
            },
            "entities" : {
              "groups" : {
                "id" : "91d68ba4-523e-4dc2-8d5b-2234c0298593/groups",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups"
              }
            }
          }, {
            "id" : "2faccf51-fe7d-457b-8e80-1adf1496decc",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/um/resources/datacenter/2faccf51-fe7d-457b-8e80-1adf1496decc",
            "metadata" : {
              "etag" : "e3578b9f[...]
