---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/resources?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "resources",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/resources",
          "items" : [ {
            "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/um/resources/datacenter/a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9",
            "metadata" : {
              "etag" : "2cba443edc18180380ac955319aba6e1",
              "createdDate" : "2021-05-21T14:52:24Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:52:24Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2s23r2r32rh5eh4d0ebc5ed",
              "secAuthProtection" : false
            },
            "entities" : {
              "groups" : {
                "id" : "a1be9b3b-9fdd-46f1-bead-d964ea0f0bd9/groups",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups"
              }
            }
          }, {
            "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/um/resources/datacenter/6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "metadata" : {
              "etag" : "d5666783[...]
