---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/resources?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "resources",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/resources",
          "items" : [ {
            "id" : "76841c99-f865-40b5-9e1a-1e1d20a70d05",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/um/resources/datacenter/76841c99-f865-40b5-9e1a-1e1d20a70d05",
            "metadata" : {
              "etag" : "e4fe1f8ef3c1f7fb16507b88d0cb5442",
              "createdDate" : "2021-05-26T15:18:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-26T15:18:27Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2s23r2r32rh5eh4d0ebc5ed",
              "secAuthProtection" : false
            },
            "entities" : {
              "groups" : {
                "id" : "76841c99-f865-40b5-9e1a-1e1d20a70d05/groups",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups"
              }
            }
          }, {
            "id" : "59da80ab-5753-40b4-98ff-a273878522bf",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/um/resources/datacenter/59da80ab-5753-40b4-98ff-a273878522bf",
            "metadata" : {
              "etag" : "80c5901a[...]
