---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/users?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "users",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users",
          "items" : [ {
            "id" : "f8c95908-27d1-4e02-b155-430695dae647",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647",
            "metadata" : {
              "etag" : "37a6259cc0c1dae299a7866489dff0bd",
              "lastLogin" : null,
              "createdDate" : "2022-10-27T12:25:13Z"
            },
            "properties" : {
              "firstname" : "John",
              "lastname" : "Doe",
              "email" : "no-reply46899843@example.com",
              "administrator" : true,
              "forceSecAuth" : false,
              "secAuthActive" : false,
              "active" : true,
              "s3CanonicalUserId" : "bfe43a58bd7e6ebf83018a423e40368c"
            },
            "entities" : {
              "owns" : {
                "id" : "f8c95908-27d1-4e02-b155-430695dae647/owns",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647/owns"
              },
              "groups" : {
                "id" : "f8c95908-27d1-4e02-b155-430695dae647/groups",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647/groups"
              },
              "s3Keys" : {
                "id" : "f8c95908-27d1-4e02-b155-430695dae647/s3keys",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647/s3keys"
              }
            }
          }, {
            "id" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "type" : "user",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/99156d9e-eb3f-4024-a3a4-283be74699c0",
            "metadata" : {
          [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647/s3keys?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f8c95908-27d1-4e02-b155-430695dae647/s3keys",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647/s3keys",
          "items" : [ {
            "id" : "54ae0c5ec4b3c552409a",
            "type" : "s3key",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647/s3keys/54ae0c5ec4b3c552409a",
            "metadata" : {
              "etag" : "60af21b638b81f4bb390acd7b58b698b",
              "createdDate" : "2022-10-27T12:25:15"
            },
            "properties" : {
              "secretKey" : "<Secret-Key>",
              "active" : false
            }
          }, {
            "id" : "13cb88ce1866d8a1fc1b",
            "type" : "s3key",
            "href" : "https://api.ionos.com/cloudapi/v6/um/users/f8c95908-27d1-4e02-b155-430695dae647/s3keys/13cb88ce1866d8a1fc1b",
            "metadata" : {
              "etag" : "015ecaa62ea5556e0bbdc57ff7137ab9",
              "createdDate" : "2022-10-27T12:25:35"
            },
            "properties" : {
              "secretKey" : "<Secret-Key>",
              "active" : true
            }
          } ]
        }
  recorded_at: Thu, 09 Feb 2023 15:59:53 GMT
[...]
