---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "metadata" : {
              "etag" : "c281ece77b78c8efad56afd5e7c386a3",
              "createdDate" : "2021-05-21T14:22:10Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:28:44Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test90d487df1ceb47848ab7e52a16d4ae63",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 15,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers"
              },
              "volumes" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes"
              },
              "loadbalancers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers"
              },
              "lans" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans"
              }
            }
          }, {
            "id" : "de56a208-5582-4ae8-a1dc-303ffe693aa5",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/de56a208-5582-4ae8-a1dc-303ffe693aa5",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 61665485414f3dd2a533e9fc4a82717b
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1",
          "metadata" : {
            "etag" : "61665485414f3dd2a533e9fc4a82717b",
            "createdDate" : "2021-05-21T14:22:12Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:22:12Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_testc4cc721445054d6ca233bb0f09b1fbdf",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1/nics"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 14:29:04 GMT
[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes/52ecaeac-2ec4-4523-bd31-972d7ed36a88
    body:
      encoding: UTF-8
      string: '{"size":20}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2a64c2c168d2bd7c2f1d9edbc7c76b7d
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/12966f32-342e-4ed3-be98-c161ddc29e3a/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "52ecaeac-2ec4-4523-bd31-972d7ed36a88",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes/52ecaeac-2ec4-4523-bd31-972d7ed36a88",
          "metadata" : {
            "etag" : "2a64c2c168d2bd7c2f1d9edbc7c76b7d",
            "createdDate" : "2021-05-21T14:22:29Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:29:07Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 20,
            "availabilityZone" : "AUTO",
            "image" : "baf3a6f9-aa39-11eb-8984-e2b74a99fe34",
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : 1,
            "userData" : null
          }
        }
  recorded_at: Fri, 21 May 2021 14:29:07 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 3","type":"HDD","size":10,"imagePassword":"parola123","imageAlias":"ubuntu:latest"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8563c9e5ac7e519ad306d9dde86fff26
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/eb84d147-7d1a-4c72-bb73-3f9e00729679/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1/volumes/5a5a5a1e-e1f5-48db-b2c2-55db91bcf973
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/e81e06df-6e1e-4027-8751-4cb21205fafc/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 14:29:07 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/eb84d147-7d1a-4c72-bb73-3f9e00729679/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "eb84d147-7d1a-4c72-bb73-3f9e00729679/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/eb84d147-7d1a-4c72-bb73-3f9e00729679/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "3ffc81ef-a702-44fc-9c71-4a85569fe060",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes/3ffc81ef-a702-44fc-9c71-4a85569fe060"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:30:20 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1/volumes
    body:
      encoding: UTF-8
      string: '{"id":"3ffc81ef-a702-44fc-9c71-4a85569fe060"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
 [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "items" : [ ]
        }
  recorded_at: Fri, 21 May 2021 14:30:34 GMT
recorded_with: VCR 6.0.0
