---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9",
            "metadata" : {
              "etag" : "5ac75148b277cec5715f8cd06078583f",
              "createdDate" : "2021-07-12T12:30:53Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T12:31:34Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 5,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers"
              },
              "volumes" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes"
              },
              "loadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers"
              },
              "lans" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans"
              },
              "networkloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 28074c379b28f4f9d9b51b6f109254e8
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1",
          "metadata" : {
            "etag" : "28074c379b28f4f9d9b51b6f109254e8",
            "createdDate" : "2021-07-12T12:30:55Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T12:30:55Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:31:48 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 12 Jul 2021 12:31:48 GMT
recorded_with: VCR 6.0.0
