---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "38486675-0110-478e-9079-e515242cd35b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b",
            "metadata" : {
              "etag" : "09471b33a72bb962d10da70eb98cc016",
              "createdDate" : "2021-04-08T13:38:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-12T14:38:50Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 193,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers"
              },
              "volumes" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes"
              },
              "loadbalancers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/loadbalancers"
              },
              "lans" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","cores":1,"ram":1024,"availabilityZone":"AUTO","cpuFamily":"INTEL_XEON"},"entities":{"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test","type":"SSD","size":100,"availabilityZone":"AUTO","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}},{"properties":{"name":"Puppet
        Module Test 2","type":"HDD","size":10,"availabilityZone":"ZONE_3","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}}]},"nics":{"items":[{"properties":{"name":"Puppet
        Module Test","dhcp":true,"lan":"1","nat":false},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","portRangeStart":22,"portRangeEnd":22}}]}}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 31dc7962f9d736f62e2f2b254653ce31
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/6c5e0d87-de19-42da-ba81-28c46a7ea3bf/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3f176e35-cbc6-4dc0-a3c9-45ba06c75916",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3f176e35-cbc6-4dc0-a3c9-45ba06c75916",
          "metadata" : {
            "etag" : "31dc7962f9d736f62e2f2b254653ce31",
            "createdDate" : "2021-04-12T14:39:10Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-12T14:39:10Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "volumes" : {
              "id" : "3f176e35-cbc6-4dc0-a3c9-45ba06c75916/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3f176e35-cbc6-4dc0-a3c9-45ba06c75916/volumes"
            },
            "nics" : {
              "id" : "3f176e35-cbc6-4dc0-a3c9-45ba06c75916/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3f176e35-cbc6-4dc0-a3c9-45ba06c75916/nics"
            }
          }
        }
  recorded_at: Mon, 12 Apr 2021 14:39:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/6c5e0d87-de19-42da-ba81-28c46a7ea3bf/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6c5e0d87-de19-42da-ba81-28c46a7ea3bf/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/6c5e0d87-de19-42da-ba81-28c46a7ea3bf/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "3f176e35-cbc6-4dc0-a3c9-45ba06c75916",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3f176e35-cbc6-4dc0-a3c9-45ba06c75916"
              },
              "status" : "QUEUED"
            }, {
              "target" : {
                "id" : "166ff2e6-70aa-4811-a60d-3674e5e1a10f",
                "type" : "volume",
                "href" : "https://api.ionos.com/clo[...]
[...]
