---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed","description":"Puppet
        Module test description","location":"de/txl"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4b5428be8b10e9dfe53db9f622014d8c
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/b037dccc-4e34-49ed-b797-bcb6dda2c4c2/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b71fa566-a843-4667-9991-259469531c3f",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f",
          "metadata" : {
            "etag" : "4b5428be8b10e9dfe53db9f622014d8c",
            "createdDate" : "2021-07-12T13:37:09Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:37:09Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "de/txl",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:37:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/b037dccc-4e34-49ed-b797-bcb6dda2c4c2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b037dccc-4e34-49ed-b797-bcb6dda2c4c2/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/b037dccc-4e34-49ed-b797-bcb6dda2c4c2/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:37:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "b71fa566-a843-4667-9991-259469531c3f",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f",
            "metadata" : {
              "etag" : "67b17ba023eb1b9bf27bc730bce7f7d4",
              "createdDate" : "2021-07-12T13:37:09Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T13:37:09Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 1,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers"
              },
              "volumes" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes"
              },
              "loadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/loadbalancers"
              },
              "lans" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans"
              },
              "networkloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - c5de845a74872200a03b44fc832b9643
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/5d070e54-95d7-4817-ab8b-6cf2bf134e3e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1",
          "metadata" : {
            "etag" : "c5de845a74872200a03b44fc832b9643",
            "createdDate" : "2021-07-12T13:37:10Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:37:10Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:37:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/5d070e54-95d7-4817-ab8b-6cf2bf134e3e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "5d070e54-95d7-4817-ab8b-6cf2bf134e3e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/5d070e54-95d7-4817-ab8b-6cf2bf134e3e/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:37:15 GMT
recorded_with: VCR 6.0.0
