---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "b71fa566-a843-4667-9991-259469531c3f",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f",
            "metadata" : {
              "etag" : "67b17ba023eb1b9bf27bc730bce7f7d4",
              "createdDate" : "2021-07-12T13:37:09Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T13:37:09Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 2,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers"
              },
              "volumes" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes"
              },
              "loadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/loadbalancers"
              },
              "lans" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans"
              },
              "networkloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwegwgwegwwdqw5eh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"INTEL_SKYLAKE","type":"ENTERPRISE"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2041d2d418882d897de56a85b4ea4a43
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/0b641e5c-f30a-4d1a-bc72-70eeeef24b61/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "128a4d5e-a3e3-48f4-a3c5-1859208e844c",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/128a4d5e-a3e3-48f4-a3c5-1859208e844c",
          "metadata" : {
            "etag" : "2041d2d418882d897de56a85b4ea4a43",
            "createdDate" : "2021-07-12T13:37:16Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:37:16Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwegwgwegwwdqw5eh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_SKYLAKE",
            "type" : "ENTERPRISE"
          },
          "entities" : {
            "cdroms" : {
              "id" : "128a4d5e-a3e3-48f4-a3c5-1859208e844c/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/128a4d5e-a3e3-48f4-a3c5-1859208e844c/cdroms"
            },
            "volumes" : {
              "id" : "128a4d5e-a3e3-48f4-a3c5-1859208e844c/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/128a4d5e-a3e3-48f4-a3c5-1859208e844c/volumes"
            },
            "nics" : {
              "id" : "128a4d5e-a3e3-48f4-a3c5-1859208e844c/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/128a4d5e-a3e3-48f4-a3c5-1859208e844c/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:37:16 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/0b641e5c-f30a-4d1a-bc72-70eeeef24b61/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "0b641e5c-f30a-4d1a-bc72-70eeeef24b61/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/0b641e5c-f30a-4d1a-bc72-70eeeef24b61/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "128a4d5e-a3e3-48f4-a3c5-1859208e844c",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/128a4d5e-a3e3-48f4-a3c5-1859208e844c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:37:26 GMT
recorded_with: VCR 6.0.0
