---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "metadata" : {
              "etag" : "346b95056357ecf3689b87c0b9ea52a2",
              "createdDate" : "2021-07-30T13:14:37Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T13:14:37Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_tes24334gvg3v43vg4b390h30",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 2,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549/servers"
              },
              "volumes" : {
                "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549/volumes"
              },
              "loadbalancers" : {
                "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549/loadbalancers"
              },
              "lans" : {
                "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549/lans"
              },
              "applicationloadbalancers" : {
                "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549/natgateways"
              }
            }
          }, {
            "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/52965bc8-49e8-4d81-adbf-47ee1e809889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/043b90aa-88f0-47c8-91d0-676b7e267e4e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 30 Jul 2021 13:16:47 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/043b90aa-88f0-47c8-91d0-676b7e267e4e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "043b90aa-88f0-47c8-91d0-676b7e267e4e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/043b90aa-88f0-47c8-91d0-676b7e267e4e/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "52965bc8-49e8-4d81-adbf-47ee1e809889",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/52965bc8-49e8-4d81-adbf-47ee1e809889"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:17:03 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/c279ec92-968d-4d78-b5d5-f160c56fe12d/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
   [...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/volumes/061cb86e-0cdb-4e0e-9ccb-3946f2b0d594
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/0e7a2e78-fa31-4a93-b387-53e36ebd79d9/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 30 Jul 2021 13:17:04 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/83c360f6-728d-49d8-88df-5b80506b3b33/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "83c360f6-728d-49d8-88df-5b80506b3b33/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/83c360f6-728d-49d8-88df-5b80506b3b33/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b46e5056-666f-48e0-8e1d-ba16a500fdbf",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/b46e5056-666f-48e0-8e1d-ba16a500fdbf"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:18:08 GMT
recorded_with: VCR 6.0.0
