---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "b71fa566-a843-4667-9991-259469531c3f",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f",
            "metadata" : {
              "etag" : "55d722e02cb6b19e4a51606ff74c9b49",
              "createdDate" : "2021-07-12T13:37:09Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T13:38:39Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 7,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers"
              },
              "volumes" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes"
              },
              "loadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/loadbalancers"
              },
              "lans" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans"
              },
              "networkloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce
    body:
      encoding: UTF-8
      string: '{"cores":2}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 44d43d43f2b7df005b8be602c9ecdf42
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/59afd1ea-93a8-4366-b8e7-b95699fd8745/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce",
          "metadata" : {
            "etag" : "44d43d43f2b7df005b8be602c9ecdf42",
            "createdDate" : "2021-07-12T13:37:29Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:39:10Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwgwegwegwegwegewgwh4d0ebc5ed",
            "cores" : 2,
            "ram" : 2048,
            "availabilityZone" : "AUTO",
            "vmState" : "RUNNING",
            "bootCdrom" : null,
            "bootVolume" : {
              "id" : "f8e921ba-0cef-4c64-a1e6-68abaed21dc9",
              "type" : "volume",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes/f8e921ba-0cef-4c64-a1e6-68abaed21dc9"
            },
            "cpuFamily" : "INTEL_SKYLAKE",
            "type" : "ENTERPRISE"
          },
          "entities" : {
            "cdroms" : {
              "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/cdroms"
            },
            "volumes" : {
              "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/volumes"
            },
            "nics" : {
              "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:39:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/59afd1ea-93a8-4366-b8e7-b95699fd8745/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "59afd1ea-93a8-4366-b8e7-b95699fd8745/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/59afd1ea-93a8-4366-b8e7-b95699fd8745/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:39:41 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8239288c734e2925014bb3fc40c7e9e9
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1",
          "metadata" : {
            "etag" : "8239288c734e2925014bb3fc40c7e9e9",
            "createdDate" : "2021-07-12T13:37:11Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:37:11Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:39:42 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 12 Jul 2021 13:39:42 GMT
recorded_with: VCR 6.0.0
