---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "b71fa566-a843-4667-9991-259469531c3f",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f",
            "metadata" : {
              "etag" : "02c441d7e8bb5fcf759ac9ed9dd3db41",
              "createdDate" : "2021-07-12T13:37:09Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T13:37:18Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 3,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers"
              },
              "volumes" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes"
              },
              "loadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/loadbalancers"
              },
              "lans" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans"
              },
              "networkloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwgwegwegwegwegewgwh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"AUTO","cpuFamily":"INTEL_SKYLAKE","type":"ENTERPRISE"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test","type":"HDD","size":15,"availabilityZone":"AUTO","sshKeys":[],"bus":"VIRTIO","licenceType":"LINUX"}},{"properties":{"name":"Puppet
        Module Test 2","type":"HDD","size":10,"availabilityZone":"ZONE_3","sshKeys":[],"bus":"VIRTIO","licenceType":"LINUX"}}]},"nics":{"items":[{"properties":{"name":"Puppet
        Module Test","dhcp":true,"lan":"1"},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","portRangeStart":22,"portRangeEnd":22}}]}}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 80cec4551da154ccf45980b0f5524d90
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/eaa8e79a-1d08-4381-9056-cc4125635903/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce",
          "metadata" : {
            "etag" : "80cec4551da154ccf45980b0f5524d90",
            "createdDate" : "2021-07-12T13:37:27Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:37:27Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwgwegwegwegwegewgwh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_SKYLAKE",
            "type" : "ENTERPRISE"
          },
          "entities" : {
            "cdroms" : {
              "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/cdroms"
            },
            "volumes" : {
              "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/volumes"
            },
            "nics" : {
              "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:37:27 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/eaa8e79a-1d08-4381-9056-cc4125635903/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "eaa8e79a-1d08-4381-9056-cc4125635903/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/eaa8e79a-1d08-4381-9056-cc4125635903/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6d824881-f555-41b1-bd77-1e2bcacbafce",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "de2913c4-b047-43f0-a4f9-3e0c6dd48c8b",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloud[...]
