---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61",
            "metadata" : {
              "etag" : "0a01f9c50850ec0f08af11b3bbddf71d",
              "createdDate" : "2021-03-22T14:37:41Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-22T14:39:15Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "myDataCenter2",
              "description" : null,
              "location" : "us/las",
              "version" : 6,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/servers"
              },
              "volumes" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/volumes"
              },
              "loadbalancers" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/loadbalancers"
              },
              "lans" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/lans"
              }
            }
          }, {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
 [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/98dd2e42-31cb-424d-817c-a0a1ba9d4f22/reboot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/47d1d014-44b9-408f-9051-5b934205a50d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 22 Mar 2021 14:53:07 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/47d1d014-44b9-408f-9051-5b934205a50d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "47d1d014-44b9-408f-9051-5b934205a50d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/47d1d014-44b9-408f-9051-5b934205a50d/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "98dd2e42-31cb-424d-817c-a0a1ba9d4f22",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/98dd2e42-31cb-424d-817c-a0a1ba9d4f22"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Mon, 22 Mar 2021 14:53:08 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/47d1d014-44b9-408f-9051-5b934205a50d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "47d1d014-44b9-408f-9051-5b934205a50d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/47d1d014-44b9-408f-9051-5b934205a50d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "98dd2e42-31cb-424d-817c-a0a1ba9d4f22",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/98dd2e42-31cb-424d-817c-a0a1ba9d4f22"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 22 Mar 2021 14:53:34 GMT
recorded_with: VCR 6.0.0
