---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9",
            "metadata" : {
              "etag" : "dd2961113121c4b7b19a14ef89bcbb8c",
              "createdDate" : "2021-07-12T12:30:53Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T12:34:40Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 19,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers"
              },
              "volumes" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes"
              },
              "loadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers"
              },
              "lans" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans"
              },
              "networkloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 28074c379b28f4f9d9b51b6f109254e8
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1",
          "metadata" : {
            "etag" : "28074c379b28f4f9d9b51b6f109254e8",
            "createdDate" : "2021-07-12T12:30:55Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T12:30:55Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:35:01 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/nics
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","dhcp":false,"lan":"1","firewallActive":true},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH2","protocol":"TCP","portRangeStart":22,"portRangeEnd":22}},{"properties":{"name":"HTTP2","protocol":"TCP","portRangeStart":65,"portRangeEnd":80}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - cb1d3e81d6cdc264e5d77862a13d5508
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6a970242-af08-40f4-bd08-6734a51f8ced/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f87d84da-2807-4d98-99fc-6137f885b7b7",
          "type" : "nic",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/nics/f87d84da-2807-4d98-99fc-6137f885b7b7",
          "metadata" : {
            "etag" : "cb1d3e81d6cdc264e5d77862a13d5508",
            "createdDate" : "2021-07-12T12:35:02Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T12:35:02Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "mac" : null,
            "ips" : [ ],
            "dhcp" : false,
            "lan" : 1,
            "firewallActive" : true,
            "firewallType" : null,
            "deviceNumber" : null,
            "pciSlot" : null
          },
          "entities" : {
            "firewallrules" : {
              "id" : "f87d84da-2807-4d98-99fc-6137f885b7b7/firewallrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/nics/f87d84da-2807-4d98-99fc-6137f885b7b7/firewallrules"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:35:02 GMT
[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/nics/df290c66-ccbd-4053-96e7-2522df8b9a81
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/2da49878-2b8d-4f99-ab71-08545e2b420a/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 12 Jul 2021 12:35:02 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6a970242-af08-40f4-bd08-6734a51f8ced/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6a970242-af08-40f4-bd08-6734a51f8ced/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6a970242-af08-40f4-bd08-6734a51f8ced/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "f87d84da-2807-4d98-99fc-6137f885b7b7",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/nics/f87d84da-2807-4d98-99fc-6137f885b7b7"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "a2fa88e5-4a65-4ef1-8c89-8c07040dd342",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/nics/f87d84da-2807-4d98-99fc-6137f885b7b7/firewallrules/a2fa88e5-4a65-4ef1-8c89-8c07040dd342"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "5e17002a-5373-464e-9e89-68fc66d1ecbe",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/nics/f87d84da-2807-4d98-99fc-6137f885b7b7/firewallrules/5e17002a-5373-464e-9e89-68fc66d1ecbe"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:35:23 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 12 Jul 2021 12:36:06 GMT
recorded_with: VCR 6.0.0
