---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
              "etag" : "b2c59a8a1551f1f564e8e1c32f714a6e",
              "createdDate" : "2021-03-19T15:48:00Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-19T15:48:34Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 5,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers"
              },
              "volumes" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes"
              },
              "loadbalancers" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/loadbalancers"
              },
              "lans" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans"
              }
            }
          }, {
            "id" : "ba4eaca1-08d0-4743-82d5-13806c40f62c",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c",
            "metadata" : {
  [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"AMD_OPTERON"},"entities":{"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - c255d4376c3ce92b607010ab5f6be144
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/6f595d6f-c9b2-4572-b5f4-931905365cb2/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "24cee4d7-3dee-4a5e-ae5f-fc333233dde2",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/24cee4d7-3dee-4a5e-ae5f-fc333233dde2",
          "metadata" : {
            "etag" : "c255d4376c3ce92b607010ab5f6be144",
            "createdDate" : "2021-03-19T15:51:21Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-19T15:51:21Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "volumes" : {
              "id" : "24cee4d7-3dee-4a5e-ae5f-fc333233dde2/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/24cee4d7-3dee-4a5e-ae5f-fc333233dde2/volumes"
            },
            "nics" : {
              "id" : "24cee4d7-3dee-4a5e-ae5f-fc333233dde2/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/24cee4d7-3dee-4a5e-ae5f-fc333233dde2/nics"
            }
          }
        }
  recorded_at: Fri, 19 Mar 2021 15:51:21 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/6f595d6f-c9b2-4572-b5f4-931905365cb2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6f595d6f-c9b2-4572-b5f4-931905365cb2/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/6f595d6f-c9b2-4572-b5f4-931905365cb2/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "24cee4d7-3dee-4a5e-ae5f-fc333233dde2",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/24cee4d7-3dee-4a5e-ae5f-fc333233dde2"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Fri, 19 Mar 2021 15:51:21 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/6f595d6f-c9b2-4572-b5f4-931905365cb2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6f595d6f-c9b2-4572-b5f4-931905365cb2/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/6f595d6f-c9b2-4572-b5f4-931905365cb2/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "24cee4d7-3dee-4a5e-ae5f-fc333233dde2",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/24cee4d7-3dee-4a5e-ae5f-fc333233dde2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 19 Mar 2021 15:51:32 GMT
recorded_with: VCR 6.0.0
