---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "metadata" : {
              "etag" : "5fb2dd965c9bf54f0b7ea0dc0a23b5b3",
              "createdDate" : "2021-05-21T14:22:10Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:25:13Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test90d487df1ceb47848ab7e52a16d4ae63",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 7,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers"
              },
              "volumes" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes"
              },
              "loadbalancers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers"
              },
              "lans" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans"
              }
            }
          }, {
            "id" : "cfe23681-8094-40a7-a1d0-1fc606d1b16b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/cfe23681-8094-40a7-a1d0-1fc606d1b16b",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1
    body:
      encoding: UTF-8
      string: '{"cpuFamily":"AMD_OPTERON"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 14718aed19072c82db3ea5a2a56b74b3
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/f28b011e-12a6-4ae1-bc4d-276b215f590e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "68238195-e322-471d-8e40-dc5ce29f2fc1",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1",
          "metadata" : {
            "etag" : "14718aed19072c82db3ea5a2a56b74b3",
            "createdDate" : "2021-05-21T14:22:29Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:25:27Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test87e6aadda47448738ecec74572a03714",
            "cores" : 2,
            "ram" : 2048,
            "availabilityZone" : "AUTO",
            "vmState" : "RUNNING",
            "bootCdrom" : null,
            "bootVolume" : {
              "id" : "5a5a5a1e-e1f5-48db-b2c2-55db91bcf973",
              "type" : "volume",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes/5a5a5a1e-e1f5-48db-b2c2-55db91bcf973"
            },
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "68238195-e322-471d-8e40-dc5ce29f2fc1/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1/cdroms"
            },
            "volumes" : {
              "id" : "68238195-e322-471d-8e40-dc5ce29f2fc1/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1/volumes"
            },
            "nics" : {
              "id" : "68238195-e322-471d-8e40-dc5ce29f2fc1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1/nics"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 14:25:28 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/f28b011e-12a6-4ae1-bc4d-276b215f590e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f28b011e-12a6-4ae1-bc4d-276b215f590e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/f28b011e-12a6-4ae1-bc4d-276b215f590e/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "68238195-e322-471d-8e40-dc5ce29f2fc1",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:26:15 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 61665485414f3dd2a533e9fc4a82717b
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1",
          "metadata" : {
            "etag" : "61665485414f3dd2a533e9fc4a82717b",
            "createdDate" : "2021-05-21T14:22:12Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:22:12Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_testc4cc721445054d6ca233bb0f09b1fbdf",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1/nics"
            }
          }
        }
  recorded_at: Fri, 21 May 2021 14:26:15 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "items" : [ ]
        }
  recorded_at: Fri, 21 May 2021 14:26:18 GMT
recorded_with: VCR 6.0.0
