---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9",
            "metadata" : {
              "etag" : "b2ba052f2a8d4e1d82ffbac64b5ef887",
              "createdDate" : "2021-07-12T12:30:53Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T12:30:53Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 2,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers"
              },
              "volumes" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes"
              },
              "loadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers"
              },
              "lans" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans"
              },
              "networkloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwegwgwegwwdqw5eh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"INTEL_SKYLAKE","type":"ENTERPRISE"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 7f99f11f91103c795babf0cce3487514
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/ad5379ec-1eab-4ca5-ba56-249bbb358785/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0d116cf3-7d14-4531-a4bd-81cfe55dce8e",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/0d116cf3-7d14-4531-a4bd-81cfe55dce8e",
          "metadata" : {
            "etag" : "7f99f11f91103c795babf0cce3487514",
            "createdDate" : "2021-07-12T12:30:59Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T12:30:59Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwegwgwegwwdqw5eh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_SKYLAKE",
            "type" : "ENTERPRISE"
          },
          "entities" : {
            "cdroms" : {
              "id" : "0d116cf3-7d14-4531-a4bd-81cfe55dce8e/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/0d116cf3-7d14-4531-a4bd-81cfe55dce8e/cdroms"
            },
            "volumes" : {
              "id" : "0d116cf3-7d14-4531-a4bd-81cfe55dce8e/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/0d116cf3-7d14-4531-a4bd-81cfe55dce8e/volumes"
            },
            "nics" : {
              "id" : "0d116cf3-7d14-4531-a4bd-81cfe55dce8e/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/0d116cf3-7d14-4531-a4bd-81cfe55dce8e/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:30:59 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/ad5379ec-1eab-4ca5-ba56-249bbb358785/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ad5379ec-1eab-4ca5-ba56-249bbb358785/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/ad5379ec-1eab-4ca5-ba56-249bbb358785/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0d116cf3-7d14-4531-a4bd-81cfe55dce8e",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/0d116cf3-7d14-4531-a4bd-81cfe55dce8e"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:31:10 GMT
recorded_with: VCR 6.0.0
