---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"volume1","type":"HDD","size":15,"imagePassword":"parola123","imageAlias":"debian:latest"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 293e07ff6f990923175741da18426568
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/df9c520d-8c98-4c8a-b803-b7334c68e5f1/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b0d02523-2bcb-4749-837b-35000e811cca",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/volumes/b0d02523-2bcb-4749-837b-35000e811cca",
          "metadata" : {
            "etag" : "293e07ff6f990923175741da18426568",
            "createdDate" : "2021-05-24T08:08:33Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:08:33Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "volume1",
            "type" : "HDD",
            "size" : 15,
            "availabilityZone" : null,
            "image" : "e02ad13d-aa2b-11eb-8984-e2b74a99fe34",
            "imagePassword" : "parola123",
            "sshKeys" : null,
            "bus" : null,
            "licenceType" : null,
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : null,
            "userData" : null
          }
        }
  recorded_at: Mon, 24 May 2021 08:08:33 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/df9c520d-8c98-4c8a-b803-b7334c68e5f1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "df9c520d-8c98-4c8a-b803-b7334c68e5f1/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/df9c520d-8c98-4c8a-b803-b7334c68e5f1/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b0d02523-2bcb-4749-837b-35000e811cca",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/volumes/b0d02523-2bcb-4749-837b-35000e811cca"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:09:35 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/2ba6a4f4-87b7-4642-9226-4c0d5ec2ff4d/volumes
    body:
      encoding: UTF-8
      string: '{"id":"b0d02523-2bcb-4749-837b-35000e811cca"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
 [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae",
            "metadata" : {
              "etag" : "c4f47d226d37ccdc7cdcdc123e23ab98",
              "createdDate" : "2021-05-24T08:04:18Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-24T08:10:13Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6fffqwfqwfqwfgqg5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 13,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers"
              },
              "volumes" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/volumes"
              },
              "loadbalancers" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/loadbalancers"
              },
              "lans" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans"
              }
            }
          }, {
            "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 1516e5285dc04b450c51cf513cb0296d
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans/1",
          "metadata" : {
            "etag" : "1516e5285dc04b450c51cf513cb0296d",
            "createdDate" : "2021-05-24T08:04:20Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:04:20Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans/1/nics"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 08:10:23 GMT
[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/2ba6a4f4-87b7-4642-9226-4c0d5ec2ff4d/volumes/a6af5f41-e10e-46c7-a35a-ed68e0ae608b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/2d13bd7c-072c-4c89-824e-0c6e0b91804c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 24 May 2021 08:10:25 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 24 May 2021 08:11:09 GMT
recorded_with: VCR 6.0.0
