---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "38486675-0110-478e-9079-e515242cd35b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b",
            "metadata" : {
              "etag" : "2522566aa9459c7529e28cb600be0389",
              "createdDate" : "2021-04-08T13:38:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-08T13:50:05Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 18,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers"
              },
              "volumes" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes"
              },
              "loadbalancers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/loadbalancers"
              },
              "lans" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 08 Apr 2021 13:50:15 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"AMD_OPTERON"},"entities":{"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d986c81aaa49e539ce21273cad46d7a0
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/bf8016d0-ec1c-495e-aa83-f19987c5ec93/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3607762a-5c05-43eb-8f71-6105e80cf83b",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3607762a-5c05-43eb-8f71-6105e80cf83b",
          "metadata" : {
            "etag" : "d986c81aaa49e539ce21273cad46d7a0",
            "createdDate" : "2021-04-08T13:50:15Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-08T13:50:15Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "volumes" : {
              "id" : "3607762a-5c05-43eb-8f71-6105e80cf83b/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3607762a-5c05-43eb-8f71-6105e80cf83b/volumes"
            },
            "nics" : {
              "id" : "3607762a-5c05-43eb-8f71-6105e80cf83b/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3607762a-5c05-43eb-8f71-6105e80cf83b/nics"
            }
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:50:15 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/bf8016d0-ec1c-495e-aa83-f19987c5ec93/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bf8016d0-ec1c-495e-aa83-f19987c5ec93/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/bf8016d0-ec1c-495e-aa83-f19987c5ec93/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "3607762a-5c05-43eb-8f71-6105e80cf83b",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3607762a-5c05-43eb-8f71-6105e80cf83b"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:50:15 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/bf8016d0-ec1c-495e-aa83-f19987c5ec93/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bf8016d0-ec1c-495e-aa83-f19987c5ec93/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/bf8016d0-ec1c-495e-aa83-f19987c5ec93/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "3607762a-5c05-43eb-8f71-6105e80cf83b",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/3607762a-5c05-43eb-8f71-6105e80cf83b"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:50:26 GMT
recorded_with: VCR 6.0.0
