---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters//servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "httpStatus" : 404,
          "messages" : [ {
            "errorCode" : "309",
            "message" : "Resource does not exist"
          } ]
        }
  recorded_at: Fri, 19 Mar 2021 15:54:09 GMT
recorded_with: VCR 6.0.0
