---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "b71fa566-a843-4667-9991-259469531c3f",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f",
            "metadata" : {
              "etag" : "01216f4cd0322974c2e007281161096b",
              "createdDate" : "2021-07-12T13:37:09Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T13:40:44Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 15,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers"
              },
              "volumes" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes"
              },
              "loadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/loadbalancers"
              },
              "lans" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans"
              },
              "networkloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "b71fa566-a843-4667-9991-259469531c3f/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8239288c734e2925014bb3fc40c7e9e9
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1",
          "metadata" : {
            "etag" : "8239288c734e2925014bb3fc40c7e9e9",
            "createdDate" : "2021-07-12T13:37:11Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:37:11Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/lans/1/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:40:59 GMT
[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes/de2913c4-b047-43f0-a4f9-3e0c6dd48c8b
    body:
      encoding: UTF-8
      string: '{"size":20}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d6f81ac4946b55848f8aa1c5aaa75b6c
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/00b4a847-6326-444c-8a75-532fd341e411/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "de2913c4-b047-43f0-a4f9-3e0c6dd48c8b",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes/de2913c4-b047-43f0-a4f9-3e0c6dd48c8b",
          "metadata" : {
            "etag" : "d6f81ac4946b55848f8aa1c5aaa75b6c",
            "createdDate" : "2021-07-12T13:37:29Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T13:40:59Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 20,
            "availabilityZone" : "AUTO",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : false,
            "ramHotPlug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "deviceNumber" : 1,
            "userData" : null,
            "pciSlot" : 5
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:40:59 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 3","type":"HDD","size":10,"sshKeys":[],"licenceType":"LINUX"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - appl[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/volumes/f8e921ba-0cef-4c64-a1e6-68abaed21dc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/67f370bd-1bab-4863-b5e9-1f87e3b40965/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 12 Jul 2021 13:41:00 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/ab1ba4a4-1e8b-4260-87fb-08fb738f8963/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ab1ba4a4-1e8b-4260-87fb-08fb738f8963/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/ab1ba4a4-1e8b-4260-87fb-08fb738f8963/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "652b04b4-5604-4ea3-a0d5-f367d6cacfc4",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/volumes/652b04b4-5604-4ea3-a0d5-f367d6cacfc4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 13:41:10 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/b71fa566-a843-4667-9991-259469531c3f/servers/6d824881-f555-41b1-bd77-1e2bcacbafce/volumes
    body:
      encoding: UTF-8
      string: '{"id":"652b04b4-5604-4ea3-a0d5-f367d6cacfc4"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
 [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 12 Jul 2021 13:41:47 GMT
recorded_with: VCR 6.0.0
