---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "metadata" : {
              "etag" : "7d376d76ddb88af2578ba411ac1522f2",
              "createdDate" : "2021-07-30T13:09:43Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T13:10:04Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 4,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers"
              },
              "volumes" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/volumes"
              },
              "loadbalancers" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/loadbalancers"
              },
              "lans" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans"
              },
              "applicationloadbalancers" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/natgateways"
              }
            }
          }, {
            "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"templateUuid":"15c6dd2f-02d2-4987-b439-9a58dd59ecc3","name":"puppet_module_test6ffwggergergergeadadegewgwh4d0ebc5ed","availabilityZone":"AUTO","cpuFamily":"INTEL_SKYLAKE","type":"CUBE"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test 3","type":"DAS","sshKeys":[],"bus":"VIRTIO","licenceType":"LINUX"}}]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 1443e0929f600f6203a68ad5f80e073f
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/bcf48555-c496-4ca6-b454-ff7badd57ad3/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b46e5056-666f-48e0-8e1d-ba16a500fdbf",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/b46e5056-666f-48e0-8e1d-ba16a500fdbf",
          "metadata" : {
            "etag" : "1443e0929f600f6203a68ad5f80e073f",
            "createdDate" : "2021-07-30T13:10:17Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:10:17Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwggergergergeadadegewgwh4d0ebc5ed",
            "cores" : null,
            "ram" : null,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_SKYLAKE",
            "type" : "CUBE",
            "templateUuid" : "15c6dd2f-02d2-4987-b439-9a58dd59ecc3"
          },
          "entities" : {
            "cdroms" : {
              "id" : "b46e5056-666f-48e0-8e1d-ba16a500fdbf/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/b46e5056-666f-48e0-8e1d-ba16a500fdbf/cdroms"
            },
            "volumes" : {
              "id" : "b46e5056-666f-48e0-8e1d-ba16a500fdbf/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/b46e5056-666f-48e0-8e1d-ba16a500fdbf/volumes"
            },
            "nics" : {
              "id" : "b46e5056-666f-48e0-8e1d-ba16a500fdbf/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/b46e5056-666f-48e0-8e1d-ba16a500fdbf/nics"
            }
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:10:17 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/bcf48555-c496-4ca6-b454-ff7badd57ad3/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bcf48555-c496-4ca6-b454-ff7badd57ad3/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/bcf48555-c496-4ca6-b454-ff7badd57ad3/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b46e5056-666f-48e0-8e1d-ba16a500fdbf",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/servers/b46e5056-666f-48e0-8e1d-ba16a500fdbf"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "56eed634-7f16-45bc-afd8-403d2a51193e",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b46e5056-666f-48e0-8e1d-ba16a500fdbf/volumes/56eed634-7f16-45bc-afd8-403d2a51193e"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:10:33 GMT
recorded_with: VCR 6.0.0
