---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "metadata" : {
              "etag" : "e41f92a179a120034ea14af259b91974",
              "createdDate" : "2021-05-21T14:22:10Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:31:09Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test90d487df1ceb47848ab7e52a16d4ae63",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 22,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers"
              },
              "volumes" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes"
              },
              "loadbalancers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers"
              },
              "lans" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans"
              }
            }
          }, {
            "id" : "91ebe9d0-4512-40a9-bd35-0c0918a65948",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/91ebe9d0-4512-40a9-bd35-0c0918a65948",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1/reboot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/792c6760-c46c-452b-be53-76fba87e759b/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 14:32:08 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/792c6760-c46c-452b-be53-76fba87e759b/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "792c6760-c46c-452b-be53-76fba87e759b/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/792c6760-c46c-452b-be53-76fba87e759b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "68238195-e322-471d-8e40-dc5ce29f2fc1",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers/68238195-e322-471d-8e40-dc5ce29f2fc1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:32:44 GMT
recorded_with: VCR 6.0.0
