---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae",
            "metadata" : {
              "etag" : "b1b0fcb20552cdc7b2b5c3a8ed52f969",
              "createdDate" : "2021-05-24T08:04:18Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-24T08:12:26Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6fffqwfqwfqwfgqg5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 19,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers"
              },
              "volumes" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/volumes"
              },
              "loadbalancers" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/loadbalancers"
              },
              "lans" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans"
              }
            }
          }, {
            "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 1516e5285dc04b450c51cf513cb0296d
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans/1",
          "metadata" : {
            "etag" : "1516e5285dc04b450c51cf513cb0296d",
            "createdDate" : "2021-05-24T08:04:20Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:04:20Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans/1/nics"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 08:12:39 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","dhcp":false,"lan":"1","firewallActive":true,"nat":false},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH2","protocol":"TCP","portRangeStart":22,"portRangeEnd":22}},{"properties":{"name":"HTTP2","protocol":"TCP","portRangeStart":65,"portRangeEnd":80}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - de7945f29e109bec9ab8e5816179011e
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/c48e258b-4189-40e2-91d8-4062ba47587c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "df24384c-e4a5-4cc0-9f75-a2372e9b9c24",
          "type" : "nic",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics/df24384c-e4a5-4cc0-9f75-a2372e9b9c24",
          "metadata" : {
            "etag" : "de7945f29e109bec9ab8e5816179011e",
            "createdDate" : "2021-05-24T08:12:40Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:12:40Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "mac" : null,
            "ips" : [ ],
            "dhcp" : false,
            "lan" : 1,
            "firewallActive" : true,
            "nat" : false
          },
          "entities" : {
            "firewallrules" : {
              "id" : "df24384c-e4a5-4cc0-9f75-a2372e9b9c24/firewallrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics/df24384c-e4a5-4cc0-9f75-a2372e9b9c24/firewallrules"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 08:12:40 GMT
[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics/bd5de389-6848-4b01-a8a0-69d4c600d13d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/803cea5a-9f1c-42c6-87d7-158639872d53/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 24 May 2021 08:12:41 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/c48e258b-4189-40e2-91d8-4062ba47587c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c48e258b-4189-40e2-91d8-4062ba47587c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/c48e258b-4189-40e2-91d8-4062ba47587c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "df24384c-e4a5-4cc0-9f75-a2372e9b9c24",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics/df24384c-e4a5-4cc0-9f75-a2372e9b9c24"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "5d3a91b3-3d03-4967-9029-163695161998",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics/df24384c-e4a5-4cc0-9f75-a2372e9b9c24/firewallrules/5d3a91b3-3d03-4967-9029-163695161998"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "74263d21-4455-409d-9c12-1ccb12b37dd9",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics/df24384c-e4a5-4cc0-9f75-a2372e9b9c24/firewallrules/74263d21-4455-409d-9c12-1ccb12b37dd9"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 24 May 2021 08:13:07 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f5c500ca-9a5e-419a-8f19-a3e1c5f44981/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 24 May 2021 08:13:36 GMT
recorded_with: VCR 6.0.0
