---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "metadata" : {
              "etag" : "acc08362563fc58362e617d8b938760d",
              "createdDate" : "2021-03-30T08:24:51Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-30T08:28:41Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "myDataCenter2",
              "description" : null,
              "location" : "us/las",
              "version" : 9,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers"
              },
              "volumes" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes"
              },
              "loadbalancers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers"
              },
              "lans" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans"
              }
            }
          }, {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 177ff5d5310fabdcc55816c7ee397374
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans/1",
          "metadata" : {
            "etag" : "177ff5d5310fabdcc55816c7ee397374",
            "createdDate" : "2021-03-30T08:24:54Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-30T08:24:54Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "private",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans/1/nics"
            }
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:42:55 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ba4eaca1-08d0-4743-82d5-13806c40f62c/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c/servers",
          "items" : [ ]
        }
  recorded_at: Wed, 31 Mar 2021 08:42:55 GMT
recorded_with: VCR 6.0.0
