---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "33f8e879-e3b7-4406-8916-43deabc07f17",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17",
            "metadata" : {
              "etag" : "00fe023531d1f5e0a3471647511aa4a7",
              "createdDate" : "2021-06-25T08:51:03Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-25T09:03:08Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test62rwg34hg3h34h3d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 19,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers"
              },
              "volumes" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/volumes"
              },
              "loadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/loadbalancers"
              },
              "lans" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans"
              },
              "natgateways" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/applicationloadbalancers"
              }
            }
          }, {
            "id" : "0167e894-1345-44af-85c7-4581918274b2",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0167e894-1345-44af-85c7-4581[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 0fe37c7956cfd9346f78a0197f468bcd
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1",
          "metadata" : {
            "etag" : "0fe37c7956cfd9346f78a0197f468bcd",
            "createdDate" : "2021-06-25T08:51:06Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T08:51:06Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1/nics"
            }
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:04:13 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/nics
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","dhcp":false,"lan":"1","firewallActive":true},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH2","protocol":"TCP","portRangeStart":22,"portRangeEnd":22}},{"properties":{"name":"HTTP2","protocol":"TCP","portRangeStart":65,"portRangeEnd":80}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f30c8c2d7061d6822f0ec29cb20cc302
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/2a30b781-3122-442e-b2e9-69470d356983/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "69da6a99-51cb-43c6-b831-c7a152643eef",
          "type" : "nic",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/nics/69da6a99-51cb-43c6-b831-c7a152643eef",
          "metadata" : {
            "etag" : "f30c8c2d7061d6822f0ec29cb20cc302",
            "createdDate" : "2021-06-25T09:04:15Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T09:04:15Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "mac" : null,
            "ips" : [ ],
            "dhcp" : false,
            "lan" : 1,
            "firewallActive" : true,
            "firewallType" : null,
            "deviceNumber" : null,
            "pciSlot" : null
          },
          "entities" : {
            "firewallrules" : {
              "id" : "69da6a99-51cb-43c6-b831-c7a152643eef/firewallrules",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/nics/69da6a99-51cb-43c6-b831-c7a152643eef/firewallrules"
            }
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:04:15 GMT
[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/nics/88a2d791-495a-498e-b5bb-ca4f1d03145f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/95babff2-53fc-45ae-8e3f-d9c19f531c46/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 09:04:15 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/2a30b781-3122-442e-b2e9-69470d356983/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2a30b781-3122-442e-b2e9-69470d356983/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/2a30b781-3122-442e-b2e9-69470d356983/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "69da6a99-51cb-43c6-b831-c7a152643eef",
                "type" : "nic",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/nics/69da6a99-51cb-43c6-b831-c7a152643eef"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "6a6acd62-efc3-4969-b1f8-7c31326070ba",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/nics/69da6a99-51cb-43c6-b831-c7a152643eef/firewallrules/6a6acd62-efc3-4969-b1f8-7c31326070ba"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "e988ab06-d3ff-45e4-975b-843b31f4d481",
                "type" : "firewall-rule",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/nics/69da6a99-51cb-43c6-b831-c7a152643eef/firewallrules/e988ab06-d3ff-45e4-975b-843b31f4d481"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:05:38 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "items" : [ ]
        }
  recorded_at: Fri, 25 Jun 2021 09:07:38 GMT
recorded_with: VCR 6.0.0
