---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61",
            "metadata" : {
              "etag" : "6e245bf3a3d06d9aebbdf7d647c8bc23",
              "createdDate" : "2021-03-22T14:37:41Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-29T08:40:03Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "myDataCenter2",
              "description" : null,
              "location" : "us/las",
              "version" : 74,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/servers"
              },
              "volumes" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/volumes"
              },
              "loadbalancers" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/loadbalancers"
              },
              "lans" : {
                "id" : "592e3176-305f-4f4c-b540-ce33b0cfdc61/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/lans"
              }
            }
          }, {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/lans/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 56d385cda382da716a0842c35bc9c08b
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/lans/2",
          "metadata" : {
            "etag" : "56d385cda382da716a0842c35bc9c08b",
            "createdDate" : "2021-03-22T14:37:47Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-22T14:37:47Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "public",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : true
          },
          "entities" : {
            "nics" : {
              "id" : "2/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/592e3176-305f-4f4c-b540-ce33b0cfdc61/lans/2/nics"
            }
          }
        }
  recorded_at: Mon, 29 Mar 2021 12:25:59 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ba4eaca1-08d0-4743-82d5-13806c40f62c/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 29 Mar 2021 12:25:59 GMT
recorded_with: VCR 6.0.0
