---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "metadata" : {
              "etag" : "acc08362563fc58362e617d8b938760d",
              "createdDate" : "2021-03-30T08:24:51Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-30T08:28:41Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "myDataCenter2",
              "description" : null,
              "location" : "us/las",
              "version" : 9,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers"
              },
              "volumes" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes"
              },
              "loadbalancers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers"
              },
              "lans" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans"
              }
            }
          }, {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1ca85771-5c86-476e-b86b-803223352370/lans",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans",
          "items" : [ {
            "id" : "1",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans/1",
            "metadata" : {
              "createdDate" : "2021-03-19T15:48:22Z",
              "createdBy" : "username",
              "etag" : "850d63b2d03fd3e930a7819d7291b591",
              "lastModifiedDate" : "2021-03-19T15:48:22Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "ipFailover" : [ ],
              "public" : true
            },
            "entities" : {
              "nics" : {
                "id" : "1/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans/1/nics"
              }
            }
          } ]
        }
  recorded_at: Wed, 31 Mar 2021 08:40:30 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","cores":1,"ram":1024,"availabilityZone":"AUTO","cpuFamily":"INTEL_XEON"},"entities":{"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test","type":"SSD","size":100,"availabilityZone":"AUTO","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}},{"properties":{"name":"Puppet
        Module Test 2","type":"HDD","size":10,"availabilityZone":"ZONE_3","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}}]},"nics":{"items":[{"properties":{"name":"Puppet
        Module Test","dhcp":true,"lan":"1","nat":false},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","portRangeStart":22,"portRangeEnd":22}}]}}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 526699ca4e2c70182ff1e958bddec6b4
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/32e48777-7e25-49e8-8854-b0098b23d19e/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "29eda491-a4bf-4fd6-9345-81e53344e96b",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/29eda491-a4bf-4fd6-9345-81e53344e96b",
          "metadata" : {
            "etag" : "526699ca4e2c70182ff1e958bddec6b4",
            "createdDate" : "2021-03-31T08:40:30Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-31T08:40:30Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "volumes" : {
              "id" : "29eda491-a4bf-4fd6-9345-81e53344e96b/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/29eda491-a4bf-4fd6-9345-81e53344e96b/volumes"
            },
            "nics" : {
              "id" : "29eda491-a4bf-4fd6-9345-81e53344e96b/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/29eda491-a4bf-4fd6-9345-81e53344e96b/nics"
            }
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:40:30 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/32e48777-7e25-49e8-8854-b0098b23d19e/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "32e48777-7e25-49e8-8854-b0098b23d19e/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/32e48777-7e25-49e8-8854-b0098b23d19e/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "29eda491-a4bf-4fd6-9345-81e53344e96b",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/29eda491-a4bf-4fd6-9345-81e53344e96b"
              },
              "status" : "QUEUED"
            }, {
              "target" : {
                "id" : "3b502f69-2446-4ea8-87c4-a52ef1c7c394",
                "type" : "volume",
                "href" : "https://api.ionos.com/clo[...]
[...]
