---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae",
            "metadata" : {
              "etag" : "75491053dcdf461974b90700adb3b762",
              "createdDate" : "2021-05-24T08:04:18Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-24T08:04:26Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6fffqwfqwfqwfgqg5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 3,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers"
              },
              "volumes" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/volumes"
              },
              "loadbalancers" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/loadbalancers"
              },
              "lans" : {
                "id" : "0b71a665-2be7-4b75-bff6-824d383e13ae/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans"
              }
            }
          }, {
            "id" : "f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/f6688c22-2ecf-442a-bcda-71d38a5f3679",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwgwegwegwegwegewgwh4d0ebc5ed","cores":1,"ram":1024,"availabilityZone":"AUTO","cpuFamily":"INTEL_XEON"},"entities":{"cdroms":{"items":[]},"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test","type":"HDD","size":15,"availabilityZone":"AUTO","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}},{"properties":{"name":"Puppet
        Module Test 2","type":"HDD","size":10,"availabilityZone":"ZONE_3","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}}]},"nics":{"items":[{"properties":{"name":"Puppet
        Module Test","dhcp":true,"lan":"1","nat":false},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","portRangeStart":22,"portRangeEnd":22}}]}}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - fa9aa84f4bac040791067091a4aedddd
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/7c870089-aa86-426e-a6ba-c2fb039afb76/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e320c32e-f5fb-4f78-9613-209ae2c80c78",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78",
          "metadata" : {
            "etag" : "fa9aa84f4bac040791067091a4aedddd",
            "createdDate" : "2021-05-24T08:04:36Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-24T08:04:36Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwgwegwegwegwegewgwh4d0ebc5ed",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "e320c32e-f5fb-4f78-9613-209ae2c80c78/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/cdroms"
            },
            "volumes" : {
              "id" : "e320c32e-f5fb-4f78-9613-209ae2c80c78/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/volumes"
            },
            "nics" : {
              "id" : "e320c32e-f5fb-4f78-9613-209ae2c80c78/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78/nics"
            }
          }
        }
  recorded_at: Mon, 24 May 2021 08:04:36 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/7c870089-aa86-426e-a6ba-c2fb039afb76/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7c870089-aa86-426e-a6ba-c2fb039afb76/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/7c870089-aa86-426e-a6ba-c2fb039afb76/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "e320c32e-f5fb-4f78-9613-209ae2c80c78",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/0b71a665-2be7-4b75-bff6-824d383e13ae/servers/e320c32e-f5fb-4f78-9613-209ae2c80c78"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "042432c0-4123-43c6-93d0-ce514f7f55dd",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloud[...]
