---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test90d487df1ceb47848ab7e52a16d4ae63","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - ea8b11c169615aaac09f10f48dac123a
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/a70883db-2a5f-4518-bd8d-a5bfc253cc2b/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989",
          "metadata" : {
            "etag" : "ea8b11c169615aaac09f10f48dac123a",
            "createdDate" : "2021-05-21T14:22:10Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:22:10Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test90d487df1ceb47848ab7e52a16d4ae63",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Fri, 21 May 2021 14:22:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/a70883db-2a5f-4518-bd8d-a5bfc253cc2b/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a70883db-2a5f-4518-bd8d-a5bfc253cc2b/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/a70883db-2a5f-4518-bd8d-a5bfc253cc2b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:22:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989",
            "metadata" : {
              "etag" : "f6a31a0ef2c3960ee1657a1321d52a41",
              "createdDate" : "2021-05-21T14:22:10Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:22:10Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test90d487df1ceb47848ab7e52a16d4ae63",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/servers"
              },
              "volumes" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/volumes"
              },
              "loadbalancers" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/loadbalancers"
              },
              "lans" : {
                "id" : "15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans"
              }
            }
          }, {
            "id" : "73bcff3c-0868-479d-8f0e-7e7946634d05",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/73bcff3c-0868-479d-8f0e-7e7946634d05",
            "metadata" : {
  [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_testc4cc721445054d6ca233bb0f09b1fbdf","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9a386945f2f07cbc0ccc975ca88d30d5
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/fb75e52a-3bd9-4205-9555-6c64d2fca4b6/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1",
          "metadata" : {
            "etag" : "9a386945f2f07cbc0ccc975ca88d30d5",
            "createdDate" : "2021-05-21T14:22:11Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:22:11Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_testc4cc721445054d6ca233bb0f09b1fbdf",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Fri, 21 May 2021 14:22:11 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/fb75e52a-3bd9-4205-9555-6c64d2fca4b6/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "fb75e52a-3bd9-4205-9555-6c64d2fca4b6/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/fb75e52a-3bd9-4205-9555-6c64d2fca4b6/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/15b23ca5-94dd-4159-b0f3-2acfe40a6989/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:22:16 GMT
recorded_with: VCR 6.0.0
