---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "metadata" : {
              "etag" : "acc08362563fc58362e617d8b938760d",
              "createdDate" : "2021-03-30T08:24:51Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-30T08:28:41Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "myDataCenter2",
              "description" : null,
              "location" : "us/las",
              "version" : 9,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers"
              },
              "volumes" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes"
              },
              "loadbalancers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers"
              },
              "lans" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans"
              }
            }
          }, {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
  [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","cores":1,"ram":1024,"availabilityZone":"ZONE_1","cpuFamily":"AMD_OPTERON"},"entities":{"volumes":{"items":[]},"nics":{"items":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - ed15eb36aef48b285766675e00e05ae1
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/83af279a-6e96-4fa5-85c2-57319e40fe95/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "5104fcf0-0e97-4a17-aa80-7bf29e80f630",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/5104fcf0-0e97-4a17-aa80-7bf29e80f630",
          "metadata" : {
            "etag" : "ed15eb36aef48b285766675e00e05ae1",
            "createdDate" : "2021-03-31T08:40:18Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-31T08:40:18Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "volumes" : {
              "id" : "5104fcf0-0e97-4a17-aa80-7bf29e80f630/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/5104fcf0-0e97-4a17-aa80-7bf29e80f630/volumes"
            },
            "nics" : {
              "id" : "5104fcf0-0e97-4a17-aa80-7bf29e80f630/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/5104fcf0-0e97-4a17-aa80-7bf29e80f630/nics"
            }
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:40:18 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/83af279a-6e96-4fa5-85c2-57319e40fe95/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "83af279a-6e96-4fa5-85c2-57319e40fe95/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/83af279a-6e96-4fa5-85c2-57319e40fe95/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "5104fcf0-0e97-4a17-aa80-7bf29e80f630",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/5104fcf0-0e97-4a17-aa80-7bf29e80f630"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:40:18 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/83af279a-6e96-4fa5-85c2-57319e40fe95/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "83af279a-6e96-4fa5-85c2-57319e40fe95/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/83af279a-6e96-4fa5-85c2-57319e40fe95/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "5104fcf0-0e97-4a17-aa80-7bf29e80f630",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/5104fcf0-0e97-4a17-aa80-7bf29e80f630"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:40:29 GMT
recorded_with: VCR 6.0.0
