---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823",
            "metadata" : {
              "etag" : "0da1a03ec8e063b1e152ecba8869c1b7",
              "createdDate" : "2021-07-13T11:57:10Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-28T14:08:40Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "testdc1",
              "description" : "my data center desc.",
              "location" : "us/las",
              "version" : 98,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823/servers"
              },
              "volumes" : {
                "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823/volumes"
              },
              "loadbalancers" : {
                "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823/loadbalancers"
              },
              "lans" : {
                "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823/lans"
              },
              "applicationloadbalancers" : {
                "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "b4e89773-8aab-4a50-8ccf-f63d7ebeb823/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/b4e89773-8aab-4a50-8ccf-f63d7ebeb823/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed","description":"Puppet
        Module test description","location":"de/txl"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - aaf4880f0a6a1fb78d8277132b5bb41a
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/fa466b57-8761-4f6c-9805-7a5156461fa9/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
          "metadata" : {
            "etag" : "aaf4880f0a6a1fb78d8277132b5bb41a",
            "createdDate" : "2021-07-30T13:09:43Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:09:43Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "de/txl",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:09:43 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/fa466b57-8761-4f6c-9805-7a5156461fa9/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "fa466b57-8761-4f6c-9805-7a5156461fa9/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/fa466b57-8761-4f6c-9805-7a5156461fa9/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:09:43 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans",
          "items" : [ ]
        }
  recorded_at: Fri, 30 Jul 2021 13:09:44 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d2b25b8fc9402079efc5af93de084f88
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/b1583c4b-167d-4327-a4fe-154203d2f961/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans/1",
          "metadata" : {
            "etag" : "d2b25b8fc9402079efc5af93de084f88",
            "createdDate" : "2021-07-30T13:09:45Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:09:45Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:09:45 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/b1583c4b-167d-4327-a4fe-154203d2f961/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b1583c4b-167d-4327-a4fe-154203d2f961/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/b1583c4b-167d-4327-a4fe-154203d2f961/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:09:50 GMT
recorded_with: VCR 6.0.0
