---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test62rwg34hg3h34h3d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 0acb98dff9883b4ff1bf4c74424574e5
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6e69ca22-1d81-4b61-9306-1d172512661d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "33f8e879-e3b7-4406-8916-43deabc07f17",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17",
          "metadata" : {
            "etag" : "0acb98dff9883b4ff1bf4c74424574e5",
            "createdDate" : "2021-06-25T08:51:03Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T08:51:03Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test62rwg34hg3h34h3d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:51:03 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6e69ca22-1d81-4b61-9306-1d172512661d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6e69ca22-1d81-4b61-9306-1d172512661d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6e69ca22-1d81-4b61-9306-1d172512661d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:51:03 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "33f8e879-e3b7-4406-8916-43deabc07f17",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17",
            "metadata" : {
              "etag" : "5f0474f7d62ce86171e6fcffd2fd7fd3",
              "createdDate" : "2021-06-25T08:51:03Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-25T08:51:03Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test62rwg34hg3h34h3d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers"
              },
              "volumes" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/volumes"
              },
              "loadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/loadbalancers"
              },
              "lans" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans"
              },
              "natgateways" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/applicationloadbalancers"
              }
            }
          }, {
            "id" : "13984811-07ea-42de-9739-e2a4667abc17",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/13984811-07ea-42de-9739-e2a4[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 41a500765b62cc42bf4ee9eae2e12f81
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/3e5d8d67-21fd-47e6-9dda-e4cf02059213/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1",
          "metadata" : {
            "etag" : "41a500765b62cc42bf4ee9eae2e12f81",
            "createdDate" : "2021-06-25T08:51:04Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T08:51:04Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : null,
            "pcc" : null,
            "public" : false
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:51:04 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/3e5d8d67-21fd-47e6-9dda-e4cf02059213/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3e5d8d67-21fd-47e6-9dda-e4cf02059213/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/3e5d8d67-21fd-47e6-9dda-e4cf02059213/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:51:10 GMT
recorded_with: VCR 6.0.0
