---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "33f8e879-e3b7-4406-8916-43deabc07f17",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17",
            "metadata" : {
              "etag" : "fd02f98f714d4726c02afeef894ca138",
              "createdDate" : "2021-06-25T08:51:03Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-25T09:01:15Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test62rwg34hg3h34h3d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 15,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers"
              },
              "volumes" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/volumes"
              },
              "loadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/loadbalancers"
              },
              "lans" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans"
              },
              "natgateways" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "33f8e879-e3b7-4406-8916-43deabc07f17/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/applicationloadbalancers"
              }
            }
          }, {
            "id" : "0167e894-1345-44af-85c7-4581918274b2",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0167e894-1345-44af-85c7-4581[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 0fe37c7956cfd9346f78a0197f468bcd
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1",
          "metadata" : {
            "etag" : "0fe37c7956cfd9346f78a0197f468bcd",
            "createdDate" : "2021-06-25T08:51:06Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T08:51:06Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/lans/1/nics"
            }
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:02:04 GMT
[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/volumes/e08377b8-074c-4135-9b66-5591b4cac97d
    body:
      encoding: UTF-8
      string: '{"size":20}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 07fad65149c2547715a34c275896e05e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/075ac1b8-adf9-4e81-a0ee-aba60767d304/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e08377b8-074c-4135-9b66-5591b4cac97d",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/volumes/e08377b8-074c-4135-9b66-5591b4cac97d",
          "metadata" : {
            "etag" : "07fad65149c2547715a34c275896e05e",
            "createdDate" : "2021-06-25T08:51:44Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T09:02:06Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 20,
            "availabilityZone" : "AUTO",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : false,
            "ramHotPlug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "deviceNumber" : 1,
            "userData" : null,
            "pciSlot" : 5
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:02:06 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 3","type":"HDD","size":10,"sshKeys":[],"licenceType":"LINUX"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - appl[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/volumes/6a475b67-eea1-4664-ab6e-1d9c45efc1e4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/27ed2a46-6c6b-4b85-b164-b456ee937d45/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 09:02:06 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/b3dff920-6cb7-41f1-9b9d-7ee4a856a4c4/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b3dff920-6cb7-41f1-9b9d-7ee4a856a4c4/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/b3dff920-6cb7-41f1-9b9d-7ee4a856a4c4/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "f34697c3-0945-4ef7-b389-a86dfe736f7b",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/volumes/f34697c3-0945-4ef7-b389-a86dfe736f7b"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:02:27 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/33f8e879-e3b7-4406-8916-43deabc07f17/servers/13f2b7de-473f-4ef0-aef0-f2c05ed30ec0/volumes
    body:
      encoding: UTF-8
      string: '{"id":"f34697c3-0945-4ef7-b389-a86dfe736f7b"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
 [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "items" : [ ]
        }
  recorded_at: Fri, 25 Jun 2021 09:04:12 GMT
recorded_with: VCR 6.0.0
