---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
              "etag" : "23ed051182b1c44bd042a08811f243cc",
              "createdDate" : "2021-03-19T15:48:00Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-19T15:51:23Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 6,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers"
              },
              "volumes" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes"
              },
              "loadbalancers" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/loadbalancers"
              },
              "lans" : {
                "id" : "1ca85771-5c86-476e-b86b-803223352370/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans"
              }
            }
          }, {
            "id" : "ba4eaca1-08d0-4743-82d5-13806c40f62c",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1ca85771-5c86-476e-b86b-803223352370/lans",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans",
          "items" : [ {
            "id" : "1",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans/1",
            "metadata" : {
              "createdDate" : "2021-03-19T15:48:22Z",
              "createdBy" : "username",
              "etag" : "850d63b2d03fd3e930a7819d7291b591",
              "lastModifiedDate" : "2021-03-19T15:48:22Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "ipFailover" : [ ],
              "public" : false
            },
            "entities" : {
              "nics" : {
                "id" : "1/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/1ca85771-5c86-476e-b86b-803223352370/lans/1/nics"
              }
            }
          } ]
        }
  recorded_at: Fri, 19 Mar 2021 15:51:32 GMT
[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","cores":1,"ram":1024,"availabilityZone":"AUTO","cpuFamily":"INTEL_XEON"},"entities":{"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test","type":"SSD","size":100,"availabilityZone":"AUTO","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}},{"properties":{"name":"Puppet
        Module Test 2","type":"HDD","size":10,"availabilityZone":"ZONE_3","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}}]},"nics":{"items":[{"properties":{"name":"Puppet
        Module Test","dhcp":true,"lan":"1","nat":false},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","portRangeStart":22,"portRangeEnd":22}}]}}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 67797994aca1c1ef2c8008fbfc25c2cb
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/bd898da5-afb8-46d2-ab36-0a4aad1dbb58/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2cc69def-8469-406e-a933-759fb13ba734",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/2cc69def-8469-406e-a933-759fb13ba734",
          "metadata" : {
            "etag" : "67797994aca1c1ef2c8008fbfc25c2cb",
            "createdDate" : "2021-03-19T15:51:33Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-19T15:51:33Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "volumes" : {
              "id" : "2cc69def-8469-406e-a933-759fb13ba734/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/2cc69def-8469-406e-a933-759fb13ba734/volumes"
            },
            "nics" : {
              "id" : "2cc69def-8469-406e-a933-759fb13ba734/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/2cc69def-8469-406e-a933-759fb13ba734/nics"
            }
          }
        }
  recorded_at: Fri, 19 Mar 2021 15:51:33 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/bd898da5-afb8-46d2-ab36-0a4aad1dbb58/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bd898da5-afb8-46d2-ab36-0a4aad1dbb58/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/bd898da5-afb8-46d2-ab36-0a4aad1dbb58/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "2cc69def-8469-406e-a933-759fb13ba734",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/servers/2cc69def-8469-406e-a933-759fb13ba734"
              },
              "status" : "QUEUED"
            }, {
              "target" : {
                "id" : "bd8fddad-44e7-4faa-a802-28b814ab4189",
                "type" : "volume",
                "href" : "https://api.ionos.com/clo[...]
[...]
