---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "38486675-0110-478e-9079-e515242cd35b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b",
            "metadata" : {
              "etag" : "69450982d64bc3f9b283698ecf796cac",
              "createdDate" : "2021-04-08T13:38:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-08T13:50:16Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 19,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers"
              },
              "volumes" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes"
              },
              "loadbalancers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/loadbalancers"
              },
              "lans" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 08 Apr 2021 13:50:26 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","cores":1,"ram":1024,"availabilityZone":"AUTO","cpuFamily":"INTEL_XEON"},"entities":{"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test","type":"SSD","size":100,"availabilityZone":"AUTO","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}},{"properties":{"name":"Puppet
        Module Test 2","type":"HDD","size":10,"availabilityZone":"ZONE_3","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","imageAlias":"ubuntu:latest","bus":"VIRTIO"}}]},"nics":{"items":[{"properties":{"name":"Puppet
        Module Test","dhcp":true,"lan":"1","nat":false},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","portRangeStart":22,"portRangeEnd":22}}]}}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - c46252912f2eb0cf0b023def51941db2
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/6f101248-e24c-4ce0-9d14-c695ebed7679/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a3e9cdc9-3d21-40e6-8111-cc8c5e00beda",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/a3e9cdc9-3d21-40e6-8111-cc8c5e00beda",
          "metadata" : {
            "etag" : "c46252912f2eb0cf0b023def51941db2",
            "createdDate" : "2021-04-08T13:50:26Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-08T13:50:26Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "volumes" : {
              "id" : "a3e9cdc9-3d21-40e6-8111-cc8c5e00beda/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/a3e9cdc9-3d21-40e6-8111-cc8c5e00beda/volumes"
            },
            "nics" : {
              "id" : "a3e9cdc9-3d21-40e6-8111-cc8c5e00beda/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/a3e9cdc9-3d21-40e6-8111-cc8c5e00beda/nics"
            }
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:50:26 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/6f101248-e24c-4ce0-9d14-c695ebed7679/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6f101248-e24c-4ce0-9d14-c695ebed7679/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/6f101248-e24c-4ce0-9d14-c695ebed7679/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "a3e9cdc9-3d21-40e6-8111-cc8c5e00beda",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers/a3e9cdc9-3d21-40e6-8111-cc8c5e00beda"
              },
              "status" : "QUEUED"
            }, {
              "target" : {
                "id" : "fa51b3aa-830e-4617-a64a-f496b834eaca",
                "type" : "volume",
                "href" : "https://api.ionos.com/clo[...]
[...]
