---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "metadata" : {
              "etag" : "873edb122534bdfad50663edd56ca233",
              "createdDate" : "2021-04-14T12:35:57Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-14T12:40:13Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 10,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers"
              },
              "volumes" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes"
              },
              "loadbalancers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers"
              },
              "lans" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1
    body:
      encoding: UTF-8
      string: '{"cores":2,"ram":2048,"bootVolume":{"id":"4598497d-fdf4-4003-8f70-1e5227972451"},"cpuFamily":"AMD_OPTERON"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f3e4aa258f901488d91d115381c555ca
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/11ecf222-e398-435b-9a9b-798cab21fb02/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "38c608b5-0903-4648-96c1-1faf36ff0ce1",
          "type" : "server",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1",
          "metadata" : {
            "etag" : "f3e4aa258f901488d91d115381c555ca",
            "createdDate" : "2021-04-14T12:37:08Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T12:40:19Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "cores" : 2,
            "ram" : 2048,
            "availabilityZone" : "AUTO",
            "vmState" : "RUNNING",
            "bootCdrom" : null,
            "bootVolume" : {
              "id" : "4598497d-fdf4-4003-8f70-1e5227972451",
              "type" : "volume",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes/4598497d-fdf4-4003-8f70-1e5227972451"
            },
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "38c608b5-0903-4648-96c1-1faf36ff0ce1/cdroms",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1/cdroms"
            },
            "volumes" : {
              "id" : "38c608b5-0903-4648-96c1-1faf36ff0ce1/volumes",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1/volumes"
            },
            "nics" : {
              "id" : "38c608b5-0903-4648-96c1-1faf36ff0ce1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1/nics"
            }
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:40:19 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/11ecf222-e398-435b-9a9b-798cab21fb02/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "11ecf222-e398-435b-9a9b-798cab21fb02/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/11ecf222-e398-435b-9a9b-798cab21fb02/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "38c608b5-0903-4648-96c1-1faf36ff0ce1",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1"
              },
              "status" : "DONE"
            }, {
              "target" : {
                "id" : "4598497d-fdf4-4003-8f70-1e5227972451",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes/4598497d-fdf4-4003-8f70-1e5227972451"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:41:07 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - fddbc0a82c64c63137c99f221536be91
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1",
          "metadata" : {
            "etag" : "fddbc0a82c64c63137c99f221536be91",
            "createdDate" : "2021-04-14T12:36:16Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T12:36:16Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans/1/nics"
            }
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:41:07 GMT
[...]
