---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9",
            "metadata" : {
              "etag" : "06ada1e5dafb6786223f6472a0a5396b",
              "createdDate" : "2021-07-12T12:30:53Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-12T12:33:55Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6w3g3g34g3g34g3g89g34d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 15,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers"
              },
              "volumes" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes"
              },
              "loadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/loadbalancers"
              },
              "lans" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans"
              },
              "networkloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/applicationloadbalancers"
              },
              "natgateways" : {
                "id" : "4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/natgateways"
              }
            }
          }, {
            "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 28074c379b28f4f9d9b51b6f109254e8
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1",
          "metadata" : {
            "etag" : "28074c379b28f4f9d9b51b6f109254e8",
            "createdDate" : "2021-07-12T12:30:55Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T12:30:55Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6ffwedqdwfeqwfwefweg5eh4d0ebc5ed",
            "ipFailover" : [ ],
            "pcc" : null,
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "1/nics",
              "type" : "collection",
              "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/lans/1/nics"
            }
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:34:12 GMT
[...]
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes/09494a80-8192-4ab1-886d-16528e633d5a
    body:
      encoding: UTF-8
      string: '{"size":20}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 1f3c926bf095540081fc9ffe6c683241
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/c31cc460-4ef4-4ecf-b22c-c24b003e9d6d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "09494a80-8192-4ab1-886d-16528e633d5a",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes/09494a80-8192-4ab1-886d-16528e633d5a",
          "metadata" : {
            "etag" : "1f3c926bf095540081fc9ffe6c683241",
            "createdDate" : "2021-07-12T12:31:12Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-12T12:34:13Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 20,
            "availabilityZone" : "AUTO",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : false,
            "ramHotPlug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "deviceNumber" : 1,
            "userData" : null,
            "pciSlot" : 5
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:34:13 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 3","type":"HDD","size":10,"sshKeys":[],"licenceType":"LINUX"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - appl[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/volumes/a6522e08-e371-43c5-aa69-94f79ea79b77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/b804d8ca-1068-49f0-b77d-0f5c7a9249d3/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 12 Jul 2021 12:34:13 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/0eecc33e-4ffa-486f-8947-729927266d79/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "0eecc33e-4ffa-486f-8947-729927266d79/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/0eecc33e-4ffa-486f-8947-729927266d79/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c61fda98-799f-40d0-821c-12c638bedf00",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/volumes/c61fda98-799f-40d0-821c-12c638bedf00"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 12 Jul 2021 12:34:24 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/4809a1da-a394-4c1e-a046-34950d6f37d9/servers/1a8bd431-c3d7-4256-afe5-9f03a3d7fd8d/volumes
    body:
      encoding: UTF-8
      string: '{"id":"c61fda98-799f-40d0-821c-12c638bedf00"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
 [...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/servers",
          "items" : [ ]
        }
  recorded_at: Mon, 12 Jul 2021 12:35:01 GMT
recorded_with: VCR 6.0.0
