---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "metadata" : {
              "etag" : "5d4f74be3675a21999938837e2f5398c",
              "createdDate" : "2021-04-14T12:35:57Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-14T12:44:09Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 20,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers"
              },
              "volumes" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes"
              },
              "loadbalancers" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/loadbalancers"
              },
              "lans" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
   [...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes/e267b725-d246-496a-92cf-10704f4b065c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/14e67037-a659-41c7-834c-b1a51772bef5/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Apr 2021 12:47:30 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/14e67037-a659-41c7-834c-b1a51772bef5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "14e67037-a659-41c7-834c-b1a51772bef5/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/14e67037-a659-41c7-834c-b1a51772bef5/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "e267b725-d246-496a-92cf-10704f4b065c",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/volumes/e267b725-d246-496a-92cf-10704f4b065c"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:48:22 GMT
[...]
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/36d8fb58-2a10-4904-a872-bd6055ec9e18/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Apr 2021 12:49:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/36d8fb58-2a10-4904-a872-bd6055ec9e18/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "36d8fb58-2a10-4904-a872-bd6055ec9e18/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/36d8fb58-2a10-4904-a872-bd6055ec9e18/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "38c608b5-0903-4648-96c1-1faf36ff0ce1",
                "type" : "server",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d/servers/38c608b5-0903-4648-96c1-1faf36ff0ce1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:49:36 GMT
recorded_with: VCR 6.0.0
