---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "26eec52b-e664-43cd-b820-d43d057a2859",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859",
            "metadata" : {
              "etag" : "c86d72aab84ddcd3d2b0c85ea4250f24",
              "createdDate" : "2021-08-02T08:38:34Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-02T08:38:34Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2nfctjrfqwfehh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 4,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/servers"
              },
              "volumes" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/volumes"
              },
              "loadbalancers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/loadbalancers"
              },
              "lans" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/lans"
              },
              "applicationloadbalancers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "26eec52b-e664-43cd-b820-d43d057a2859/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/26eec52b-e664-43cd-b820-d43d057a2859/natgateways"
              }
            }
          }, {
            "id" : "a34e0d64-d30f-46ee-9384-f8b464ea6eea",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/a34e0d64-d30f-46ee-9384-f8b464ea6eea",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a96c14sfgddsgh5eh4d0ebc5ed","description":"Puppet
        Module test description","location":"de/txl"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 0f598999dff19598eed76ee31907ec94
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/2f95411f-fb8a-407e-a0a7-bd8a664a20a4/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
          "metadata" : {
            "etag" : "0f598999dff19598eed76ee31907ec94",
            "createdDate" : "2021-08-02T08:45:03Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-02T08:45:03Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a96c14sfgddsgh5eh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "de/txl",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:45:03 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/2f95411f-fb8a-407e-a0a7-bd8a664a20a4/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2f95411f-fb8a-407e-a0a7-bd8a664a20a4/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/2f95411f-fb8a-407e-a0a7-bd8a664a20a4/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:45:03 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a96c1sadadasah5eh4d0ebc5ed","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true","createFlowLog":"false","accessAndManageMonitoring":"false","accessAndManageCertificates":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f8fdd394d08831447e30dd4e8d2fa31d
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/e2a3d074-0331-4a3f-9dd6-2e6837e2f031/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1b11cccd-a0ef-4324-8ca9-50b368d54fb9",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9",
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a96c1sadadasah5eh4d0ebc5ed",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true,
            "createFlowLog" : false,
            "accessAndManageMonitoring" : false,
            "accessAndManageCertificates" : false
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:45:03 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/e2a3d074-0331-4a3f-9dd6-2e6837e2f031/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e2a3d074-0331-4a3f-9dd6-2e6837e2f031/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/e2a3d074-0331-4a3f-9dd6-2e6837e2f031/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1b11cccd-a0ef-4324-8ca9-50b368d54fb9",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:45:03 GMT
recorded_with: VCR 6.0.0
