---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/groups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups",
          "items" : [ {
            "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : false,
              "createK8sCluster" : false
            },
            "entities" : {
              "users" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/users"
              },
              "resources" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources"
              }
            }
          }, {
            "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "properties" : {[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares/38486675-0110-478e-9079-e515242cd35b
    body:
      encoding: UTF-8
      string: '{"properties":{"editPrivilege":"true","sharePrivilege":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - a9ecdd6b14b297c172e43e5e1efeab00
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/6c79a813-878d-441d-98a3-d857ed5b0869/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "38486675-0110-478e-9079-e515242cd35b",
          "type" : "resource",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares/38486675-0110-478e-9079-e515242cd35b",
          "properties" : {
            "editPrivilege" : true,
            "sharePrivilege" : true
          }
        }
  recorded_at: Fri, 09 Apr 2021 09:24:18 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/6c79a813-878d-441d-98a3-d857ed5b0869/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6c79a813-878d-441d-98a3-d857ed5b0869/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/6c79a813-878d-441d-98a3-d857ed5b0869/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b",
                "type" : "resource",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares/38486675-0110-478e-9079-e515242cd35b"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 09 Apr 2021 09:24:18 GMT
recorded_with: VCR 6.0.0
