---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a96c14sfgddsgh5eh4d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 05b9076d75547c75255e51f3cc4f28c8
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/8aec61aa-e0e5-40ea-938c-ad5631bb363b/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "011ff270-341f-49d6-99a7-5c8d18047c7f",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/011ff270-341f-49d6-99a7-5c8d18047c7f",
          "metadata" : {
            "etag" : "05b9076d75547c75255e51f3cc4f28c8",
            "createdDate" : "2021-05-21T14:50:49Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:50:49Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a96c14sfgddsgh5eh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          }
        }
  recorded_at: Fri, 21 May 2021 14:50:49 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/8aec61aa-e0e5-40ea-938c-ad5631bb363b/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "8aec61aa-e0e5-40ea-938c-ad5631bb363b/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/8aec61aa-e0e5-40ea-938c-ad5631bb363b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "011ff270-341f-49d6-99a7-5c8d18047c7f",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/011ff270-341f-49d6-99a7-5c8d18047c7f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:50:49 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a96c1sadadasah5eh4d0ebc5ed","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 3a03851c9bd702a69b1123a017129f24
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/c5c27f89-1669-489c-9753-149df4a5cd59/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "bf25dfae-8eac-411b-9230-e9507f11e204",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups/bf25dfae-8eac-411b-9230-e9507f11e204",
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a96c1sadadasah5eh4d0ebc5ed",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true
          }
        }
  recorded_at: Fri, 21 May 2021 14:50:49 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/c5c27f89-1669-489c-9753-149df4a5cd59/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c5c27f89-1669-489c-9753-149df4a5cd59/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/c5c27f89-1669-489c-9753-149df4a5cd59/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "bf25dfae-8eac-411b-9230-e9507f11e204",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/bf25dfae-8eac-411b-9230-e9507f11e204"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:50:49 GMT
recorded_with: VCR 6.0.0
