---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/groups?depth=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups",
          "items" : [ {
            "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : false,
              "createK8sCluster" : false
            },
            "entities" : {
              "users" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "items" : [ ]
              },
              "resources" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "items" : [ ]
              }
            }
          }, {
            "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a[...]
