---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/um/groups/bf25dfae-8eac-411b-9230-e9507f11e204/shares/011ff270-341f-49d6-99a7-5c8d18047c7f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/02aa18ea-0bcd-4b0e-ac17-98c35a53e8e5/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 14:50:52 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/02aa18ea-0bcd-4b0e-ac17-98c35a53e8e5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "02aa18ea-0bcd-4b0e-ac17-98c35a53e8e5/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/02aa18ea-0bcd-4b0e-ac17-98c35a53e8e5/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "011ff270-341f-49d6-99a7-5c8d18047c7f",
                "type" : "resource",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/bf25dfae-8eac-411b-9230-e9507f11e204/shares/011ff270-341f-49d6-99a7-5c8d18047c7f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:50:52 GMT
recorded_with: VCR 6.0.0
