---
http_interactions:
- request:
    method: put
    uri: https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d
    body:
      encoding: UTF-8
      string: '{"properties":{"editPrivilege":false}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - e6ffcdff20fd122128da399f603f0c4d
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/17518882-0712-45b8-acd0-eb1fd5676c23/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
          "type" : "resource",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
          "properties" : {
            "editPrivilege" : false,
            "sharePrivilege" : true
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:56:35 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/17518882-0712-45b8-acd0-eb1fd5676c23/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "17518882-0712-45b8-acd0-eb1fd5676c23/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/17518882-0712-45b8-acd0-eb1fd5676c23/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
                "type" : "resource",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 12:56:35 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/groups?depth=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups",
          "items" : [ {
            "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : false,
              "createK8sCluster" : false
            },
            "entities" : {
              "users" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/users",
                "items" : [ ]
              },
              "resources" : {
                "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/resources",
                "items" : [ {
                  "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
                  "type" : "datacenter",
                  "href" : "https://api.ionos.com/cloudapi/v5/um/resources/datacenter/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d"
      [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares",
          "items" : [ {
            "id" : "bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "type" : "resource",
            "href" : "https://api.ionos.com/cloudapi/v5/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360/shares/bf8aa1ce-1176-4d57-b614-c6ee7c5ab27d",
            "properties" : {
              "editPrivilege" : false,
              "sharePrivilege" : true
            }
          } ]
        }
  recorded_at: Wed, 14 Apr 2021 12:56:35 GMT
recorded_with: VCR 6.0.0
