---
http_interactions:
- request:
    method: put
    uri: https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4
    body:
      encoding: UTF-8
      string: '{"properties":{"editPrivilege":false}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - e6ffcdff20fd122128da399f603f0c4d
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/b8c0e30c-e6fc-4b65-b116-d0c218049345/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
          "type" : "resource",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
          "properties" : {
            "editPrivilege" : false,
            "sharePrivilege" : true
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:45:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/b8c0e30c-e6fc-4b65-b116-d0c218049345/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "b8c0e30c-e6fc-4b65-b116-d0c218049345/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/b8c0e30c-e6fc-4b65-b116-d0c218049345/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
                "type" : "resource",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:45:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/groups?depth=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups",
          "items" : [ {
            "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a",
            "properties" : {
              "name" : "Puppet Module Test",
              "createDataCenter" : false,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : true,
              "createPcc" : false,
              "s3Privilege" : false,
              "createBackupUnit" : false,
              "createInternetAccess" : true,
              "createK8sCluster" : false,
              "createFlowLog" : false,
              "accessAndManageMonitoring" : false,
              "accessAndManageCertificates" : false
            },
            "entities" : {
              "users" : {
                "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a/users",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a/users",
                "items" : [ {
                  "id" : "48a58b64-1680-4eba-af23-fc8859d89196",
                  "type" : "user",
                  "href" : "https://api.ionos.com/cloudapi/v6/um/users/48a58b64-1680-4eba-af23-fc8859d89196"
                }, {
                  "id" : "fe907f33-0bb8-49c5-b33d-4060b7c19bbd",
                  "type" : "user",
                  "href" : "https://api.ionos.com/cloudapi/v6/um/users/fe907f33-0bb8-49c5-b33d-4060b7c19bbd"
                } ]
              },
              "resources" : {
                "id" : "cb77f47d-4646-4b9b-8ac2-016706ee885a/resources",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/cb77f47d-4646-4b9b-8ac2-016706ee885a/resources",
                "items" : [ ]
              }
            }
          }, {
            "id" : "fee98c66-1bd9-4384-8231-e0fd7e2fa360",
            "type" : "group",
            "href" : "https://api.ionos.com/cloudapi/v6/um/groups/fee98c66-1bd9-4384-8231-e0fd7e2fa360[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares",
          "items" : [ {
            "id" : "cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
            "type" : "resource",
            "href" : "https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
            "properties" : {
              "editPrivilege" : false,
              "sharePrivilege" : true
            }
          } ]
        }
  recorded_at: Mon, 02 Aug 2021 08:45:06 GMT
recorded_with: VCR 6.0.0
