---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a96c14sfgddsgh5eh4d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9ffc1f6fe4026fd91864d01673b74d0e
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/536eab46-5da0-4a9e-803c-edb46837324f/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "afe1d333-8659-4da8-b4bc-e729ececbb01",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/afe1d333-8659-4da8-b4bc-e729ececbb01",
          "metadata" : {
            "etag" : "9ffc1f6fe4026fd91864d01673b74d0e",
            "createdDate" : "2021-05-26T15:18:32Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-26T15:18:32Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a96c14sfgddsgh5eh4d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:18:32 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/536eab46-5da0-4a9e-803c-edb46837324f/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "536eab46-5da0-4a9e-803c-edb46837324f/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/536eab46-5da0-4a9e-803c-edb46837324f/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "afe1d333-8659-4da8-b4bc-e729ececbb01",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/afe1d333-8659-4da8-b4bc-e729ececbb01"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:18:32 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/um/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a96c1sadadasah5eh4d0ebc5ed","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true","createPcc":"true","s3Privilege":"true","createBackupUnit":"true","createInternetAccess":"true","createK8sCluster":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f8fdd394d08831447e30dd4e8d2fa31d
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/8108a114-e2b8-4da9-b5a3-f15b7a913aec/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "91000e8e-706a-476b-b187-e5a329e598bc",
          "type" : "group",
          "href" : "https://api.ionos.com/cloudapi/v6/um/groups/91000e8e-706a-476b-b187-e5a329e598bc",
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a96c1sadadasah5eh4d0ebc5ed",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true,
            "createPcc" : true,
            "s3Privilege" : true,
            "createBackupUnit" : true,
            "createInternetAccess" : true,
            "createK8sCluster" : true,
            "createFlowLog" : false,
            "accessAndManageMonitoring" : false,
            "accessAndManageCertificates" : false
          }
        }
  recorded_at: Wed, 26 May 2021 15:18:32 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/8108a114-e2b8-4da9-b5a3-f15b7a913aec/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "8108a114-e2b8-4da9-b5a3-f15b7a913aec/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/8108a114-e2b8-4da9-b5a3-f15b7a913aec/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "91000e8e-706a-476b-b187-e5a329e598bc",
                "type" : "group",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/91000e8e-706a-476b-b187-e5a329e598bc"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 26 May 2021 15:18:32 GMT
recorded_with: VCR 6.0.0
