---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/3532262e-69cb-46f3-bb83-d1d81cf6eab9/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 02 Aug 2021 08:45:06 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/3532262e-69cb-46f3-bb83-d1d81cf6eab9/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3532262e-69cb-46f3-bb83-d1d81cf6eab9/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/3532262e-69cb-46f3-bb83-d1d81cf6eab9/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "cd9b0ffa-d007-41c5-9863-4f3f09eaefc4",
                "type" : "resource",
                "href" : "https://api.ionos.com/cloudapi/v6/um/groups/1b11cccd-a0ef-4324-8ca9-50b368d54fb9/shares/cd9b0ffa-d007-41c5-9863-4f3f09eaefc4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 02 Aug 2021 08:45:06 GMT
recorded_with: VCR 6.0.0
