---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/snapshots/a6ebed6a-cca9-43ac-ade7-4316d08e4718
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/910470cc-431a-4cc4-a922-047a5bd475cf/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 30 Jul 2021 13:34:32 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/910470cc-431a-4cc4-a922-047a5bd475cf/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "910470cc-431a-4cc4-a922-047a5bd475cf/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/910470cc-431a-4cc4-a922-047a5bd475cf/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a6ebed6a-cca9-43ac-ade7-4316d08e4718",
                "type" : "snapshot",
                "href" : "https://api.ionos.com/cloudapi/v6/snapshots/a6ebed6a-cca9-43ac-ade7-4316d08e4718"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:34:37 GMT
recorded_with: VCR 6.0.0
