---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/snapshots/e3ddebfc-7aa1-41ba-ba68-8720fccc3a0d
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module test snapshot - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4abc919534fc528ccd3862f74ecb4dda
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/acf8da11-d46b-4d09-85bc-ebd73201b2bb/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "e3ddebfc-7aa1-41ba-ba68-8720fccc3a0d",
          "type" : "snapshot",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots/e3ddebfc-7aa1-41ba-ba68-8720fccc3a0d",
          "metadata" : {
            "etag" : "4abc919534fc528ccd3862f74ecb4dda",
            "createdDate" : "2021-04-08T15:15:53Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-08T15:16:55Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : "Puppet Module test snapshot - RENAME",
            "location" : "us/las",
            "size" : 5,
            "secAuthProtection" : false,
            "cpuHotPlug" : true,
            "cpuHotUnplug" : false,
            "ramHotPlug" : true,
            "ramHotUnplug" : false,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "licenceType" : "LINUX"
          }
        }
  recorded_at: Thu, 08 Apr 2021 15:16:55 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/acf8da11-d46b-4d09-85bc-ebd73201b2bb/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "acf8da11-d46b-4d09-85bc-ebd73201b2bb/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/acf8da11-d46b-4d09-85bc-ebd73201b2bb/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "e3ddebfc-7aa1-41ba-ba68-8720fccc3a0d",
                "type" : "snapshot",
                "href" : "https://api.ionos.com/cloudapi/v5/snapshots/e3ddebfc-7aa1-41ba-ba68-8720fccc3a0d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 15:16:55 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/snapshots?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "snapshots",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots",
          "items" : [ {
            "id" : "e3ddebfc-7aa1-41ba-ba68-8720fccc3a0d",
            "type" : "snapshot",
            "href" : "https://api.ionos.com/cloudapi/v5/snapshots/e3ddebfc-7aa1-41ba-ba68-8720fccc3a0d",
            "metadata" : {
              "etag" : "c8b8c486f1bf3a80dd339131fb56d19c",
              "createdDate" : "2021-04-08T15:15:53Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-[...]
