---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/snapshots/c14d6314-c7dd-4f27-8f58-2b766074e191
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/306db89d-0044-40e6-a660-61fa8900e914/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 09:01:27 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/306db89d-0044-40e6-a660-61fa8900e914/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "306db89d-0044-40e6-a660-61fa8900e914/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/306db89d-0044-40e6-a660-61fa8900e914/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c14d6314-c7dd-4f27-8f58-2b766074e191",
                "type" : "snapshot",
                "href" : "https://api.ionos.com/cloudapi/v6/snapshots/c14d6314-c7dd-4f27-8f58-2b766074e191"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:01:47 GMT
recorded_with: VCR 6.0.0
