---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module test snapshot - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 8531c636358bb979eacfbd7604a7e060
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/23b02411-9c65-48fe-b0b7-a94a804841da/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6b988572-b5be-4267-8401-90a82220dfb8",
          "type" : "snapshot",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8",
          "metadata" : {
            "etag" : "8531c636358bb979eacfbd7604a7e060",
            "createdDate" : "2021-05-21T14:49:31Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T15:06:53Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test04cacda602e04de3b7c41bd099c46558",
            "description" : "Puppet Module test snapshot - RENAME",
            "location" : "us/las",
            "size" : 100,
            "secAuthProtection" : false,
            "cpuHotPlug" : true,
            "cpuHotUnplug" : false,
            "ramHotPlug" : true,
            "ramHotUnplug" : false,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "licenceType" : "LINUX"
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:53 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/23b02411-9c65-48fe-b0b7-a94a804841da/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "23b02411-9c65-48fe-b0b7-a94a804841da/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/23b02411-9c65-48fe-b0b7-a94a804841da/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6b988572-b5be-4267-8401-90a82220dfb8",
                "type" : "snapshot",
                "href" : "https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:53 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/snapshots?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "snapshots",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots",
          "items" : [ {
            "id" : "6b988572-b5be-4267-8401-90a82220dfb8",
            "type" : "snapshot",
            "href" : "https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8",
            "metadata" : {
              "etag" : "9b2c0a0f404dedf83c1177c880aa0307",
              "createdDate" : "2021-05-21T14:49:31Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-[...]
