---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/snapshots?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "snapshots",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots",
          "items" : [ {
            "id" : "6b988572-b5be-4267-8401-90a82220dfb8",
            "type" : "snapshot",
            "href" : "https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8",
            "metadata" : {
              "etag" : "d09e398d15f3807efa42053f2f4c52eb",
              "createdDate" : "2021-05-21T14:49:31Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:49:31Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test04cacda602e04de3b7c41bd099c46558",
              "description" : "Puppet Module test snapshot",
              "location" : "us/las",
              "size" : 100,
              "secAuthProtection" : false,
              "cpuHotPlug" : true,
              "cpuHotUnplug" : false,
              "ramHotPlug" : true,
              "ramHotUnplug" : false,
              "nicHotPlug" : true,
              "nicHotUnplug" : true,
              "discVirtioHotPlug" : true,
              "discVirtioHotUnplug" : true,
              "discScsiHotPlug" : false,
              "discScsiHotUnplug" : false,
              "licenceType" : "LINUX"
            }
          }, {
            "id" : "f6539003-4f04-4947-985a-cd57c9a66265",
            "type" : "snapshot",
            "href" : "https://api.ionos.com/cloudapi/v5/snapshots/f6539003-4f04-4947-985a-cd57c9a66265",
            "metadata" : {
              "etag" : "5af65c8341458dd69a51ec5fe85769f1",
              "createdDate" : "2021-04-19T08:00:12Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
           [...]
