---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be",
            "metadata" : {
              "etag" : "d92668eb87beaae65b0ee6e18531c43a",
              "createdDate" : "2021-06-25T08:28:02Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-25T08:34:05Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "BUSY"
            },
            "properties" : {
              "name" : "puppet_module_test62r3r2r23r23r2qg5eh4d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 10,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be/servers"
              },
              "volumes" : {
                "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be/volumes"
              },
              "loadbalancers" : {
                "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be/loadbalancers"
              },
              "lans" : {
                "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be/lans"
              },
              "natgateways" : {
                "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "203be411-958b-4703-bf5d-7e0a7d86b7be/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/203be411-958b-4703-bf5d-7e0a7d86b7be/applicationloadbalancers"
              }
            }
          }, {
            "id" : "5051a6c3-e03c-46d7-b87e-3154077fa728",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/5051a6c3-e03c-46d7-b87e-3154[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/5051a6c3-e03c-46d7-b87e-3154077fa728/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/5051a6c3-e03c-46d7-b87e-3154077fa728/volumes/7584215c-c941-4905-aa3f-f1f002e54eab/restore-snapshot
    body:
      encoding: UTF-8
      string: snapshotId=c14d6314-c7dd-4f27-8f58-2b766074e191
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/99e10793-a189-4790-86a4-ff6ff2e27adc/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 08:34:43 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/99e10793-a189-4790-86a4-ff6ff2e27adc/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "99e10793-a189-4790-86a4-ff6ff2e27adc/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/99e10793-a189-4790-86a4-ff6ff2e27adc/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "7584215c-c941-4905-aa3f-f1f002e54eab",
                "type" : "volume",
                "href" : "TO_BE_INJECTED"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 09:01:27 GMT
recorded_with: VCR 6.0.0
