---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "metadata" : {
              "etag" : "5fea7643e727ef8afe9d70c6add60042",
              "createdDate" : "2021-05-21T14:47:58Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:48:00Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "BUSY"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9f7a96c14ef08d20f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 2,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/servers"
              },
              "volumes" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/volumes"
              },
              "loadbalancers" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/loadbalancers"
              },
              "lans" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/lans"
              }
            }
          }, {
            "id" : "c7f1f73b-af3f-4144-9b44-afda10a26d40",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c7f1f73b-af3f-4144-9b44-afda10a26d40",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/c7f1f73b-af3f-4144-9b44-afda10a26d40/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/c7f1f73b-af3f-4144-9b44-afda10a26d40/volumes/58539df6-cac0-4fee-a839-42e4c9d5ddfa/create-snapshot
    body:
      encoding: UTF-8
      string: description=Puppet%20Module%20test%20snapshot&name=puppet_module_test04cacda602e04de3b7c41bd099c46558
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 37ba2a9a5a19170e563988bd736bfaa3
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/d88b1fd1-5d05-41d4-b09c-9d5cb76ba1cb/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6b988572-b5be-4267-8401-90a82220dfb8",
          "type" : "snapshot",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8",
          "metadata" : {
            "etag" : "37ba2a9a5a19170e563988bd736bfaa3",
            "createdDate" : "2021-05-21T14:49:31Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:49:31Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test04cacda602e04de3b7c41bd099c46558",
            "description" : "Puppet Module test snapshot",
            "location" : "us/las",
            "size" : 100,
            "secAuthProtection" : false,
            "cpuHotPlug" : false,
            "cpuHotUnplug" : false,
            "ramHotPlug" : false,
            "ramHotUnplug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "licenceType" : "LINUX"
          }
        }
  recorded_at: Fri, 21 May 2021 14:49:31 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/d88b1fd1-5d05-41d4-b09c-9d5cb76ba1cb/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "d88b1fd1-5d05-41d4-b09c-9d5cb76ba1cb/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/d88b1fd1-5d05-41d4-b09c-9d5cb76ba1cb/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:06:52 GMT
recorded_with: VCR 6.0.0
