---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/snapshots/8c95afa6-ff05-4cf3-88fb-f4e24b6cbf3a
    body:
      encoding: UTF-8
      string: '{"description":"Puppet Module test snapshot - RENAME"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 5d39c72c5f2255ed5652861f004e0bfd
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/4743e5e4-de79-4d34-8980-e519562ecefb/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "8c95afa6-ff05-4cf3-88fb-f4e24b6cbf3a",
          "type" : "snapshot",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots/8c95afa6-ff05-4cf3-88fb-f4e24b6cbf3a",
          "metadata" : {
            "etag" : "5d39c72c5f2255ed5652861f004e0bfd",
            "createdDate" : "2021-04-14T09:25:56Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T09:27:09Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : "Puppet Module test snapshot - RENAME",
            "location" : "us/las",
            "size" : 5,
            "secAuthProtection" : false,
            "cpuHotPlug" : true,
            "cpuHotUnplug" : false,
            "ramHotPlug" : true,
            "ramHotUnplug" : false,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "licenceType" : "LINUX"
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:27:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/4743e5e4-de79-4d34-8980-e519562ecefb/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "4743e5e4-de79-4d34-8980-e519562ecefb/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/4743e5e4-de79-4d34-8980-e519562ecefb/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "8c95afa6-ff05-4cf3-88fb-f4e24b6cbf3a",
                "type" : "snapshot",
                "href" : "https://api.ionos.com/cloudapi/v5/snapshots/8c95afa6-ff05-4cf3-88fb-f4e24b6cbf3a"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:27:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/snapshots?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "snapshots",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/snapshots",
          "items" : [ {
            "id" : "8c95afa6-ff05-4cf3-88fb-f4e24b6cbf3a",
            "type" : "snapshot",
            "href" : "https://api.ionos.com/cloudapi/v5/snapshots/8c95afa6-ff05-4cf3-88fb-f4e24b6cbf3a",
            "metadata" : {
              "etag" : "f1d155602736f2ea720bf162b02a6f68",
              "createdDate" : "2021-04-14T09:25:56Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-[...]
