---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/5ae2cb60-e036-4295-ae4e-9d790f0b89c3/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 May 2021 15:41:43 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/5ae2cb60-e036-4295-ae4e-9d790f0b89c3/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "5ae2cb60-e036-4295-ae4e-9d790f0b89c3/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/5ae2cb60-e036-4295-ae4e-9d790f0b89c3/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6b988572-b5be-4267-8401-90a82220dfb8",
                "type" : "snapshot",
                "href" : "https://api.ionos.com/cloudapi/v5/snapshots/6b988572-b5be-4267-8401-90a82220dfb8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 15:41:49 GMT
recorded_with: VCR 6.0.0
