---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919",
            "metadata" : {
              "etag" : "95aeecd7c96432616e0838bddb07dd7a",
              "createdDate" : "2021-07-30T13:11:40Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T13:22:10Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6ffnfqwfqwfqfqwfd0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 7,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/servers"
              },
              "volumes" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/volumes"
              },
              "loadbalancers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/loadbalancers"
              },
              "lans" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/lans"
              },
              "applicationloadbalancers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "c788a8a3-2980-4b3e-bfd5-6127bc0d4919/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/c788a8a3-2980-4b3e-bfd5-6127bc0d4919/natgateways"
              }
            }
          }, {
            "id" : "0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/0bfb0ccb-946f-4039-986d-cdd3d3903549",
            "me[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/6a002edf-4bd4-4b1c-b706-488c06e35046/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/6a002edf-4bd4-4b1c-b706-488c06e35046/volumes/ff32d9ef-7163-417d-a871-788c98d83759/restore-snapshot
    body:
      encoding: UTF-8
      string: snapshotId=a6ebed6a-cca9-43ac-ade7-4316d08e4718
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6561ceab-c5eb-4c61-96d0-f639ba22bb3d/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 30 Jul 2021 13:22:33 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6561ceab-c5eb-4c61-96d0-f639ba22bb3d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '898'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6561ceab-c5eb-4c61-96d0-f639ba22bb3d/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6561ceab-c5eb-4c61-96d0-f639ba22bb3d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "ff32d9ef-7163-417d-a871-788c98d83759",
                "type" : "volume",
                "href" : "TO_BE_INJECTED"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:34:32 GMT
recorded_with: VCR 6.0.0
