---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/targetgroups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2nfctjrfqwfpmpamvpsjfewqfwqfqfwqd","algorithm":"LEAST_CONNECTION","protocol":"HTTP","targets":[],"healthCheck":{"checkTimeout":53,"checkInterval":1000,"retries":3},"httpHealthCheck":{"path":"/monitoring","method":"TRACE","matchType":"RESPONSE_BODY","response":"300"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - fd5b38da57e5892eb6e1e8f18f325f3d
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/25bc3db3-cb54-4660-b15a-cb19957544e6/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1eb2cdc2-4af2-41eb-b909-48b8d089b754",
          "type" : "target-group",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1eb2cdc2-4af2-41eb-b909-48b8d089b754",
          "metadata" : {
            "etag" : "fd5b38da57e5892eb6e1e8f18f325f3d",
            "createdDate" : "2022-06-15T13:50:04Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-15T13:50:04Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2nfctjrfqwfpmpamvpsjfewqfwqfqfwqd",
            "algorithm" : "LEAST_CONNECTION",
            "protocol" : "HTTP",
            "targets" : [ ],
            "healthCheck" : {
              "checkTimeout" : 53,
              "checkInterval" : 1000,
              "retries" : 3
            },
            "httpHealthCheck" : {
              "path" : "/monitoring",
              "method" : "TRACE",
              "matchType" : "RESPONSE_BODY",
              "response" : "300",
              "regex" : false,
              "negate" : false
            }
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:04 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/25bc3db3-cb54-4660-b15a-cb19957544e6/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "25bc3db3-cb54-4660-b15a-cb19957544e6/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/25bc3db3-cb54-4660-b15a-cb19957544e6/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1eb2cdc2-4af2-41eb-b909-48b8d089b754",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1eb2cdc2-4af2-41eb-b909-48b8d089b754"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:04 GMT
recorded_with: VCR 6.0.0
