---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/targetgroups/d63cfb95-9bb4-4f94-bde5-82054009580a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6489ade4-f4a0-4906-b24b-6244fb91f52c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 09 Aug 2021 14:42:45 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6489ade4-f4a0-4906-b24b-6244fb91f52c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6489ade4-f4a0-4906-b24b-6244fb91f52c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6489ade4-f4a0-4906-b24b-6244fb91f52c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d63cfb95-9bb4-4f94-bde5-82054009580a",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/d63cfb95-9bb4-4f94-bde5-82054009580a"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:42:45 GMT
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/targetgroups/1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "httpStatus" : 422,
          "messages" : [ {
            "errorCode" : "200",
            "message" : "[VDC-14-1816] VNF Manager API: 'an unexpected error occurred when sending the request'"
          } ]
        }
  recorded_at: Mon, 09 Aug 2021 14:42:46 GMT
recorded_with: VCR 6.0.0
