---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/targetgroups/1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2
    body:
      encoding: UTF-8
      string: '{"targets":[{"ip":"1.1.1.3","port":21,"weight":21,"healthCheck":{"check":false,"checkInterval":2000,"maintenance":false}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4303bd7d8b3be517f9f9e47a8eb4fdde
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/c4a3caa6-6cd3-4d42-b6c8-c1d308dac381/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2",
          "type" : "target-group",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2",
          "metadata" : {
            "etag" : "4303bd7d8b3be517f9f9e47a8eb4fdde",
            "createdDate" : "2021-08-09T14:42:41Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-09T14:42:44Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6f2nfctjrfqwfpmpamvpsjfewqfwqfqfwqd",
            "algorithm" : "LEAST_CONNECTION",
            "protocol" : "HTTP",
            "targets" : [ {
              "ip" : "1.1.1.3",
              "port" : 21,
              "weight" : 21,
              "healthCheck" : {
                "check" : false,
                "checkInterval" : 2000,
                "maintenance" : false
              }
            } ],
            "healthCheck" : {
              "checkTimeout" : 53,
              "connectTimeout" : 3000,
              "targetTimeout" : 47000,
              "retries" : 3
            },
            "httpHealthCheck" : {
              "path" : "/monitoring",
              "method" : "TRACE",
              "matchType" : "RESPONSE_BODY",
              "response" : "300",
              "regex" : false,
              "negate" : false
            }
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:42:44 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/c4a3caa6-6cd3-4d42-b6c8-c1d308dac381/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "c4a3caa6-6cd3-4d42-b6c8-c1d308dac381/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/c4a3caa6-6cd3-4d42-b6c8-c1d308dac381/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:42:44 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/targetgroups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "targetgroups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups",
          "items" : [ {
            "id" : "36e3febb-1e65-4514-9cfd-bcedd946dd9f",
            "type" : "target-group",
            "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/36e3febb-1e65-4514-9cfd-bcedd946dd9f",
            "metadata" : {
              "etag" : "3158cf4dd10eb8f2a4811ae48b0bb957",
              "createdDate" : "2021-08-05T09:05:46Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2[...]
