---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/targetgroups/d63cfb95-9bb4-4f94-bde5-82054009580a
    body:
      encoding: UTF-8
      string: '{"algorithm":"SOURCE_IP","healthCheck":{"checkTimeout":57,"retries":4},"httpHealthCheck":{"method":"POST","matchType":"STATUS_CODE","response":"304"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - af413d08df6b675cac7317fb599d68e3
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/5bd85c1c-0b42-4547-9831-65e51edb7d91/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d63cfb95-9bb4-4f94-bde5-82054009580a",
          "type" : "target-group",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/d63cfb95-9bb4-4f94-bde5-82054009580a",
          "metadata" : {
            "etag" : "af413d08df6b675cac7317fb599d68e3",
            "createdDate" : "2021-08-09T14:42:40Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-09T14:42:42Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6f2nfctjrasfwefwgwgwdfqwfqwfq",
            "algorithm" : "SOURCE_IP",
            "protocol" : "HTTP",
            "targets" : [ {
              "ip" : "1.1.1.1",
              "port" : 20,
              "weight" : 15,
              "healthCheck" : {
                "check" : true,
                "checkInterval" : 2000,
                "maintenance" : false
              }
            }, {
              "ip" : "1.1.3.1",
              "port" : 22,
              "weight" : 10,
              "healthCheck" : {
                "check" : false,
                "checkInterval" : 1000,
                "maintenance" : false
              }
            } ],
            "healthCheck" : {
              "checkTimeout" : 57,
              "connectTimeout" : 4000,
              "targetTimeout" : 50000,
              "retries" : 4
            },
            "httpHealthCheck" : {
              "path" : "/.",
              "method" : "POST",
              "matchType" : "STATUS_CODE",
              "response" : "304",
              "regex" : false,
              "negate" : false
            }
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:42:42 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/5bd85c1c-0b42-4547-9831-65e51edb7d91/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "5bd85c1c-0b42-4547-9831-65e51edb7d91/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/5bd85c1c-0b42-4547-9831-65e51edb7d91/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d63cfb95-9bb4-4f94-bde5-82054009580a",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/d63cfb95-9bb4-4f94-bde5-82054009580a"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:42:42 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/targetgroups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "targetgroups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups",
          "items" : [ {
            "id" : "36e3febb-1e65-4514-9cfd-bcedd946dd9f",
            "type" : "target-group",
            "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/36e3febb-1e65-4514-9cfd-bcedd946dd9f",
            "metadata" : {
              "etag" : "3158cf4dd10eb8f2a4811ae48b0bb957",
              "createdDate" : "2021-08-05T09:05:46Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2[...]
