---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/targetgroups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "targetgroups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups",
          "items" : [ {
            "id" : "36e3febb-1e65-4514-9cfd-bcedd946dd9f",
            "type" : "target-group",
            "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/36e3febb-1e65-4514-9cfd-bcedd946dd9f",
            "metadata" : {
              "etag" : "3158cf4dd10eb8f2a4811ae48b0bb957",
              "createdDate" : "2021-08-05T09:05:46Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-08-05T09:45:18Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "test_target_group",
              "algorithm" : "LEAST_CONNECTION",
              "protocol" : "HTTP",
              "targets" : [ {
                "ip" : "1.1.1.1",
                "port" : 20,
                "weight" : 15,
                "healthCheck" : {
                  "check" : true,
                  "checkInterval" : 2000,
                  "maintenance" : false
                }
              } ],
              "healthCheck" : {
                "checkTimeout" : 60,
                "connectTimeout" : 4000,
                "targetTimeout" : 50000,
                "retries" : 3
              },
              "httpHealthCheck" : {
                "path" : "/.",
                "method" : "GET",
                "matchType" : "STATUS_CODE",
                "response" : "200",
                "regex" : false,
                "negate" : false
              }
            }
          }, {
            "id" : "f838e79a-6c50-4e83-91bf-1a4f328ffb31",
            "type" : "target-group",
            "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/f838e79a-6c50-4e83-91bf-1a4f328ffb31",
            "metadata" : {
              "etag" : "7bb46108a69ec63cea0f02ba6b098aff",
              "createdDate" : "2021-08-09T14:03:44Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be[...]
