---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/targetgroups/1eb2cdc2-4af2-41eb-b909-48b8d089b754
    body:
      encoding: UTF-8
      string: '{"targets":[{"ip":"1.1.1.3","port":21,"weight":21,"healthCheckEnabled":false,"maintenanceEnabled":false}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 97e1040ef330e94724327a3d7a6bf21c
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6d8d1d1e-4f00-4757-aee4-d86df3ba62e9/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1eb2cdc2-4af2-41eb-b909-48b8d089b754",
          "type" : "target-group",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1eb2cdc2-4af2-41eb-b909-48b8d089b754",
          "metadata" : {
            "etag" : "97e1040ef330e94724327a3d7a6bf21c",
            "createdDate" : "2022-06-15T13:50:04Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-15T13:50:09Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6f2nfctjrfqwfpmpamvpsjfewqfwqfqfwqd",
            "algorithm" : "LEAST_CONNECTION",
            "protocol" : "HTTP",
            "targets" : [ {
              "ip" : "1.1.1.3",
              "port" : 21,
              "weight" : 21,
              "healthCheckEnabled" : false,
              "maintenanceEnabled" : false
            } ],
            "healthCheck" : {
              "checkTimeout" : 53,
              "checkInterval" : 1000,
              "retries" : 3
            },
            "httpHealthCheck" : {
              "path" : "/monitoring",
              "method" : "TRACE",
              "matchType" : "RESPONSE_BODY",
              "response" : "300",
              "regex" : false,
              "negate" : false
            }
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6d8d1d1e-4f00-4757-aee4-d86df3ba62e9/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6d8d1d1e-4f00-4757-aee4-d86df3ba62e9/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6d8d1d1e-4f00-4757-aee4-d86df3ba62e9/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1eb2cdc2-4af2-41eb-b909-48b8d089b754",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1eb2cdc2-4af2-41eb-b909-48b8d089b754"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:09 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/targetgroups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "targetgroups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups",
          "items" : [ {
            "id" : "4d0ab89f-e213-4716-b647-3872ff1da800",
            "type" : "target-group",
            "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/4d0ab89f-e213-4716-b647-3872ff1da800",
            "metadata" : {
              "etag" : "c777db1245b328f6336b13a8c522dfd6",
              "createdDate" : "2021-10-21T12:57:44Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2[...]
