---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/targetgroups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2nfctjrfqwfpmpamvpsjfewqfwqfqfwqd","algorithm":"LEAST_CONNECTION","protocol":"HTTP","targets":[],"healthCheck":{"checkTimeout":53,"connectTimeout":3000,"targetTimeout":47000,"retries":3},"httpHealthCheck":{"path":"/monitoring","method":"TRACE","matchType":"RESPONSE_BODY","response":"300"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 3e3bd89409d27e61b7f438ad836b0718
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/481f39e1-e96c-4590-9c55-9fad6bc06360/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2",
          "type" : "target-group",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2",
          "metadata" : {
            "etag" : "3e3bd89409d27e61b7f438ad836b0718",
            "createdDate" : "2021-08-09T14:42:41Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-08-09T14:42:41Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2nfctjrfqwfpmpamvpsjfewqfwqfqfwqd",
            "algorithm" : "LEAST_CONNECTION",
            "protocol" : "HTTP",
            "targets" : [ ],
            "healthCheck" : {
              "checkTimeout" : 53,
              "connectTimeout" : 3000,
              "targetTimeout" : 47000,
              "retries" : 3
            },
            "httpHealthCheck" : {
              "path" : "/monitoring",
              "method" : "TRACE",
              "matchType" : "RESPONSE_BODY",
              "response" : "300",
              "regex" : false,
              "negate" : false
            }
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:42:41 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/481f39e1-e96c-4590-9c55-9fad6bc06360/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "481f39e1-e96c-4590-9c55-9fad6bc06360/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/481f39e1-e96c-4590-9c55-9fad6bc06360/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1d2fe414-dd1a-4a64-8a2d-5e4a901b93d2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 09 Aug 2021 14:42:41 GMT
recorded_with: VCR 6.0.0
