---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v6/targetgroups/9d872387-cc01-4f15-8096-1b43bdf1a079
    body:
      encoding: UTF-8
      string: '{"algorithm":"SOURCE_IP","healthCheck":{"checkTimeout":57,"retries":4},"httpHealthCheck":{"method":"POST","matchType":"STATUS_CODE","response":"304"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - a0668f0b277399e24a68037372b2a41a
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/6be6b684-59d7-42d2-afcd-3d37480e72ec/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "9d872387-cc01-4f15-8096-1b43bdf1a079",
          "type" : "target-group",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/9d872387-cc01-4f15-8096-1b43bdf1a079",
          "metadata" : {
            "etag" : "a0668f0b277399e24a68037372b2a41a",
            "createdDate" : "2022-06-15T13:50:03Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2022-06-15T13:50:06Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "puppet_module_test6f2nfctjrasfwefwgwgwdfqwfqwfq",
            "algorithm" : "SOURCE_IP",
            "protocol" : "HTTP",
            "targets" : [ {
              "ip" : "1.1.1.1",
              "port" : 20,
              "weight" : 15,
              "healthCheckEnabled" : true,
              "maintenanceEnabled" : false
            }, {
              "ip" : "1.1.3.1",
              "port" : 22,
              "weight" : 10,
              "healthCheckEnabled" : false,
              "maintenanceEnabled" : false
            } ],
            "healthCheck" : {
              "checkTimeout" : 57,
              "checkInterval" : 1000,
              "retries" : 4
            },
            "httpHealthCheck" : {
              "path" : "/.",
              "method" : "POST",
              "matchType" : "STATUS_CODE",
              "response" : "304",
              "regex" : false,
              "negate" : false
            }
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:06 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/6be6b684-59d7-42d2-afcd-3d37480e72ec/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6be6b684-59d7-42d2-afcd-3d37480e72ec/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/6be6b684-59d7-42d2-afcd-3d37480e72ec/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "9d872387-cc01-4f15-8096-1b43bdf1a079",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/9d872387-cc01-4f15-8096-1b43bdf1a079"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:06 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/targetgroups?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "targetgroups",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/targetgroups",
          "items" : [ {
            "id" : "4d0ab89f-e213-4716-b647-3872ff1da800",
            "type" : "target-group",
            "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/4d0ab89f-e213-4716-b647-3872ff1da800",
            "metadata" : {
              "etag" : "c777db1245b328f6336b13a8c522dfd6",
              "createdDate" : "2021-10-21T12:57:44Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2[...]
