---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/targetgroups/9d872387-cc01-4f15-8096-1b43bdf1a079
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: ''
    headers:
      Etag:
      - 808549d2fe212a6d9111ac3feff4da7b
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/4196ed5f-a41e-42b0-b5f9-881aea5de509/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 15 Jun 2022 13:50:11 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/4196ed5f-a41e-42b0-b5f9-881aea5de509/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "4196ed5f-a41e-42b0-b5f9-881aea5de509/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/4196ed5f-a41e-42b0-b5f9-881aea5de509/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "9d872387-cc01-4f15-8096-1b43bdf1a079",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/9d872387-cc01-4f15-8096-1b43bdf1a079"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:11 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/13f54442-8e93-4707-8138-01cac9b6b2a7/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "13f54442-8e93-4707-8138-01cac9b6b2a7/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/13f54442-8e93-4707-8138-01cac9b6b2a7/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1eb2cdc2-4af2-41eb-b909-48b8d089b754",
                "type" : "target-group",
                "href" : "https://api.ionos.com/cloudapi/v6/targetgroups/1eb2cdc2-4af2-41eb-b909-48b8d089b754"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 15 Jun 2022 13:50:12 GMT
recorded_with: VCR 6.0.0
