---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf",
            "metadata" : {
              "etag" : "2a3dea7ab5902bee7e372c440a8d5387",
              "createdDate" : "2022-04-06T13:27:28Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-04-06T14:16:57Z",
              "lastModifiedBy" : "[UNKNOWN]",
              "lastModifiedByUserId" : "[UNKNOWN]",
              "state" : "BUSY"
            },
            "properties" : {
              "name" : "puppet_module_test6ffnfqwfqwfqfqwfd0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 5,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "private-k8s-cluster", "ssd", "vnf-nat", "k8s", "ssd-storage-zoning", "vnf-fw", "vnf-lb", "nic-hot-plug", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "k8s-cidr-s3-support", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/servers"
              },
              "volumes" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/volumes"
              },
              "loadbalancers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/loadbalancers"
              },
              "lans" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/lans"
              },
              "applicationloadbalancers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/natgateways"
              }
            }
          }, {
            "id" : "018e7bc7-caca-4f29-a0f2-10e48988d6fd",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/018e7bc7-caca-4f29-a0f2-10e48988d6fd",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/autoscaling/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"maxReplicaCount":3,"minReplicaCount":1,"targetReplicaCount":2,"name":"test_vm_autoscaling_group","policy":{"metric":"INSTANCE_CPU_UTILIZATION_AVERAGE","range":"PT24H","scaleInAction":{"amount":1,"amountType":"ABSOLUTE","cooldownPeriod":"PT5M","terminationPolicy":"RANDOM"},"scaleInThreshold":33,"scaleOutAction":{"amount":2,"amountType":"ABSOLUTE","cooldownPeriod":"PT5M"},"scaleOutThreshold":77,"unit":"PER_HOUR"},"replicaConfiguration":{"availabilityZone":"ZONE_1","cores":2,"cpuFamily":"INTEL_XEON","nics":[{"lan":1,"name":"TEST_NIC1","dhcp":true}],"ram":1024,"volumes":[{"image":"cbc2fd40-6aae-11ec-a917-62772f9c5dc0","name":"SDK_TEST_VOLUME","size":50,"type":"HDD","bus":"IDE","imagePassword":"test12345"}]},"datacenter":{"id":"feb02c68-6286-4f5b-a7bd-ab082f1031bf"},"location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.ionos.com/cloudapi/autoscaling/groups/959df40a-a1bb-4956-8863-ae5c2d620901
    body:
      encoding: ASCII-8BIT
      string: '{"id":"959df40a-a1bb-4956-8863-ae5c2d620901","type":"autoscaling-group","href":"https://api.ionos.com/cloudapi/autoscaling/groups/959df40a-a1bb-4956-8863-ae5c2d620901","metadata":{"createdDate":"2022-04-06T14:18:13.1648256Z","createdBy":"username","createdByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0","etag":null,"lastModifiedDate":"2022-04-06T14:18:13.167842841Z","lastModifiedBy":"username","lastModifiedByUserId":"99156d9e-eb3f-4024-a3a4-283be74699c0","state":"AVAILABLE"},"properties":{"name":"test_vm_autoscaling_group","targetReplicaCount":2,"minReplicaCount":1,"maxReplicaCount":3,"datacenter":{"id":"feb02c68-6286-4f5b-a7bd-ab082f1031bf","type":"datacenter","href":"https://api.ionos.com/cloudapi/v5/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf"},"location":"us/las","policy":{"metric":"INSTANCE_CPU_UTILIZATION_AVERAGE","unit":"PER_HOUR","range":"PT24H","scaleInThreshold":33.00,"scaleInAction":{"amount":1.00,"amountType":"ABSOLUTE","cooldownPeriod":"PT5M","terminationPolicy":"RANDOM"},"scaleOutThreshold":77.00,"scaleOutAction":{"amount":2.00,"amountType":"ABSOLUTE","cooldownPeriod":"PT5M"}},"replicaConfiguration":{"cpuFamily":"INTEL_XEON","availabilityZone":"ZONE_1","cores":2,"ram":1024,"volumes":[{"name":"SDK_TEST_VOLUME","type":"HDD","size":50,"image":"cbc2fd40-6aae-11ec-a917-62772f9c5dc0","sshKeys":[],"userData":null,"bus":"IDE"}],"nics":[{"name":"TEST_NIC1","lan":1,"dhcp":true}]}},"entities":{"actions":{"id":"959df40a-a1bb-4956-8863-ae5c2d620901/actions","type":"collection","href":"https://api.ionos.com/cloudapi/autoscaling/groups/959df40a-a1bb-4956-8863-ae5c2d620901/actions"},"servers":{"id":"959df40a-a1bb-4956-8863-ae5c2d620901/servers","type":"collection","href":"https://api.ionos.com/cloudapi/autoscaling/groups/959df40a-a1bb-4956-8863-ae5c2d620901/servers"}},"startedActions":[{"id":"1099d917-2108-4dbb-9196-86f7b938cffb","type":"autoscaling-action","href":"https://api.ionos.com/cloudapi/autoscaling/groups/959df40a-a1bb-4956-8863-ae5c2d620901/actions/1099d917-2108-4dbb-9196-86f7b938cffb"}]}'
  recorded_at: Wed, 06 Apr 2022 14:18:13 GMT
recorded_with: VCR 6.0.0
