---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf",
            "metadata" : {
              "etag" : "2a3dea7ab5902bee7e372c440a8d5387",
              "createdDate" : "2022-04-06T13:27:28Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2022-04-06T14:16:57Z",
              "lastModifiedBy" : "[UNKNOWN]",
              "lastModifiedByUserId" : "[UNKNOWN]",
              "state" : "BUSY"
            },
            "properties" : {
              "name" : "puppet_module_test6ffnfqwfqwfqfqwfd0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 5,
              "features" : [ "cloud-init-private-image", "vm-autoscaling", "private-k8s-cluster", "ssd", "vnf-nat", "k8s", "ssd-storage-zoning", "vnf-fw", "vnf-lb", "nic-hot-plug", "monitoring", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "cloud-init", "flow-logs", "cpu-hot-plug", "vnf-cidr", "k8s-cidr-s3-support", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/servers"
              },
              "volumes" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/volumes"
              },
              "loadbalancers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/loadbalancers"
              },
              "lans" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/lans"
              },
              "applicationloadbalancers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "feb02c68-6286-4f5b-a7bd-ab082f1031bf/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/natgateways"
              }
            }
          }, {
            "id" : "018e7bc7-caca-4f29-a0f2-10e48988d6fd",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/018e7bc7-caca-4f29-a0f2-10e48988d6fd",
            "me[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/feb02c68-6286-4f5b-a7bd-ab082f1031bf/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Rat[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/94716302-db12-49f8-b159-06d8f3b38ab2/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "94716302-db12-49f8-b159-06d8f3b38ab2/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/94716302-db12-49f8-b159-06d8f3b38ab2/lans",
          "items" : [ ]
        }
  recorded_at: Wed, 06 Apr 2022 14:18:09 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/64d0766b-0fd0-458e-9bc9-33c885f2d513/lans",
          "items" : [ ]
        }
  recorded_at: Wed, 06 Apr 2022 14:18:10 GMT
recorded_with: VCR 6.0.0
