---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08",
            "metadata" : {
              "etag" : "5153eeca627a7c7671c1ff827bf582aa",
              "createdDate" : "2021-06-25T08:16:51Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-06-25T08:16:51Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9f7a9r21t22g23g0f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "ssd", "vnf-nat", "vnf-nat-pcc-connection", "k8s", "ssd-storage-zoning", "vnf-fw", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "nic-hot-unplug", "pcc", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "private-loadbalancer", "mem-hot-plug" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "AMD_OPTERON",
                "vendor" : "AuthenticAMD",
                "maxCores" : 4,
                "maxRam" : 20480
              }, {
                "cpuFamily" : "INTEL_XEON",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/servers"
              },
              "volumes" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes"
              },
              "loadbalancers" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/loadbalancers"
              },
              "lans" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/lans"
              },
              "natgateways" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/natgateways"
              },
              "networkloadbalancers" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/networkloadbalancers"
              },
              "applicationloadbalancers" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/applicationloadbalancers"
              }
            }
          }, {
            "id" : "95a5b30e-7723-44ac-83f7-852a5204f1c8",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/95a5b30e-7723-44ac-83f7-852a[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test1","type":"HDD","size":3,"availabilityZone":"ZONE_3","sshKeys":[],"bus":"VIRTIO","licenceType":"LINUX"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 44d63f57b75e2269dcb66189531074b7
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/7cd1c0a7-1bbd-4a5c-a37c-9fd16935c09c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b7443086-82fa-491d-8ea3-8d99f7c2d8e7",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes/b7443086-82fa-491d-8ea3-8d99f7c2d8e7",
          "metadata" : {
            "etag" : "44d63f57b75e2269dcb66189531074b7",
            "createdDate" : "2021-06-25T08:16:52Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T08:16:52Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test1",
            "type" : "HDD",
            "size" : 3,
            "availabilityZone" : "ZONE_3",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : [ ],
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : false,
            "ramHotPlug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "deviceNumber" : null,
            "userData" : null,
            "pciSlot" : null
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:16:52 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/7cd1c0a7-1bbd-4a5c-a37c-9fd16935c09c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7cd1c0a7-1bbd-4a5c-a37c-9fd16935c09c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/7cd1c0a7-1bbd-4a5c-a37c-9fd16935c09c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b7443086-82fa-491d-8ea3-8d99f7c2d8e7",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes/b7443086-82fa-491d-8ea3-8d99f7c2d8e7"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:17:13 GMT
recorded_with: VCR 6.0.0
