---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/7c09fc3e-bc03-46ad-b631-f8e87a121d60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/9fab41f9-2097-4704-bcf1-1d6dcd1c9d34/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Mar 2021 12:23:04 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/9fab41f9-2097-4704-bcf1-1d6dcd1c9d34/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9fab41f9-2097-4704-bcf1-1d6dcd1c9d34/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/9fab41f9-2097-4704-bcf1-1d6dcd1c9d34/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "7c09fc3e-bc03-46ad-b631-f8e87a121d60",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/7c09fc3e-bc03-46ad-b631-f8e87a121d60"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Mon, 29 Mar 2021 12:23:04 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/9fab41f9-2097-4704-bcf1-1d6dcd1c9d34/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9fab41f9-2097-4704-bcf1-1d6dcd1c9d34/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/9fab41f9-2097-4704-bcf1-1d6dcd1c9d34/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "7c09fc3e-bc03-46ad-b631-f8e87a121d60",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/7c09fc3e-bc03-46ad-b631-f8e87a121d60"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 29 Mar 2021 12:23:10 GMT
recorded_with: VCR 6.0.0
