---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes/626bb422-8c3d-454e-b09f-b51be670c028
    body:
      encoding: UTF-8
      string: '{"size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - e99cef07bd87aa0af6849506fb8cc1f4
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/f659b372-9ef7-4e42-b30d-359959d4fc6c/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "626bb422-8c3d-454e-b09f-b51be670c028",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes/626bb422-8c3d-454e-b09f-b51be670c028",
          "metadata" : {
            "etag" : "e99cef07bd87aa0af6849506fb8cc1f4",
            "createdDate" : "2021-04-14T09:17:19Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T09:19:54Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 5,
            "availabilityZone" : "ZONE_3",
            "image" : "f1316493-92a4-11eb-b68e-9ad3ea4b1420",
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : null,
            "licenceType" : "LINUX",
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : 0,
            "userData" : null
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:19:54 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/f659b372-9ef7-4e42-b30d-359959d4fc6c/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "f659b372-9ef7-4e42-b30d-359959d4fc6c/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/f659b372-9ef7-4e42-b30d-359959d4fc6c/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "626bb422-8c3d-454e-b09f-b51be670c028",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes/626bb422-8c3d-454e-b09f-b51be670c028"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:20:10 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "55adf886-688f-46a2-a229-3c4a5bd96210",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210",
            "metadata" : {
              "etag" : "2976fbb5a9df86ccd40d209f71093892",
              "createdDate" : "2021-04-14T09:16:12Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-14T09:19:55Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 8,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/servers"
              },
              "volumes" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes"
              },
              "loadbalancers" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/loadbalancers"
              },
              "lans" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
[...]
