---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926",
            "metadata" : {
              "etag" : "950277eeeb90586dd3c1c0d3dcf4acfc",
              "createdDate" : "2021-05-21T14:47:58Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-05-21T14:47:58Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9f7a96c14ef08d20f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD_STORAGE_ZONING", "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/servers"
              },
              "volumes" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/volumes"
              },
              "loadbalancers" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/loadbalancers"
              },
              "lans" : {
                "id" : "6da6dc2e-9775-42d5-9edf-708fe57d7926/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/lans"
              }
            }
          }, {
            "id" : "c7f1f73b-af3f-4144-9b44-afda10a26d40",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/c7f1f73b-af3f-4144-9b44-afda10a26d40",
            "metadata" : {
  [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test1","type":"HDD","size":3,"availabilityZone":"ZONE_3","imageAlias":"ubuntu:latest","sshKeys":["ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH..."],"bus":"VIRTIO"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 3472a557dfd0da4849dd957148060902
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/7ffa3bda-d726-40c7-9528-75792142ca3b/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0f834302-5a36-4243-b532-5039ee318af9",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/volumes/0f834302-5a36-4243-b532-5039ee318af9",
          "metadata" : {
            "etag" : "3472a557dfd0da4849dd957148060902",
            "createdDate" : "2021-05-21T14:47:59Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-05-21T14:47:59Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test1",
            "type" : "HDD",
            "size" : 3,
            "availabilityZone" : "ZONE_3",
            "image" : "baf3a6f9-aa39-11eb-8984-e2b74a99fe34",
            "imagePassword" : null,
            "sshKeys" : [ "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH..." ],
            "bus" : "VIRTIO",
            "licenceType" : null,
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : null,
            "userData" : null
          }
        }
  recorded_at: Fri, 21 May 2021 14:47:59 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/7ffa3bda-d726-40c7-9528-75792142ca3b/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7ffa3bda-d726-40c7-9528-75792142ca3b/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/7ffa3bda-d726-40c7-9528-75792142ca3b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0f834302-5a36-4243-b532-5039ee318af9",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/6da6dc2e-9775-42d5-9edf-708fe57d7926/volumes/0f834302-5a36-4243-b532-5039ee318af9"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 21 May 2021 14:49:52 GMT
recorded_with: VCR 6.0.0
