---
http_interactions:
- request:
    method: patch
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/6879bdea-ad45-467f-ae1f-910f5c331f13
    body:
      encoding: UTF-8
      string: '{"size":5}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 4030e6fb3ba74054efe58dd8b598caa8
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/2d257458-ccc7-44d8-b6e3-048dd51e9dfc/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "6879bdea-ad45-467f-ae1f-910f5c331f13",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/6879bdea-ad45-467f-ae1f-910f5c331f13",
          "metadata" : {
            "etag" : "4030e6fb3ba74054efe58dd8b598caa8",
            "createdDate" : "2021-03-31T08:40:31Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-31T08:43:47Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 5,
            "availabilityZone" : "ZONE_3",
            "image" : "819ca987-7a42-11eb-9ba9-3ae5f2d5b516",
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : null,
            "licenceType" : "LINUX",
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : 0,
            "userData" : null
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:43:47 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/2d257458-ccc7-44d8-b6e3-048dd51e9dfc/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "2d257458-ccc7-44d8-b6e3-048dd51e9dfc/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/2d257458-ccc7-44d8-b6e3-048dd51e9dfc/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "6879bdea-ad45-467f-ae1f-910f5c331f13",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/6879bdea-ad45-467f-ae1f-910f5c331f13"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:43:47 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "metadata" : {
              "etag" : "acc08362563fc58362e617d8b938760d",
              "createdDate" : "2021-03-30T08:24:51Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-30T08:28:41Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "myDataCenter2",
              "description" : null,
              "location" : "us/las",
              "version" : 9,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers"
              },
              "volumes" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes"
              },
              "loadbalancers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers"
              },
              "lans" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans"
              }
            }
          }, {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
  [...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-[...]
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c/volumes?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "ba4eaca1-08d0-4743-82d5-13806c40f62c/volumes",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/ba4eaca1-08d0-4743-82d5-13806c40f62c/volumes",
          "items" : [ ]
        }
  recorded_at: Wed, 31 Mar 2021 08:44:01 GMT
recorded_with: VCR 6.0.0
