---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b",
            "metadata" : {
              "etag" : "acc08362563fc58362e617d8b938760d",
              "createdDate" : "2021-03-30T08:24:51Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-03-30T08:28:41Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "myDataCenter2",
              "description" : null,
              "location" : "us/las",
              "version" : 9,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/servers"
              },
              "volumes" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/volumes"
              },
              "loadbalancers" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/loadbalancers"
              },
              "lans" : {
                "id" : "8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/8cd1be7f-633a-449b-9fc5-e7651a35d68b/lans"
              }
            }
          }, {
            "id" : "1ca85771-5c86-476e-b86b-803223352370",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370",
            "metadata" : {
  [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","type":"HDD","size":100,"availabilityZone":"AUTO","imagePassword":"secretpassword2015","imageAlias":"ubuntu:latest","bus":"VIRTIO"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 85594787eb21765c2e39b4185b11001a
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/05895884-3e11-4f97-af46-3c1f90199779/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "dc90c68c-8c44-4878-8f7e-68e3c0e3957d",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/dc90c68c-8c44-4878-8f7e-68e3c0e3957d",
          "metadata" : {
            "etag" : "85594787eb21765c2e39b4185b11001a",
            "createdDate" : "2021-03-31T08:40:51Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-03-31T08:40:51Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "type" : "HDD",
            "size" : 100,
            "availabilityZone" : "AUTO",
            "image" : "819ca987-7a42-11eb-9ba9-3ae5f2d5b516",
            "imagePassword" : "secretpassword2015",
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : null,
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : null,
            "userData" : null
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:40:51 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/05895884-3e11-4f97-af46-3c1f90199779/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "05895884-3e11-4f97-af46-3c1f90199779/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/05895884-3e11-4f97-af46-3c1f90199779/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "dc90c68c-8c44-4878-8f7e-68e3c0e3957d",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/dc90c68c-8c44-4878-8f7e-68e3c0e3957d"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:40:51 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/05895884-3e11-4f97-af46-3c1f90199779/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "05895884-3e11-4f97-af46-3c1f90199779/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/05895884-3e11-4f97-af46-3c1f90199779/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "dc90c68c-8c44-4878-8f7e-68e3c0e3957d",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/dc90c68c-8c44-4878-8f7e-68e3c0e3957d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:43:46 GMT
recorded_with: VCR 6.0.0
