---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "38486675-0110-478e-9079-e515242cd35b",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b",
            "metadata" : {
              "etag" : "9df074b7d49d2a5f6728d8cb6baa7f28",
              "createdDate" : "2021-04-08T13:38:27Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-08T13:56:09Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 28,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/servers"
              },
              "volumes" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes"
              },
              "loadbalancers" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/loadbalancers"
              },
              "lans" : {
                "id" : "38486675-0110-478e-9079-e515242cd35b/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 08 Apr 2021 13:56:38 GMT
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","type":"HDD","size":3,"availabilityZone":"ZONE_3","imageAlias":"ubuntu:latest","sshKeys":["ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH..."],"bus":"VIRTIO"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 16fae8952e321945ef1f2ff463f2cbb0
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/04c91d87-96ee-489f-8cd6-bd7b509060a1/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "226c8cd0-5d0d-4113-9095-59085d04d940",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes/226c8cd0-5d0d-4113-9095-59085d04d940",
          "metadata" : {
            "etag" : "16fae8952e321945ef1f2ff463f2cbb0",
            "createdDate" : "2021-04-08T13:56:38Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-08T13:56:38Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 3,
            "availabilityZone" : "ZONE_3",
            "image" : "f1316493-92a4-11eb-b68e-9ad3ea4b1420",
            "imagePassword" : null,
            "sshKeys" : [ "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH..." ],
            "bus" : "VIRTIO",
            "licenceType" : null,
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : null,
            "userData" : null
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:56:38 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/04c91d87-96ee-489f-8cd6-bd7b509060a1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "04c91d87-96ee-489f-8cd6-bd7b509060a1/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/04c91d87-96ee-489f-8cd6-bd7b509060a1/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "226c8cd0-5d0d-4113-9095-59085d04d940",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes/226c8cd0-5d0d-4113-9095-59085d04d940"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:56:38 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/04c91d87-96ee-489f-8cd6-bd7b509060a1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "04c91d87-96ee-489f-8cd6-bd7b509060a1/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/04c91d87-96ee-489f-8cd6-bd7b509060a1/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "226c8cd0-5d0d-4113-9095-59085d04d940",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/38486675-0110-478e-9079-e515242cd35b/volumes/226c8cd0-5d0d-4113-9095-59085d04d940"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 08 Apr 2021 13:58:01 GMT
recorded_with: VCR 6.0.0
