---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters",
          "items" : [ {
            "id" : "55adf886-688f-46a2-a229-3c4a5bd96210",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210",
            "metadata" : {
              "etag" : "abaee9fbc2909180dc36fb3b70600b9d",
              "createdDate" : "2021-04-14T09:16:12Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-04-14T09:17:19Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 6,
              "features" : [ "SSD" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/servers"
              },
              "volumes" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes"
              },
              "loadbalancers" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/loadbalancers"
              },
              "lans" : {
                "id" : "55adf886-688f-46a2-a229-3c4a5bd96210/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/lans"
              }
            }
          }, {
            "id" : "a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v5/datacenters/a2a5f7ca-362d-4443-aee4-026781cb3cf7",
            "metadata" : {
  [...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","type":"SSD","size":100,"availabilityZone":"AUTO","imagePassword":"secretpassword2015","imageAlias":"ubuntu:latest","bus":"VIRTIO"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - d167f8161517e6cb91244ade1b78c655
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/4e626b26-ecf3-49b2-9231-6d5062371565/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "a999da3d-f5b9-48b4-9b87-1a489b8df1f8",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes/a999da3d-f5b9-48b4-9b87-1a489b8df1f8",
          "metadata" : {
            "etag" : "d167f8161517e6cb91244ade1b78c655",
            "createdDate" : "2021-04-14T09:18:30Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-04-14T09:18:30Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "type" : "SSD",
            "size" : 100,
            "availabilityZone" : "AUTO",
            "image" : "f1316493-92a4-11eb-b68e-9ad3ea4b1420",
            "imagePassword" : "secretpassword2015",
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : null,
            "cpuHotPlug" : true,
            "ramHotPlug" : true,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "deviceNumber" : null,
            "userData" : null
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:18:30 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/4e626b26-ecf3-49b2-9231-6d5062371565/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "4e626b26-ecf3-49b2-9231-6d5062371565/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/4e626b26-ecf3-49b2-9231-6d5062371565/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "a999da3d-f5b9-48b4-9b87-1a489b8df1f8",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/55adf886-688f-46a2-a229-3c4a5bd96210/volumes/a999da3d-f5b9-48b4-9b87-1a489b8df1f8"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 14 Apr 2021 09:19:53 GMT
recorded_with: VCR 6.0.0
