---
http_interactions:
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test6f2c9f7a9r21t22g23g0f796d0ebc5ed","description":"Puppet
        Module test description","location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - f8df2caeb06cf56e4c11b30991e14cc0
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/db14a6e6-e6a3-4daf-98d3-d30d65ad9ef4/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08",
          "type" : "datacenter",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08",
          "metadata" : {
            "etag" : "f8df2caeb06cf56e4c11b30991e14cc0",
            "createdDate" : "2021-06-25T08:16:51Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-06-25T08:16:51Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test6f2c9f7a9r21t22g23g0f796d0ebc5ed",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null,
            "cpuArchitecture" : [ ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:16:52 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/db14a6e6-e6a3-4daf-98d3-d30d65ad9ef4/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "db14a6e6-e6a3-4daf-98d3-d30d65ad9ef4/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/db14a6e6-e6a3-4daf-98d3-d30d65ad9ef4/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "47aa41fb-bd81-48a2-88d9-eea9f401fa08",
                "type" : "datacenter",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:16:52 GMT
recorded_with: VCR 6.0.0
