---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/dc90c68c-8c44-4878-8f7e-68e3c0e3957d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v5/requests/3e11c8cb-cc77-4af4-a509-9a4b58c2f8ca/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Mar 2021 08:44:01 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/3e11c8cb-cc77-4af4-a509-9a4b58c2f8ca/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 9df29ce7ca629ff1d47bca1149d9faae
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3e11c8cb-cc77-4af4-a509-9a4b58c2f8ca/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/3e11c8cb-cc77-4af4-a509-9a4b58c2f8ca/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "dc90c68c-8c44-4878-8f7e-68e3c0e3957d",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/dc90c68c-8c44-4878-8f7e-68e3c0e3957d"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:44:01 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v5/requests/3e11c8cb-cc77-4af4-a509-9a4b58c2f8ca/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "3e11c8cb-cc77-4af4-a509-9a4b58c2f8ca/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v5/requests/3e11c8cb-cc77-4af4-a509-9a4b58c2f8ca/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "dc90c68c-8c44-4878-8f7e-68e3c0e3957d",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v5/datacenters/1ca85771-5c86-476e-b86b-803223352370/volumes/dc90c68c-8c44-4878-8f7e-68e3c0e3957d"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Wed, 31 Mar 2021 08:44:06 GMT
recorded_with: VCR 6.0.0
