---
http_interactions:
- request:
    method: delete
    uri: https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes/b7443086-82fa-491d-8ea3-8d99f7c2d8e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Etag:
      - e2b535a996dbfb1d9f6df1715ebcf525
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/d221feda-d2ee-4767-80aa-64e20f5510f9/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 25 Jun 2021 08:18:05 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/d221feda-d2ee-4767-80aa-64e20f5510f9/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "d221feda-d2ee-4767-80aa-64e20f5510f9/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/d221feda-d2ee-4767-80aa-64e20f5510f9/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b7443086-82fa-491d-8ea3-8d99f7c2d8e7",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes/b7443086-82fa-491d-8ea3-8d99f7c2d8e7"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:18:21 GMT
[...]
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/7a37712d-0ce3-4dde-ab19-3f9bc1096705/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "7a37712d-0ce3-4dde-ab19-3f9bc1096705/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/7a37712d-0ce3-4dde-ab19-3f9bc1096705/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c472b66a-b799-4d03-8683-ad1d6cd8b0d4",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/47aa41fb-bd81-48a2-88d9-eea9f401fa08/volumes/c472b66a-b799-4d03-8683-ad1d6cd8b0d4"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 25 Jun 2021 08:18:37 GMT
recorded_with: VCR 6.0.0
