---
http_interactions:
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters",
          "items" : [ {
            "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198",
            "metadata" : {
              "etag" : "6e2a44344d6da7918a03173bd68bdc92",
              "createdDate" : "2021-07-30T13:10:55Z",
              "createdBy" : "username",
              "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "lastModifiedDate" : "2021-07-30T13:10:55Z",
              "lastModifiedBy" : "username",
              "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "puppet_module_test6f2c9f7a9r21t22g23g0f796d0ebc5ed",
              "description" : "Puppet Module test description",
              "location" : "de/txl",
              "version" : 1,
              "features" : [ "vnf-nat", "ssd", "vnf-nat-pcc-connection", "k8s", "vnf-fw", "ssd-storage-zoning", "nic-hot-plug", "vnf-lb", "vnf-nlb-pcc-connection", "pcc", "nic-hot-unplug", "contract-identities", "disk-vio-hot-unplug", "disk-vio-hot-plug", "flow-logs", "cpu-hot-plug", "vnf-cidr", "core-vps", "mem-hot-plug", "private-loadbalancer" ],
              "secAuthProtection" : false,
              "cpuArchitecture" : [ {
                "cpuFamily" : "INTEL_SKYLAKE",
                "vendor" : "GenuineIntel",
                "maxCores" : 4,
                "maxRam" : 20480
              } ]
            },
            "entities" : {
              "servers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/servers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/servers"
              },
              "volumes" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/volumes",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/volumes"
              },
              "loadbalancers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/loadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/loadbalancers"
              },
              "lans" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/lans",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/lans"
              },
              "applicationloadbalancers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/applicationloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/applicationloadbalancers"
              },
              "networkloadbalancers" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/networkloadbalancers",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/networkloadbalancers"
              },
              "natgateways" : {
                "id" : "d6aa3d0f-9c60-4211-9bcf-21c467fa5198/natgateways",
                "type" : "collection",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/natgateways"
              }
            }
          }, {
            "id" : "1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "type" : "datacenter",
            "href" : "https://api.ionos.com/cloudapi/v6/datacenters/1c81a0fb-920b-4e3d-ab4c-1123ea66d1e3",
            "me[...]
- request:
    method: post
    uri: https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/volumes
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"puppet_module_test1","type":"HDD","size":3,"availabilityZone":"ZONE_3","sshKeys":[],"bus":"VIRTIO","licenceType":"LINUX"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Etag:
      - 6ed3cb715ce74f38ed691128f005b490
      Location:
      - https://api.ionos.com/cloudapi/v6/requests/9929ea8a-868e-487b-9442-fd0e4ca9731f/status
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e3c7733b-e0fc-4115-8cba-b82a7933bff5",
          "type" : "volume",
          "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/volumes/e3c7733b-e0fc-4115-8cba-b82a7933bff5",
          "metadata" : {
            "etag" : "6ed3cb715ce74f38ed691128f005b490",
            "createdDate" : "2021-07-30T13:10:55Z",
            "createdBy" : "username",
            "createdByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "lastModifiedDate" : "2021-07-30T13:10:55Z",
            "lastModifiedBy" : "username",
            "lastModifiedByUserId" : "99156d9e-eb3f-4024-a3a4-283be74699c0",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "puppet_module_test1",
            "type" : "HDD",
            "size" : 3,
            "availabilityZone" : "ZONE_3",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : [ ],
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : false,
            "ramHotPlug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "deviceNumber" : null,
            "userData" : null,
            "pciSlot" : null
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:10:55 GMT
- request:
    method: get
    uri: https://api.ionos.com/cloudapi/v6/requests/9929ea8a-868e-487b-9442-fd0e4ca9731f/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 2ba22e58ca17bb728d522bba36cf8350
      X-Ratelimit-Burst:
      - '900'
      X-Ratelimit-Limit:
      - '1150'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: |
        {
          "id" : "9929ea8a-868e-487b-9442-fd0e4ca9731f/status",
          "type" : "request-status",
          "href" : "https://api.ionos.com/cloudapi/v6/requests/9929ea8a-868e-487b-9442-fd0e4ca9731f/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "e3c7733b-e0fc-4115-8cba-b82a7933bff5",
                "type" : "volume",
                "href" : "https://api.ionos.com/cloudapi/v6/datacenters/d6aa3d0f-9c60-4211-9bcf-21c467fa5198/volumes/e3c7733b-e0fc-4115-8cba-b82a7933bff5"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Fri, 30 Jul 2021 13:11:06 GMT
recorded_with: VCR 6.0.0
